[2018-06-21 15:58] bcremer opened #1 "Introduce phpstan in build pipeline"
Please consider to add https://github.com/phpstan/phpstan into your build pipeline.
Even on Level 0 phpstan was able to report 233 Errors:

[code]

Would you accept a PR with a matching phpstan configuration?

[2018-06-22 08:00] mitelg commented on #1
@bcremer I would love it :blush: :+1:
I don't know about @janbuecker and @OliverSkroblin :smile: :see_no_evil:

but you should wait with your PR, Olli has some big changing PR in the pipe, which will be merged soon :wink:

[2018-06-22 08:12] janbuecker commented on #1
Like I said yesterday evening, I'll wait for the latest change by @OliverSkroblin and then fix the issues as some files don't exist anymore. I also added phpstan to our build pipeline to identify those issues earlier from now on.

I'll leave a comment when we fixed the issue. ;-)

[2018-06-22 16:24] janbuecker commented on #1
Done with level 1.

You can ran it using: `./psh.phar phpstan`

[2018-06-22 16:24] #1 closed, assigned to nobody

[2018-07-30 04:47] EtienneBruines opened #2 "Register Controller as Plugin"
# The Problem
In order for plugins to create custom controllers, it needs to be possible to register custom routes.

(And one needs to be able to create custom controllers, if only to extend the administration/backend.)

# Where do we need changes?
Within the `Core/Kernel.php`, there's a `configureRoutes` method which already loads the basic routes as provided by `config/routes***`. It would only

[2018-07-30 05:18] janbuecker commented on #2
Thank you @EtienneBruines. We don't have a production-ready solution yet so your ideas are welcome.

We'll consider your solutions and I think I like solution 2 the most. But maybe for convenience, the `configureRoutes` in a plugin should automatically register all controllers within a given default path.

[2018-07-30 11:44] EtienneBruines opened #4 "ERROR in static/js/commons.js from UglifyJs"
# What did I do?
`./psh.phar administration:build`

# What did I want to achieve?
Rebuilding all js files for the administration, to see any changes (like the color for menu items).

# What did I expect?

An error-free experience.

# What happened?

Some weird UglifyJs error pops up, regardless of me extending anything. ` Unexpected token: punc ()) `

The files have not changed; the color of the m

[2018-07-30 11:58] EtienneBruines commented on #4
No such issue arises for `administration:watch`, probably because uglify isn't used.

[2018-07-30 13:15] Phil23 commented on #4
Hey @EtienneBruines,

thx for the info, I created a ticket for that. We will give a short answer when we fixed this.

Greetings,
Phil

[2018-08-14 06:59] #2 closed, assigned to nobody

[2018-08-14 07:14] Phil23 commented on #4
Hey @EtienneBruines,

we updated all dependencies, so the issue should no longer appear. Could you check this, if it's fixed for you?

[2018-08-27 11:20] #4 closed, assigned to nobody

[2018-11-29 10:46] EtienneBruines opened #19 "Invalid-login counter not working"
It doesn't count how often a bad login was made, and therefore doesn't lock the account in of the `administration` environment.

(Lucky me for #6)

[2019-01-03 08:34] EtienneBruines opened #11 "Plugin container not set on `upgrade`"
(Using the console)

The plugin:install command initializes the $container class member of the Plugin, but the plugin:upgrade command does not.

[2019-01-03 08:35] #11 closed, assigned to nobody

[2019-02-04 17:13] didi-at-work opened #14 "Wrong node version requirement?"
https://github.com/shopware/platform/blob/80a5bf385d312946361ea607b04bc1d700c9b48f/src/Administration/Resources/administration/package.json#L130

Trying to build with node 8.14.0 this exits out with an error. Shouldn't the line read
`    "node": ">=6.14.0 || >=8.10.0 || >=9.10.0",`
?

[2019-02-05 07:03] klarstil commented on #14
Hey @didi-at-work,
you're right, the version isn't matching correctly. Thanks for pointing it out 👍 I'll create a PR in a few and will fix it.
Best regards

[2019-02-05 08:42] #14 closed, assigned to klarstil

[2019-03-01 11:28] LiaraAlis opened #20 "`npm clean-install` requires npm >= v6.5.0"
With commit 7add82d348bfa957a52672e26b3aa972e27d792a `npm clean-install` is used. This command is not available before npm version `6.5.0`: https://github.com/npm/cli/releases/tag/v6.5.0
But currently required is npm `>= 3.5.2`.

[2019-03-01 12:44] mitelg commented on #20
thanks for the hint :+1:  we already mentioned this in our docs https://github.com/shopware/platform/blob/master/src/Docs/1-getting-started/10-dev-setup.md
but it is still missing in the [package.json](https://github.com/shopware/platform/blob/master/src/Administration/Resources/administration/package.json#L132)

[2019-03-01 16:55] mitelg commented on #20
fixed with https://github.com/shopware/platform/commit/e43a4d4be5e00a979e444cd16d3026a2f5c0d791

[2019-03-01 16:55] #20 closed, assigned to nobody

[2019-03-06 15:05] LiaraAlis commented on #20
@mitelg
Thanks for the fix.
But the documentation on docs.shopware.com does not seem to be up to date: https://docs.shopware.com/en/shopware-platform-en/getting-started/dev-setup?category=shopware-platform-en/getting-started#hard-requirements

[2019-03-06 15:14] mitelg commented on #20
@LiaraAlis thanks for the hint. Unfortunately the sync is a bit out of date. As you can see in the [docs repo](https://github.com/shopware/platform/blob/master/src/Docs/1-getting-started/10-dev-setup.md), this is already fixed, but not yet deployed. but we are working on that with high prio :+1:
Nevertheless I fixed the npm version manually for the time being :wink:

[2019-03-15 14:15] kkrieger85 opened #21 "Argument 3 passed to PasswordField::__construct() must be of the type integer, string given"
While generating demodata with `APP_ENV=prod bin/console framework:demodata` I got following error:

[code]

This leads to:

https://github.com/shopware/platform/blob/e36a665bc580a675d27b2942a998bd82ad47e659/src/Core/Framework/DataAbstractionLayer/Field/PasswordField.php#L24

where constant `PASSWORD_ARGON2I` is used to define hash algorithm.

On my used environment, php7.2.x was not compiled with

[2019-03-15 14:16] kkrieger85 commented on #21
This Issue may be closed. I just want to document this "issue".

[2019-03-20 13:22] ChristopherDosin commented on #21
I had the same issue - Thanks for the workaround!
But with PHP 7.2 Argon should be installed and it should work. 7.2 is shipped with Argon by default, at least in my case with Homebrew.

In my case i had to stop another PHP 7.1 version which was running, so Shopware was running on PHP 7.1 without Argon. Shopware 6 requires 7.2

My console said i am running 7.2, but `phpinfo()` said that Shopware i

[2019-03-22 18:34] Blur-Creative opened #23 "Error during the setup (19/29)"
during the `bin/setup` process on step `(19/29)`

it says

[code]

[2019-03-22 18:39] Blur-Creative commented on #23
Workaround:
Create the DB your-db-name_e2e manually and give it the permissions

[2019-03-25 09:22] #23 closed, assigned to nobody

[2019-03-25 09:51] mitelg commented on #23
hey @Blur-Creative
thanks for the report. We updated the docs accordingly

[2019-03-25 09:52] mitelg commented on #21
Hey @kkrieger85
thanks for your report. We changed the encryption back to bycript. see here: 406f90140049faf57c4ea1dd394c6f575b63b580

[2019-03-25 09:52] #21 closed, assigned to nobody

[2019-04-18 13:36] keulinho commented on #19
Hey @EtienneBruines,

The platform will not support of locking administration users after failed logins.
There were some hints to this functionality in the source, by now they should all be removed.

[2019-04-18 13:36] #19 closed, assigned to nobody

[2019-05-06 13:34] bobbyshaw opened #38 "Foreign Key Constraint Error in Shipping Method Migration for Availability Rule ID column"
I've installed shopware/platform using the shopware/development repository locally on my mac through Valet+

**Steps to reproduce**

1. .psh.phar install

**Expected Result**

Install command completes successfully

**Actual Result**

[code]

Looking into the migration that failed. It seems that at the start of the migration, the foreign key constraint is added and then on the following line refer

[2019-05-06 13:41] bobbyshaw commented on #38
This may be the "bad" commit https://github.com/shopware/platform/commit/7ac5ecfa9a2f52496820e26e0d776662ecbd7bdb

[2019-05-08 08:41] keulinho commented on #38
We squashed all migrations and thereby fixed the issue.

If you still having trouble reach out to us.

[2019-05-08 08:41] #38 closed, assigned to nobody

[2019-05-23 11:07] DavidLambauer opened #42 "rm -Rf var/cache fails during initial install"
Hi,

I followed the instruction within the readme and ended up with the following error on step 21:

[code]

any ideas?

[2019-05-23 11:16] DavidLambauer commented on #42
seems that there is no var/cache at the time of the command.

[2019-05-23 12:30] RogerSik opened #43 "Optionaly setting to switch from localhost to fqdn"
It is possible to use a fqdn with port 80 instead of localhost:8080?

[2019-05-23 14:06] keulinho commented on #42
Most of the time this issue arises if a different process writes into the cache directory when the psh command tries to delete the directory.
Retrying should help.
Let us know if you have any further questions!

[2019-05-23 20:54] NiklasTeich opened #44 "demo admin credentials"
You should (in a more obvious way) communicate the demo login credentials (User: admin, password: shopware) I only found one place with these informations: [https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/mac-os-x](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/mac-os-x)

[2019-05-23 21:10] dominikbraun opened #45 "npm clean-install: Unable to save binary"
This issue concerns the installation step 22/28.

When `npm clean-install` is performed, the execution results in an error since the process doesn't have the required permissions for `/app/platform/src/Administration/Resources/administration/node_modules/node-sass/vendor`.

![shopware-installation-npm-error](https://user-images.githubusercontent.com/36575275/58286803-d94d9580-7daf-11e9-9c09-8b59ff

[2019-05-24 08:01] #42 closed, assigned to nobody

[2019-05-24 08:26] seggewiss commented on #43
I assume we are talking about our docker setup here?

[2019-05-24 08:27] RogerSik commented on #43
Yes

[2019-05-24 08:36] JanPietrzyk commented on #44
They are currently part of the startup guide, but you are right this is not an obvious location.... And the keyword *credentials** is missing.

https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/startup-guide

I would add this information also to this page: https://docs.shopware.com/en/shopware-platform-dev-en/internals/administration

Any suggestions? Where would you have expec

[2019-05-24 09:34] NiklasTeich commented on #44
Sounds good to me! (adding it on the administration dev. page). And to be really honest: Is there anything against adding the credentials in the "Quickstart / Installation" guide? The Storefront is linked (localhost:8000), the /admin endpoint with the required credentials would also fit, i think :) With that addition, everyone would really have everything needed to start exploring the new system :

[2019-05-24 09:45] JanPietrzyk commented on #44
The *QuickStart* is supposed to be guide that I linked... Yeah, the Storefront needs to be added too - wasn't available when this was written

[2019-05-24 11:15] keulinho commented on #43
It is possible to change the app url in a `psh.yaml.override` file.
But as you speak about port 8080 i guess you want to start the the HotModuleReplacement server, that you start with the `psh administration:watch` command, with a fqdn right?

[2019-05-24 11:41] NiklasTeich opened #47 "npm clean-install: Execution aborted, a subcommand failed!"
- MAMP PRO 5.3
- OSX 10.11.6
- PHP 7.2.14
- node v10.15.1
- Xcode 8.2.1

I followed these install instructions: [https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/mac-os-x](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/mac-os-x). An installation (guided by the quick install guide) worked for me (docke

[2019-05-24 11:48] keulinho commented on #47
The clean-install command is available since NPM v.6.5 as described [here](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/requirements).
Probably you need to update your npm version.
So what NPM version are you using?

[2019-05-24 11:59] keulinho commented on #45
Are you using a local setup or do you use docker?
What permissions are set on the node_modules folder? And are there any other node modules already installed when it crashes?
You definitley need write permissions to the node_modules folder, do you use a different user for running the install command that doesn't has the write permissions?

[2019-05-24 12:33] dominikbraun commented on #47
I ran into the same error. A quick update of npm to the newest version did the trick for me.

[2019-05-24 12:52] keulinho commented on #47
Thanks for verifying, we'll update the installation guide accordingly.

[2019-05-24 13:08] NiklasTeich commented on #47
NPM v6.5 fixed this error for me, thank you!

[2019-05-24 13:11] klarstil commented on #47
We'll have to bump the required npm version in our `package.json`, thanks for pointing it out

[2019-05-24 13:16] NiklasTeich opened #48 "npm build: Failed at the administration@1.0.0 build script."
- MAMP PRO 5.3
- OSX 10.11.6
- PHP 7.2.14
- node v12.3.1
- NPM 6.9.0
- Xcode 8.2.1

Install step 24/28 is not possible, execution aborted, a subcommand failed:
![install build failed](https://i.imgur.com/o8M2JCb.jpg)

[2019-05-24 13:18] shyim commented on #48
You need to do bin/console administration:dump:bundles before 🤔

[2019-05-24 13:28] NiklasTeich commented on #48
The `bin/console administration:dump:bundles` gives me a OK message (running it right before the installation), but the installation itself still fails ..

[2019-05-24 13:31] #47 closed, assigned to PaddyS

[2019-05-24 18:12] Blur-Creative commented on #48
a --unsafe-perm at npm clean-istall should fix it.
add it to the .sh script at the dev-ops dir.

https://github.com/shopware/development/blob/master/dev-ops/administration/actions/install-dependencies.sh

change to

`npm clean-install --unsafe-perm --prefix vendor/shopware/platform/src/Administration/Resources/administration/`

https://github.com/shopware/development/blob/master/dev-ops/storefront

[2019-05-24 19:56] dominikbraun commented on #45
Some more precise information:

1) I'm running the installation with Docker
2) The `node_modules` directory has the permissions `rwx/r-x/r-x` and is owned by root
3) There are modules in the folder, but I'm not sure if they were created during the install
4) I'm running `./psh.phar install` as root in the container (after accessing it with `./psh.phar docker:ssh`)
5) I started the Docker daemon vi

[2019-05-24 20:39] NiklasTeich commented on #48
Thanks for your ideas! It's better, but still crashes. Now, a missing `Storefront.css` instead of the `Storefront.js` throws an error ..

![install css build failed](https://i.imgur.com/Qu41XDr.jpg)

[2019-05-26 10:24] dominikbraun opened #51 "Local installation: Unknown MySQL server host"
Then I run `./psh.phar install` as suggested in the [guide for local installation](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/installation-guide#setting-up-shopware), an error occurs:

[code]

This is due to the `-h 'mysql'` option for the `mysql` command at step 3/28.

I fixed the error by registering `127.0.0.1 mysql` in `/etc/hosts`. Maybe this information should be a

[2019-05-26 11:01] shyim commented on #51
I guess you did a local installation. So you had to run ./bin/setup first. Where you can define the credentials

[2019-05-26 11:13] dominikbraun commented on #51
Yes, but the database host in the setup defaults to `localhost`, not `mysql`.

[2019-05-26 11:19] shyim commented on #51
Thats the important part https://github.com/shopware/development/blob/master/.psh.yaml.dist#L23

[2019-05-27 05:22] bilobait-lohrmann opened #52 "Administration Variants: onOptionEdit is not defined"
If you have variants generated for a product and you want to edit a variant after that, following error is raised in the console:

[2019-05-27 06:08] seggewiss commented on #52
Thank you for reporting that error.
We are implementing the variant edit feature right now. But we will implement a hint that this feature is in development as a quick fix.

[2019-05-27 06:13] PaddyS commented on #48
Hey @NiklasTeich,

can you try this with Node Version 11?
You can use the [Node version manager](https://github.com/tj/n) for this, quite easy to use.

[2019-05-27 06:45] #52 closed, assigned to nobody

[2019-05-27 07:21] mitelg commented on #52
see this commit https://github.com/shopware/platform/commit/00b2799b9e6e5e835aa7f0eff7151bcd2f65e08a

[2019-05-27 07:36] pweyck commented on #45
`node_modules` should not be owned by root. Did you run `./psh.phar docker:ssh` as root?

To fix the permissions for your current user, run this with your development directory:
`sudo find $DEVELOPMENT_DIR -not -user "$(id -u)" -and -not -user 999 -exec chown "$(id -u):$(id -g)" {} \;`

This command changes the ownership of all files and directories that are not owned by your current user (`id -u`

[2019-05-27 07:37] NiklasTeich commented on #48
Hey @PaddyS!

I also tried the installation with downgraded versions of Node 11.9 und NPM 6.5, sadly without any further success ... :cry:

[2019-05-27 19:08] dominikbraun commented on #45
Yes. The reason is that otherwise (logged in as `application`), I don't have permissions to some composer directories:

[code]

However, it seems that running `./psh.phar docker:ssh` without `sudo` is the way to go...

[2019-05-28 07:06] pweyck commented on #45
It seems like your `~/.composer` and maybe your `~/.npm` directory is owned by root. `./psh.phar docker:start` should check that and fail if that's not the case.

[2019-05-28 13:05] WaqarAhmedBajwa opened #58 "Internal Server Error"
![Screenshot](https://user-images.githubusercontent.com/10218862/58479969-cdc4ea80-8172-11e9-9bd6-50a550d0c47f.png)

Argument 2 passed to Shopware\...\NavigationController::home() must be and instance of shopware\...\SalesChannelContext null given, called in .../symfony/http-kernel/HttpKernel.php
as shown in the image.

[2019-05-28 13:33] mitelg commented on #58
Hello @WaqarAhmedBajwa
this is a common problem currently. Could you please check if your host URL and the URL in `sales_channel_domain` DB table are the same?

[2019-05-28 18:17] dominikbraun commented on #45
The error is fixed now.

**Don't run _any_ `./psh.phar` scripts using `sudo`. Otherwise the permissions for `node_modules` are invalid.**

**All scripts _must_ work without sudo. If  `docker:start` does not work without `sudo`, make sure your user is in the system's `docker` group.**

[2019-05-28 18:17] #45 closed, assigned to nobody

[2019-05-29 05:01] WaqarAhmedBajwa commented on #58
Thank you @mitelg , URLs were different.

[2019-05-29 07:03] #58 closed, assigned to nobody

[2019-05-29 07:56] DanielRuf commented on #51
Well, but this does not work with the Docker containers where `app_mysql` is built.
Because if we ssh into it, the composer taks fails due to the missing CA certificate file.

[code]

So in both cases the default setup does not directly work.
I guess we need at least some changes for the Docker images. At least when we want to follow the steps from the repository.

https://github.com/shopware/plat

[2019-05-29 08:22] DanielRuf opened #59 "Empty continuation line warning"
[code]

[2019-05-29 09:16] #59 closed, assigned to nobody

[2019-05-29 12:48] wanicode opened #60 "Docker-Installation on Mac: Unknown MySQL server host 'mysql'"
I get this when i try to do `./psh.phar install` in the docker-container:
[code]

EDIT: The MySQL-Container didn't start because there were files already in the volume directory.

[2019-05-29 13:31] #60 closed, assigned to nobody

[2019-05-30 12:21] WaqarAhmedBajwa opened #61 ""Call to a member function set() on null""
In case of **Register** a customer with **Post request** " in **sales-channel-api/v1/customer** throws an error "Call to a member function set() on null".

![Register](https://user-images.githubusercontent.com/10218862/58630418-c891a800-82f8-11e9-8870-d6706fc3d13a.png)

[2019-05-30 12:36] keulinho commented on #61
The problem is that you don't provide the billingAddress as an JSON-Object.
Try following payload for the billing address:
[code]

[2019-05-30 13:37] WaqarAhmedBajwa commented on #61
After updating with this JSON-Object, It leads to new error
detail:"The **salutation** entity with id \"E538CB23-F22E-4C04-BEDE-2D663C7B5AAC\" does not exists.".(Also changed salutationId)
 code: "VIOLATION::ENTITY_DOES_NOT_EXISTS".

[2019-05-31 07:06] #61 closed, assigned to nobody

[2019-05-31 07:42] WaqarAhmedBajwa opened #62 "VIOLATION::ENTITY_DOES_NOT_EXISTS"
"title": "Constraint violation error",
"detail": "The \"**salutation**\" entity with id \"B3A89CA8-BBEF-4F49-AE07-2C6C993E1766\" does not exists." as  Image describing the error

![Register](https://user-images.githubusercontent.com/10218862/58688871-13fe9180-839f-11e9-8b0c-75aa76164878.png)

[2019-05-31 09:32] jenskueper commented on #62
Hey there,

why are your UUIDs uppercase and have "-" in between? Since the "-" have no importance to an UUID, we leave them out. We should add an error during insert.

Best regards,
Jens Küper

[2019-05-31 10:19] WaqarAhmedBajwa commented on #62
Made UUID string in **lowercased** and removing **"-"** in UUID string did not resolve this bug as shown in the image
![Register](https://user-images.githubusercontent.com/10218862/58699453-f50bf980-83b6-11e9-8ef0-b666a1bfa729.png)

[2019-05-31 11:09] jenskueper commented on #62
Okay. Have you created a new salutation with the id fc13567... before? You must use a valid salutation id in order to create a new customer.

[2019-05-31 11:46] WaqarAhmedBajwa commented on #62
I used different UUID in second attempt as above 2 attachments are showing different UUIDs. So that could be avoid from duplication. But error is same every time.

[2019-06-03 08:12] keulinho commented on #62
The salutationId is a foreign key and therefore a salutation with the given ID must exist in the system.
Try to get all Salutations from the API with a GET request against `sales-channel-api/v1/salutation` and use an ID from the response.
You have to do the same for the `countryId`.

[2019-06-03 09:40] WaqarAhmedBajwa commented on #62
Yes It worked. Thank you @keulinho and @jenskueper

[2019-06-03 09:40] #62 closed, assigned to nobody

[2019-06-03 15:20] dahormez opened #64 "Cant extend template"
Hi,

i've created a plugin, which need to extend the web storefront via twig.

Most of the templates work but for example those don't:
{% sw_extends '@Storefront/component/product/card/box-standard.html.twig' %}
{% sw_extends '@Storefront/element/cms-element-image.html.twig' %}

I thought it's the dash in the name, but following works:
{% sw_extends '@Storefront/layout/header/search-suggest.html.t

[2019-06-03 15:21] ieslei opened #106 "basic auth not working for /admin"
Hi,

I am trying to add basic auth in the apache config, it works in the frontend, but in admin there are lots of 401 error, like this one below
`{"errors":[{"code":"9","status":"401","title":"The resource owner or authorization server denied the request.","detail":"The JWT string must have two dots"}]}`
for requests like `api/v1/language/2fbb5fe2e29a4d70aa5854ce7ce3e20b`

here is my apache config

[2019-06-04 05:40] pweyck commented on #64
Hey dahormez,

`sw_include` does not work with non-constant strings. It ignores `sw_extends` chain if if the template is computed. For example, that happens with `{% sw_include "@Storefront/component/product/card/box-" ~ layout ~ ".html.twig" %}` and `{% sw_include "@Storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}`.

We have a fix ready and are currently testing it

[2019-06-04 07:11] #64 closed, assigned to nobody

[2019-06-04 21:47] musab1 opened #65 "run development/bin/setup non interactive"
Hi

i could not figure out how to run the setup tool with -n option.
how can i pass the parameters to be able to script that.

Greets
Musa

[2019-06-05 05:46] keulinho commented on #65
Hi,
all that the setup script does is generate a `.psh.yaml.override` file for you through an interactive process.
The generated file may look like this:
[code]
If you want to script this simply add a `.psh.yaml.override` with your values to the root directory of the installation (where you cloned shopware/development).
It must be in the same folder as the original `.psh.yaml.dist` and it override

[2019-06-05 06:03] keulinho commented on #106
We use OAuth with a bearer token to authorize all requests against the admin api.
I would guess that the bearer token is dropped from the authorization header by your configuration.

[2019-06-05 07:21] bizrockman commented on #23
Hi,

this also happens with step 18/28 <db-name>_test

[2019-06-05 14:07] ieslei commented on #106
@keulinho, thanks, is there some workaround here? I just want to have a basic auth for the frontend, and have also tried something like this, but with no luck

[code]

[2019-06-06 06:14] keulinho commented on #51
To sum it up:
The default value  for the DB host is `mysql`, by running `./bin/setup` you can override this default.
In the setup script we use `localhost` as the default, because when you run the setup script you problably want to install it locally, note that this will also just override the `mysql` for the DB Host.
You can find more information about how this overriding of config values works [

[2019-06-06 07:52] DanielRuf commented on #51
If the psh.phar install task does this, yes:
https://github.com/shopware/platform#quickstart--installation

[2019-06-06 07:53] DanielRuf commented on #51
Inside. I did not run any other `.bin/setup` as this is not mentioned there.
If this is needed it should be added to the docs.

[2019-06-06 07:54] DanielRuf commented on #51
app_mysql !== mysql ;-)
https://github.com/shopware/development/search?q=app_mysql&unscoped_q=app_mysql

Not sure but it did not find the mysql instance by default.

[2019-06-06 11:09] keulinho commented on #51
You can see in the docker-compose file the app_mysql container is linked to the app container with the name `mysql`, so the DB host seen from the app container is `mysql`. https://github.com/shopware/development/blob/18ca00ac721fbc271b60645a3fa9304810820567/docker-compose.yml#L7

You don't have to run the `./psh.phar install` command before starting the container.
If you use the docker setup all p

[2019-06-06 11:14] SC-cmarquardt opened #66 "Profiling:Collector:db.html.twig not found"
Hi,

I installed Shopware 6 locally on a Linux system.
The Symfony Toolbar raises a 500 network error, because the mentioned file Profiling:Collector:db.html.twig (referenced in https://github.com/shopware/platform/blob/master/src/Core/Profiling/DependencyInjection/services.xml#L42) is not found.

When changing the syntax to
[code]

as described here https://symfony.com/doc/current/templating.html

[2019-06-06 11:43] keulinho commented on #66
That's a bug for sure.
We have internally already created a PR for that, should be fixed on the master shortly

[2019-06-06 11:49] keulinho commented on #44
The credentials are now available in the [Sartup Guide.](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/startup-guide#default-login-credentials)

[2019-06-06 11:49] #44 closed, assigned to JanPietrzyk

[2019-06-06 11:51] DanielRuf commented on #51
I tried this in the container, was the same result.
Not 100% sure as it was failing with the given steps in the docs - there might be something unclear.

[2019-06-06 12:50] keulinho commented on #66
We have fixed the problem in https://github.com/shopware/platform/commit/30a17009e2a9a233eda32f8c9ed267fe6f07a75b

[2019-06-06 12:50] #66 closed, assigned to nobody

[2019-06-06 18:05] ghost opened #67 "npm build: permission denied mkdir"
I tried to install shopware6 in Docker. When running the install script (./psh.phar install) I always get an authorization error with npm install:

 Error: EACCES: permission denied, mkdir '/app/vendor/shopware/platform/src/Administration/Resources/administration/node_modules/node-sass/.node-gyp'

[2019-06-07 07:55] roland-urban opened #68 "git clone error: Filename too long"
On "Windows 10 Pro (1809)" following error occurs during "git clone" the plattform:
[code]

[2019-06-07 08:37] bcremer commented on #68
Can you please try running the following command before

[code]

[2019-06-07 08:37] #68 closed, assigned to nobody

[2019-06-07 12:42] masonen opened #69 "Admin Backend: Storefront and Headless form breaks with specific input"
Hi,

I found a bug in Admin Backend where the form input for payment methods breaks after an specific input.

Steps to reproduce:
* Open Storefront or Headless configuration
* Remove all payment methods from list
* Hit save button
* An Error message apears
* Add at least one Payment Method
* Hit save button

After Performing those steps you are not able to choose a standart payment method. Trying

[2019-06-08 07:14] musab1 commented on #65
thank you keulinho!

[2019-06-08 07:14] #65 closed, assigned to nobody

[2019-06-09 09:07] #67 closed, assigned to nobody

[2019-06-10 13:22] WaqarAhmedBajwa opened #71 "Error on "Update profile information" through API"
I have same error **No route found for "PUT /sales-channel-api/v1/customer/profile"** on  **PUT** request to **update customer profile**
Error1:
![ProfileError](https://user-images.githubusercontent.com/10218862/59197896-e0e0ad00-8bab-11e9-8b7b-c48da8cbf7ff.png)

and **No route found for \"POST /sales-channel-api/v1/customer/default-billing-address/c0f27908d47843f09b4bb31ba2baf0cd** on **POST** re

[2019-06-11 07:00] keulinho commented on #71
I guess you are referring to the api routes described in the [Docs](https://docs.shopware.com/en/shopware-platform-dev-en/api/sales-channel-customer-api?category=shopware-platform-dev-en/api).
Unfortunately the document is not up to date, as we have changed the routes, we will update the documentation shortly.
To update the customer profile you can simply do a `PATCH` request against `/sales-chann

[2019-06-11 07:31] #71 closed, assigned to nobody

[2019-06-11 07:45] SebastianFranze commented on #69
Thanks for reporting this issue to us. It seems like this is an issue with updating the correct default values when changing the available ones (especially deleting the selected default). We already created an ticket for this an will keep you up to date with the process.

[2019-06-12 07:08] ascheider opened #73 "Translation Api-Endpoints are broken"
Currently all translation endpoints are broken.
Example: http://192.168.33.10/api/v1/product/022ac8c837714abdb964dc629ce4f5f5/translations or http://192.168.33.10/api/v1/product-manufacturer/01f4b5bf9fef4561b8a9ce3906472136/translations
The error message is: Column not found: 1054 Unknown column 'product_manufacturer_translation.id' in 'field list'
![grafik](https://user-images.githubusercontent.c

[2019-06-12 07:12] keulinho commented on #73
We will be looking into this issue.
You are right, this is an issue regarding the DAL.

[2019-06-13 09:15] aahmadts commented on #106
I had the same error **The JWT string must have two dots** using Shopware API, but it was resolved after updating the project as described at **Updating the repositories** here:
https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/installation-guide

[2019-06-13 09:54] OliverSkroblin commented on #73
Hey @ascheider,
i created a ticket and I'll take a look.

[2019-06-18 11:29] PaddyS commented on #48
Hey @NiklasTeich,

we've had an equal issue a few minutes ago.
In this case, executing the following command fixed it:
`npm rebuild node-sass`

Can you try this and see if that fixes your issue?

[2019-06-18 12:06] ieslei commented on #106
have just updated to the current version 335ecf0, but still same problem, @aahmadts, can you paste your server config here,

much appreciate

[2019-06-18 12:40] aahmadts commented on #106
I am using Shopware 6 docker container with default configurations on Ubuntu

[2019-06-18 13:07] ieslei commented on #106
@aahmadts ok, but how do you restrict access to your website just for certain people, for me now it's everyone or no one

[2019-06-20 11:09] aahmadts commented on #106
I believe that basic auth could be a good solution. But I don't do that honestly.

[2019-06-27 13:35] cschwerdt opened #79 ""update line item quantity" is not yet implemented"
Hi,
the "update line item quantity" is not yet implemented but mentioned in the docs. Maybe the route is unnecessary anyway, because you can change the quantity by the update route?

https://github.com/shopware/platform/blob/master/src/Docs/Resources/current/3-api/100-sales-channel-cart-api.md#update-line-item-quantity

[2019-06-27 13:51] mitelg commented on #79
Hi @cschwerdt
this route does not exists and the functionality, as you already said, is ensured by the `PATCH /sales-channel-api/v{version}/checkout/cart/line-item/{id}` route.

we will update the docs accordingly. thanks for pointing this out! :+1: I will leave the issue open, until the docs are fixed :wink:

[2019-06-28 06:53] #79 closed, assigned to nobody

[2019-06-28 06:55] mitelg commented on #79
hey @cschwerdt
with the next deployment the docs should be updated. thanks again!

[2019-06-28 07:37] Jamiewarb opened #80 "Failed at 22/33 the @shopware/administration@1.0.0 lerna script."
I'm running a fresh install, following the README, and am encountering the below issue.

I'm running Mac OS Mojave 10.14.4, with docker v18.09.2, docker-compose v1.23.2 and docker desktop v2.0.0.3.

Everything runs fine until this step, and then I can't get past it.

[code]

I can see in the docs that Docker is not the preferred installation method for a Mac, but I was hoping to still use it and g

[2019-06-28 08:35] leichteckig commented on #80
Hello @Jamiewarb,

Thank you for your feedback. I'll take a look at it and let you know.
Kind regards!

[2019-06-28 12:31] leichteckig commented on #80
Hello again,

Lerna used to install Cypress dependencies in the `app_server`, even though Cypress uses an own container. We untied Cypress from Lerna to prevent that behavior.

Please pull the updated version of `platform` and `development` repos. As I'm not able to reproduce the issue locally, could you try to use `./psh.phar install` anew to verify it being fixed? Thank you!

[2019-06-30 18:12] Jamiewarb commented on #80
Thanks for the response!

~Sure thing, I'll give this a go now and edit this message with results~

EDIT: Great, it seems to be fixed now. Thank you very much!

[2019-06-30 18:31] #80 closed, assigned to leichteckig

[2019-07-09 17:18] szepeviktor opened #84 "Introduce Phive"
You could remove tools from the repository if you use Phive.
See https://github.com/phar-io/phive
Very easy to configure!

[2019-07-09 17:23] szepeviktor commented on #84
After that you may consider reducing the repo size by removing those tools https://help.github.com/en/articles/removing-sensitive-data-from-a-repository

[2019-07-10 07:14] mitelg commented on #84
hey @szepeviktor
I'm currently working on moving our CI tooling from platform to the development template. so the main repo size will be decreased. I will take your issue and your PR into account :+1:
thanks for your contribution

[2019-07-10 07:16] szepeviktor commented on #84
All right.

[2019-07-10 07:17] szepeviktor commented on #84
@mitelg Does it mean that platform contribution (PR-s) won't be checked?

[2019-07-10 07:19] mitelg commented on #84
just a little hint :blush: as we are shortly before our first release, it will may take some time, as I don't want to struggle up our CI pipeline before the release :wink:

[2019-07-10 07:20] mitelg commented on #84
Currently there are no checks here on github anyway :grin: all checks are done internally on bitbucket and bamboo.
I will take that to my task :wink:

[2019-07-10 07:22] szepeviktor commented on #84
What a shame! You develop modern code and use Atlassian products? No words can describe their quality.

[2019-07-10 07:25] szepeviktor commented on #84
My _base package_ for developer teams includes [these 3 zero-coverage tests](https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/Continuous-integration-Continuous-delivery.md#coding-style--coding-standard):

1. parallel syntax check
1. coding standards check (this check can do much more than its name suggests, e.g. find var_dump-s or detect dead code)
1. static analysis

It co

[2019-07-10 07:38] szepeviktor opened #86 "Declaring composer package version"
I know you have reason/s for putting package versions into composer.json but that **prevents** updates. https://github.com/shopware/platform/blob/master/composer.json

We could declare package versions in composer.lock

[2019-07-10 08:12] shyim commented on #86
It's not the same. Shopware has two distributions ways zip version and composer. In the Zip your comment would work. But when somebody depend on Shopware using composer only the require from composer.json will be restrictet.

Locking for a specific version makes the lifes for our support team easier, because we have only to check the Shopware version and not of the dependencies. We had already tic

[2019-07-10 08:23] szepeviktor commented on #86
Okay. I see, you have incompetent users.
I am sorry.

[2019-07-10 08:23] #86 closed, assigned to nobody

[2019-07-10 08:28] szepeviktor commented on #86
@shyim If you encounter an issue use version exclusion: `"symfony/something": "^3.1.41 !=3.1.42"`

But I understand the business is the main thing.

[2019-07-10 08:54] mitelg commented on #84
Don't get me wrong here, we already use these tools :blush:
but if I now move phar files from here to there, or introduce phive, I have to adjust our CI. and this is mostly not done in five minutes :wink:

[2019-07-10 15:09] janbuecker commented on #84
We have plans to migrate to an internal GitLab instance and we may can use parts of it's CI configuration for travis ci like we are doing with Shopware 5.

[2019-07-12 06:24] ascheider commented on #73
@OliverSkroblin Hey Oliver, any updates on this issue?

[2019-07-16 09:30] LiaraAlis opened #94 "Promise.all(...).then(...).catch(...).finally is not a function"
I got the following error while trying to install:
[code]

Using npm `6.1.0.1` and node `8.10.0`.

What's going wrong?

[2019-07-16 09:51] keulinho commented on #94
Currently you'll need at least node 10 for installing shopware platform.

We will shortly either bring back compatibility for node 8.10 or update our docs for the minimum node version accordingly.

[2019-07-16 10:29] LiaraAlis commented on #94
Hi, thanks for the fast reply.

I thought so. But it was not possible for me to bring the things to work with node 10.
I always receive this error: `Node Sass could not find a binding for your current environment: Linux 64-bit with Node.js 10.x`
The command `npm rebuild node-sass -force` also had no success. Do you have any idea?

[2019-07-16 10:55] akerbel opened #95 "Broken URLs after manual installation"
Hi.

I have installed developer version without docker. During installation I have entered application URL as "http://shopware.loc", how it was offered by installation helper.
And now I got all urls as "http://shopware.loc/http://shopware.loc/index.php/navigation/...".

I have tryed to edit or delete "APP_URL" parameter in .env and .env.dist, but it had no effect. Dropping cache in symfony console

[2019-07-16 11:37] keulinho commented on #94
Try to delete your node modules before updating node.

Otherwise node 8 compatibility should be back shortly.

[2019-07-16 13:43] LiaraAlis commented on #94
I deleted the `vendor` and `node_modules` directories and tried to install. Now it works.
Thanks for your help. :)

[2019-07-16 13:43] #94 closed, assigned to nobody

[2019-07-18 13:11] dundunn opened #100 "New user or editing existing user doesn't work"
I can't add a new user nor can I edit an existing one. Everything else seems to work fine.
The loading circle just spins indefinitely. Sorry for the vague description I can't find any logs.
![Add user](https://i.imgur.com/bpkyErw.png)

[2019-07-18 13:46] mitelg commented on #100
hey @dundunn
could you have a look in the dev console tool of your browser? Inspecting the requests should give you more information about what's wrong

[2019-07-18 13:56] dundunn commented on #100
Awww damn I should have tested another browser profile or at least empty the cache. The problem is solved thanks :)

[2019-07-18 13:56] #100 closed, assigned to nobody

[2019-07-19 06:03] mitelg commented on #73
@ascheider is this the same issue as here? https://issues.shopware.com/issues/NEXT-3822

[2019-07-19 09:32] ascheider commented on #73
@mitelg yes. it seems, currently all translation endpoints are broken no matter which endpoints are used. All translation tables have no column id which is correct.
So i guess it is DAL issue. I guess if you can solve the bug for the single endpoint, it will works for all of them.

[2019-07-19 10:34] mitelg commented on #73
ok, then I will close the issue here and you can give the existing ticket an upvote, ok?

[2019-07-19 10:34] #73 closed, assigned to nobody

[2019-07-19 13:54] ascheider commented on #73
@mitelg okay. i will give upvote to the existing ticket. I hope it will be fixed soon...

[2019-07-22 09:14] dahormez opened #101 "Plugin - Theme"
Hello,

- Plugin Theme uninstall does not remove the theme from storefront and admin view. (would be great for completly re-apply theme config or something)

- Theme configuration custom logos in dist folder can only installed once:
Message: A file with the name "logo.x" already exists.
On a new install, you cant apply the theme.json again - force command?!

- the documentation say, place theme.js

[2019-07-22 09:30] jenskueper commented on #101
Hello!

These are all three valid issues! We are currently working on a theme system update and these issues will be addressed.

Best regards,
Jens

[2019-07-22 14:02] dahormez opened #102 "Main-Navigation recursion"
Hello Guys,

The Main-Navigation recursion not working properly, frontend should be fine, but the CategoryLoader not. It wont load the children of children (mobile works..).

Maybe also cool if {% set navigationMaxDepth = 3 %} in layout/navigation/categories.html.twig will be added in own block for override purposes.

King regards,
Daniel

[2019-07-25 09:34] BrentRobert opened #103 "Sales Channel Default Currency"
Hi,

When changing my default currency to USD in my headless sales channel, instead of Euro I still get Euro as default in the sales-channel API. While in the backend it did save as USD and shows as USD.

[2019-07-26 13:20] LighthouseIVM opened #105 "Shopware 6 docker installation failed @26/37"
Hello,

we tried to install shopware 6 on a vm(CentOS 7) via docker but we keep getting the same error over and over again.
after connecting to docker with ssh we tried "./psh.phar install" but it always crashes @(26/37) and we have no clue why.
We tried different workarounds etc. but we still didn't manage to make it work properly.
Sometimes the installation would run through but we don't know wh

[2019-07-30 07:57] janbuecker commented on #51
I guess your problem has been fixed? Feel free to reopen this issue if it's not.

[2019-07-30 07:57] #51 closed, assigned to nobody

[2019-07-30 07:58] janbuecker commented on #105
Closing as a duplicate of #48

[2019-07-30 07:58] #105 closed, assigned to klarstil

[2019-07-30 08:05] DanielRuf commented on #51
So far it was not fixed =)
I did not invest more time after this.

[2019-07-30 08:18] LighthouseIVM commented on #48
Hello,

we still have this issue and we tried everything that was mentioned here.... still not working.
Any other ideas ?

[2019-07-30 08:20] Phil23 commented on #103
Hey,

thank you for reporting an issue. I created an official ticket in our issue tracker. You can follow the issue here: https://issues.shopware.com/issues/NEXT-4310

Greetings,
Phil

[2019-07-30 08:20] #103 closed, assigned to Phil23

[2019-07-30 08:23] Phil23 commented on #102
Hey @dahormez,

thank you for reporting an issue. I created an official ticket in our issue tracker for this.

You can follow the issue here: https://issues.shopware.com/issues/NEXT-4311

Greetings,
Phil

[2019-07-30 08:23] #102 closed, assigned to Phil23

[2019-07-30 08:29] janbuecker commented on #48
@klarstil will keep an eye on this issue. :)

[2019-07-30 09:10] screeny05 opened #107 "Typo in repo description"
Diff:

[code]

[2019-07-30 09:54] mitelg commented on #107
fixed! thanks @screeny05 :+1:

[2019-07-30 09:54] #107 closed, assigned to nobody

[2019-07-30 13:59] jenskueper commented on #95
Hello!

Can you post the content auf your .env file in root dir of the shopware installation (you might want to exclude the line with the database credentials)?

[2019-07-30 15:14] selfphp opened #108 "Installation Database: Syntax error or access violation: 1071 Specified key was too long; max key length is 1000 bytes""
During installation (Shopware 6 Early Access), some tables are not created in InnoDB, but in MyISAM. As a result, the following error may occur (if no default storage engine has been set):

Syntax error or access violation: 1071 Specified key was too long; max key length is 1000 bytes "

One can eliminate the error by entering the following value in the * .ini:

default-storage-engine = InnoDB

Ho

[2019-07-31 05:24] pweyck commented on #108
Thank you for reporting this. This issue will be fixed with the next release, see:
https://github.com/shopware/platform/blob/3c186a179ecfaed80ed16cf0c9c0f5a2dcd3277b/src/Core/Framework/Migration/MigrationRuntime.php#L93-L96

[2019-07-31 05:25] #108 closed, assigned to nobody

[2019-07-31 06:42] LighthouseIVM commented on #48
Any updates yet ?

[2019-07-31 06:44] klarstil commented on #48
Hey @LighthouseIVM

I took a quick look on the issue and it seems like a timing issue in our `copy-after-build` webpack plugin which causes the problem. I wasn't able to take a closer look on the issue yet and keep you updated when I have further information.

Best regards

[2019-07-31 09:10] DevertNet opened #109 "update from developer preview to early access"
Hello,

is it possible to update the developer preview to early access?

I'm switched to the commit/release "v6.0.0+ea1" for both repositories, but the backend still say:
current version: 9999999-dev

Best regards,
DevertNEt

[2019-07-31 12:56] lordofthebrain opened #110 "api 412 errors in firefox"
Hello,

the administration area don't run correctly in firefox. No orders, products,. ...
Symfony Profiler shows many 412 http errors.

[2019-07-31 14:31] Watschman opened #111 "Scheduled Tasks behave unexpectedly"
Used Version: User v6.0.0-Early Access 1
Installation: Manual Installation on a local system
System: Linux CentOS 7
PHP-Version: PHP 7.2.14RC1
Web-Server:  Apache 2.4.37, PHP-FPM
Database: MariaDB-10.2.21

I've been trying to set up scheduled Tasks in a Plugin. I've followed the steps at: https://docs.shopware.com/en/shopware-platform-dev-en/how-to/scheduled-tasks?category=shopware-platform-dev-en

[2019-08-01 04:01] selfphp opened #112 "Installation without mod_rewrite"
Currently it is possible to install the shop without mod_rewrite - the installation routine runs through clean but the shop shows serious errors. Maybe you should check the value in the installation routine?!? The error message after installation is:

Slim Application Error

The application could not run because of the following error:
details
Type: Shopware \ Recovery \ Common \ HttpClient \ Clie

[2019-08-01 05:58] shyim commented on #112
The issue that you describe and the exception does not match. The application server can't resolve own domain. Maybe missing hosts entry?

[2019-08-01 06:02] selfphp commented on #112
We installed it on a fresh Ubuntu system and forgot to enable mod_rewrite. This error was displayed and the frontend was also faulty. After activating mod_rewrite everything was ok

[2019-08-01 06:24] selfphp commented on #112
You were right, there was still a host entry missing and now the installation is running through clean! However, as already described, the routine does not complain if mod_rewrite is disabled

[2019-08-01 08:09] janbuecker commented on #109
Could you please provide the contents of your `composer.json` file and the console output from running `composer update`?

[2019-08-01 08:41] DevertNet commented on #109
Here is the output from the composer.json and composer update command.

**shopware/platform**
composer update
[code]
cat composer.json
[code]

**shopware/development**

composer update
[code]

cat composer.json
[code]

[2019-08-01 08:44] janbuecker commented on #109
Thank you! I see your problem in the `composer.json` file in the development template. The requirement there is set to `"shopware/platform": "dev-master"` which checks out the latest changes, a nightly status so to say. Please change this line to `"shopware/platform": "6.0.0+ea1"` and run `composer update` again. After that, it should have the code from the release and the administration should sa

[2019-08-01 09:06] DevertNet commented on #109
Now the backend shows the correct version :) Thank you!

Maybe you should set the default branch from the shopware/development repo to "6.0+ea".
Because in the installation doc is no hint to use a special release/branch:
https://docs.shopware.com/en/shopware-platform-en/getting-started/installation?category=shopware-platform-en/getting-started

It only says "git clone git@github.com:shopware/devel

[2019-08-01 11:38] Christian-Rades commented on #111
Thank you for your detailed report.
I've looked into the issue and you've found a bug indeed. I have created a Ticket for it. You can follow it through our issue tracker:
https://issues.shopware.com/issues/NEXT-4343

[2019-08-01 11:41] #111 closed, assigned to Staff-d

[2019-08-01 12:20] mitelg commented on #109
hey @DevertNet
I've updated the docs according to your suggest. Thanks for the hint :+1:

[2019-08-01 12:23] #109 closed, assigned to janbuecker

[2019-08-02 07:21] #112 closed, assigned to nobody

[2019-08-02 07:28] akerbel commented on #95
Of course

[code]

[2019-08-04 21:28] beberlei opened #115 "Not working with symfony serve webserver"
When I use `symfony` tool as a webserver with `serve` I get an error after redirect to /recover/install in the console:

[code]
Then if i touch `.env`, i get another one that Doctrine PDO MySQL is wrongly configured.

[code]
Please just close if symfony local webserver is just not supported.

[2019-08-05 07:29] janbuecker commented on #115
Thanks for the report @beberlei. We've never used the symfony webserver internally so it could be broken. But I think it might be a good idea to support it.

We'd love to receive a pull request which fixes this issue. Otherwise we'll take a look into it within the next weeks. :)

[2019-08-06 06:47] klarstil commented on #48
@LighthouseIVM I'm having a hard time to reproduce the issue on my local machine but I think I found the issue in the code related to the behavior described in this thread.

Would it be possible to test the following code and give us the results if the fix is working. Replace the content of the file `platform/src/Administration/Resources/common/webpack-copy-after-build/index.js`with the following:

[2019-08-06 07:02] klarstil commented on #110
Hey @lordofthebrain

thanks for your issue. I double checked the behavior you described here and wasn't able to reproduce it in Firefox 68.0.1 (64-Bit) as well as Firefox Nightly 67.0a1 (2019-03-08) (64-bit) and Firefox Developer Edition 65.0b4 (64-Bit).

Can you provide us with more information about the issue?

[2019-08-06 09:23] Watschman opened #117 "Add to Shopping Cart Button in Listing doesn't work with Minimum Order Quantity"
Used Version: User v6.0.0-Early Access 1
Installation: Manual Installation on a local system
System: Linux CentOS 7
PHP-Version: PHP 7.2.14RC1
Web-Server: Apache 2.4.37, PHP-FPM
Database: MariaDB-10.2.21

Hello,
today I've discovered while trying out various functions of the shop, that the "Add to Shopping Cart" button, which is displayed in the storefront listing, doesn't work when you specify a

[2019-08-06 10:21] moehrenzahn commented on #48
Hi @klarstil, I just had this very issue when attempting a local installation on macOS, and replacing  `platform/src/Administration/Resources/common/webpack-copy-after-build/index.js` with the content from your gist resolved my issue!

[2019-08-06 10:23] klarstil commented on #48
@moehrenzahn Awesome, thanks for your feedback. @LighthouseIVM provided me with the same feedback, so I created a PR in our internal systems with the change. It'll be in the repo soon :)

[2019-08-06 11:22] klarstil commented on #106
This seems like an actual issue which I can reproduce. I added the necessary information to the `.htaccess` file inside the `/public` folder. The initial load looks good but every API requests returns a 401 HTTP Unauthorized error. The Response body looks like this:

[code]

@janbuecker Can you take care of this issue? It seems like the appropriate auth header gets dropped.

[2019-08-06 13:18] janbuecker commented on #106
We are using the `Authorization` for the bearer token, but the htaccess file uses basic auth. We have to think about how we accomplish this. I guess this is not an easy task, but we do have an [issue ticket](https://issues.shopware.com/issues/NEXT-4243) for that.

[2019-08-07 07:28] Phil23 commented on #117
Hey @Watschman,

thank you for reporting an issue. I created a ticket in our official ticket system. You can follow the status here: https://issues.shopware.com/issues/NEXT-4410

Greetings

[2019-08-07 07:28] #117 closed, assigned to Phil23

[2019-08-07 18:38] flashback2k14 opened #118 "PHP API Documentation"
Hey,

could somebody tell me where I can find the API documention for the php classes for shopware 6? Or how I could build this.

Thanks

[2019-08-08 07:52] Staff-d commented on #118
Hey @flashback2k14 !

Thank you for your interest in Shopware 6! I am afraid that, at least at the moment, a documentation on class level does not exist.

As an alternative entry point into getting to know how the php classes work together you could take a look at the entity relationship diagrams we have for most of our core modules (https://docs.shopware.com/en/shopware-platform-dev-en/internals/

[2019-08-08 07:52] #118 closed, assigned to Staff-d

[2019-08-08 07:54] klarstil commented on #48
We merged the changes on an internal feature branch which will be available shortly on here. Thanks for all the feedback and input. It's much appreciate.

I'll close the issue now.

[2019-08-08 07:54] #48 closed, assigned to klarstil

[2019-08-08 07:58] janbuecker commented on #43
The development container is not designed to be used in production. We've provide a production-ready container later this year, which will run on port 80/443. To use port 80 in development, you have to do custom changes in the `Dockerfile` and use it in `docker-compose.yml`.

[2019-08-08 07:58] #43 closed, assigned to janbuecker

[2019-08-08 08:02] janbuecker commented on #84
Some weeks ago, we've evaluated phive as replacement for the phar files. At the end of the day, the key servers are really unreliable and not all tools are available with a signature, which does not make much sense right now. We'll keep an eye on phive and once it's more mature, we'll evaluate it again.

[2019-08-08 08:02] #84 closed, assigned to janbuecker

[2019-08-09 15:08] roben opened #121 "Contact form template missing and silently ignored"
We noticed that the contact form does not sent any mails, even though a green success messages is shown to the user after submitting. After digging around in the code, we discovered two issues in the `sendMail` method `MailSendSubscriber.php`:
- `$mailTemplate` is null
- the method then silently exits without throwing any error

Although we never touched these settings, we in fact do not have any

[2019-08-10 12:44] DanielRuf opened #122 "CI"
It seems there is currently no CI here which runs for all PRs, only a CI config for GitLab.

https://github.com/shopware/platform/blob/master/.gitlab-ci.yml

So is this project hosted on GitLab and where can we find it there and is this here just a mirror?

How should we know if something breaks tests or the current CI status?

https://www.shopware.com/de/community/entwickler/ still links to GitHu

[2019-08-11 22:46] lorenzpfei opened #123 "Product Detailpage - Gallery shows the same picture"
https://demo.shopwaredemo.de/detail/65666d2629744f65b981cc6263d3ef0a if you click on one of the preview pictures you will see the picture in fullscreen. If you click on the switching button to the right or left picture the same picture is shown.

[2019-08-11 22:50] lorenzpfei opened #124 "Paypal doesn't work"
If you want to pay with paypal (sandbox mode - not tested realmode), you'll receive a 500 error and the paypal popup is closing.
https://i.imgur.com/YUbztOL.png
https://i.imgur.com/LvmJeFx.png

[2019-08-12 01:08] dnl-jst commented on #115
Would be a really good idea to support it. It's much faster than docker or vagrant on macOS because it runs directly on the machine without any virtualization.

[2019-08-12 01:28] dnl-jst commented on #115
Got it working with symfony binary. Had the same issue as @beberlei, but my mistake was to try to get an already setup'ed application to run with symfony cli.

What I did:

`git clone git@github.com:shopware/development.git`
`cd development`
`git clone git@github.com:shopware/platform.git`
`symfony php bin/setup`

As `URL to your /public folder` I used `https://localhost:8000`

`symfony server:sta

[2019-08-12 06:47] mitelg commented on #124
hey @ElDiabolus
which version of the plugin and Shopware do you use?

[2019-08-12 07:39] Phil23 commented on #123
Hey @ElDiabolus,

thank you for reporting an issue. There is already a ticket which describes this issue in our official issue tracker. You can follow the status here: https://issues.shopware.com/issues/NEXT-4389

Thank you for your support

[2019-08-12 07:39] #123 closed, assigned to Phil23

[2019-08-12 08:54] lorenzpfei commented on #124
Paypal: 0.10.1
Shopware: 6.0.0-ea1

Can I update my shopware manually using the fixed github files?

[2019-08-12 09:40] mitelg commented on #124
we already fixed this error. Updates for the plugin and Shopware are planned for this week.
here is the fix for PayPal https://github.com/shopwareLabs/SwagPayPal/commit/59571c664ed906b2912d0d6704752780c7b6cca4

[2019-08-12 09:46] lorenzpfei commented on #124
So this week I can get the shopware updates via the administration ui?

[2019-08-12 11:20] mitelg commented on #124
yes :+1:

[2019-08-12 11:21] #124 closed, assigned to mitelg

[2019-08-12 15:10] ssltg commented on #121
Hi,

thank you for reporting this issue. I created an official ticket in our issue tracker. You can follow the issue here: https://issues.shopware.com/issues/NEXT-4519

Greetings,
Stefan

[2019-08-12 15:10] #121 closed, assigned to ssltg

[2019-08-13 08:11] klarstil commented on #110
I'm closing this issue because it has not had recent activity. Thank you for your contribution. If the issue still exists, feel free to open a new issue please.

[2019-08-13 08:11] #110 closed, assigned to klarstil

[2019-08-13 11:31] klarstil commented on #106
I'm closing this ticket on here for now. The issue ticket has been created our internal systems and will be taken care of shortly. Thank you all for your contributions and the great feedback.

[2019-08-13 11:31] #106 closed, assigned to klarstil

[2019-08-14 05:53] SebastianFranze commented on #69
Sorry for the late answer. We did not forget your issue. You can track progress att

https://issues.shopware.com/issues/NEXT-3650

[2019-08-14 05:55] #69 closed, assigned to taltholtmann

[2019-08-14 10:20] S-M-O opened #126 "Install shopware.zip in apache docker"
Hello all,

I want to install shopware locally on my windows 10 pc using a docker php:apache container (xampp did not work very well or is it normal that the shop has no styling at all after installation?).
So I just wanted to install the zip file you can get [here](https://www.shopware.com/en/download/?gclid=EAIaIQobChMI6OLozIOC5AIVlIjVCh1Fowm8EAAYAiAAEgL0FfD_BwE) by following the [installation i

[2019-08-14 13:18] ghost commented on #126
Did you check if style files are accessible from the browser?
Check with the "Developer tools" from chrome to see the path of the CSS and open it on a tab.

I had a similar issue and was permissions

[2019-08-14 13:23] ghost opened #127 "Theme Inheritance"
Hi!

I have a shop with a different Sales Channel (Storefronts) and different themes for the different Storefronts.

When customizing a specific twig template in the different themes, only the changes in the last activated theme are shown and it is shown in all the different Storefronts, even though, the said theme has not been chosen for the shopfront.

Kind Regards!

[2019-08-14 13:56] jenskueper commented on #127
Hello!

Thank you for opening this issue. This is currently a bug which we have already fixed internally but it hasn't been merged into the master yet. I can't give you an exact date when it will be merged into the master but if I have to guess I would say next week.

Best regards!

[2019-08-14 13:58] #127 closed, assigned to jenskueper

[2019-08-14 14:02] jenskueper commented on #126
Hello,

these two things are probably connected. If the installation finishes, a theme will be assigned to the Storefront sales channel and then compiled. If the administration isn't available, the route for finishing the installer and compiling the theme is probably also missing.

How have you created the vhost for your installation? Have you created a entry in the apache configuration for "mysho

[2019-08-14 14:04] jenskueper commented on #95
This looks fine. Have you created a vhost for shopware.loc in your apache/nginx configuration? If thats the case, please ensure that it maps to the **public** directory of your shopware installation.

[2019-08-14 14:19] S-M-O commented on #126
Ah that makes sense.
You pointed me in the right direction and after reading the prerequesites again I missed the following

[code]
Yes mod-rewrite was not active and therefore it did not find any routes. I added now
[code]
to the dockerfile and all seems to be working.

Thanks a lot guys for your investigation.
Best regards,
Stefan

[2019-08-14 14:19] #126 closed, assigned to jenskueper

[2019-08-15 10:41] deansoffer opened #128 "can't get it to work"
i followed the instructions in the installation page.
after filling phar install quuestions i get this error:
`Using .psh.yaml.dist extended by .psh.yaml.override

" in "C:\xampp\htdocs\shopware\development/dev-ops/common/actions/install.sh" in phar://C:/xampp/htdocs/shopware/development/psh.phar/src/ScriptRuntime/ScriptLoader.php:142
Stack trace:
#0 phar://C:/xampp/htdocs/shopware/development/psh

[2019-08-15 14:45] observant2 opened #161 "[Docs] BundleCartProcessor not working"
Hello there!
I've finally finished the In-Depth-Guide! :-)
Unfortunately the checkout logic isn't working as expected. When I add a bundle to the the cart, I get this:
![image](https://user-images.githubusercontent.com/18561536/63102007-90eedf80-bf7a-11e9-8978-e7f698f001ee.png)

So it looks like `BundleCartProcessor`
* isn't collecting the bundle items and/or
* isn't processing the items right.

I

[2019-08-15 14:47] observant2 commented on #161
As a sidenote: How can we debug plugin code? Is there some printing mechanism that is accessible via docker?

[2019-08-15 16:39] qx54 opened #129 "Product import: Native vs. API"
Hi,

I can't find any public information regarding the planned product import/export feature.

Will the import feature allow XML files and include field mapping?
Also will it support cron and command line execution?

What will be the advantages of the native product import feature over a custom implementation via API? Speed? Or just ease of use?

Thanks

[2019-08-15 18:29] janbuecker commented on #122
We use GitLab internally and it's not open to the public. Yes, we mirror our repository to GitHub. We have plans for adding travis again like with the shopware/shopware repository.

I hope I was able to help you out!

[2019-08-15 18:29] #122 closed, assigned to janbuecker

[2019-08-15 18:32] janbuecker commented on #115
So it seems not to be broken entirely. For the moment, I'll close this issue. Feel free to create a pull request for supporting it, if anything needs to be changed.

[2019-08-15 18:32] #115 closed, assigned to janbuecker

[2019-08-15 18:42] DanielRuf commented on #122
Unfortunately I see no mention of "tests" in the readme and there is no CONTRIBUTING.md.

And no mention how we can run tests at https://github.com/shopware/platform/blob/master/.github/PULL_REQUEST_TEMPLATE.md

As a contributor I want to find this info in the repo so I can test my changes.

[2019-08-16 07:49] mitelg commented on #122
Thanks for the hints @DanielRuf :+1:
I created a PR internally to add a CONTRIBUTING.md and a short howto in the docs. Also adjusted the readme.
Please check again later, if there are still information missing

[2019-08-16 09:16] S-M-O opened #130 "API search endpoint"
Hello all,

Is there more information than [this](https://docs.shopware.com/en/shopware-platform-dev-en/api/filter-search-limit?category=shopware-platform-dev-en/api) about the search endpoint available?

E.g. is it possible to search for ranges or dates older/newer than etc.?

Thank you and best regards,
Stefan

[2019-08-16 09:50] S-M-O commented on #128
Hello,

Are you trying to install the developer version as described [here](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/installation-guide)?
The problem is that windows does not have a good working linux shell and as shopware 6 is developed under linux you won't be able to get it working so easily in a windows environment. You can try it with gitbash or windows subsystem

[2019-08-16 10:10] tobiasberge commented on #128
Hi deansoffer,

unfortunately those `.sh` scripts do not run properly on Windows - like S-M-O already mentioned. I agree that WSL (https://docs.microsoft.com/windows/wsl/install-win10) is a good alternative. It gives you a pretty native experience. But this only works when you have Windows 10.

If you want to have less setup effort you could also try a Vagrant Box:

Vagrant Box: https://github.com

[2019-08-18 07:39] deansoffer commented on #128
tobiasberge, S-M-O  thanks guys,
windows truely made the problem.
manged to get it work with WSL.
:)

[2019-08-19 07:39] #128 closed, assigned to tobiasberge

[2019-08-19 07:41] jenskueper commented on #130
Hello,

the API documentation is not complete yet. I have created a new ticket in our issue tracker https://issues.shopware.com/issues/NEXT-4643

You can do the following to filter dates:

POST http://shopware.next/api/v1/search/product

[code]

[2019-08-19 08:07] MarvinKlar opened #131 "Setup results in PHP XML error"
Hello everyone.

First, please excuse if I'm at a wrong location, with this issue. I don't know where to ask for help elsewhere.

I'm currently setting up Shopware 6 Community Edition on my Ubuntu machine.

I followed these steps: https://docs.shopware.com/de/shopware-6-de/erste-schritte/shopware-6-installieren

I also have all the requirements: https://docs.shopware.com/de/shopware-6-de/erste-sch

[2019-08-19 09:54] ghost opened #133 "Category Cache Warmup"
I see there is been a feature/bug missing from since Shopware 5
Is that cache warmup does not warmup the category page until is visited, then next visit to that category section it is already warmed
This is very important on big catalogues (we running 10K categories)

I there any plan for this?

[2019-08-19 10:08] S-M-O commented on #130
Hey,

Awesome! Thank you very much. I'll give it a try.

Best regards,
Stefan

--------
Edit:
Works like a charm!

[2019-08-19 10:26] #130 closed, assigned to jenskueper

[2019-08-19 11:52] Phil23 commented on #133
Hey @Yafar-ISI,

thank you for your request. We are aware of this and have it on our roadmap. There will be different caching solutions implemented in the shopware 6 final release.

Greetings,
Phil

[2019-08-19 11:52] #133 closed, assigned to nobody

[2019-08-20 05:23] mitelg commented on #131
hey,
did you install the PHP XML Extension? have a look at our docs for the full list https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/requirements#environment

[2019-08-20 06:23] MarvinKlar commented on #131
For sure I installed the extension. I installed it using apt:
`apt install php7.2-xml`
I also used `apt install php-xml` which said, that the extension php7.2-xml is already installed.

[2019-08-20 07:29] janbuecker commented on #131
Did you restart your webserver after installing the module?

[2019-08-20 07:38] MarvinKlar commented on #131
Yeah, I reloaded AND restarted the webserver. I even restarted the whole server.

I also checked with the phpinfo() function if all other required modules are active. And they are. ;)

[2019-08-20 08:14] akerbel commented on #95
Thanks for help. I am closing the issue because "shopware" is not needed anymore. Next time I will try better with docker installation.

[2019-08-20 08:14] #95 closed, assigned to jenskueper

[2019-08-20 10:16] moorl opened #134 "Theme inheritance with Bootstrap Framework"
Hey, it is not possible to inherit variables like $primary from my custom theme. Also the bootstrap mixins/function don't have to be in variables. Every theme need to have two entrypoints:
1. Load Variables
2. Load Mixins/Bootstrap and Shopware Custom Classes

in theme.json it have to be like:
`{"style-variables": {
  "@Storefront":,
  "Resources/frontend/style/variables.scss"
}}`
and
`{"style-bas

[2019-08-20 11:28] janbuecker commented on #131
This seems to be a common problem regarding your webserver setup. I'd suggest to web search for the error message `Undefined property: DOMDocument::$documentElement` and try to solve this issue as this is not related to Shopware itself.

[2019-08-20 11:28] #131 closed, assigned to janbuecker

[2019-08-20 11:41] MarvinKlar commented on #131
I think that a lot of people will have this problem since I have a normal LAMP setup. Is there any way for me to get Shopware installed on my machine? Or do I have to buy another? I already searched for this error and don't know the PHP XML module that well to tell the issue.

[2019-08-20 13:01] ssltg commented on #103
Hi @BrentRobert,
can you give me a walkthrough for this Issue. Which sales-channel-api endpoint do you call? All my tests result in a change of the API-Answer to the new default currency.

[2019-08-20 13:08] BrentRobert commented on #103
Hi @ssltg, I change the default currency in the backend under the headless channel.
![image](https://user-images.githubusercontent.com/6866325/63349600-06342900-c35c-11e9-83c3-2772c6634055.png)

As a result I'm getting the following from the API:

[code]

I'm using /sales-channel-api/v1/currency endpoint with the sw-access-key of the appropriate sales channel. (Do note I'm on EA1)

[2019-08-20 16:14] moorl opened #136 "storefront:build - node_modules migration"
administration:build works well, my node_modules directory is located at MyModule/src/Resources/node_modules and i can easy use them in my administration script like:

`import {fromLonLat, toLonLat} from 'ol/proj.js';
import {Map, Overlay, View, Feature} from 'ol';
import {Tile, Vector} from 'ol/layer';
import {Vector as VectorSource} from 'ol/source';
import {Style, Icon} from 'ol/style';
import

[2019-08-20 17:33] moorl opened #137 "Master broken: can't open backend"
Notice: Undefined index: class
Shopware\\Core\\Profiling\\Doctrine\\{closure}
Shopware\\Core\\Profiling\\Doctrine\\DebugStack

https://github.com/shopware/platform/commit/d0c6c7c87e93ea78e1220a669bba5c667e16038b#diff-7c1257b179104a6d17e242dfbe97f399

[2019-08-20 18:09] moorl commented on #134
In my case i didnt notice, that the variables of the storefront also override the plugin scss. In other cases i need to use the BS mixins in my plugin scss, so i can't wait to include the storefronts style at last.

So now the question is: should i copy the whole style setup from the storefront or should i define a own include-order in my theme - what is more complex?

i will try out some cases an

[2019-08-20 18:09] #134 closed, assigned to nobody

[2019-08-21 04:57] klarstil commented on #137
Hey @wa-pgeorg your issue is related to this issue: https://github.com/shopware/development/issues/50

I'll close yours as duplicate.

[2019-08-21 04:57] #137 closed, assigned to nobody

[2019-08-21 07:17] bergstar opened #138 "Developer friendly plugin policy"
Please consider this workflow, and see maybe you can change it. Simple developer use case might be something like:
"Oh I want to contribute with a plugin or translation."

Step 1. Setup local dev enviroment
Step 2. Register an account at https://account.shopware.com
Step 3. Buy a domain and verify it at https://account.shopware.com/shops/shops
Step 4. "Buy" a free open source plugin at the https:/

[2019-08-21 07:40] Phil23 commented on #138
Hey @bergstar,

thank you for your feedback. With shopware 6 we are working on becoming more and more open source. As you already know the code of the shopware 6 platform is already available on GitHub and you can start to contribute to the shopware core right away. Also plugins which are developed by us inhouse for the shopware 6 platform will be available on GitHub. For example you can find our

[2019-08-21 07:40] #138 closed, assigned to Phil23

[2019-08-21 10:18] klarstil commented on #136
Hey @wa-pgeorg, what's your issue here? Can you explain what you have tried, what you're expected and what is the current behavior.

[2019-08-21 10:36] moorl commented on #136
Hello @klarstil. I want to use custom scripts via npm. I use the npm installer within my module's Resource directory. After that i get a package-lock.json and a node_modules directory containing all my scripts and theirs's dependencies.

I can now import those scripts using their namespaces:
`import {Map, Overlay, View, Feature} from 'ol';`
This works well for administration:build - no need to add

[2019-08-21 11:04] MarvinKlar commented on #131
I just noticed that the dom extension was enabled in the `dom.ini` and the `php.ini`. I removed the `extension=dom.so` entry from the php.ini and reloaded the apache2 webserver. Now the website is displayed correctly.

[2019-08-22 09:06] observant2 opened #143 "Add twig block for sw_product_basic_form_content"
A plugin can easily extend `sw_product_settings_form`, because the content of the form is wrapped in the div with class `sw-product-settings-form`. You would just do
[code]
and include your custom html in there.

Now I need to do the same, but for `sw_product_basic_form`. There is no equivalent like `sw_product_basic_form_content`. Also I'm not sure if the other parts of the product details have s

[2019-08-23 08:45] DevertNet opened #145 "problem with composer version"
Hello,

i want to update my test Installation to 6.0.0+ea1.1.
So i changed the shopware/development composer.json to:
`"shopware/platform": "6.0.0+ea1.1"`

But everytime composer want wo "update" to the latest commit...
I tested many more version strings, but no one has worked.

As workaround i am using now the commit hash:
`"shopware/platform": "dev-master#f93d9135e427f55f122b60a186b675d4956288bb

[2019-08-23 08:52] DevertNet opened #146 "Update without reseting the database"
Hello,

it would be great if you can make a small how to, to update without reseting the database:
https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/installation-guide#updating-the-repositories

After some research my current update proccess is:

[2019-08-23 09:54] pweyck commented on #145
Hello DevertNet,

we've pushed a new development release a few minutes ago. You can now checkout development with tag `v6.0.0+ea1.1` and will automatically pull the pinned platform release `v6.0.0+ea1.1`.

Best regards,
Patrick

[2019-08-23 11:32] DevertNet commented on #145
Hey Patrick,

i did make a mistake :D
The "problem" was that composer always want to update to 6.0.0.0:
`Installing shopware/platform (6.0.0.0): Symlinking from platform`

But this is correct, because the vendor/shopware/platform folder is symlinked to the the regular platform folder...

So composer says "6.0.0.0", but means "v6.0.0+ea1.1"...

Best regards,
Leon

[2019-08-23 11:32] #145 closed, assigned to pweyck

[2019-08-26 07:31] Phil23 commented on #146
@DevertNet,

this is not the recommended way to do this, but we are planning to provide a workflow to manage and update shopware installations via Git and Composer. We will update the documentation when we have more information about this option.

Thank you for your feedback!

Greetings,
Phil

[2019-08-26 07:31] #146 closed, assigned to Phil23

[2019-08-26 10:39] d42me opened #153 "Can't assign landingpages (Shopping Experiences)"
In the current version it's impossible to assign a landingpage or to set the url for it.

[2019-08-26 11:38] observant2 opened #150 "Using extensions in vue/vuex?"
I extended the "product" table in my plugin similar to how it is extended in the in-depth-guide. So I have product, a mapping table and a table "country". Now I want to add countries to products in the administration. So I override sw-product-basic-form and write

[code]
Where `product` comes from the product repository and `countries` represents some country entities (with id, name...). When I sa

[2019-08-26 12:19] JoshuaBehrens opened #151 "Cart LineItemCollection cant hold multiple non-stackable products"
I stumbled upon the parameters in the twig block `page_product_detail_buy_product_buy_info`. Any client can change the `stackable` input to 0. That is a nice feature I want to use. When I add a product with `stackable` set to 0/false my cart crashes and this is not fixable in an easy way without some discussion so I start one :wink:

Facts:
* You can't change the quantity of a `LineItem` if it is

[2019-08-26 14:10] OliverSkroblin commented on #151
* A product LineItem has the product id as LineItem.id
	* The core uses the product id as line item identifier, because all products which are added by the core can be stacked.

* The CartService has no interface
	* It is not intended to decorate or replace this service

* Problem occurs when you add a non-stackable product LineItem twice.
	* This runs in an exception because the line item is non-

[2019-08-26 15:16] JoshuaBehrens commented on #151
So a product `LineItem` is doomed to be stackable by type? Is there a need to pass both information? Feels like any `LineItem` is doomed to be stackable. The stackable information isn't used elsewhere but the quantity change.
My current understanding: If I want to stack, I use the same id. That's it.

Can I generate a UUID in the twig template without being cached? I think I have to make an own st

[2019-08-26 20:03] moorl commented on #136
Any updates here?

[2019-08-26 20:25] moorl opened #152 "Compiled storefront JS not executed by default installation"
Reference:
https://forum.shopware.com/discussion/62432/javascript-einbinden-custom-events#latest

My compiled storefront script is merged to the all.js but nothing happens then. It just works when i run storefront:build. But i can't run it on my Demo shop (EA2).

[2019-08-26 20:56] moorl commented on #152
[StorefrontScriptTest.zip](https://github.com/shopware/platform/files/3543073/StorefrontScriptTest.zip)

[2019-08-27 07:59] pantrtxp commented on #153
Could you please specify more details for your problem? I just tested the assignment in 6.0.0+ea1.1 and on the master branch. All works fine for me. Did you assign your landingpage to a category?

[2019-08-27 08:37] ghost opened #154 "Media urls"
Not sure if this is an issue but here it goes:

If you set up multiple domains on a storefront
The media url is generated from the domain you made it from

Replicate issue:

1. Make two domains for a Storefront
2. From domain A go to the theme, set a logo (save...)
3. From domain B go to the frontend, inspect the media url of the logo
    It will be http://domainA/media...
    instead of
    http:

[2019-08-27 09:22] observant2 commented on #150
Wow. Spent two days on this.

It turns out that the ORM fails, when the reference column has the same name as the referenced table. In the bundle example: When you use `bundle` instead of `bundle_id` in the `swag_bundle_product` table and name the references in the OneToMany/ManyToMany functions accordingly, things don't work anymore.

In my example I just renamed `country` to `country_id` in my m

[2019-08-27 12:02] tobiasberge commented on #143
Hi itmuckel,

thank you for your feedback. I also think that a default block would be helpful here.

Most of the time it should be no problem to add a twig block like this. It would be great when you create a pull request [here on GitHub](https://github.com/shopware/platform#contribution) in which you add your desired block. That way it will be added to the code more quickly. Alternatively, we wou

[2019-08-28 06:03] janbuecker commented on #150
I'm glad your problem has been solved. :) Just for clarification: we don't use Doctrine ORM, just Doctrine DBAL, which is a database abstraction layer. :wink:

[2019-08-28 06:03] #150 closed, assigned to janbuecker

[2019-08-28 06:12] janbuecker commented on #154
The sales channels don't have any configuration for a CDN *yet*. You can only configure a CDN for the whole system. So in your scenario, every media file would be served from the globally configured url.

The use a global CDN url, update your project config yaml file:

[code]

I've created a ticket for the feature request. You can track the status here: https://issues.shopware.com/issues/NEXT-4754

[2019-08-28 06:12] #154 closed, assigned to janbuecker

[2019-08-28 06:20] janbuecker commented on #129
Thank you @qx54, I'll answer your questions below:

1. Will the import feature allow XML files and include field mapping?
    *Yes, it will be possible to use XML and map the fields.*

2. Also will it support cron and command line execution?
    *Yes, would make much sense.* :)

3. What will be the advantages of the native product import feature over a custom implementation via API?
    *Currently

[2019-08-28 06:20] #129 closed, assigned to janbuecker

[2019-08-28 06:23] OliverSkroblin commented on #151
Hey,

A product doesn't have to be stackable in the cart, as you can see in the above example source code.
For your special use case, I would simply generate a random uuid every time you add a product with an uploaded image to your cart and use it as line item id.

Unfortunately I can't tell you how to generate a uuid in twig that is not cached. I would rather write my own controller to put the pr

[2019-08-28 07:18] observant2 opened #156 "Add associations when overriding Components"
In the administration it is possible to override components.

Now I extended `product` to have an association named `country`.

I've also overridden the `sw-product-detail` and `sw-product-list` components.

And here's the problem: In the components the Associations are fixed. I have no place to override the used associations (`sw-product-detail.productCriteria()` and `sw-product-list.getList()`).

[2019-08-28 08:34] keulinho commented on #156
You can override these methods in your components, e.g
[code]

[2019-08-28 13:17] moorl commented on #152
Hey there @tobiasberge

Did you check this issue?

[2019-08-28 13:30] observant2 commented on #156
Thanks!
Didn't know about `$super`, but this gives me a stack overflow.
For clarification:
[code]
I get this:
[code]
:thinking:

[2019-08-28 13:56] keulinho commented on #156
Yep that is a known problem for now when multiple components override the same base component.

[2019-08-28 14:23] observant2 commented on #156
Any ideas how to fix it? :thinking:

[This](https://github.com/shopware/platform/blob/master/src/Administration/Resources/administration/src/core/factory/component.factory.js#L235) looks problematic to me.

[2019-08-28 15:19] observant2 commented on #156
Okay, I just stepped through. The component gets created correctly.

My `this.$super.productCriteria` calls seoUrl...'s `productCriteria`. (the other component has overriden the same method.)

Therefore everything runs as expected. My knowledge of vuejs is practically zero, but things to look at would be:
* computed properties: Maybe they trigger an update endlessly? (reactiveGetter sounds like it

[2019-08-29 10:55] SironheartAcc opened #158 "Documentation for Entity Types partially outdated"
The documentation concerning AssociationFields is outdated.

For example:
[Here](https://docs.shopware.com/en/shopware-platform-dev-en/internals/core/data-abstraction-layer/types?category=shopware-platform-dev-en/internals/core/data-abstraction-layer#onetomanyassociationfield) point 4 is documented to be a `bool $loadinBasic`, which isn't captured in the example on top.

Also the `bool $loadInBasi

[2019-08-29 12:09] raknison commented on #156
Like @keulinho said, there is this known issue for multiple overridden methods and the "this.$super...." call.
We are still working on that and will inform you as soon as this issue is resolved.

[2019-08-30 06:56] tobiasberge commented on #152
Hi wa-pgeorg,

thank you for your feedback.

I think the reason why your built JavaScript is not running is the webpack build process itself. Unfortunately we had to make some changes to our webpack configuration in the EA1.1 version.

By default webpack optimizes the JavaScript code for performance and it also adds scopes to prevent naming conflicts. This can however cause problems with plugin co

[2019-08-30 08:15] moorl commented on #152
hey @tobiasberge
thank you very much, i will give you feedback soon ;)

[2019-08-30 08:42] 0f8 opened #159 "Plugin configuration default values config.xml"
Hi,

is it possible to set a default value in the config.xml of a Plugin?
https://docs.shopware.com/en/shopware-platform-dev-en/internals/plugins/plugin-config

Thanks

[2019-08-30 08:57] mitelg commented on #159
hey @0f8
this is currently not possible. but there is already a ticket for that. please follow the state here: https://issues.shopware.com/issues/NEXT-3647

[2019-08-30 08:57] #159 closed, assigned to nobody

[2019-08-30 13:11] #161 closed, assigned to keulinho

[2019-08-30 13:31] OliverSkroblin commented on #158
Hi @Sironheart,

Thank you for pointing that out. I have updated the documentation. The new version will be available in a few minutes.

[2019-08-30 13:31] #158 closed, assigned to OliverSkroblin

[2019-08-31 00:59] moorl commented on #152
I tested it with my example and this works fine so far. But my more complex storefront script still have issues.

I get an JS error:
`Uncaught TypeError: Cannot read property 'call' of undefined
    at i (all.js:109)
    at Object.<anonymous> (all.js:113)
    at Object.9IDA (all.js:113)
    at i (all.js:109)
    at Module.SgsM (all.js:113)
    at i (all.js:109)
    at n (all.js:109)
    at Array.r

[2019-08-31 11:30] moorl commented on #152
@tobiasberge

This error is caused by external node.js JavaScript Libraries. In my case i switched from many imports to exactly one. I checked the behaviour and noted that just one type of this "n()" functions is missing.

Ref:
https://github.com/shopware/platform/issues/136

[2019-08-31 11:47] moorl commented on #152
importing my node.js library relative is fixing this issue, but i think this isn't a longterm solution :P

[2019-09-02 12:16] somakolli commented on #67
I have the same error. How did you fix this?

Edit: I fixed it with `chown -R root:root platform`.

[2019-09-02 13:49] MarvinKlar opened #163 "CSS files/Theme missing"
I installed the latest version of Shopware 6 and when I finished the installation wizard, the page get's loaded without any CSS files. The CSS classes are visible in the HTML code, but there isn't a single css file loaded. They are not missing, cause there isn't a single reference to any css file in the HTML. Am I doing anything wrong? Do I have to install a theme after the installation manually?

[2019-09-03 07:34] pantrtxp commented on #163
Hi @MarvinKlar,

please check the "Storefront" Sales Channel in the Administration. In the tab "Theme" should be a theme assigned. If there isn't, you can assign the default theme manually.

Usually the theme should be assigned automatically.
What exact version did you use, the Master branch or the 6.0.0 EA1.1 release?

Sunny regards,
Thorben Pantring

[2019-09-03 07:50] MarvinKlar commented on #163
Hello,

thank you very much for your answer. I am unable to check the "Storefront" Sales Channel in the Administration cause my website looks like this:
![Screenshot_20190903-094524](https://user-images.githubusercontent.com/34421947/64153777-d3943100-ce2f-11e9-98a5-760858fd9ce0.jpg)

How can I determine the version? I used the download link form this site: https://www.shopware.com/de/download/#sh

[2019-09-03 09:57] pantrtxp commented on #163
The state in your screenshot is the broken Storefront, please visit kaufmansshop.marvinklar.de/admin and enter the credentials chosen during the installation to log in to the administration(this is where all the management happens)

The Storefront and the Administration are completely detached from each other.

Since you downloaded our release from shopware.com you should have installed the 6.0.0

[2019-09-03 11:03] MarvinKlar commented on #163
Sorry for messing this up. When accessing the admin menu, the setup completed and now everything is working fine! Thanks!

[2019-09-03 11:03] #163 closed, assigned to pantrtxp

[2019-09-03 13:33] ascheider opened #164 "Manufacturer relationship api endpoints are broken"
Currently the relations of the manufacturer translations are broken. It is not possible to get the language of the translation.
![image](https://user-images.githubusercontent.com/6016485/64177454-ce4eda80-ce5f-11e9-8ab6-79b5ed997a21.png)

The url: http://192.168.33.10/api/v1/product-manufacturer-translation/01bdce3f88e0420284a00f4920fa446d-2fbb5fe2e29a4d70aa5854ce7ce3e20b/language looks wrong.
![i

[2019-09-04 22:20] d42me commented on #153
Yeah that is working. But can you assign it also for the homepage?

[2019-09-05 05:46] pantrtxp commented on #153
What exactly does "homepage" mean?
If you mean your start page of the storefront simply assign the layout to the first level of your categories

[2019-09-05 09:07] d42me commented on #153
@pantrtxp Thanks solved my issue! Maybe add this to the documentation.

[2019-09-05 09:07] #153 closed, assigned to pantrtxp

[2019-09-05 11:18] observant2 opened #166 "Entity customer is missing discardChanges method"
When editing a customer in the shopware administration panel and clicking on `Cancel`, the console prints:
[code]
and of course the changes that I made to the customer are permanent.

[2019-09-06 08:30] taltholtmann commented on #166
Hello @itmuckel and thank you for reporting the bug.

I created an issue ticket for this. Here you can see the actual status: [NEXT-4842](https://issues.shopware.com/issues/NEXT-4842)

[2019-09-06 08:30] #166 closed, assigned to taltholtmann

[2019-09-06 10:33] d42me opened #167 "Shopping Experiences - Save Button"
If you edit a shopping experience page, the save button on the top right in the admin panel does not work from time to time. It's simply not clickable anymore.

Tested with Firefox 68.0.2 (64-bit) for macOS and Chrome Version 76.0.3809.132 (Official Build) (64-bit) for macOS and newest Shopware version.

See https://imgur.com/a/qcVSggu for a preview.

[2019-09-06 10:36] d42me opened #168 "Change permalink structure for shopping experience pages"
Where can I adjust the permalink strucutre for category landingpages? The token style is not really useful if terms of SEO and to link to other pages.

[2019-09-06 10:39] d42me opened #169 "[FEATURE REQUEST] Preview of shopping experience pages on the storefront"
It would be nice, if there would be a way to preview a shopping experience page on the storefront before allocating them to a category and go live.

[2019-09-06 11:05] pantrtxp commented on #169
Hi @dominikdnd, this is an Issue which is already planned for later releases. Sadly I don't know when this feature will be implemented.

[2019-09-06 11:08] pantrtxp commented on #167
HI @dominikdnd, do you get any console output? Like errors which you could provide?
This is an issue not know to us so far and the error handling in the shopping experiences sadly isn't bulletproof yet.

[2019-09-06 11:23] Staff-d commented on #168
Hi @dominikdnd !

This is not possible at the moment. The complete SEO and SEO-Url system is currently under active development. As soon as it become available you will be able to write templates to define your own permalink structure and provide custom overrides for individual pages as well.

Sadly it is difficult to tell when the module will arrive exactly. Most likely it will not be ready for t

[2019-09-06 12:44] OliverSkroblin commented on #164
Hi @ascheider,

I recorded the error in a [ticket](https://issues.shopware.com/issues/NEXT-4846) and put it in the issue tracker.

The url looks wrong at first but is a URL for a compound primary key.  We will look at the whole thing and work out a solution for routes with compound primary keys.

[2019-09-08 13:39] moorl opened #172 "[Feature Request] Plugin/ThemeInterface method on assignment to sales channel"
Hey guys,

I would like to have a method like this, including the sales channel context.

reason: on theme assignment I like to write a sales channel specific config. I built a wingman-plugin for basic theme functionalities like google fonts and animations. I would like to use this wingman-plugin for all my themes and the themes of other publishers, so its easier to keep them up to date ;)

Actual

[2019-09-09 01:04] JoshuaBehrens commented on #151
For now I've added an own controller. That really worked out quite well. I just had to do a lot of changes everywhere the line item had to behave different as well. But that is part of adding a new line item type. I also found an issue about the fact `LineItem.id = LineItem.referencedId = product.id` and fixed it: https://github.com/shopware/platform/pull/174

For now as I got a better understandi

[2019-09-09 07:34] jenskueper commented on #101
Hey dahormez,

with the EA1.1 release we have fixed these and a couple of other issues.

[2019-09-09 07:34] #101 closed, assigned to jenskueper

[2019-09-09 08:35] jenskueper commented on #172
Hey there,

thank you for the suggestion! I understand that there is a need to react to theme assignments. I see it a bit problematic to add this to the plugin bootstrap file since the methods (install, postInstall, update, postUpdate, **activate**, deactivate and uninstall already exists and refer to the plugin lifecycle.

But we could introduce events for theme assignment/compilation etc. where

[2019-09-09 11:45] moorl commented on #172
Hey Jens,

at the moments it isn't so important, it's just a suggestion. Since the theme bootstrap file is implementing the ThemeInterface we could be able to inherit some extra methods for the theme assignment and as you said: the compilation.

I just think it could be problematic when a customer uses two different sales channel and themes. Suddenly if he has installed the wingman-plugin he could

[2019-09-09 14:06] ChristopherDosin opened #180 "Uncaught TypeError: Cannot read property 'register' of undefined"
If i am trying out this plugin within my theme plugin i am getting the error `Uncaught TypeError: Cannot read property 'register' of undefined` in the frontend.

It's related to this line
[code]

@keulinho Any idea why the PluginManager is not registering the plugin?

[2019-09-10 06:15] keulinho commented on #180
What version of shopware do you use?
The doc example should be compatible with the latest master version, so theres no guarantee that they are compatible with the EA versions.

[2019-09-10 06:24] ChristopherDosin commented on #180
I am using the latest `shopware/development` git version.

[2019-09-10 12:14] keulinho commented on #180
Due to our webpack config the pluginManager is not globally available, but you can get it from the window object.
Take a look here at how to get pluginManager from the window object: https://github.com/shopware/swag-docs-js-plugin/blob/master/src/Resources/storefront/main.js#L5

[2019-09-10 12:20] ChristopherDosin commented on #180
That's what i did - I took the exact same code - Resulting in the above error.
I created a theme plugin and then put the `main.js` in `custom/plugins/myPlugin/src/Resources/storefront/main.js`.

In `custom/plugins/myPlugin/src/Resources/storefront/example-plugin` i have the `example-plugin.plugin.js`. I copy&pasted the code.

Then `bin/console cache:clear` and `./psh.phar storefront:hot`.

[2019-09-10 12:40] keulinho commented on #180
Could you checkout the built website, so do a `./psh.phar storefront:build` and check if the error still exists. I just tested it with the latest master on the built site and it worked.
Maybe it is a problem just in the hot reload mode.
Would be of great help if you can confirm that it works when the site is built.

[2019-09-10 12:58] ChristopherDosin commented on #180
I put a `console.log('ok, loaded');` inside the js `init()` method and did a `./psh.phar storefront:build`. No error is given in the console but also no log - So it seems not to load.

I also set `isHMRMode` to `false`

Is it working with the hot reload on your end?

PS: Now i even cloned your repo and installed the plugin, put a `console.log('bla');` inside the `init()` method - Same thing. No er

[2019-09-10 13:27] keulinho commented on #180
For me it works in the hot reload mode too,
i guess because of the compilation error above it doesn't even get to the point where the plugins are initialized.

[2019-09-10 13:36] ChristopherDosin commented on #180
So i cleared the cache again - After this the js plugin repo is working if you install it.
But it seems the js plugin is not working inside a theme plugin, can you confirm this?

I even copied the `main.js` and the `example-plugin` directory into my `storefront` folder.

I solved the compilation errors, that's why i deleted the comment :)

[2019-09-10 13:49] JoshuaBehrens opened #176 "No editor to manage delivery times in administration"
Currently I can only select delivery times for shipping methods but I can't manage(CRUD) delivery times in the administration.

[2019-09-10 17:48] JoshuaBehrens opened #178 "Flatpickr has a bug in time-only mode"
I fixed a bug in https://github.com/flatpickr/flatpickr/pull/1938 so if this is merged you should update the flatpickr dependency immediately.

When you use the `sw-datepicker` like this:
[code]
it throws the following exceptions:
[code]

[2019-09-11 07:31] OliverSkroblin commented on #151
Hi @JoshuaBehrens,

thanks for the #174 😄 .
If you have any further questions about the cart, please do not hesitate to contact me. We can also simply make a phone call, then I could also include the open questions in a FAQ.

[2019-09-11 07:31] #151 closed, assigned to OliverSkroblin

[2019-09-11 07:47] pantrtxp commented on #176
Hi @JoshuaBehrens

unfortunately this feature will be developed at a later date.
sorry for any inconvenience.

[2019-09-11 07:47] #176 closed, assigned to pantrtxp

[2019-09-11 07:50] pantrtxp commented on #178
Hi @JoshuaBehrens

I've created a ticket for this: https://issues.shopware.com/issues/NEXT-4882
and subscribed to your flatpickr PR to get notified as soon as it is merged.

If we don't get back to you please remind us in this thread as soon as your PR is merged

[2019-09-11 08:15] kveldscholten opened #179 "Install Extention DemoData"
We have installed the Shopware 6 v6.0.0 Early Access 1.1 on our Nginx with PHP 7.2 (chroot)
But after installing the Shopware DemoData Plugin we always get the error by the install context:
```{"errors":[{"code":"0","status":"500","title":"Internal Server Error","detail":"Cannot obtain the lock for destination messages"}]}```

We locate the error is fired in the File:`Shopware\Core\Content\Media\F

[2019-09-11 08:43] JoshuaBehrens commented on #176
I guessed so but why is this issue closed? It remains unavailable and you will provide a solution at a later date. I don't think issues work this way

[2019-09-11 08:46] JoshuaBehrens commented on #151
:call_me_hand: ? That is new to me. Maybe I come back to it later. Thanks so far

[2019-09-11 08:58] mitelg commented on #176
@pantrtxp maybe you could provide a ticket link, so one could follow that one instead of this github issue

[2019-09-11 11:15] jenskueper commented on #180
Hello ChristopherDosin,

we can confirm that there are some issues with the hot mode and accessing the PluginManager. We are currently looking into this issue. In the meantime please use the build process which should work fine.

Best regards,
Jens

[2019-09-11 11:20] ChristopherDosin commented on #167
Did you tried to edit the default and lockend `category-default-layout`?
With my own custom shopping experience page i don't had any saving issues so far.

[2019-09-11 23:21] JoshuaBehrens opened #184 "Repeat an order custom line item types in a fashionable way"
Currently custom line item types get filtered quickly with a `lineItem.type == 'product'` check. So on a reorder only normal products are reordered. It is quite easy to append further input fields and they also get added to the cart then. It is not easy to add the former line item payload or other data to the cart without (e.g.) a cart data collector or a `LineItemAddedEvent` event subscriber with

[2019-09-12 06:51] a-buzdugan opened #185 "PHP Fatal error - Attempted to call function "next741" from namespace "Flag""
Hello,

For my local SW6 under vagrant setup up-to-date (HEAD) dev and platform: git pull origin master

when I am trying to install shopware with:

vagrant@shopware:~/shopware-dev$ ./psh.phar install

I get:

(8/38) Starting

        PHP Fatal error:  Uncaught Symfony\Component\Debug\Exception\UndefinedFunctionException: Attempted to call function "next741" from namespace "Flag". in /home/vagrant

[2019-09-12 06:56] keulinho commented on #185
Do a `composer update` in the development folder this should fix your problem.

[2019-09-12 07:17] a-buzdugan commented on #185
Composer update fixed my install issue.
Thank you for the quick response!

[2019-09-12 07:17] #185 closed, assigned to keulinho

[2019-09-12 07:32] pantrtxp commented on #176
@JoshuaBehrens sorry, I will get back to you next week and try to provide more information.
At the current time this is all I can provide.

[2019-09-12 08:23] a-buzdugan opened #186 "[Minor issue] Administration backend sw-alert html escape"
Hello,

[Minor issue]

User Story: Administrators can submit html tags for entity fields

Steps:
1. Login in administration backend
2. Go on a listings (eg. Customers: /admin#/sw/customer/index?limit=25&page=1&sortBy=customerNumber&sortDirection=DESC&naturalSorting=true )
3. On entity fast edit field (double click on a row field)
4. Submit data containing html tags (eg. \<b> \<i>)

Expected result

[2019-09-12 09:07] Staff-d commented on #184
Hi @JoshuaBehrens !

The behavior you observed is not intended. LineItems should keep the order in which they were added to the cart through all recalculation processes. I've created a ticket for this at https://issues.shopware.com/issues/NEXT-4894

I'm afraid that this will be quite difficult, if not impossible, to fix on the frontendside. The information you need to introduce a consistent sortin

[2019-09-12 09:44] pweyck commented on #179
We use the fs transport for the message bus by default. It uses flock to synchronize the workers. On some setups this may not work as expected. (For example NFS). We have an open Issues with a workaround in german. (I can translate it if required).

See: https://issues.shopware.com/issues/NEXT-4662

We consider making enqueue/dbal the default.

[2019-09-12 15:49] JoshuaBehrens commented on #184
I see I didn't get my point across as reorder can have a different meaning. It is not about the order (like in sorting) although I can think off a fix I could PR to even manage the position :grin:

Instead it is about repeating a previously placed purchase order from the order history.

[2019-09-13 10:00] Patrokl42 opened #190 "The custom CMS block is not displayed"
Hello.
I created a plugin and custom cms block like here
https://github.com/shopware/swag-docs-custom-cms-block
But for some reason it does not appear in the page edit.

[2019-09-13 11:15] pantrtxp commented on #186
Hi @a-buzdugan
We'll close this issue right away.
I've already submitted a PR with a Fix for this.

Thank your for informing us.

[2019-09-13 11:54] Patrokl42 commented on #190
@pantrtxp thanks for the answer.
But I already used the command administration:build.

[2019-09-13 11:55] pantrtxp commented on #190
Hi @Patrokl42

sorry but my information was deprecated anyway, that's why i deleted this comment.

please check if your plugin is installed and activated (`bin/console plugin:refresh`). If it's not please run `bin/console plugin:install --activate CustomCmsBlock` and `./psh-phar cache`

[2019-09-13 12:00] Patrokl42 commented on #190
@pantrtxp I followed all of these steps as indicated in your documentation.
https://docs.shopware.com/en/shopware-platform-dev-en/how-to/custom-cms-block?category=shopware-platform-dev-en/how-to
Everything worked, but for some reason there is no block in admin.

[2019-09-13 12:04] pantrtxp commented on #190
But in this How-To there is not specified how to install a Plugin so please follow the steps above.

What you've done so far is create a custom plugin but you have not installed it, thus making it unavailable in your System (assuming that you did not do the steps i wrote above)

[2019-09-13 12:09] Patrokl42 commented on #190
@pantrtxp I did all these activities.
My plugin overwrites some templates.
It is activated and everything works.
But not with custom blocks.

[2019-09-13 12:15] pantrtxp commented on #190
Since I don't know your Setup, have you tried re-installing the Plugin if you made changes?
And do you have just one plugin or multiple?

as a last resort, you can try cloning https://github.com/shopware/swag-docs-custom-cms-block into `custom/plugin` and installing this one? (I just did this and everything works fine :thinking: )

[2019-09-13 12:48] Patrokl42 commented on #190
@pantrtxp I cloned this plugin and it worked.
Thank you for help.

[2019-09-13 12:49] #190 closed, assigned to pantrtxp

[2019-09-13 12:53] pantrtxp commented on #186
https://github.com/shopware/platform/commit/9691ffee321b0b0371f02df65deedc1e355c54a6

sw-notification messages are now 100% html free :wink:

Thank you @a-buzdugan for notifying us.

[2019-09-13 12:54] #186 closed, assigned to pantrtxp

[2019-09-13 13:51] Staff-d commented on #184
Hi @JoshuaBehrens !

Ouch - that happens if non-native speakers collide :see_no_evil:

I've taken a look at the code to **repeat** an order from the storefront ( more specifically: the code in `platform/src/Storefront/Resources/views/page/account/order-history/order-detail-list.html.twig` ) and I would extend the complete `page_account_order_item_detail_reorder` by adding another call to your own

[2019-09-13 14:27] JoshuaBehrens commented on #184
I guessed so :grin: but hey now we found two issues by that mistake :man_shrugging:

As this is one form shall I change the action url of the form to include my controller? I don't see a way yet how multiple plugins can get their controllers called in there. Where do I hook myself into? Do I have to extend the AddToCartPlugin? If so how? I see a `this.$emitter.publish('beforeFormSubmit');` is this

[2019-09-14 16:25] miracleman opened #191 "Installer Error "Critical environment variable 'DATABASE_URL' missing!\n""
I try to install shopware 6 and I get
"Critical environment variable 'DATABASE_URL' missing!\n"

url
/recovery/install/database-import/

[2019-09-14 16:33] miracleman opened #192 "installer Error Identifier DB not initialized yet"
I tried to install shopware 6 an I get the following error

Type: RuntimeException
Message: Identifier DB not initialized yet
File: /.../recovery/install/src/ContainerProvider.php
Line: 162

I was able to fix it with this information at
https://stackoverflow.com/questions/45637033/shopware-installation-error-identifier-db-not-initialized-yet

Info This error is also in installer of 5.6 (will file

[2019-09-14 16:51] moorl opened #193 "Return value of Shopware\Storefront\Page\Product\ProductPage::getCmsPage() must be an instance of Shopware\Core\Content\Cms\CmsPageEntity, null returned"
Just forgot the questionmark?

https://github.com/shopware/platform/blob/dc4d16ecfc8ebf7015abeb942b8cddf908ecadab/src/Storefront/Page/Product/ProductPage.php#L56

[2019-09-16 08:39] mitelg commented on #193
hey @wa-pgeorg
do you have an example, when this failure occurs?

[2019-09-16 10:35] rhwebdesign commented on #193
@mitelg

Hey!

In my custom twig function:
[code]

In the ProductPage Controller has the value cmsPage defined as null. My Plugin checks the current Page and if it has the method getCmsPage it is calling it. Just putted a questionmark there:
`public function getCmsPage(): ?CmsPageEntity `
and it works fine then.

There is a plan to put CMS content on product details?

[2019-09-16 14:29] pweyck commented on #192
Hello miracleman,

thank you for reporting this issue. My first guess is that the connection information is not validated correctly or the session is expired.

Strictly speaking, the installer is not part of the platform, so this issue does not belong here. I've create an issue in our issue tracker:

https://issues.shopware.com/issues/NEXT-4939

Kind regards

[2019-09-16 14:31] pweyck commented on #191
Im closing this in favor of https://github.com/shopware/platform/issues/192 and https://issues.shopware.com/issues/NEXT-4939.

[2019-09-16 14:31] #191 closed, assigned to pweyck

[2019-09-17 10:55] pweyck commented on #179
We've changed the default transport from `enqueue/fs` to `enqueue/dbal` on master. That should fix your problem. The next release 6.0.0 EA2 will contain those changes.

Feel free to reopen the issue, if it still doesn't work.

[2019-09-17 10:55] #179 closed, assigned to pweyck

[2019-09-17 13:20] pantrtxp commented on #169
I'm closing this Issue due to inactivity. If this Problem should still be unsolvable please create a new Issue

[2019-09-17 13:20] #169 closed, assigned to pantrtxp

[2019-09-17 13:20] pantrtxp commented on #167
I'm closing this Issue due to inactivity. If this Problem should still be unsolvable please create a new Issue

[2019-09-17 13:20] #167 closed, assigned to pantrtxp

[2019-09-17 13:21] pantrtxp commented on #168
I'm closing this Issue due to inactivity. If this Problem should still be unsolvable please create a new Issue

[2019-09-17 13:21] #168 closed, assigned to Staff-d

[2019-09-17 13:23] pantrtxp commented on #143
I'm closing this Issue due to inactivity. If this Problem should still be unsolvable please create a new Issue

[2019-09-17 13:23] #143 closed, assigned to tobiasberge

[2019-09-17 14:00] grovas opened #196 "Could not resolve argument $context of \"Shopware\\Core\\Checkout\\Customer\\SalesChannel\\SalesChannelCustomerController::register()"
Hey!

I've error during customer registration via RestAPI. shopware/core latest version dev-master installed as vendor on Symfony 4.3.4.

[code]

response

[code]

[2019-09-17 19:16] Gainto opened #197 "Customer Entity is null in Documents"
When you create an document (e.g. invoice) and dump out the "customer" variable in the base.html.twig file you'll get the following output:

 #email: "test@test.de
" #orderId: "df29d6ba13d04fcfb4acaf9045c493a9
" #salutationId: "f2855d8bb01b4ae090495050b96ac9e7
" #firstName: "test
" #lastName: "test
" #title: "test
" #company: null
 #customerNumber: "10087
" #customerId: "b772fcc315b54017accc437803

[2019-09-18 05:49] raknison commented on #156
We've opened an issue on our Issue Tracker for you. See the issue link:

https://issues.shopware.com/issues/NEXT-4522

[2019-09-18 05:49] #156 closed, assigned to raknison

[2019-09-18 05:57] pantrtxp commented on #193
Hi @wa-pgeorg
I've just fixed this issue and it will be deployed in the morning.

@rhwebdesign
Yes, it is planned to be able to create product detail pages with the CMS as well.

[2019-09-18 08:11] #193 closed, assigned to pantrtxp

[2019-09-18 11:05] pimjansen opened #198 "Watcher is not reflecting changes"
Im running Shopware 6 in docker. However when i run the watcher in my pod using:
`application@ba3e3eeff9da:/app$ ./psh.phar administration:watch`

Then the changes are not reflecting when i open the webpage via my host system at http://localhost:8000/admin

[2019-09-18 11:08] pimjansen commented on #198
Found the solution also that the watcher is running a new service update at 8080 instead of 8000.
Maybe we should add it more clear in the docs?

[2019-09-18 19:38] JoshuaBehrens commented on #178
Merged it is. No release yet

[2019-09-19 08:18] Patrokl42 opened #199 "Custom element store"
Hi!
I want to create a custom slider element in my plugin. So I copied your slider code. Everything works fine but after saving the changes in the admin element.data.sliderItems becomes empty.

[2019-09-19 10:50] pantrtxp commented on #198
Hi @pimjansen, we'll consider if this has to be more documented.
but in the console after `./psh.phar administration:watch` the output as well tells you where to finde it and provides a link

Since you resolved your issue i'll close this ticket then :)

[2019-09-19 10:50] #198 closed, assigned to pantrtxp

[2019-09-19 10:53] pantrtxp commented on #199
hi @Patrokl42,
have you made changes so far to your element? if so, which.
The CMS was recently updated and the data handling is slightly different. You may need to customize the `enrich` method in the slider configuration

[2019-09-19 10:54] pantrtxp commented on #136
HI @wa-pgeorg,

I'm sorry it took so long. Is this issue still existent?
Since you referenced another closed issue I cant tell

[2019-09-19 11:00] moorl commented on #136
Hi @pantrtxp
Currently not for me, because i use relative paths now. But would be nice if this is possible in the future.

[2019-09-19 11:05] Patrokl42 commented on #199
@pantrtxp  I just changed the name of components.

[2019-09-19 11:29] ssltg commented on #197
the "customer" variable in the documents is the order.orderCustomer and the customerEntity is not mapped for this call. If you need additional Information from the customerEntity you need to subscribe to the Event "order.search.result.loaded" but you can't rely on the fact that an orderCustomer has a customerEntity associated. This field can be null under some circumstances.

But I see the require

[2019-09-19 12:01] pantrtxp commented on #136
Okay, we'll keep track of this but I'll close this issue and create an Ticket for us. Our Member @klarstil is currently out of office fore some time. Maybe he'll get back to you about this issue.

Thanks for informing us.

[2019-09-19 12:01] #136 closed, assigned to klarstil

[2019-09-19 12:25] tobiasberge commented on #180
Hi ChristoperDosin,

we have also created a ticket on our board for this issue: https://issues.shopware.com/issues/NEXT-4912.

One of the problems is an incorrect order in the generated `theme-files.json` inside the cache folder.

The missing port will also be added to our default docker configuration.

I want to apologize that this topic takes so long, but the HMR in combination with PHP theme va

[2019-09-20 07:59] Gainto commented on #197
the custom_field entry :)

[2019-09-20 09:29] pantrtxp commented on #199
@Patrokl42 the name of the component is used to get the defaultConfig and the Data so you need to pass this name to the `initElementConfig` and `initElementData` in the `youeElem/config/index.js` and `youeElem/component/index.js` aswell.  try this and see if this fixes your problems

[2019-09-20 09:29] mitelg commented on #197
@ssltg maybe customFields need to be synced to the orderCustomers while creating them

[2019-09-20 11:43] deepakk-webkul opened #202 "If any product add in cart & delete that product from admin end then frontend page is not working."
Preconditions (*)

Shopware 6 with demo data installed
PHP 7.2.22
Production Mode

Steps to reproduce (*)
1. Go to frontend, Select any product & Add into the cart.

![Screenshot (2)](https://user-images.githubusercontent.com/50043226/65324070-b9e14080-dbc8-11e9-989a-b808426f3cb5.png)

2. After that Go to admin panel, try to delete that product from backend

![Screenshot (3)](https://user-images.g

[2019-09-20 13:51] ssltg commented on #196
Hi Grovas,

I cannot reproduce this error. For me it looks like a broken setup. Is it just this API Call or does this error raise on every Request?

[2019-09-20 14:28] Gainto commented on #197
yes. Same for the orderAddress.

[2019-09-23 07:07] a-buzdugan opened #204 "[Minor Doc Issue] DAL Aggregations"
Hello,

I think there is a mistake here:

https://docs.shopware.com/en/shopware-platform-dev-en/internals/core/data-abstraction-layer/search#countaggregation

and on all documented aggregators.

The order of parameters should be switched, for eg:

new CountAggregation('count-manufacturer', 'product.manufacturerId')

should be

new CountAggregation('product.manufacturerId', 'count-manufacturer')

I

[2019-09-23 07:42] #192 closed, assigned to pweyck

[2019-09-23 07:53] bartosz-zasada commented on #196
Hello @ssltg,

It seems that only the API endpoints from /sales-channel-api/v1/ are affected, for example a GET request to /sales-channel-api/v1/category returns a similar error:

[code]

The API works fine when using the entire stack from `shopware/development`, but fails when we're trying to use `shopware/core` as a package installed with Composer. Perhaps we're missing some Symfony configuratio

[2019-09-23 12:09] bartosz-zasada commented on #196
Hello @ssltg,
I found the cause of this issue. The Argument Resolver that resolves instances of `Shopware\Core\System\SalesChannel\SalesChannelContext` from Symfony request is registered in `shopware/platform/src/Storefront/DependencyInjection/services.xml`:

[code]

This piece of container configuration should be in a file that belongs to `shopware/core` instead.
I have fixed it temporarily by ad

[2019-09-23 12:56] #196 closed, assigned to ssltg

[2019-09-23 13:41] JoshuaBehrens opened #205 "Theme compilation dies with config from EA1 in EA1.1"
I had a problem upgrading an installation from EA1 to EA1.1. Ok it is breaking, got it. But it seems to be a more basic problem in the strucuture:

In commit bdb8ab6e64cdcfd2b7f944706fdd400db3a1f16e the file `src/Storefront/Resources/theme.json` is the base data for database `theme.base_config`. Before that commit you can configure `sw-logo-default`. When you upgrade to EA1.1 (that is now missing

[2019-09-23 13:45] mitelg commented on #196
thanks for your help :+1:  was fixed with https://github.com/shopware/platform/commit/cc63016c4ab30d7b78d0de3a85f6c1d85d6a6659

[2019-09-24 06:19] jenskueper commented on #205
Thank you for bringing up this issue. I understand the problem but I would think this only affects the early access versions. As soon as we leave the early access stage, we can and will not simply rename or remove configurations. In these cases we would deprecate them and give clear instructions in the UPGRADE.md file how to proceed as a theme developer.

[2019-09-24 07:45] JoshuaBehrens commented on #205
How can you deprecate something in a json file? Tell it in the label? Hide it?

I am really up to know what these instructions will be. Thanks for taking the time looking into it.

[2019-09-24 13:32] deepakk-webkul opened #208 "In the Front-end, Pagination is missing in orders section grid."
Preconditions (*)

Shopware 6 with demo data installed
PHP 7.2.22
Production Mode

Steps to reproduce (*)

1. Go to frontend: After login, try to place more than 10 orders then only recent 10 orders details are visible here

![Screenshot (16)](https://user-images.githubusercontent.com/50043226/65515752-62f7a600-defd-11e9-96ed-7a05db1d40cd.png)

Remaining orders details are not showing. (Due to pag

[2019-09-24 13:50] jenskueper commented on #205
We cannot deprecate it in the json file but we would mention it in the CHANGELOG.md and UPGRADE.md file in the platform repository. We might also trigger a warning which would end up in the logs saying that theme xyz has a deprecated field which will be removed in the next major version Shopware 6.x

[2019-09-24 14:48] JoshuaBehrens commented on #205
So we just keep the code as it is in hope it will never break? I'd rather like to see a silent fail for missing fields.

[2019-09-25 07:41] Staff-d commented on #184
Hi @JoshuaBehrens !

Sorry for my late answer, I had to consult some colleagues who are more proficient with the storefront than I am :sweat_smile:

What I meant with `extend the complete page_account_order_item_detail_reorder by adding another call to your own controller` is something like this

[code]

So you would have your own `add-joshuas-item-to-cart` plugin to add stuff to the cart and coul

[2019-09-25 07:57] JoshuaBehrens commented on #184
I am up to wait a bit longer for a well thought out solution.

So your suggestion is to have two re-order buttons for the user? I mean that is feasible and future proof but a solution I discourage for the user experience as each plugin will add an extra step of interaction.

I :arrow_up_small:d the ticket. Go for it guys :grin: The description in the ticket sounds applicable to me. Thanks for your

[2019-09-25 10:53] pantrtxp commented on #208
Hi @deepakk-webkul

I've created an issue ticket for this.
https://issues.shopware.com/issues/NEXT-5058

you can see the status here at any time.

Thank you for informing us. :+1:

[2019-09-25 13:49] deepakk-webkul opened #211 "In the admin end, If we try to check order details under particular customer section. Here amount is showing in Euro currency but order place in US dollar."
Preconditions (*)

Shopware 6 with demo data installed
PHP 7.2.22
Production Mode

Steps to reproduce (*)
1. Go to frontend, Try to place an order in US Dollar.
2. After that Go to admin panel, Click on customer section > select customers who have placed an order in US dollar > select orders tab > Here order amount showing in Euro Currency. **(It should be in US Dollar)**

![Screenshot (10)](https

[2019-09-26 00:10] JoshuaBehrens opened #213 "Language switch in editing component via sw-language-info automatically discards data"
When you have a `sw-language-switch` component you need to confirm the language switch as the currently editing entity will be reloaded. When you click on the language in the `sw-language-info` the entity is automatically reloaded in the newly selected language. In that case there is no language change confirmation and all data is lost.

Either interrupting language change has to be managed more g

[2019-09-26 06:55] OliverSkroblin commented on #204
Hi
we have adapted the aggregations of the data abstraction layer. The name is now the first parameter because some aggregations have no field.
You can find the corresponding change here: https://github.com/shopware/platform/commit/f6679aab2a2bf6d9130aef5653c689a047dbd5b8

[2019-09-26 06:55] #204 closed, assigned to OliverSkroblin

[2019-09-26 19:28] JoshuaBehrens opened #214 "InheritanceIndexer uses property in SQL"
I have questions regarding https://github.com/shopware/platform/blob/8405e4aa394e5a4eea255026660bf55ea4ad76bf/src/Core/Framework/DataAbstractionLayer/Indexing/Indexer/InheritanceIndexer.php#L241-L251

The property name is always the php field name in the entity classes. So why is this part of an SQL query?

How did I find this one? I added a custom FkField using an extension to a shopware entity d

[2019-09-27 07:33] Staff-d commented on #211
Hi @deepakk-webkul !

Thanks to your detailed bug description I could reproduce this issue and a write a fix that should be merged into the master soon.

Even though a similiar bug will still occur in the "General" tab of the customer module, which will always display "€" for the turnover of a customer. This has to do with the way the DAL aggregates prices as it does not respect their currencies y

[2019-09-27 07:33] #211 closed, assigned to Staff-d

[2019-09-27 08:27] #172 closed, assigned to jenskueper

[2019-09-27 09:52] BrentRobert opened #215 "Feature Request: encrypted config field"
Hi,

Would it be possible to create a new input-field type which encrypts the string using the app secret?

[2019-09-27 10:09] JoshuaBehrens opened #216 "Language switcher saves data in newly selected language"
If you edit data e.g. in the manufacturers and switch the language without saving you get asked whether you want to save the data as it will be lost otherwise. Good thing we have this. Good UX.
But if I choose to save it then the data that was edited in the old language is saved into the translation of the new language to the entity. So it is still a data loss as the wrong data is overwritten.
Thi

[2019-09-27 15:19] BogdanChayka opened #217 "Error on running bin/setup"
I'm using the debian subsystem and went through all requirements of the setup, since docker is not working on a Linux Subsystem either.

`  12:12:39 ERROR     [console] Error thrown while running command "dal:refresh:index". Message: "UUID has a invalid length. 16 bytes expected, 32 given. Hexadecimal reprensentation: 3061363530646464373062663433643661333330633261393930396639663061" ["exception" =

[2019-09-27 19:36] ChristopherDosin commented on #215
You could just create your own field and use for example https://www.npmjs.com/package/cryptr for simple encryption.

[2019-09-30 07:21] OliverSkroblin commented on #214
Hi @JoshuaBehrens,

if you add an inherited to one association to the product we need a table column with the property name of the to one association. We need this for a high-performance selection and filtering of the data.
You can find the documentation for inherited associations here: https://docs.shopware.com/en/shopware-platform-dev-en/internals/core/data-abstraction-layer/data-inheritance

[2019-09-30 07:21] #214 closed, assigned to OliverSkroblin

[2019-09-30 09:35] JoshuaBehrens commented on #214
Thanks @OliverSkroblin for the answer. I do get why it increases performance as less joins are needed, but I don't get why there has to be a mixture of a php property name that is re-used in SQL. Can one somehow change the SQL column name? This breaks the layout for databases that every column has to be lower snake case. That is seriously not a bummer but it breaks the layout and I am up to know w

[2019-09-30 10:49] observant2 opened #218 "email templates"
Is it possible to define Email Templates with custom variables like strings, lists of strings to be inserted here and there? When I look at the email templates in the administration interface, they seem to only consist of a static text.

For example mailhog doesn't register outgoing mails (like an order confirmation) when an order is created, so I assume this is not implemented yet?

[2019-09-30 13:49] Gainto opened #219 "NumberRangeEvents::NUMBER_RANGE_GENERATED Event should also include the type it was generated for"
The NumberRangeEvents::NUMBER_RANGE_GENERATED Event gives you the actual generated number.
It would make sense to actually include the type for which the number was generated for within the NumberRangeGeneratedEvent.
You often want to do something with the number if the number belongs to a specific type.
Imho the NumberRangeGeneratedEvent should have a getType method which returns the correspondin

[2019-09-30 14:14] #202 closed, assigned to OliverSkroblin

[2019-10-01 05:59] OliverSkroblin commented on #217
Hi @BogdanChayka,

thanks for the report. We found the bug and fixed it, if you update your environment the bug should not occur anymore.

[2019-10-01 05:59] #217 closed, assigned to OliverSkroblin

[2019-10-01 06:34] OliverSkroblin commented on #214
We can change that the columns are written in CamelCase to snake case. I opened a ticket for it.

[2019-10-01 07:00] a-buzdugan commented on #218
Hello,

Yes, from code.

I was able to create a standalone email template based on 'ContactFormService' and 'ContactFormEvent' (search through the code).

So I have a custom email template type (available in admin dropdown) for which I can insert whatever content plain/html I want but only for predefined variables/entities, assigned before sending email.

Eg:

...
->add('myVar', new ScalarValueTyp

[2019-10-01 08:39] a-buzdugan commented on #218
In short:

new DataBag([
                        'customerNumber' => $customerNumber,
                        'articleNumber' => $product->getProductNumber(),
                        'priceRequestData' => [
                            'customerNumber' => $customerNumber,
                            'articleNumber' => $product->getProductNumber(),
                        ]
                    ]),

[2019-10-01 09:01] keulinho commented on #218
you have to pass an object as the `priceRequestData` that has a `getCustomerNumber()` and `getArticleNumber()` method when you want to use the dot notation in twig otherwise you have to use the twig array access notation like priceRequestData[customerNumber].
Otherwise you could use the `attribute()` function in twig, which is described [here](https://twig.symfony.com/doc/2.x/functions/attribute.h

[2019-10-01 09:07] observant2 opened #223 "Environment files for configuration in production"
Hey guys!
We need an easily deployable production configuration. Therefore we need to pass information like the database connection string, shop name etc. via environment variables to the installer, so a manual install process isn't necessary.

I skimmed through the code and found that `shopware/core/Kernel.php` does read the environment variable `DATABASE_URL`, but setting it through an `.env` fi

[2019-10-01 09:24] a-buzdugan commented on #218
Thank you for clarifying this!
Hopefully the owner of this issue is satisfied with the above answers.

[2019-10-01 11:31] #216 closed, assigned to mitelg

[2019-10-01 12:41] JoshuaBehrens commented on #216
It is really irritating that it is closed. Is the reason that it is migrated to your Jira issue tracker?

[2019-10-01 13:16] mitelg commented on #216
yes :blush:
sorry for the confusion, but we don't want duplication :wink:
as our nice bot says, you could now track the state in the issue tracker

[2019-10-01 13:17] S-M-O opened #227 "Auto Generate API Client possible?"
Hello all,

I asked myself if it is possible to not just do a
[code]
but to auto generate a whole client from the schema json or directly from the shopware project since the open api standard supports this. I know some routes are generated automatically so I assume it is not possible to include all routes in an api client automatically.

Does someone has an idea or probably already did it?

Thank

[2019-10-01 13:42] JoshuaBehrens commented on #216
I get it. Even the embedded gif is easier to read on the issue tracker than on github :grin: Will this issue get a bump when the issue is resolved?

[2019-10-01 14:18] JoshuaBehrens commented on #178
Release with my fix is public https://github.com/flatpickr/flatpickr/releases/tag/v4.6.3

[2019-10-02 04:46] mitelg commented on #216
I'm for sure but the one, who will fix this, but I will try to keep an eye on it

[2019-10-02 08:47] Staff-d commented on #218
Hi @itmuckel !

If I understand you correctly, you want to insert variables into an email template from the administration. Shopware6 uses twig templates for this. Here is an example Newsletter Confirmation Mail Template:
[code]
Whenever you type `{{` in the newsletter template editor auto completion will be available and show you all variables you can use.

To address your second question: Order

[2019-10-02 10:41] keulinho commented on #227
Hello Stefan,

our open api schema currently doesn't cover all possibilities provided by the API, the action routes are missing right now.
Basically the open api schema currently just covers the CRUD operation for all entities in the system and these are the routes that are automatically generated.

But for the CRUD operation you should be able to generate an api client by one of these tools out t

[2019-10-02 11:24] mschradi opened #228 "Wrong format in RESTAPI"
Hello everybody,

I've autogenerated the API Classes with OpenApi for C#.

The serialization of the json have some problems, for example in the "/product" (getProductList) response json.
The Swagger Scheme tells that the "included" part of the json will look like this (/api/v1/_info/swagger.html#/Product/getProductList):
[code]
but my response from the api looks like this:
[code]
The problem is th

[2019-10-02 11:41] a-buzdugan opened #229 "[Docs] Cart 'Get deliveries' example missing"
Hello,

https://docs.shopware.com/en/shopware-platform-dev-en/internals/core/checkout-process/cart?category=shopware-platform-dev-en/internals/core/checkout-process

"Get deliveries" section:

proper example is missing and it represents at the moment a copy of "Remove line item" excerpt.

Please check.

Thank you,
Andrei B.

[2019-10-02 11:49] keulinho commented on #228
Hello Max,

you are right about this issue, the `links` attribute has to be an object (empty or dict), not just according to our open api schema but also according to the JsonApi Spec: https://jsonapi.org/format/#document-links.

We are working on a fix for this.

[2019-10-02 14:19] pweyck commented on #223
Hey itmuckel,

the installer generates a new `.env` file during the installation. You could try the cli version of the installer.

For example:
[code]
Additionally, you are free to modify the `.env` file after the installation.

If the cli installer is not enough, I can say that we've planed a production template (similar to development template) to make custom deployments easier. It should be rea

[2019-10-02 14:31] #228 closed, assigned to keulinho

[2019-10-02 15:01] Gainto commented on #197
Is this planned for the next release?
Currently i'm listening to the CartConvertedEvent and add the missing data by myself.

But in general, the AddressTransformer.php and the CustomerTransformer.php only need a new entry, or ?
            'customFields' => $address -> getCustomFields(),

[2019-10-03 08:33] a-buzdugan opened #230 "[Request] Before Events"
Hello,

Is it possible to have events before operations?

Examples:
before page load (so we can force a redirect)
before adding line item to cart (so we can restrict adding to cart with custom validations)

In general, based on your experience with the platform, where it makes sense to have before events I think it would help.

Thank you,
Andrei B.

[2019-10-03 15:32] BogdanChayka opened #234 "npm-sass / gyp errors when running ./psh.phar install on ubuntu 16.04"
`    gyp ERR! System Linux 4.15.0-1044-gcp
        gyp ERR! command "/usr/bin/node" "/app/platform/src/Storefront/Resources/node_modules/node-gyp/bin/node-gyp.js" "rebuild" "--verbose
" "--libsass_ext=" "--libsass_cflags=" "--libsass_ldflags=" "--libsass_library="
        gyp ERR! cwd /app/platform/src/Storefront/Resources/node_modules/node-sass
        gyp ERR! node -v v11.15.0
        gyp ERR! n

[2019-10-03 16:16] BogdanChayka commented on #234
`npm install -g npm@latest`

helped with it, those issues happen with npm version 6.10 that comes with the docker setup, 6.11 works fine!

[2019-10-04 05:50] keulinho commented on #228
Thanks @mschradi for raising this issue, it should be fixed now.

[2019-10-04 10:54] keulinho commented on #229
Hello @a-buzdugan,

thanks for raising this issue, we will fix the `getDelivieries()` example.

Kind regards
Jonas

[2019-10-04 11:44] #229 closed, assigned to keulinho

[2019-10-04 12:52] 0f8 opened #236 "Different Tax Rate for billing country"
Hi,

is it possible to set different tax rates for a product,  depending on the customer address?

With the rulebuilder i am able to configure the product that per country it has a specific price.
The problem is that in the basket the calculation for the tax is always in base of the the base configuration.

example:

| Customer Country | Tax % | Price Gross | Price Net |  Tax € |
| ------ | ------

[2019-10-06 21:15] BogdanChayka commented on #234
Ok so I could reproduce this issue, when you run bin/setup the first time, and then have to rerun it, you might encounter permission errors on linux, after i did sudo chown -R $USER:$USER /project/location it went through to "All commands successfully executed!" :)

[2019-10-07 07:37] OliverSkroblin commented on #215
Hi @BrentRobert,

I created a ticket for it. If you want to create a pull request for it yourself, you can just check out the `\Shopware\Core\Framework\DataAbstractionLayer\Field\PasswordField`.

[2019-10-07 07:37] #215 closed, assigned to OliverSkroblin

[2019-10-07 07:39] OliverSkroblin commented on #219
Hi @Gainto ,

I imported the ticket into our issue tracker and we prioritize the ticket accordingly.

[2019-10-07 07:39] #219 closed, assigned to OliverSkroblin

[2019-10-07 07:44] OliverSkroblin commented on #230
Hi @a-buzdugan,

we do not plan to install "before events" to prevent certain actions in the system. You can better listen to the "after events" to revise certain actions afterwards.
For example to redirect a page load to another route there are several possibilities:
* Rewrite the route in the template
* Register to the Kernel::Request event and set a redirect to your controller action
* ...

To

[2019-10-07 07:44] #230 closed, assigned to OliverSkroblin

[2019-10-07 07:45] BrentRobert commented on #215
Hi @OliverSkroblin, there is indeed a config type 'password', but this does not hash the password to the config table if I remember correct. Every entry in the config table is plain text.

I already worked on a pull request but don't have it working 'correctly' yet.
The SystemConfigService has a set and get method, but is not aware of the 'field' type, which makes it very hard to do mutations on t

[2019-10-07 07:51] OliverSkroblin commented on #236
Hi @0f8 ,

this feauture has not yet been implemented, but is already on our roadmap.

[2019-10-07 07:51] #236 closed, assigned to OliverSkroblin

[2019-10-07 08:05] observant2 commented on #223
Thank you! I'll try that.

[2019-10-07 11:40] S-M-O commented on #227
What a pitty.

Thank you very much,
Stefan

[2019-10-07 11:40] #227 closed, assigned to keulinho

[2019-10-07 13:41] mschradi opened #241 "createProduct JSONAPI format problems"
Hi again,

the request body schema of the swagger documentation for the createProduct API Call isn't correct (/api/v1/_info/swagger.html#/Product/createProduct).
From the swagger info you get the info that the following objects are required:

- type
- id
- attributes->stock
- attributes->taxId
- attributes->price
- attributes->productNumber
- attributes->name
- attributes->createdAt
- attributes->

[2019-10-07 15:05] keulinho commented on #241
Hey @mschradi,

you need  to set the `application/vnd.api+json` Content-type. Furthermore you have to wrap your payload in a `data` object:
[code]

The example payload in the swagger schema looks wrong as the data object is missing there.

[2019-10-08 08:10] #241 closed, assigned to keulinho

[2019-10-08 08:15] keulinho commented on #241
Hello @mschradi

we've updated our open api schema, it should be up to date on the latest master.

[2019-10-08 09:56] JoshuaBehrens opened #242 "Adding a root category gives them a parent_version_id"
I added a root category in the administration and saw on database level it has no `parent_id` which is plausible but it has a `parent_version_id`. How can a non-existing parent have a version id? I know the logic of `version_id`s being always the same unless you start to create an alternating version of something but this is confusing. This might impact other parent/child aware entities.

[2019-10-09 12:33] Gainto opened #244 "Bug in static code analysis / Community Store"
I don't know whether i'm doing something wrong or this is a bug actually.

Given the scenario:
File: custom/plugins/<myplugin>/src/Resources/administration/src/<somefolder>/index.js

The file has the following content:
`const { Component } = Shopware;
Component.override('somecomponent', {
...
});`

When trying to upload the Plug-In to the community store, I get the following error message regardin

[2019-10-09 12:51] shyim commented on #244
Hey,
I have disabled the rule. Should be away with a new scan. Next time please write an email to plugin-manufacturer@shopware.com cause it not related to the product :blush:

and the code review is failed cause your bootstrap class name is wrong

[2019-10-09 12:51] #244 closed, assigned to shyim

[2019-10-10 08:53] pantrtxp commented on #213
Hi @JoshuaBehrens, sorry for the late reply,
I've created a Ticket for this Issue which you can track here https://issues.shopware.com/issues/NEXT-5186

[2019-10-10 11:57] JoshuaBehrens commented on #213
Note: The ticket title is "Language switch verwirft Daten" but it should be "Switch durch language info verwirft Daten". The sw-language-switch works fine :)

[2019-10-11 09:29] #199 closed, assigned to pantrtxp

[2019-10-14 06:32] OliverSkroblin commented on #242
Hi @JoshuaBehrens,

this is currently still a problem which we cannot solve so easily because the `\Shopware\Core\Framework\DataAbstractionLayer\FieldSerializer\ReferenceVersionFieldSerializer` cannot check if a value is set in the corresponding field.
However, we are aware of the problem and will work out a solution.

[2019-10-14 07:05] JoshuaBehrens commented on #242
Cool to see you guys already working on that one.

[2019-10-14 10:46] BogdanChayka opened #253 "[Feature Request] Wishlist functionality"
Hey, when is the wishlist functionality coming? It's a core feature in my opinion

[2019-10-14 10:57] #223 closed, assigned to pweyck

[2019-10-15 06:41] pantrtxp commented on #178
Sorry it took so long, but I'm on it. Will probably be merged today

[2019-10-15 07:04] pantrtxp commented on #213
done :heavy_check_mark:

[2019-10-15 08:05] #178 closed, assigned to pantrtxp

[2019-10-15 11:17] JoshuaBehrens commented on #178
Nice. Thanks :blue_heart:

[2019-10-15 11:22] JoshuaBehrens commented on #213
I am waiting for the commits to see your implementation and really interested in your code. Thanks for solving it :blue_heart:

[2019-10-15 11:47] pantrtxp commented on #213
hold up :sweat_smile: I've just updated the title to your suggestions. I have not solved this issue. Sadly I can't even tell you when exactly this will be fixed.

[2019-10-15 11:50] pantrtxp commented on #253
Hi @BogdanChayka, this feature is definitely on our to-do list. Sadly I can't just yet tell you when this will be implemented.

[2019-10-15 12:01] JoshuaBehrens commented on #213
:o: :nose:
Got that now. I think I just have to wait a little longer then :man_shrugging:

[2019-10-15 12:18] pantrtxp commented on #213
Sorry to put you through this rollercoaster of emotions. :confused: :smile:

[2019-10-15 15:10] BogdanChayka commented on #253
@pantrtxp alright, will it be at least in 6.1 ? because my customer expects it in his relaunch

[2019-10-16 09:54] tanmarpaul opened #254 "Warning: Duplicate HttpCacheWarmUpCommand"
Not that big of an issue in _src/Storefront/Framework/Command/_

`Warning: Ambiguous class resolution, "Shopware\Storefront\Framework\Command\HttpCacheWarmUpCommand" was found in both "/home/vagrant/shopware-dev/vendor/shopware/platform/src/Storefront/Framework/Command/HttpCacheWarmupCommand.php" and "/home/vagrant/shopware-dev/vendor/shopware/platform/src/Storefront/Framework/Command/HttpCacheWar

[2019-10-16 20:30] Gainto opened #255 "Server-Side validation fails."
There seems to be an issue when editing an address within the profile.
given the route: "frontend.account.address.edit(.save)".
If you remove the required attribute of a mandatory field (to be able to submit the form), i'd expect the validator to validate the data and output the errors in the frontend.

instead I get the following error:

Uncaught PHP Exception Symfony\Component\Routing\Exception\

[2019-10-17 05:56] mitelg commented on #255
hey @Gainto
thanks for reporting this issue. could you please check, if this still exists in EA2 and/or current master?

[2019-10-17 06:20] pantrtxp commented on #253
Sorry to tell you but it is not planned yet. Maybe there will be a plugin from the community for it.
The SW6 wish list will presumably be slightly different as well. More like a persistent shopping cart AFAIK, so maybe a plugin would fit your needs better.

[2019-10-17 06:33] keulinho commented on #254
Hey @tanmarpaul,

thanks for raising this issue, we've found the underlying problem and will fix it.

Kind regards
Jonas Elfering

[2019-10-17 07:22] Gainto commented on #255
hey
sure, tested in in EA2 and Master.
I can confirm that this still exists in both versions.

[2019-10-17 07:29] Gainto commented on #255
[255.mov.zip](https://github.com/shopware/platform/files/3737891/255.mov.zip)
Please see the attached video. (Captured in EA1.2)

[2019-10-17 08:31] #254 closed, assigned to keulinho

[2019-10-17 11:14] #255 closed, assigned to mitelg

[2019-10-17 11:32] BogdanChayka commented on #253
@pantrtxp I would do a plugin, but so far only extending frontend works, I can't override Storefront PHP Classes in plugin for some reason and there is no real documentation on that, for example I would like to override the ProductLoader, instead I have to work with the API

[2019-10-17 12:24] keulinho commented on #253
@BogdanChayka what are you trying to achieve?
We throw events for most use cases in the Storefront part, so there shouldn't be a need for overriding.
Did you check the `ProductLoaderCriteriaEvent`? What are you missing there?

[2019-10-18 08:43] dipsaus9 opened #256 "500 status when calling enpoints in sync with sw-context-token"
I'm using JavaScript to fetch data from the API with a sw-context-token included. The sw-context-token I generated via the POST request on the checkout/cart endpoint. I sometimes recieve a 500 status fetching the data. The error is hard to read but it says something like: An exception occurred while executing 'INSERT INTO cart. Can anyone help me out here? This problem won't happen if the data is

[2019-10-18 14:42] Gainto opened #257 "Registration: Phone number validation"
If you go to "Settings -> Login / Registration" and activate the field "Phone number field required",
the frontend-validation of the phone number works just fine during the registration process.

There seems to be no backend validation though.
When I remove the "required" flag out of the DOM manually, there seems to be no backend validation and the registration process is successful.

Tested in EA

[2019-10-19 07:44] almare commented on #151
I think I have to reopen this issue. I ran into a similar problem described by Joshua.
What happens if I would like to extend Joshuas Product with an gift package extension. I extend the product form with an selection of giftpackages. Do I also have to overwrite the product with an custom uuid like Joshua did, because I don't know if the product uses his plugin extension or not. If yes, does his e

[2019-10-19 15:44] JoshuaBehrens commented on #151
I expect that our plugins would not be compatible at first.

You have to reverse the tree. You add gift packages and their children are the gifted/wrapped products.

[2019-10-20 09:52] BogdanChayka opened #258 "[Feature Request] Duplicate Product"
It's not possible yet to duplicate the product in the admin. For some reason in the database as well, is it encrypted?

[2019-10-20 22:19] BogdanChayka opened #259 "Performance issue after latest pull"
The admin area seems to lag after last pull, anyone experienced that?

[2019-10-21 08:40] almare commented on #151
This already a problem now for me. I have 2 plugins which could add childs to the same product on different combinations. The current situation make it impossible to add different combinations and additionally it's incompatible to other developer extensions. The example of the gift package is just a simplification, so what should i do in the case described above with 2 plugins. Correct  me if I am

[2019-10-21 08:45] LighthouseIVM opened #260 "SalesChannelMappingException"
Hello,

after completing the docker installation, I cannot access the storefront because it says 'SalesChannelMappingException'

or
'

(1/1) SalesChannelMappingExceptionUnable to find a matching sales channel for the request: http://*IP*:8000/". Please make sure the domain mapping is correct.
--
in RequestTransformer.php line 69
at RequestTransformer->transform(object(Request))in index.php line 80

[2019-10-21 09:10] keulinho commented on #260
Take a look in the `sales_channel_domain` table, there is a `url` column by default it is set to `http://localhost:8000`, you can change it directly in the DB to your url.

But it is better to create an `.psh.yaml.override` file inside the development folder to change the default setting for your APP_URL.

Put following content inside your `.psh.yaml.override`:
[code]
After that run `./psh.phar in

[2019-10-21 10:35] LighthouseIVM commented on #260
Thank you, it worked out for me, frontend is reachable but now I have some issues accessing the backend
Stacktrace:
''Symfony\Component\HttpKernel\Exception\NotFoundHttpException:
No route found for "GET /backend"

  at vendor/symfony/http-kernel/EventListener/RouterListener.php:138
  at Symfony\Component\HttpKernel\EventListener\RouterListener->onKernelRequest(object(RequestEvent), 'kernel.reques

[2019-10-21 11:24] mitelg commented on #260
please have a look at our documentation https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/startup-guide
You are probably looking for the administration interface, which could be found under `/admin`

[2019-10-21 11:24] #260 closed, assigned to keulinho

[2019-10-21 11:35] jleifeld commented on #259
Hey @BogdanChayka,

can you specify where do you found these performance issues? There was a bootstrapping refactoring which loads the plugins asynchronous after the login. This can cause a small delay between the login and the final interface. All other aspects in the administration should be the same or better.

Thanks,
Jannis

[2019-10-21 11:41] BogdanChayka commented on #259
@jleifeld maybe I have to execute commands after pull? Is there anything to migrate? Or do I have to recompile the admin?

[2019-10-21 12:27] jleifeld commented on #259
Do you use the watcher for development or the production build? The best way is to reinitialize the administration with `./psh.phar administration:init`. And where do you get the performance issues? This would help me a lot to find the source of your performance issue.

[2019-10-21 13:24] pantrtxp commented on #258
Could you please tell us what you are trying to achieve? You can not just duplicate products in the database due to primary keys and/or unique fields

[2019-10-21 13:26] BogdanChayka commented on #258
![duplicate](https://user-images.githubusercontent.com/3680195/67209106-082b6e80-f417-11e9-873a-d0e052ae39bf.PNG)
In products I'd expect the function "Duplicate" besides edit and delete, just like in WordPress.

[2019-10-21 13:27] #180 closed, assigned to tobiasberge

[2019-10-21 13:27] #184 closed, assigned to Staff-d

[2019-10-21 13:28] #208 closed, assigned to pantrtxp

[2019-10-21 13:28] #218 closed, assigned to Staff-d

[2019-10-21 13:39] ssltg commented on #197
Sorry for the late answer.
The Event on the documentGeneration will come in the next Release. But we are still unsure what solution we will take for customFields for the orders. We don't want to duplicate every customField "just in Case". So currently you need to hook into the CartConvertedEvent and enrich the data there.

[2019-10-21 13:39] #197 closed, assigned to ssltg

[2019-10-21 13:50] JoshuaBehrens commented on #184
What kind of activity was expected?
Does this mean you don't do anything?

[2019-10-21 14:16] pantrtxp commented on #184
@JoshuaBehrens We closed some issues where no more discussion is necessary. No kind of activity was expected because we created an internal ticket for this issue.

Of course will we work on this issue but you can keep track of the status unter the given link https://issues.shopware.com/issues/NEXT-5055

Sorry that we did not provide any more information in the first place.

Sunny regards
Thorben

[2019-10-21 14:22] pantrtxp commented on #258
If you like, you could create an internal ticket for this issue [here](issues.shopware.com). I can not say when or even if this will be implemented though.
It would need to be discussed internally in the first place.

If you need this asap you could only extend the current code via plugin.

Sunny regards
Thorben Pantring

[2019-10-21 14:54] JoshuaBehrens commented on #184
Ah ok. Was a bit confusing.

[2019-10-22 07:01] keulinho commented on #257
Hey @Gainto,

thanks for raising this issue, a fix is underway.

[2019-10-22 07:12] bystro opened #261 "./bin/console usage flow"
It is imposible to use ./bin/console before `migration` table is created.
https://github.com/shopware/platform/blob/master/src/Core/Kernel.php#L274

In some deployment flows it is impossible to run scripts or use container entrypoint and the only one way is to write and use console command.

[2019-10-22 08:05] #257 closed, assigned to keulinho

[2019-10-22 09:25] ssltg commented on #256
Hi Dennis,

we've looked into this and found the problem. Currently the Cart is tried to be written twice in some cases. This will be fixed soon. I will inform you as soon as the fix is merged to the master. If you need a fix before you can hotfix it by comment line 90 in Core/Checkout/Cart/SalesChannel/CartService.php
($this->persister->save($cart, $context);)

[2019-10-22 13:05] Gainto commented on #197
Hi @ssltg,

well, using the CartConverted Event won't work in every scenario.
The custom_fields field isn't just empty for the customer entity, it's also empty for the billingAddress and shippingAddress (for example).

I can understand the choice, why you don't want to copy every customField just in case.
Maybe the right approach would be to implement an event which fires after an entity has been

[2019-10-22 14:25] pweyck commented on #261
Hello @bystro,

thank you for reporting this. A simple kernel boot should be possible without a database connection. I've create an issue in our issue tracker:

https://issues.shopware.com/issues/NEXT-5307

We're still collecting feedback for a production template. This is one of the issues we want to fix. If there are other issues that would make deployment easier, please report them :)

Best reg

[2019-10-23 05:48] jenskueper commented on #205
We will keep this in mind and try to improve the deprecation workflow for theme config fields. I will close this issue for now.

[2019-10-23 05:48] #205 closed, assigned to jenskueper

[2019-10-23 08:04] pantrtxp commented on #213
Hi @JoshuaBehrens I'd like to close this issue as well, if this is okay for you. You can keep Track of this issue here https://issues.shopware.com/issues/NEXT-5186

[2019-10-23 08:12] DuweDesign opened #262 "register new customer with own customerNumber"
I succsessfully registered a new customer with NodeJs. The customers coming from an ERP.
The issue I have is that shopware overwrite the customerNumber with its own customerNumber.
But I need the customerNumber from the ERP.

[2019-10-23 08:39] JoshuaBehrens commented on #205
Thanks for keeping it in mind. Update from EA1.1 to EA2 worked out fine so far. So for now you do great :blue_heart:

[2019-10-23 08:40] JoshuaBehrens commented on #213
Is there a way to follow tickets on issues.shopware.com? It gets annoying to have all issues as new tab in my browser :D I have a dedicated window full of issues there.

[2019-10-23 09:00] mitelg commented on #213
@JoshuaBehrens I think you can upvote a ticket, and then you should get notifications. (no guarantee though :smile: )

[2019-10-23 09:19] pantrtxp commented on #213
I'll find out @JoshuaBehrens

[2019-10-23 11:06] pantrtxp commented on #213
Sadly you won't get any notifications, this was deactivated a while ago.
I guess we'd better leave the tickets open at github then.

[2019-10-23 12:58] a-buzdugan commented on #197
Thank you for pointing the Transformer event.

What we did on EA6.0 was to:
1. create a LineItemCustom that extends LineItem
2. LineItemCustom supports extra fields in customFields (with getters and setters for every key in customFields)
3. We add into cart the LineItemCustom and cart contains this entity with extra fields (make sure it is a persistent change)
4. After the order we have the extra

[2019-10-24 19:59] ghost opened #263 "Installation Bug"
When i want to install Shopware 6, i get this error:

Slim Application Error
The application could not run because of the following error:

Details
Type: TypeError
Message: openssl_pkey_get_details() expects parameter 1 to be resource, bool given
File: C:\xampp\htdocs\public\recovery\common\src\Service\JwtCertificateService.php
Line: 30

Whole error code: https://pastebin.com/dvHXqUUK

[2019-10-25 07:38] ssltg commented on #262
This should not happen, can you send us the exact API-Request you've send?

[2019-10-25 07:48] Gainto opened #264 "Invoice Document: Logo and Country is Null"
Logo: Even though I added a logo in the document configuration, config.logo remains null, no matter what I do. I would expect the logo to be set when it has been set in the config. In the document_base_config table the corresponding logo_id field is set properly.

country: In the "document_recipient" Block a variable "billingAddress.country.name" is beeing accessed. billingAddress.country seems is

[2019-10-25 10:48] keulinho commented on #263
Hey @flo2000ace,

we don't support Windows for Shopware 6.
On Windows you often run into permission issues, that probably is the underlying problem here, because we can't generate an private/public key pair.

If you are on Windows you can install the installation package inside a virtual machine or in the Windows Subsystem for Linux.

[2019-10-25 10:48] #263 closed, assigned to keulinho

[2019-10-26 15:59] ghost opened #266 "Problem with css at installation"
Hey,

i ran into another problem while installing shopware6.
https://imgur.com/DLDT3KA

Thanks,
Florian

[2019-10-26 16:06] ghost commented on #266
Also /admin after the Url isn't working either.
and with /public/admin its also not working

[2019-10-27 15:07] daMupfel opened #268 "Issue in sidebar filter if no manufacturer specified in any product in this view"
If i open the shop on a page that only shows products without a manufacturer defined i get a javascript error and i can't use filters or the pagination.

JavaScript error:
[code]

Issue solves itself as soon as i add a manufacturer to a product.

[2019-10-28 08:48] ssltg commented on #264
We found the problem with the Logo and fixed it.
The billingAddress can be found in order.addresses: this is an array of addresses and you have to match the id against the billingAddressId. Also we fixed a case, that the country was not fully loaded.

[2019-10-28 12:01] pantrtxp commented on #266
Hi,

did you install shopware via `./psh.phar install`?

Sunny regards
Thorben Pantring

[2019-10-28 13:19] almare commented on #268
I can confirm this behavior. I had imported a set of demo products without a manufacturer. I ran into the same problem.

[2019-10-28 13:45] pantrtxp commented on #268
Hi @daMupfel and @almare.
This is a known issue, since the manufacturer is no longer required.
We already have a Ticket for this behavior but cant find it at this moment

Sunny regards
Thorben Pantring

[2019-10-29 07:28] #258 closed, assigned to pantrtxp

[2019-10-29 07:33] pantrtxp commented on #268
Cloud not find the existing one so I created a new one, just to be sure

You can keep Track of this issue [here](https://issues.shopware.com/issues/NEXT-5360)

[2019-10-29 07:33] #268 closed, assigned to pantrtxp

[2019-10-29 08:22] #264 closed, assigned to ssltg

[2019-10-29 09:52] Gainto commented on #264
Hey @ssltg
Thanks for the reply.

Well, the "document_recipient" Block uses the "billingAddress.country.name"-variable.
This is the default-block provided by shopware.
When the billingAddress can be found in order.addresses, as you mentioned, then this seems to be a bug. Because  "billingAddress.country.name" is always empty

[2019-10-29 21:46] JoshuaBehrens opened #271 "SEO generation for first umlaut generates two uppercase letters"
Having a product named e.g. `übung` generate the SEO name `uebung` which is a common practice :heavy_check_mark:

If `Übung` is the beginning of a word it is written with a capital first letter therefore `Ü` is transformed into `UE` which results in `UEbung` which reads weird for a native-umlautist. It feels like `uc_first` and `un_umlaut` are executed in the wrong order.

Is this intended?

[2019-10-30 12:39] Staff-d commented on #271
Hi @JoshuaBehrens !

Shopware 6 uses [Slugify](https://github.com/cocur/slugify) to convert generated urls to a save representation. The rules to replace capital umlauts can be found [here](https://github.com/cocur/slugify/blob/master/Resources/rules/german.json). As you can see, they map  "Ä" to "AE". According to this [Wikipedia article in german](https://de.wikipedia.org/wiki/Umlaut#Darstellung

[2019-10-30 13:30] pantrtxp commented on #253
@BogdanChayka
Can I close this or do you still ne our support?

[2019-10-30 13:32] JoshuaBehrens commented on #271
Thanks for the detailed explanation and solution. In the referenced wikipedia article it is mentioned that both (`Ä => AE oder Ae`) is fine. So just two opinions clashing here.

[2019-10-30 13:32] #271 closed, assigned to Staff-d

[2019-10-30 13:54] ssltg commented on #264
Hi  @Gainto

you are right, the local variable in the template is called _billingAddress_, didn't saw that.
This local variable is set on the top of the Template from
_{% set billingAddress = order.addresses.get(order.billingAddressId) %}_
so the fix above should fix this issue too (added **addresses.country** to the associations )

[2019-10-30 20:31] ghost commented on #266
Where can i find the file psh.phar?

[2019-10-30 20:40] ghost commented on #266
I want to install it normally not to build plugins or anything else. I want to use it.

[2019-11-04 14:06] patpilus opened #274 "UUIDs in full format (with hyphens) are considered as invalid in Shopware REST API"
**Description**
Whenever I'm trying to pass UUID v4 in full format (with hyphens, eg. `deb6bccd-11de-4c01-9046-73354df7f004` via REST API, Shopware responses with `FRAMEWORK__INVALID_UUID` error:
`Value is not a valid UUID: deb6bccd-11de-4c01-9046-73354df7f004`

[code]

**Possible Solution**
Accept UUIDs both with and without hyphens according to RFC: https://tools.ietf.org/html/rfc4122

[2019-11-04 14:17] JoshuaBehrens opened #275 "Adding the same promotion to the cart fails without a clear reason for the end-user"
**Description**
Adding the same promotion code (or an other code of the same promotion) results in showing the generic error message.

**Possible Solution**
Display the message that the code is already used (maybe even in your own cart).

**Additional context**
A promotion with individual codes fails just with the generic error message. The source of failure when adding the same code or a code of

[2019-11-04 14:19] keulinho commented on #274
Hey @patpilus

thanks for raising this issue.
In fact this is the expected behaviour, as we allowed UUIDs with hyphens before.
You can see the update post: here https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/recent-updates#2019-07-05-uuid-format-change
(the layout of the recent updates seems broken atm)

The reason for disallowing dashed UUIDs is that the server would conver

[2019-11-04 14:19] #274 closed, assigned to nobody

[2019-11-05 15:05] htuscher opened #276 "No integrity constraints in prices API"
**Description**
If you want to sync many prices to the shop, you'll gonna use the `/api/v1/_action/sync` endpoint.
As you don't expect your middleware system to keep track of the UUIDs of every price, an `upsert` with a clear combined key should issue an update and not create duplicate records that violate integrity constraints.

The combination of `productId x ruleId x price.currency x quantitySt

[2019-11-05 15:16] MrMDeluxe opened #277 "failOnError = false not working in Sync Service"
Due to nested transactions, the Sync Service with failOnError = false is not working.
After the first Doctrine Exception, the next Transaction is always marked for rollback only.
So a commit for the next successful payload causes this Exception:
"Transaction commit failed because the transaction has been marked for rollback only."

When i **remove the calls to beginTransaction(), rollBack() and  c

[2019-11-05 16:38] htuscher commented on #276
![image](https://user-images.githubusercontent.com/5076356/68226894-21c1de00-fff3-11e9-90c5-b99afcb41bda.png)

[2019-11-05 16:47] almare commented on #151
@OliverSkroblin any suggestions how to handle this behaviour. Specially if I as a developer don't want to break cart extensions from other developers?

[2019-11-06 06:40] pantrtxp commented on #266
Did you download our package from our website or did you clone this repo from git?

Maybe having a look at our doku [here](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/startup-guide) will help you understand the installation process a litte better

[2019-11-06 06:40] pantrtxp commented on #253
Closed due to inactivity.

[2019-11-06 06:40] #253 closed, assigned to pantrtxp

[2019-11-06 07:02] keulinho commented on #276
Hey @hhoechtl,

upserts by a unique compound key are currently not supported. This limitation doesn't only affect the Sync api, but the underlying DataAbstractionLayer in general.

The upsert method will look for the value of teh primary key field in the payload and if it is ommitted automatically generate a new id, which leads to an insert instead of an update.

Furthermore i don't think that a u

[2019-11-06 07:21] keulinho commented on #276
Here are the ticket links ro follow along:

The ticket for upsert by compound unique keys: https://issues.shopware.com/issues/NEXT-5432

The ticket for better validation for the product prices: https://issues.shopware.com/issues/NEXT-5433

Feel free to add context and comments to those issues.

I'm closing this issue for now, please follow the progress in the issue tracker.

[2019-11-06 07:21] #276 closed, assigned to keulinho

[2019-11-06 08:13] ssltg commented on #277
Hi MrMDeluxe,

thank you for bring this up. This Issue is known and a fix is on its way.

[2019-11-06 09:31] keulinho commented on #275
Hello,

thank you for creating this issue.
I have opened a ticket on our Issue Tracker for you. See the ticket link: https://issues.shopware.com/issues/NEXT-5434

Please use this ticket to track the state of your issue.

[2019-11-06 09:31] #275 closed, assigned to keulinho

[2019-11-07 07:48] #256 closed, assigned to ssltg

[2019-11-07 09:14] PheysX opened #278 "Custom fields in category entity"
**Description**
At the moment, its not possible to create custom fields for the category entity.

We need this custom fields for an internally project, is a solution in progress?

[2019-11-08 06:31] pantrtxp commented on #278
Hi @PheysX,

This is currently not possible. But I've created an internal Ticket for this issue since this has to be fixed
You can keep track of this issue [here](https://issues.shopware.com/issues/NEXT-5448)

Sunny reagrds
Pantrtxp

[2019-11-08 10:31] PheysX commented on #278
Hi @pantrtxp

Can u explain me the problem, maybe we can create a pull request for this issue.

[2019-11-08 12:36] keulinho commented on #278
Hey @PheysX
The backend side should already be done, just the admin component is missing.

Basically you have to add the custom Field card to the `sw-category-detail-base` component. An example of such an card can be found in the `sw-product-detail-base` component.

PRs are always welcomed!

[2019-11-08 13:16] MrMDeluxe commented on #277
That sounds good! Thanks.

[2019-11-08 13:16] #277 closed, assigned to ssltg

[2019-11-08 15:00] pantrtxp commented on #234
Since you resolved the Error yourself I close this due to inactivity.

[2019-11-08 15:00] #234 closed, assigned to tobiasberge

[2019-11-08 16:04] patpilus opened #279 "Use ISO codes / enums instead of UUIDs in REST API"
**Description**
Shopware REST API (eg. SalesChannel API - https://docs.shopware.com/en/shopware-platform-dev-en/api/sales-channel-customer-api?category=shopware-platform-dev-en/api) forces to use UUIDs for 'dictionary' terms like countries of the world, salutations etc.
What is more, these UUIDs are randomly generated during database initialisation. As a result it's impossible to test endpoints on

[2019-11-11 08:51] tyurderi opened #282 "Show exception details in frontend"
**Description**
If you are developing a new plugin and something you are doing is wrong which then throws an exception yet the only output in the frontend I'll get is a message like `Unfortunately, something went wrong.`

At this point I would except the normal behaviour of the Symfony ErrorHandler. My current workaround is the following in `src/Storefront/Framework/Routing/StorefrontSubscriber.ph

[2019-11-13 06:34] pantrtxp commented on #266
Closing this due to inactivity. Hope you could fix your problem :)

[2019-11-13 06:34] #266 closed, assigned to pantrtxp

[2019-11-13 15:23] pweyck commented on #279
Hello @patpilus,

thank you for your feedback. I agree with you that looking up UUIDs for entities with natural primary key is tedious. I've created an issue in our issue tracker:

https://issues.shopware.com/issues/NEXT-5497

Regarding the other solution: I personally dislike magic identifiers. We've removed a lot of them recently and want to remove more. We don't want third-parties to depend on

[2019-11-13 16:24] binaermanufaktur opened #289 "Cannot extend Storefront js Plugin with PluginManager"
Trying to override an existing Storefront Plugin (OffCanvasCart) as in [here](https://docs.shopware.com/en/shopware-platform-dev-en/how-to/extend-core-js-storefront-plugin?category=shopware-platform-dev-en/how-to).
With `./psh:phar storefront:build` from within the container the webpack process compiles js files without error.
Within my storefront/main.js calling the the PluginManager works:
`cons

[2019-11-18 10:15] almare opened #291 "Elasticsearch ElasticsearchProductDefinition functions not called"
**Description**
If I try to extend the elasticsearch with an ElasticsearchProductDefinition class. I would expect that the functions
[code]
would be called. This is currently not the case. This makes it impossible to extend the search with custom fields.

**Possible Solution**
It should work like described in the docs.

[2019-11-18 14:21] BogdanChayka opened #293 "Can't save HTML in Snippets"
**Description**
At the moment when I try to save "supportInfo" the string gets escaped and no HTML is being saved.

**Possible Solution**
Allow saving HTML to Snippets.

[2019-11-18 15:44] tekbird opened #294 "Filter orders based on status"
I want to filter orders based on their status (open, in_progress, ...)

However, the admin API does not seem to do this correctly. In fact, the admin API does not do any filtering at all.

I access the following API:
http://xxxxxxxxxxxxxxx/api/v1/order?filter[0][field]=orderDateTime&filter[0][value]=2019-11-15T14:28:15+00:00&filter[0][expression]=>=&filter[0][type]=multi

The response still contai

[2019-11-19 07:10] chris-dan opened #295 "Missing language flags in Storefront"
**Description**
Since SW6 EA2 the language selection in the Storefront is missing the flags.
![image](https://user-images.githubusercontent.com/55582279/69124144-69407380-0aa3-11ea-8cb2-bf8fbe65626e.png)

To see the language selection you have to use a Storefront with multiple languages and set multiple domains with different languages.
The current git version still has this bug. In EA1 and EA1.1

[2019-11-19 13:14] pantrtxp commented on #259
Closing this due to inactivity

[2019-11-19 13:14] #259 closed, assigned to jleifeld

[2019-11-19 13:15] klarstil commented on #289
Hey @binaermanufaktur,

thanks for creating this issue and excuse the delay please. I tried out your provided use case and it works like a charm. Here's the code I used to reproduce the issue:

[code]

After running the command `./psh.phar storefront:build` I get the following console output in the storefront:

![Screenshot 2019-11-19 at 14 08 31](https://user-images.githubusercontent.com/170133/6

[2019-11-19 13:17] pantrtxp commented on #262
Closing this due to inactivity. If this problem should still occur, please create a new Issue.

[2019-11-19 13:17] #262 closed, assigned to ssltg

[2019-11-19 14:20] #279 closed, assigned to pweyck

[2019-11-19 14:25] ssltg commented on #293
Thank you for bringing this up.
The Problem with the "supportInfo" snippet is, that we don't allow the <small>-Tag currently. If you delete it, the snippet will be saveable. We will figure out wether we allow this tag or change the snippet to a set of allowed tags.

[2019-11-20 07:42] OliverSkroblin commented on #294
Hi @tekbird,

to filter via API I would recommend the `POST /api/v1/search/..` endpoint. Here you can send the filters via JSON:

`api/v1/search/order`
[code]

To filter for the different order states you can use this query:
[code]

[2019-11-20 07:57] OliverSkroblin commented on #291
Hi @almare,

It would be good if you could give some more information about your example implementation:

- Did you decorate the existing ElasticsearchProductDefinition?
- How is your definition registered in the DI container?
- What exactly do you expect from the functions? They are called when the data is indexed.

[2019-11-20 08:25] almare commented on #291
Hi @OliverSkroblin ,
thank you for your response. I followed the guide from here [docu](https://docs.shopware.com/en/shopware-platform-dev-en/how-to/index-entity-to-elasticsearch?category=shopware-platform-dev-en/how-to)

I guess the the registration of my DI container works so far, because I can see the entities inside the elasticsearch index and also the xdebugger stops inside my getMapping func

[2019-11-20 10:34] htuscher opened #300 "Use Composer for Plugins"
**Description**

It would be great if there would be a composer repository to require shopware plugins which also respects all other dependencies from that plugins composer.json.

A possible solution would be to modify the composer installer for the `shopware-plugin` type to remove vendor directories if the plugin is included via composer. Therefore there would be a common standard for shipping de

[2019-11-20 12:01] OliverSkroblin commented on #291
Hi @almare,

the `extendCriteria` function is called here: https://github.com/shopware/platform/blob/master/src/Elasticsearch/Framework/Indexing/IndexingMessageHandler.php#L112

and the `buildFullText` is called here:
https://github.com/shopware/platform/blob/master/src/Elasticsearch/Framework/Indexing/IndexingMessageHandler.php#L157

If i add a debug state in the original `ElasticSearchProductDef

[2019-11-20 12:11] almare commented on #291
Regarding the `buildFullText`
Right this is the place where the original shopware ElasticSearchProductDefinition is called. I completely agree. I also see the shopware output, but I also would like to add my data :-)

At this point I thought my custom `buildFullText` function from my custom ElasticSearchProductDefinition class would be executed, but this doesn't happen. This is exactly my problem.

[2019-11-21 15:10] #282 closed, assigned to ssltg

[2019-11-21 15:15] mitelg commented on #282
thanks for your contribution @tyurderi :+1: :tada: :blue_heart:

[2019-11-22 10:25] tekbird commented on #294
@OliverSkroblin , hello, thanks for the support. it is indeed the right way.

[2019-11-22 10:25] #294 closed, assigned to OliverSkroblin

[2019-11-22 11:10] patpilus opened #303 "Symfony 5.0 support"
**Description**
As Symfony 5.0.0 was released (https://symfony.com/blog/symfony-5-0-0-released) please consider upgrading to the new major version.

Currently Symfony components are locked at `4.3.8` version (eg. https://github.com/shopware/platform/blob/master/composer.json#L65) in `composer.json` so it's impossible to update to 5.0 or even 4.4 LTS.

[2019-11-22 11:46] PheysX opened #304 "Internally seo generated links in sw-text-editor"
**Description**
Choose between internally and externally links in the sw-text-editor component in administration to link products and categories with seourls.

Is Shopware open for that? We will do it for our company anyways, so we can pull it to platform.

[2019-11-22 13:02] mnaczenski commented on #304
It should be already possible to link a seo url with a specific combination of uuid and placeholder.

https://github.com/shopware/platform/blob/e20ad19c2de3c3ccc355a0fd4dfafcb5def0bbe9/src/Core/Framework/Seo/SeoUrlPlaceholderHandler.php#L52

`<a  href="124c71d524604ccbad6042edce3ac799/detail/uuid#">
   Link Title
</a>`

So it should be possible to Link products, categories and so on with their tec

[2019-11-22 13:57] PheysX commented on #304
Good to know but it should be possible to select them as editor in the gui with the sw-entity-single-select component.

I would add this element to the sw-text-editor-toolbar-button component.

[2019-11-22 15:22] keulinho commented on #303
We are already working on Symfony 4.4 and Symfony 5.0 support, but we probably have to wait for some external dependencies until they add support for the new Symfony versions, especially 5.0.

We will update to 4.4 as soon as possible, when we`re going to update to 5.0 is not only a question of being technically able to do it, but is also a strategically question, as the 4.4 version will provide L

[2019-11-23 09:14] mnaczenski commented on #304
Sure, an UI-component for selecting entities (categories, products) would be nice. Feel free to make an PR :)

Please keep in mind, that urls might change and the solution above should be "bullet proof", so linking directly with the SEO Url won't be a good solution.

[2019-11-23 15:04] #278 closed, assigned to pantrtxp

[2019-11-25 07:25] djedrzejewski opened #306 "Support for multiple accounts with same email, but different sales channel"
We are trying to introduce multi-shop functionality. For now, we are working with adding accounts with same emails, but - for different SalesChannels. Unfortunately, CustomerCreateValidation have unique constraint on email column - which stops us from using combination of Email and SalesChanneld columns in customer as primary key.

I’ve found place in code where it occurs
https://github.com/shopwa

[2019-11-25 10:14] rh-elio opened #307 "Symfony 4.4 release broke SW6"
**Description**
Deleting the composer.lock in an existing project tagged to EA2 (or any other way of resolving the dependencies freshly) and running a composer install breaks Shopware.
The problem probably relates to the release of Symfony 4.4 4 days ago and a wrongly tagged version. The error you receive:
![image](https://user-images.githubusercontent.com/55780795/69531007-69dd7c00-0f73-11ea-8526

[2019-11-25 10:41] mitelg commented on #307
hey @rh-elio
thanks for reporting this issue. I already created a PR to fix it. Should be merged soon :+1:

[2019-11-25 13:02] pweyck commented on #307
Hi @rh-elio,

I'm sorry, but we wont fix this. because we would have to replace the tag or release a new version.

Starting with 6.1 we're going to have stable branches with patch releases, to fix these kinds of issues.

Kind regards
Patrick

[2019-11-25 13:02] #307 closed, assigned to mitelg

[2019-11-26 06:48] Phil23 commented on #307
Hey Guys, some additional infos to this. Actually we are in the last steps of a release candidate for shopware 6 final release and everyone is just working hard to bring you the RC at the beginning of december. With that we will also publish a new production template as a pendant to the development template. This new template will give you more tools for production environments and also more contr

[2019-11-26 06:49] pantrtxp commented on #300
Hi @hhoechtl,

sorry for the late reply.

Currently this is not planned. We'll think about realising this when we upgrade composer to Version 2 or above.

Sunny regards
Pantrtxp

[2019-11-26 06:49] #300 closed, assigned to pantrtxp

[2019-11-26 08:55] joanna-gil opened #309 "The color and font settings do not appear in the admin panel"
**Description**
After installing "pure" shopware6, there is no way to change colors and fonts in the admin panel, also for the default theme. No error appears in the console either

![Screenshot from 2019-11-26 09-53-30](https://user-images.githubusercontent.com/57439261/69614075-d79cad00-1032-11ea-9430-6ee1a4d64302.png)

[2019-11-26 09:02] keulinho commented on #309
Hey @joanna-gil,

thanks for raising this issue.

First of all i've transfered this issue to `shopware/platform`, as this is the repo where we handle the Shopware 6 Admin, Core and Storefront.

Can you try to run the `./psh.phar administration:build` command in your project root directory, that should already fix your issue.

Kind regards
Jonas

[2019-11-26 09:11] joanna-gil commented on #309
Hi @keulinho! Thank you for such a quick response.

Unfortunately, the execution of this command did not add the ability to change colors and fonts, there is still no panel part. The `./psh.phar administration: build` command was issued without any error. I'm working on Linux with a Shopware docker container

[2019-11-26 09:53] ssltg commented on #293
Hi @BogdanChayka ,

are you on an EA Version or on the current master? With the master it should work now.

[2019-11-26 13:58] mschradi opened #311 "api createProduct return code 200"
**Description**
If I try to create a product with the API, I get the return code 200 instead of 201, like the documentation says.

**Possible Solution**
fix the statuscode if the product is successfully created

**Additional context**

[2019-11-26 14:12] pantrtxp commented on #309
Hi @joanna-gil

This behavior was fixed in [this](https://github.com/shopware/platform/commit/78328caedd198fa9876a51cf3db945313656428d) commit today. Please rebase with our master and all should be fine

Sunny Regards
Pantrtxp

[2019-11-26 14:12] #309 closed, assigned to keulinho, pantrtxp

[2019-11-26 14:33] mschradi commented on #311
this ist the raw json (application/vnd.api.json)
`{
    "data":{
        "type":"product",
        "id":"",
        "attributes":{
            "active":true,
            "stock":1,
            "taxId":"68d46d674bc0411ebb97d03dad270135",
            "price":[{
                "currencyId":"b7d2554b0ce847cd82f3ac9bd1c0dfca",
                "net":15.0,
                "gross":10.0,
                "

[2019-11-26 14:33] joanna-gil opened #312 "Error after pull from master"
**Description**
After pull from master (from Shopware development and platform) had error when try reload page or e.g. clear cache from docker console.

**Possible Solution**
Find problem in platform/src/Core/Framework/DependencyInjection/message-queue.xml on line 82, 83 and 84. When comment this line, shopware in working fine, but it is still not possible to set colors and fonts in the admin pane

[2019-11-26 14:36] keulinho commented on #312
Hey @joanna-gil

We've updated our symfony dependencies to version 4.4 today.
Please run `composer update` in your development folder.

After that your system should run smoothly again.

If there are any problems left please let us know.

Kind regards
Jonas

[2019-11-27 08:57] joanna-gil commented on #312
@keulinho
Unfortunately, there was a problem after updating dependency. After updating, I am unable to save anything in the admin panel - `Failed to load resource: the server responded with a status of 500 (Internal Server Error)` appears. I have such a response from the server. Is there any way to change server permissions?
[code]

[2019-11-27 09:26] joanna-gil commented on #312
After `./psh.phar administration: build` there is still a problem - I can't add new products or change old ones

[2019-11-27 09:42] binaermanufaktur commented on #312
@keulinho
`composer update` logs the following:
[code]

[2019-11-27 09:48] keulinho commented on #312
@binaermanufaktur
After updating the platform repo please make also sure to update your development repo before running `composer update`, then the update should succeed.

[2019-11-27 09:50] keulinho commented on #312
@joanna-gil
are there any console output or failing requests?
As the administration works on current master and master of the development template, both on my local setup and in our CI enviroment

[2019-11-27 09:51] keulinho commented on #303
Yes you may have already seen we've updated our symfony dependencies to 4.4.0

[2019-11-27 09:54] joanna-gil commented on #312
Yes, there are errors in the console
`PATCH http: // localhost: 8000 / api / v1 / product / 1b80fc22dee743e495b82522ee481b8f 500 (Internal Server Error)` and on the network I have failed the request with the above response.
I've got it all on a Linux docker

[2019-11-27 09:56] keulinho commented on #312
Can you paste the content of the response here?
If it is too big please create a gist with the content

[2019-11-27 10:01] joanna-gil commented on #312
https://gist.github.com/joanna-gil/bf21649c7911986a46088e5f45c778be
https://gist.github.com/joanna-gil/c0931693b60ef5f51981d50af0bd8dfa

[2019-11-27 10:08] keulinho commented on #312
@joanna-gil
your DB schema is not up to date.
If your on a dev-enviroment where you work with demo-data that can be dropped and easily recreated it is best to run `./psh.phar install` after each update, this will e.g. apply DB migrations, build the administration and the storefront.

When you don't want to loose all your data you have to run `bin/console database:migrate --all` after each update a

[2019-11-27 10:56] joanna-gil commented on #312
Ok, thanks for the quick reply, now everything works!

[2019-11-27 11:27] keulinho commented on #312
Nice thanks for your confirmation @joanna-gil
Closing this for now

[2019-11-27 11:27] #312 closed, assigned to keulinho

[2019-11-27 12:01] binaermanufaktur commented on #312
@keulinho Thanks, everything fine!

[2019-11-27 12:08] htuscher opened #315 "ClassMap Authoritative prevents Plugin loading"
**Description**
If you use the `optimize` flag for composer (which you should => much faster), the PluginLoader stops working as it can't find the plugin classes.

The plugins are loaded by `\Shopware\Core\Framework\Plugin\KernelPluginLoader\KernelPluginLoader::registerPluginNamespaces` by using `addPsr4`. But PSR4 infos are only used, if composer hasn't set `classMapAuthoritative` (optimized).

*

[2019-11-27 14:02] joanna-gil opened #317 "Footer links"
**Description**

Footer links do not work. I added a catalog to the footer (admin panel in Storefront> Navigation> Entry point footer navigation), it appears on the page, but if I want to go to the link that has been created (in the admin panel the link is active and has an assign layout) the page takes me to main page. Just now I was pull the latest changes from development and platform repositor

[2019-11-28 09:28] pantrtxp commented on #306
Hi @djedrzejewski,

you can create a ticket for this behavior [here](https://issues.shopware.com)
we will then gather interest and discuss this issue internally

Sunny regards
Pantrtxp

[2019-11-28 12:01] pweyck commented on #311
Hello @mschradi,

thanks for reporting it. We already have an issue for that in our issue tracker:

https://issues.shopware.com/issues/NEXT-831

Kind regards

[2019-11-28 13:54] #315 closed, assigned to pweyck

[2019-11-28 14:27] OliverSkroblin commented on #291
Hi @almare,
sorry for the late response. I created a test plugin which decorates the original product definition of the elasticsearch.

https://github.com/OliverSkroblin/sw6-test-plugin

The `buildFullText` will be called from the `php bin/console messenger:consume` command

[2019-11-28 14:32] almare commented on #291
Now I understand my mistake. I completely misunderstand the demo code. Thank your very much for clarifying how it works.

[2019-11-28 15:28] taltholtmann commented on #317
Thank you very much @joanna-gil :blue_heart::blue_heart:
We are already informed about the problem, here is a link to the issue page for tracking the status: [NEXT-5322](https://issues.shopware.com/issues/NEXT-5322)

[2019-11-28 15:28] #317 closed, assigned to taltholtmann

[2019-11-28 15:37] colinmurphy commented on #317
For what it is worth you need to have the links under the main root category of the store in order for the links to work. There is a single line of code that checks to see if the footer link is a sub-category of the root category.

As a workaround, I put the footer links into a sub-category "CMS" under the root category and then I then updated the SEO links to strip out the link "cms/". I hope tha

[2019-11-29 06:27] mibuntu opened #322 "Forgot password api"
**Description**

Do you think about adding a "forgot password" REST Api endpoint?
**Example**

[2019-11-29 07:18] tobiasberge commented on #295
Hi Chris,

thanks for reporting this issue.

This is caused by an association inside `src/Storefront/Pagelet/Header/HeaderPageletLoader.php`.

If you have a look inside the `loadLanguages` method in line 102 you will find this code:
[code]
This is currently not working and the language code inside the template is `null`. Thats why the flags are not shown because they need a valid language code.

I

[2019-11-29 07:46] OliverSkroblin commented on #291
You're welcome ;)

[2019-11-29 07:46] #291 closed, assigned to OliverSkroblin

[2019-11-29 10:16] patpilus commented on #303
@keulinho thanks 👍I hope that's not the end and soon we will see 5.0 support on the horizon :)

[2019-11-29 13:27] mschradi opened #326 "jsonapi updateTax badRequest"
**Description**
_Using v6.0.0 Early Access 2_

I tried to update a TaxRate with the API.
At first I get the Tax model with getTax.
[code]
After changing the taxRate to 7.0 and serializing the model to the correct json format it looks like this:
[code]

The answer from the server is the following:
[code]

If I try to createTax with the same json, it works. In the documentation update and create are

[2019-11-29 15:02] stefanpoensgen opened #327 "Not able to override templates in storefront/utilities/"
**Description**
Since https://github.com/shopware/platform/commit/a4ad9346ff6bbc28181be040defa9559c827b6c9 you are not able to override templates from storefront/utilities/ e.g. storefront/utilities/icon.twig.html

There might be something wrong with the bundle sorting in https://github.com/shopware/platform/blob/master/src/Storefront/Theme/Twig/ThemeInheritanceBuilder.php#L32

**Possible Solution

[2019-11-30 16:57] snax4a opened #328 "First run wizard domain verification issue"
**Description**
I have installed shopware 6 on OS X with bitnami installer and it looks like there is some issue with domain verification API, I cant finish firtst time run wizard it fails with this error: Internal Server Error
License host verification failed for domain

**Additional context**
Here is a screenshoot of browser network tab:
![shopware_issue](https://user-images.githubusercontent.co

[2019-11-30 18:57] snax4a commented on #328
I managed to fix that.
It was because my shopware account had only v.5.6.2 shop created in merchant area
I added another shop with v 6.0.0 ea-2 and it worked.

You should handle this case in the API response

[2019-12-01 11:48] macster84 opened #329 "In-depth guide administration module documentation incorrect"
**Description**
The in-depth guide documentation contains an error that will ultimately prevent the plugin's administration module being built by webpack.
In file `070-administration.md`, section '_Setting up the the administration_', the `main.js` must be placed in the `Resources/app/administration/src `directory (subdirectory `src` is currently missing). This was forgotten in commit '_NEXT-4148

[2019-12-01 16:27] labtrix-media commented on #327
The same for /storefront/section/cms...

[2019-12-02 07:50] OliverSkroblin commented on #327
Hey @stefanpoensgen,

Thank you for pointing that out. You're right here was still missing an array reverse. I have adapted the whole. Should be sync on Github right away.

[2019-12-02 07:50] #327 closed, assigned to OliverSkroblin

[2019-12-02 07:53] pantrtxp commented on #322
Yes, we should. This was obviously forgotten during development. I've created an internal ticket for this issue.

Thank you for bringing this up :+1:

Sunny regards
Pantrtxp

[2019-12-02 07:53] #322 closed, assigned to pantrtxp

[2019-12-02 09:00] chris-dan commented on #295
Hi Tobias,

thanks for your answer. I am looking forward to migrate from SW5 to SW6.

[2019-12-02 11:41] patpilus opened #330 "Shopware Translator fallback catalogue circular reference when using with Symfony 4.4"
**Description**
After updating to the latest `shopware/core` #369823e master I'm getting exception during execution of components which are utilising `Translator` component (eg. `Validator`):
[code]

That's probably due to this change in symfony: https://github.com/symfony/symfony/pull/32106

**Additional context**
`Symfony\Component\Translation\MessageCatalogue` `getFallbackCatalogue()->getLocale

[2019-12-02 12:37] keulinho commented on #329
Hey @AlPhi247,

thanks for raising this issue we've updated docs and the change should be deployed soonish.

Kind regards
Jonas

[2019-12-02 12:45] keulinho commented on #330
Thanks for bringing this up @patpilus, but unfortunately i can't reproduce this behaviour.
On my machine `$catalog->getLocale()` returns `en-GB` which works.

I suspect that some configuration in your environment leads to the described bug.

Can you provide more information on how to reproduce this? Ideally you could add a failing test to the `TranslatorTest`, to verify that this issue won't come

[2019-12-02 14:23] #329 closed, assigned to keulinho

[2019-12-02 21:09] PheysX commented on #304
Hey Moritz,

i would create a tabs component (internal, external) and add a select to the internal tab to choose the entity who display an entity input. Also i would  add a title input. Something like this:

![Unbenannt](https://user-images.githubusercontent.com/28557712/69995301-1d380900-1550-11ea-89ff-45c6279bb410.png)

What do you think about my graphic masterpiece? :)

[2019-12-03 06:48] mnaczenski commented on #304
Looks good!
I think this would be a huge improvement for shopware.

[2019-12-03 07:04] OliverSkroblin commented on #327
@stefanpoensgen here is the fix: https://github.com/shopware/platform/commit/d4d00ac736043bf30fa25253c9ce2aae2c1a314a

[2019-12-03 07:47] patpilus opened #332 "PHP 7.4 - unknown password hashing algorithm: DEFAULT, incompatible dependencies"
**Description**
After upgrading to PHP 7.4 I'm getting warning during password hashing:
[code]

**Possible Solution**
Use one of available options returned by `password_algos()`, which currently are: `2y`, `argon2i` or `argond2id`.

Alternatively use constants like `PASSWORD_DEFAULT`, as stated in:
https://wiki.php.net/rfc/password_registry#backward_incompatible_changes

[2019-12-03 07:54] pantrtxp commented on #306
@djedrzejewski I'm closing this due to inactivity.
If you still have some issues feel free to create a new issue :)

Sunny regards
Pantrtxp

[2019-12-03 07:54] #306 closed, assigned to pantrtxp

[2019-12-03 08:01] tyurderi opened #333 "http request cancellation"
**Description**

Yet it is impossible to cancel a pending http request using [this way](https://github.com/axios/axios#cancellation) because you can't import the `axios` module inside my plugin (it tells me it is not resolved).

**Possible Solution**

Make `axios.CancelToken` somewhere global accessible.

[2019-12-03 08:02] patpilus commented on #330
@keulinho well, from my side it seems that `default_locale` defined in https://github.com/shopware/core/blob/12f100daba8eede66232eada174a1f4aa831e247/Framework/Resources/config/packages/framework.yaml#L12 is `en_GB`.

Overriding `default_locale` to `en-GB` in `framework.yaml` temporarily solves the circular reference issue, but results in empty `MessageCatalogue`:
[code]

[2019-12-03 08:04] pantrtxp commented on #328
Hi @snax4a

Happy to hear that you could fix this by yourself. We should provide a more verbose error message though. I've created an internal ticket for this behavior.

Thank you for bringing this up. :+1:

Sunny regards
Pantrtxp

[2019-12-03 08:04] #328 closed, assigned to raknison, pantrtxp

[2019-12-03 08:07] keulinho commented on #332
Hey @patpilus,

that's weird as it runs on our ci, probably there are differences with different php builds.

However a fix is on the way.

Kind regards
Jonas

[2019-12-03 08:11] patpilus commented on #330
If you're using Symfony Translator components inside your own Translator, isn't cleaner to use underscores instead of dashes for locales like Symfony does (eg. en_GB, en_US etc.)?

In my opinion introducing dashes gives no value, but creates only additional mess.

[2019-12-03 08:18] SannePetersNL opened #334 "Installing shopware on Mac: Stuck on (25/40) Starting > npm clean-install --prefix vendor/shopware/platform/src/Administration/Resources"
Hello, I'm following your guide (https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/mac-os-x#install-npm-node) to install Shopware on Mac using MAMP.

At the 'Start Shopware 6 setup' paragraph the command crashes with the following message:

`(25/40) Starting

	Usage: npm <command>

	where <command> is one of:
	    access, adduser, audit, bin, bugs, c,

[2019-12-03 08:20] patpilus commented on #332
@keulinho thanks. I've used `7.4-fpm-alpine-3.10` from docker hub: https://hub.docker.com/layers/php/library/php/7.4-fpm-alpine3.10/images/sha256-74933e05838128c933d7a46dfa718f243a64925afdaa380d133e43df5012f4bf.

I've just noticed another issue regarding php 7.4: shopware/core dev-master requires zircote/swagger-php 3.0.2 (https://github.com/shopware/core/blob/369823e58b01a0ebbdc7efad44d17f154212f

[2019-12-03 08:46] keulinho commented on #330
We had for a long time dashes and underscores in locales and converted them in multiple places, because the vue translation component needs dashes

Therefore we refactored everything to just have one way of handling locales and decided to use dashes. We based our decision on this RFC https://tools.ietf.org/html/rfc5646.