[2020-04-08 05:41] pantrtxp commented on #728
Hi @hhoechtl,

Thank you for bringing this up. We'll have a look at this as soon as we can. :blue_heart:
You can keep track of this issue with the provided link above.

Sunny regards
Pantrtxp

[2020-04-08 13:24] themazim opened #731 "Not able to store documents settings"
**Description**
Not able to store documents settings when editing a document.

Can only change document name, but settings like type, show headline  and everything else cannot be changed when accessed.

This did work before, out of a sudden it does not work any longer (not even with newly created documents)

[2020-04-08 13:30] themazim opened #732 "all documents deleted (invoice, credit, storno, delivery note)"
**Description**
all documents have been deleted for no reason.

Did adjust all of them with working test (invoice worked 100%)

some days later, updated to 6.1.5 (2 days ago) edited some content in the meantime and just wanted to create a new invoice for a customer, which was default document with no data, checked the documents and all were gone.

I did not delete them myself.
Running 6.1.5
I do n

[2020-04-08 13:36] themazim opened #733 "content changes are reverted (i.e. shipping details, right of recission)"
**Description**
often changes, which worked 100%, also shown in the FE, change back to a previous (WTF?!) version.

This mostly happens to content changes, you change some text and it states: text saved, FE shows changes, but after a while, changes are reverted for

**Possible Solution**
only issue I maybe could think of, old version opened in another tab on another PC, and saved automatically ove

[2020-04-08 14:57] themazim opened #735 "no footer attached to delivery status changed email"
**Description**
defined footer is not attached to delivery changed email.

**Possible Solution**
attach footer to delivery status changed email.

[2020-04-09 11:27] htuscher opened #736 "Queue status in administration"
**Description**
If you have a large shop running with a lot of modifications, it's possible that you may run into problems with workers.

This is a necessary information for the shop administrator and should be visible in the administration interface.

Professional setups might use Grafana, but some basic stuff in the administration would be great.

**Example**

Something like the Ruby Sidekiq Das

[2020-04-10 09:51] patpilus opened #738 "Outdated files in shopware/core release packages - missing NEXT-5398 feature"
**Description**

It seems that at least [NEXT-5398](https://issues.shopware.com/issues/NEXT-5398) feature was never released (neither in 6.1.1 as stated in https://www.shopware.com/en/changelog/ nor the newest 6.1.5).

For example, as you can see `MigrationCollectionLoader` was updated 5 months ago:
https://github.com/shopware/core/blame/master/Framework/Migration/MigrationCollectionLoader.php#L26

[2020-04-12 09:40] themazim opened #739 "Dashboard Order Overview missing orders"
**Description**
Orders between 0:00 and 1:59 are tracked as orders for the previous day.

**Possible Solution**
save timezone according to shop time (Europe/Berlin instead of UTC) OR request order stats with a proper offset to shop time.

[2020-04-12 09:42] themazim opened #740 "Elasticsearch not able to find products by tags / description."
**Description**
using elasticsearch as search engine with the provided elasticsearch package, customers are not able to find products by description nor tags. Seems only the meta description is used as searchable field.

**Possible Solution**
add all product information to searchable field (fulltext?) or search through and add tag / description fields into ES.

[2020-04-12 13:51] themazim opened #741 "cache not fully cleared on bin/console cache:clear"
**Description**
Clearing the cache with `bin/console clear:cache` does not fully clear cache folder, instead artifacts are left behind and pile up.
Seems the folder is being written while executing the cache:clear, thus leading to an issue while deleting and stopping the delete process.

**Possible Solution**
instead of allowing writes in the currently used cache folder, disable the use of said fo

[2020-04-12 22:51] moorl opened #742 "Feature request: make it possible to add media attachments through event"
https://github.com/shopware/platform/blob/2b599a79d9a41d1f9dddcc34a232225594eff5e1/src/Core/Content/MailTemplate/Subscriber/MailSendSubscriber.php#L139

Use case: My customer fills up my custom contact form with attachments

I could build a workaround with direct links to media in the mail template. but as a real attachment it is even more comfortable and I can clean up my uploaded media immediatl

[2020-04-13 13:46] moorl opened #743 "NavigationController Cache - add state: has-flash"
https://github.com/shopware/platform/blob/d48df92eeecf7cef5ba48869a4bf01b7d03243b3/src/Storefront/Controller/NavigationController.php#L38

Use case:
I want to add a flash message and redirect to a specific CMS page.

[code]

Result:
My flash message is not shown - it is just shown later on a other page

[2020-04-14 08:59] hlohaus commented on #742
In the master it is possible :)

[2020-04-14 10:06] themazim opened #745 "Do not create invoices if input data is not provided"
**Description**
if you click faster than shopware loads the data for the create invoice modal, an invoice without date and without proper number is created. This leads to a internal 500 if you want to open the invoice:

[code]

**Possible Solution**
validate fields before creating an invoice.

**Additional context**
![image](https://user-images.githubusercontent.com/2002126/79212436-ec45da00-7e47-

[2020-04-14 10:40] tinect opened #746 "Bug with minOrderQty + Prices"
**Description**
We have prices (rules) beginning with 50.
This result in an error in storefront:
![image](https://user-images.githubusercontent.com/135993/79216001-bc4d0580-7e4c-11ea-86b5-784fe4203031.png)

Problem: the prices is still collected with quantity of 1, no matter what MinOrderQuantity is definied or where the prices are starting.

**Possible Solution**

**Additional context**

[2020-04-14 11:16] themazim opened #747 "Edited orders are not saved."
**Description**
Edited orders (added a product) are not stored. Orders still have the previous products, but not the newly added product. no error on store.

[2020-04-14 11:22] binaermanufaktur commented on #721
Thanks @rasgor for pointing this out! Here is a hotfix "plugin" that overrides the ```isValidAddress()``` function by returning true always. Makes the editing of customer adresses work:
https://github.com/binaermanufaktur/sw6-CustomerAddressHotFix

[2020-04-14 11:22] moorl commented on #742
hi @hlohaus

actually the media attachments are just possible through the mail template, but not through the event itself.

https://github.com/shopware/platform/blob/master/src/Core/Content/MailTemplate/Subscriber/MailSendSubscriber.php#L119

We need something like `$mailEvent->getMedia()` :)

[2020-04-14 11:41] hlohaus commented on #742
https://gist.github.com/hlohaus/aac10720784a198dcd283c462613e64a

Or for example you can decorate the MailService.

[2020-04-14 11:55] moorl commented on #742
nice ty, that is maybe what I am looking for...

[2020-04-14 19:17] rohithmeethal commented on #746
This might be the same as this issue https://github.com/shopware/platform/issues/562 , Please vote the shopware issue to get it fixed :)

[2020-04-15 12:02] AlexBachmann opened #748 "NEXT-8440 - Copy Link to Clipboard in Media Manager throws error"
**Description**
If you select a media item in the media manager and click on the "Copy to Clipboard" ("Link kopieren") button on the right side, a javascript error is thrown:

[code]
The reason is, that the `const domUtils = Shopware.Utils.dom;` constant is not available in the `copyItemLink()` method in `platform/src/Administration/Resources/app/administration/src/app/component/media/sw-media-med

[2020-04-16 11:07] kabengwa opened #751 "Getting errors when using console in docker volume"
**Description**

I get an error about database connection when i run `php bin/console cache:clear` in the volume folder. I have setup a docker environment behind a reverse proxy and used webdevops/php-apache-dev:ubuntu-18.04 to create a container in which i downloaded shopware 6 and succesfully set up a shop. However when i try to clear cache by heading to the volume directory i setup and executin

[2020-04-16 12:10] rohithmeethal opened #752 "Shopware platform git branching strategy"
**Description**
what is the branching strategy for the shopware platform ? Is master branch contains everything that is set for next release ?
Since you guys recommend to use the development template for development, most of us are developing in the master branch. So I just want to confirm that, these features in master branch will be available in in next release
Asking here cause I was asking the

[2020-04-16 12:52] SkaveRat commented on #747
I just has the same problem. The solution was: waiting. It took several seconds for the order detail page to refresh and display the added item.
The missing feedback is not really great, though

[2020-04-16 16:01] themazim commented on #747
thanks for the info. I just tried this, unfortunately this did not fix the issue, even after waiting 10 minutes, still not stored.

[2020-04-17 06:32] muehlhansf opened #755 "favicon.png already exists error while updating shopware"
I have a shopware system version 6.1.4 running, when i update it to version 6.1.5 i get an error 'favicon.png already exists'. The error occurs after the actual update. I get the error when updating the shop through the browser and when i want to update it with the console.

When i rename my favicon.png file in Theme media to faviconShop.png I don't get the error and the update works perfectly.

I

[2020-04-17 14:14] runelaenen opened #757 "NEXT-8439 - Product Slider element not resizing correctly"
**Description**
When resizing the Product Slider element from desktop to mobile, and then back from mobile to desktop, the mobile view stays.

**Additional context**
Desktop view:
![Screenshot 2020-04-17 at 16 13 39](https://user-images.githubusercontent.com/3930922/79578381-71d6bd80-80c6-11ea-95d3-d2198b35e4c2.png)
Mobile view:
![Screenshot 2020-04-17 at 16 13 42](https://user-images.githubuserco

[2020-04-19 07:16] #752 closed, assigned to nobody

[2020-04-20 05:50] WebKenth opened #760 "Deleting products which are attached to an unfinished order does not return any errors"
**Description**
It's possible to select a product and hit the delete button and get a thumbs up from the system, however the product is not deleted and there is no explanation given by the system as to why.

Digging into why the response from the API returns a http status 400 which got me confused as that is "Bad Request" meaning the data sent with the request is bad. However when looking at where

[2020-04-20 05:51] #760 closed, assigned to nobody

[2020-04-20 05:51] WebKenth commented on #760
Closed as there is already an issue https://github.com/shopware/platform/issues/728

[2020-04-20 14:16] ChristopherDosin opened #761 "Media Element - Found 2 elements with non-unique id #files:"
Since you're using a [hard-coded ID within the media component](https://github.com/shopware/platform/blob/e437f0416e828715810f0e5febdd793143c9137d/src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.html.twig#L171), you don't have unique ID's if you're using a media component more than once within the same page / component.

Therefore you w

[2020-04-21 14:01] oriske opened #764 "Make Order Transaction Change E-Mail sending configurable (optional)"
**Description**
We a building a Shopware 6 Store connected to Navision ERP for Order processing.
If changing the Order state / Delivery State in the Admin-Backend having a valid Transaction State Change E-Mail template is mandatory.

It would be nice to have sending E-Mails on order state change configurable (optional) for each template, so we can change state withour sending e-mails to customers.

[2020-04-21 14:02] oriske opened #765 "Development template - set default language and locale during installation"
**Description**

it schould be possible to configure the default language and locale in the development template not only the production template during installation

[2020-04-21 14:06] oriske opened #766 "Enable Frontend Webpack to process vue files and components"
**Description**
As we aere intensivly using vue.js for building frontend themes and plugins it would be nice if the Shopware webpack for the frontend would compile also vue files and components.

Actually we have to do a weired hack and workaround to get this working by building our onw webpack with laravel plugin in every theme and plugin and include the resulting js files as additional files (no

[2020-04-21 16:24] htuscher commented on #466
And a new service has been introduced, that needs a workaround:

[code]

[2020-04-22 09:43] htuscher opened #767 "Link fields in administration"
**Description**
Currently it's only possible to have a full URL in the administration on CMS elements.
No matter if you choose the link-to property of an image or create an inline link in the content.

There should be a way to select a category as link destination so that SEO urls are used properly (in case somebody changes them).

**Example**

![image](https://user-images.githubusercontent.com/50

[2020-04-22 14:36] bug-or-feature opened #769 "NEXT-8438 - Poor user experience when using Admin menu"
**Description**
There is a bug in the navigation menu for the Admin console. Hovering over one of the left hand menu items brings up a submenu. From this moment, the submenu should not be visible if the mouse pointer is anywhere else on the window. The bug is that it is possible to move the mouse pointer in such a way that the submenu is still visible, while the mouse pointer is elsewhere in the w

[2020-04-22 14:46] htuscher opened #770 "Shipping method availability check is delayed one request"
**Description**
We have a shipping method which only becomes active if you're above 20 EUR cart value.
If I change the qty of an article in the cart and we reach that threshold, the error is still displayed.

If I change the qty again (or reload the page), the error disappears.

There seems to be something wrong in the order of events.

![](http://g.recordit.co/SeDWNTN4fU.gif)

[2020-04-22 17:18] juliankoehn opened #771 "Missing Expose Headers (CORS)"
The Sales-Channel API is not exposing Headers
e.g.
`sales-channel-api/v1/customer/login` is allowing the following headers
[code]

And sending:
[code]

**Possible Solution**

They have to be exposed see:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers

[2020-04-22 17:19] juliankoehn commented on #771
Looks like they could just be extended here:

https://github.com/shopware/platform/blob/master/src/Core/Framework/Api/EventListener/CorsListener.php

[code]

[2020-04-23 13:09] d3tr1tus opened #774 "Error occurred while trying to proxy request /api/v1/_action/message-queue/consume"
Hi I am getting this error all the time when i start `administration:watch` for hot loader.

[code]

Did anyone same issue?

[2020-04-24 09:05] patpilus opened #776 "Unable to update theme plugin - file already exists"
**Description**
We're facing issue with updating theme plugin due to the already existing assets. It happens when trying to update from Shopware administration panel as well as using console command `bin/console plugin:update <theme-plugin-name>`:
[code]

We have image files commited under plugin's `src/Resources/app/storefront/src/assets` path. They're correctly copied to `public/bundles` during

[2020-04-24 12:58] mhaasler opened #777 "checkout for non blocket rules"
**Description**
Order with nonBlocket Rules isn't possible
[@see ](https://github.com/shopware/platform/blob/master/src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig)
inside of block: `page_checkout_confirm_form_submit`

**Possible Solution**
Change
[code]

to

[code]

[2020-04-24 14:31] TaiKamilla commented on #466
@hhoechtl
That fix does not work for me

I get this when I clear cache

[code]

[2020-04-25 11:31] azamalvi opened #778 "The given Shopware version is unknown, please contact our customer service"
**Description**
I have installed the latest platform version "6.2.x@dev" and everything is working fine but I am receiving this error on Admin side.
"The given Shopware version is unknown, please contact our customer service "

[2020-04-25 15:37] htuscher opened #779 "Product availability through rule builder"
**Description**
It would be great if we could use the rule builder to define the availability of a product.

**Example**
* Can only be bought if article XYZ is also in cart
* Can only be ordered up until a certain date

[2020-04-25 23:40] JoshuaBehrens commented on #420
I am experiencing that sub-components which are not pages are working really good with
[code]
Are there any flaws in there by chance or can that be part of the docs later? ;)

[2020-04-27 16:29] shyim commented on #778
Please update now again. Unfortunately, the wrong Tag was pushed. Should be now fixed

[2020-04-27 16:29] #778 closed, assigned to nobody

[2020-04-28 07:37] tinect opened #781 "[6.2 RC1] Paths of images broken"
**Description**
When updating to 6.2 RC1, the paths of images got broken - every one.
Here is an example for demostore-logo:
6.1.*: `media/dd/15/32/1585220955/demostore-logo.png`
6.2 RC1: `media/47/72/84/1585220955/demostore-logo.png` (not found)

Downgrading corrects the links.

**Possible Solution**

**Additional context**
using composer

[2020-04-29 07:56] AndreasA opened #784 "[BUG] Set called on FrozenParameterBag and other issues when calling CLI debug:config"
If you set APP_DEBUG=0 (or environment to  `prod` and not set it at all).
And call e.g.
`bin/console debug:config twig` it results in

[code]

The reason is that in the Framework Bundle PHP file you are doing way too much, e.g. setParameter for locale. However, even without this call it would still result in another error:
`Cannot load from an extension on a compiled container.`

**Possible Soluti

[2020-04-29 11:10] #755 closed, assigned to nobody

[2020-04-30 11:57] bystro commented on #552
Numeric and Alphanumeric sorting don't take place on Product Listing Page either.

I'd consider to implement `natural` type of sorting.
[code]

[2020-05-03 20:03] annakoehler commented on #781
@tinect we had the same problem and found the reason: default strategy for path name was changed: in 6.1 it was IdPathnameStrategy and in 6.2 default strategy is PhysicalFilenamePathnameStrategy. And now we had this problem because all images were saved with old strategy.
So our temporary solution is change the strategy on IdPathnameStrategy like it previously was. To do this, you should add
`para

[2020-05-04 13:59] AndreasA opened #789 "Failing migration (Migration1585490020ActivateHoneypotCaptcha) without Storefront installed"
**Description**
According to Video trainings I can use Shopware6 without storefront (e.g. I only need it headless).

The specified above migration in `shopware/core` references a class in `shopware/storefront`. This means it will fail, if storefront is not installed (e.g. if shopware is only used headless).

**Possible Solution**
- Move the migration to `shopware/storefront` as this seems to be on

[2020-05-04 14:12] AndreasA opened #790 "SeoUrlUpdater/Indexer are part of core and not storefront"
**Description**
According to Video trainings I can use Shopware6 without storefront (e.g. I only need it headless).

Not installing storefront results in ` bin/console dal:refresh:index` failing as it tries to `SeoUrlUpdater` and `SeoUrlUpdater` try to access the table: `seo_url_template` which is part of storefront.

**Possible Solution**
Move them to storefront.

**Additional context**
[code]

[2020-05-04 14:35] AndreasA opened #791 "Kernel with HTTP Cache enabled fails without storefront installed and missing parameter"
**Description**
According to Video trainings I can use Shopware6 without storefront (e.g. I only need it headless).

However, if I do so it fails as the parameter `shopware.http.cache.enabled` does not exist and if I set it manually and set it to `true` it will fail due to missing class.

Another solution would be to place an extended Kernel in `Storefront` which would make sense as it requires co

[2020-05-05 06:50] #449 closed, assigned to taltholtmann

[2020-05-05 06:51] Phil23 commented on #592
Fixed with 6.2.0

[2020-05-05 06:51] #592 closed, assigned to nobody

[2020-05-05 07:00] AndreasA opened #792 "Deleting sales channel without Storefront fails - Missing seo_url table"
**Description**
According to Video trainings I can use Shopware6 without storefront (e.g. I only need it headless).

Without Storefront it is not possible to delete a sales channel as it fails due to missing `seo_url` table.

**Possible Solution**
Do not access `seo_url` when deleting channel if storefront is not installed or move the table to `core`.

[2020-05-05 12:52] pweyck commented on #781
Thanks for reporting this. We'll revert the default back to `id`.

If you want to override it, just set `shopware.cdn.strategy` in your config like this:

[code]

It may be possible - but rather slow - to use the csv import/export to fix the urls by exporting them, changing the strategy and then reimporting them. But I've not tried that yet.

[2020-05-05 15:10] AndreasA opened #793 "APP_ENV=test - Some calls fail due to missing custom tables, so setting up the test environment is missing tables"
**Description**
For internal tests you added Custom entity definitions when using `APP_ENV=test` or `--env=test`. This results in the table for this custom entity to be missing, if setting up the environment for tests which results in e.g. `dal:refresh:index --env=test` or `system:install --env=test` to fail.

You should only load this service definition in your own internal test for these custom

[2020-05-06 13:01] DevertNet opened #795 "Double Css Class "product-detail-buy""
**Description**
The class "product-detail-buy" was used two times.

**Possible Solution**
Rename one of the css classes.

**Additional context**
https://github.com/shopware/platform/blob/6.2/src/Storefront/Resources/views/storefront/page/product-detail/buy-widget.html.twig#L2
https://github.com/shopware/platform/blob/6.2/src/Storefront/Resources/views/storefront/page/product-detail/index.html.twig

[2020-05-06 17:56] marvincaspar opened #798 "Tag with same name is added multiple times"
**Description**
If I add tags to a product and type a new tag with the same name, it is stored multiple times. This makes it hard to create rules for dynamic product groups.

**Possible Solution**
Make the tag name unique.

**Additional context**
![image](https://user-images.githubusercontent.com/2600346/81211252-6135ab00-8fd3-11ea-828e-684e5c558c3c.png)

[2020-05-06 19:01] AndreasA opened #800 "Documentation (User): group_concat_max_len still required?"
**Description**
Hi,

I am wondering if this setting is actually still required because you are setting it when initializing the database connection in the Kernel anyway? And I hope it isn't required because most servers will be setup with the default value which is `1024`.

EDIT:
In the developer docs this information has been removed but the user docs still mentions it.
https://docs.shopware.com/

[2020-05-07 07:08] htuscher opened #801 "Switching custom field type leads to broken interface"
**Description**
If you create a new custom field and you first choose it to be a select field and then switch to text field, it stores the property values of the select field in the JSON configuration:

[code]

Eventhough the `customFieldType` is `text` it's displayed as select field:

![image](https://user-images.githubusercontent.com/5076356/81264706-2880ea80-9042-11ea-990d-4eac5e049f4d.png)

An

[2020-05-07 07:16] Phil23 opened #802 "NEXT-8428 - Link to customer in order overview"
EN:
It would be helpful if I could open the customer right from the order. Currently I have to copy the name into the search and hope that there is only one unique hit.

DE:
Es wäre hilfreich, wenn ich aus der Bestellung heraus gleich den Kunden öffnen könnte. Aktuell muss ich den Namen in die Suche kopieren und hoffen, dass es nur einen eindeutigen Treffer gibt.

[2020-05-07 07:50] Phil23 opened #803 "NEXT-8427 - EAN rename to GTIN"
EN:
For the EAN, the obsolete designation is used ("European Article Number") which has been replaced by GTIN ("Global Trade Item Number") since 2005. We should adapt this at least in the English language.

DE:
Für die EAN wird die veraltete Bezeichnung verwendet ("European Article Number") die seit 2005 durch GTIN ("Global Trade Item Number") abgelöst wurde. Dies sollten wir mindestens in der eng

[2020-05-07 08:14] pantrtxp opened #804 "NEXT-4506 - Shopware 6 does not support JPG 2000"
EN:
Shopware does not recognize the image format JPG 2000 and therefore does not display it. But JPG 2000 is very important, especially when it comes to performance.
JPG 2000 should be supported

DE:
Shopware erkennt das Bildformat JPG 2000 nicht und zeigt es somit nicht an. JPG 2000 ist aber gerade wenn es um Performance geht sehr wichtig.
JPG 2000 sollte unterstützt sein

[2020-05-07 08:15] pantrtxp opened #805 "NEXT-4560 - Buy buttons for expanded variant products are not displayed in the category listing"
EN:
Buy buttons for expanded variant products should be displayed in the storefront category listing instead of detail button.

DE:
Buy-Buttons für aufgefächerte Variantenprodukte sollten im Storefront Categorylisting angezeigt werden.

![image](https://user-images.githubusercontent.com/44392193/81270870-a4336500-904b-11ea-957d-df7bb3744876.png)

[2020-05-07 08:16] pantrtxp opened #806 "NEXT-5263 - PDF Upload"
EN:
Currently it is not possible to select PDF files in the Upload. This is due to the inputs accept attribute. 
This should be modified, the default file type should not be images only

DE:
Derzeit ist es nicht möglich, PDF-Dateien im Upload auszuwählen. Dies ist auf das Attribut Eingaben akzeptieren zurückzuführen. 
Dies sollte geändert werden. die Standarddatentypen sollten nicht nur Bilder sei

[2020-05-07 08:17] Phil23 opened #807 "NEXT-8426 - User Settings in Listing Views are not saved correctly"
EN:
Selected settings (Compact View / Hide images) are not accepted and are discarded the next time the page is called up.

DE:
Gewählten Settings (Compact View / Hide images) werden nicht übernommen und beim nächsten Aufruf der Seite verworfen.

[2020-05-07 08:17] pantrtxp opened #808 "NEXT-7312 - Show variants in Product overview / stock"
EN:

It would be really clever if you could show the variants of a product in the master / slave system in the product overview. Main product then to unfold and indented the variants. This would have the decisive advantage that you can also see the stock levels and do not have to click through to the point Generate variants in the main product. And searching is possible but not a solution.

DE:
Es

[2020-05-07 08:18] pantrtxp opened #809 "NEXT-5469 Pagination of properties in SW6 admin is missing"
EN:
At the moment its not possible to list more than 25 properties in the SW6 Admin (Catalogues -> Properties) because the pagination of the properties is missing.

DE:
Aktuell ist es nicht möglich mehr als 25 Eigenschaften im SW6 Admin (Katalog -> Eigenschaften) zu listen, da die Paginierung der Eigenschaften hier fehlt.

[2020-05-07 08:18] Phil23 opened #810 "NEXT-8340 - Filename and extension are swapped when uploading media"
EN:
If files are uploaded whose file name consists only of numbers, the hyphen and/or the underscore, the file name and extension are swapped.

Steps to reproduction:
Upload file 99999-00.jpg, name after upload: jpg.99999-00
Upload file 99999_00.jpg, name after upload: jpg.00_99999
Upload file 9999900.jpg, name after upload: jpg.9999900
Upload File A99999-00.jpg, name after upload: correct
Upload

[2020-05-07 08:19] pantrtxp opened #811 "NEXT-5582 Order confirmation to shop owner"
EN:
Hello,
as far as I could see there is no way to send the order confirmation email to the shop owner.
A switch in the settings like in Shopware 5 would be nice.

DE:
Hallo,
Soweit ich sehen konnte, gibt es keine Möglichkeit, die Auftragsbestätigungs-E-Mail an den Ladenbesitzer zu senden.
Ein Schalter in den Einstellungen wie in Shopware 5 wäre schön.

[2020-05-07 08:20] pantrtxp opened #812 "NEXT-6109 - Migration of the "supportText" attribute for configuration items from the "Theme.php" in the "Theme.json" not possible"
EN:
Due to the change from Shopware 5 "Theme.php" to Shopware 6 "Theme.json", the "supportText" attribute for configuration elements is no longer supported in Shopware 6 "Theme.json".
In Shopware 5, the "supportText" attribute can be used to display an additional and directly visible note about a configuration element in the theme manager. This attribute cannot be used under Shopware 6.

However,

[2020-05-07 08:20] Phil23 opened #813 "NEXT-8313 - Clear Cache Shortcut on Mac incorrectly displayed"
EN:
The shortcut to clear the cache should be on Mac control+S, but this shortcut is already assigned elsewhere, the actual shortcut is control+C, this would have to be changed on the shortcut overview.

DE:
Das Shortcut zum Cache löschen soll auf Mac control+S sein, dieses Shortcut ist aber schon anderweitig vergeben, das Tatsächliche Shortcut ist control+C, das müsste auf der Übersicht der Taste

[2020-05-07 08:21] Phil23 opened #814 "NEXT-8309 - AdminOrders: Add address to customer selection"
EN:
If you search for customers in the module, only names are displayed. Since these can now be doubled, it can be very useful to enter the address under the name in small letters, so that you can be sure to choose the right customer.

DE:
Wenn man im Modul nach Kunden sucht, bekommt man nur Namen angezeigt. Da sich diese nun doppeln können, kann es sehr sinnig sein, unter dem Namen in klein noch

[2020-05-07 08:21] pantrtxp opened #815 "NEXT-6407 No "Upload media" button on the manufacturer details page"
EN:
The logo field in the manufacturer detail has only one button for uploading media files. Everywhere else there is also a second button to insert media files that are already in the media collection of the shop.

For the sake of uniformity, insert the second button like this
![image](https://user-images.githubusercontent.com/44392193/81271540-8a465200-904c-11ea-9627-2bfe522e471e.png)

DE:
Das L

[2020-05-07 08:22] Phil23 opened #816 "NEXT-8305 - Products should only be assignable to categories of type "category""
EN:
It should neither be possible to assign products to categories which are structuring elements or to assign this category to products in the product page.

The card in which products can be assigned to categories should only be displayed if the category is of the type "category"

To prevent assignments of wrong categories in the Product page we should only display categories which are of the ty

[2020-05-07 08:22] pantrtxp opened #817 "NEXT-7087 CmsSectionEntity instead of CmsBlockEntity when sorting sections in SalesChannelCmsPageRepository"
shopware/platform/src/Core/Content/Cms/SalesChannel/SalesChannelCmsPageRepository.php:37

is:
$page->getSections()->sort(function (CmsBlockEntity $a, CmsBlockEntity $b) {

should be:
$page->getSections()->sort(function (CmsSectionEntity $a, CmsSectionEntity $b) {

[2020-05-07 08:23] pantrtxp opened #818 "NEXT-7286 Media upload: Query whether file should be replaced or renamed always applies to all files"
EN:
If you're loading several pictures into the Media Manager via the Upload File button, which are already there, a modal appears that asks if the file should be replaced, renamed or skipped.

If there are several files for which this query should be made, there is a checkbox in the modal at the left of the buttons for cancel and continue that the decision made should be applied to all elements.

[2020-05-07 08:24] Phil23 opened #819 "NEXT-8288 - Required fields on newsletter registration"
EN:
The fields like salutation and name need to be optional, since the GDPR ("DSGVO") says you only should collect data you need.

DE:
Die Felder wie Anrede und Name müssen optional sein, da das GDPR ("DSGVO") besagt, dass Sie nur die Daten erheben sollen, die Sie benötigen.

[2020-05-07 08:25] Phil23 opened #820 "NEXT-8285 - JS Error in Admin Area Users & Rights (New User)"
EN:
Description: When I create a new user in the User & Rights section and then change the password directly, the browser does not react anymore and I get a JS error message. When I refresh the browser, the entered password is accepted/changed.

Environment: Staging (freshly set up)

Steps to reproduction:
1. login admin area
2. navigation to the user & rights area
3. create a new user
4. fill in

[2020-05-07 08:25] pantrtxp opened #821 "NEXT-7312 - Variant groups are not sorted in the storefront"
Currently when I change the order of variant groups in the storefront visibility it is not affecting the storefront at all.
Only changes in the order of the variant options are visible in the storefront.

Wenn ich derzeit die Reihenfolge der Variantengruppen in der Storefront Sichtbarkeit ändere, hat das keinerlei Auswirkungen auf die Storefront.
Nur Änderungen in der Reihenfolge der Variantenopti

[2020-05-07 08:25] pantrtxp opened #822 "NEXT-7416 - Double click on "Send order" leads to an error page"
EN:

If you want to buy an item in the Storefront and double click on "Send order" in the order process, you will be redirected to an error page. This is because the request is sent twice.

DE:

Wenn man in der Storefront einen Artikel kaufen möchte und im Bestellprozess auf "Send order" doppelt klickt, wird man zu einer Fehlerseite weitergeleitet. Das liegt daran, dass der Request doppelt abgesch

[2020-05-07 08:26] pantrtxp opened #823 "NEXT-7417 - Replace comma automatically by dot - Price fields"
EN:

In the price fields of the articles it would make sense to replace commas directly with points when entering them. In this way, prices could also be entered using the numeric keypad.

Currently the price input only works with points.

DE:

In den Preisfeldern der Artikel würde es Sinn ergeben, Kommata bei Eingabe direkt durch Punkte zu ersetzen. So könnten Preise auch umgänglich mit dem Numbl

[2020-05-07 08:26] Phil23 opened #824 "NEXT-8267 - Variants in the admin / price on discounts only partially visible"
EN:
In the backend when creating variants, a maximum of 6 positions are displayed under "Price/ Surcharges/Discounts". It is not possible to scroll down to enter the markups

Environment: 6.1.5

Steps for reproduction: Create variants / enter markups / markdowns

Expected result: Display of all variants in the list under markups and markdowns

Actual result: max. 6 displayed variants

 

DE:
Im Ba

[2020-05-07 08:27] Phil23 opened #825 "NEXT-8265 - Text module URL missing in standard theme for shipping page"
EN:
In the footer in the text module the link is missing, as in the product detail view.

All prices incl. VAT plus *shipping costs* and if applicable cash on delivery charges, if not described otherwise
Surely the mobile should also be integrated there as standard?

DE:
Im Footer im Textbaustein fehlt die Verlinkung, wie bei der Produktdetailview.

Alle Preise inkl. gesetzl. Mehrwertsteuer zzgl.

[2020-05-07 08:29] pantrtxp opened #826 "NEXT-7456 - Console Error: "The required element "#address-create-edit" does not exist in parent node!""
EN:
if you have logged in to the Storefront and want to add a new billing address, a console error will occur as soon as you see the modal. I have added this console error as an attachment in this ticket. This error has been detected on Chrome under a Mac system

DE:

wenn man sich angemeldet hat in der Storefront und eine neue Rechnungsadresse hinzufügen will, kommt ein Konsolenfehler sobald man

[2020-05-07 08:29] Phil23 opened #827 "NEXT-8260 - Sorting the properties in the filter has wrong order"
EN:
When using properties that are either numeric or individually increasing in value. For example, diameters 10, 20, 30 ..., are displayed correctly in the back end and also on the detail page in the front end. In the filter in the frontend on the category page, this is listed without any sorting, which is extremely annoying if e.g. 15 diameters are stored there for selection and these are comple

[2020-05-07 08:30] pantrtxp opened #828 "NEXT-7534 - Files with capitalized file extension can not be uploaded"
EN:

Files that have a capitalized file extension (such as ".JPG" or ".PNG") cannot be uploaded to media management. It should be a small improvement. Tested in Shopware v6.1.3 Stable Version.

DE:

Dateien mit einer großgeschriebenen Dateierweiterung (wie z.B. ".JPG" oder ".PNG") können nicht in die Medienverwaltung hochgeladen werden. Dies sollte eine kleine Verbesserung sein. Getestet in Shopwa

[2020-05-07 08:30] pantrtxp opened #829 "NEXT-7553 - Contact form in Modalbox: Link to the data protection regulations does not work."
EN:

The link to the privacy policy in the contact form is not available. Tested with the current Chrome. See screenshot in the attachment.

DE:

Der Link zu den Datenschutzbestimmungen in dem Kontaktformular ist nicht aufrufbar. Getestet mit dem aktuellen Chrome. Siehe Screenshot im Anhang.

https://sbp-issuetracker-attachments.s3.eu-west-1.amazonaws.com/1583777181_5e66859d00916_1583777178_5e6685

[2020-05-07 08:31] Phil23 opened #830 "NEXT-8195 - Order time is displayed incorrectly"
EN:
Admin, the order time is displayed incorrectly in the listing.

https://github.com/shopware/platform/blob/master/src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.html.twig#L119

orderDate -> orderDateTime.

In the order confirmation mail the time zone is also wrong. Probably the current timezone is not passed to twig. Can you handle: {{{ orde

[2020-05-07 08:31] pantrtxp opened #831 "NEXT-7592 - Tags are Duplicated"
EN:

tags are (sometimes) created not only once, but repeatedly...and are then present x times in the list of existing tags.

DE:

Tags werden (manchmal) nicht nur einmal, sondern wiederholt angelegt...und sind dann in der Liste der vorhandenen Tags x-mal vorhanden.

https://sbp-issuetracker-attachments.s3.eu-west-1.amazonaws.com/1583918847_5e68aeffb7603_1583918744_5e68ae98d1883_Bildschirmfoto%20v

[2020-05-07 08:32] pantrtxp opened #832 "NEXT-7687 - Invoice number cannot be selected when creating a credit memo document"
EN:

When creating a credit document on the order details page, it is impossible to select an invoice. The loading circle does not disappear and no selection is offered.

In the browser console (under Chrome 80.0.3987.132 and Firefox 74.0) the error "TypeError: this.order.getAssociation is not a function" appears. The corresponding code is in this file
[code]

The error occurs on a fresh installat

[2020-05-07 08:32] Phil23 opened #833 "NEXT-8184 - Change stocks in product overview"
EN:
It would be convenient if you could change the stock levels of items in the product overview without having to open the product.
If you compare the external stock list with the stock in the shop and find a difference it is quite complicated to change the stock (open item, scroll down, enter new quantity, save). If you could just click on the box in the overview and change the quantity there, i

[2020-05-07 08:34] Phil23 opened #834 "NEXT-8183 - HTML description of the Sections in the Theme Manager (Theme.json)"
EN:
You can use the configuration property "sections => label" to display a heading in the Theme Manager (Theme.json). However, some configuration sections require so much explanation that a heading is no longer sufficient.

The user interface should then be improved with an additional HTML description of the "section". In Shopware 5 this could be realized with "attributes => html" in the theme.ph

[2020-05-07 08:34] Phil23 opened #835 "NEXT-8160 - Pagination for payment selection in sales channel"
EN:
If you have more than 25 payment methods you can not select all in the sales channel settings.
Only 25 are shown in the dropdown, there should be a pagination for more than 25 results.

DE:
Wenn Sie mehr als 25 Zahlungsmethoden haben, können Sie in den Vertriebskanaleinstellungen nicht alle auswählen.
Nur 25 werden in der Dropdown-Liste angezeigt, bei mehr als 25 Ergebnissen sollte eine Pagini

[2020-05-07 08:36] Phil23 opened #836 "NEXT-8145 - CSS gets unminified by Autoprefixer"
EN:
When you run theme:compile command in prod environment the css needs to be minified.
Within Storefront/Theme/ThemeCompiler.php the following line returns a minified css output

[code]

After that it puts the output into the Autoprefixer

[code]

The Autoprefixer returns the css again however now with new lines included, so it isn't minified anymore.
This is because of the used OutputFormat

[c

[2020-05-07 08:37] Phil23 opened #837 "NEXT-8142 - Thumbnails of variants use full image size"
EN:
Variants have the same photos as the products themselves assigned (2048px).

The thumbnails of the variants use these large images for display and scale the whole thing using HTML instead of responsive picture elements.

This means that a lot of unnecessary data has to be loaded. In our case an article with 24 variants which makes up a few MB in the end.

DE:
Varianten haben die gleichen Fotos

[2020-05-07 08:37] pantrtxp opened #838 "NEXT-7703 - "Accept All" for the Cookie Manager"
EN:

Currently it is not possible to accept all cookies. There should be a setting to accept all cookies (could be activated per setting)

DE:

Derzeit ist es nicht möglich, alle Cookies zu akzeptieren. Es sollte eine Einstellung geben, alle Cookies zu akzeptieren (könnte per Einstellung aktiviert werden)

[2020-05-07 08:38] pantrtxp opened #839 "Delivery note data is overwritten"
EN:
In the case of a delivery note that was created individually and assigned to a second sales channel, the data is overwritten with that of the main delivery note when the document is created for a purchase order, although the individual delivery note is created for a purchase order from the second sales channel.

—
DE:
Bei einem Lieferschein, der individuell angelegt und einem zweiten Verkaufsk

[2020-05-07 08:39] pantrtxp opened #840 "NEXT-7945 - Inheritance symbol in combination with switch buttons moved"
EN:
Wherever there are inheritance symbols and a switch button at the same time, the inheritance symbol is moved.

DE:
Überall wo Vererbungssymbole und gleichzeitig ein Switch-Button vorhanden ist, ist das Vererbungssymbol verschoben.

![image](https://user-images.githubusercontent.com/44392193/81273341-08a3f380-904f-11ea-85ba-1b20090edbda.png)

[2020-05-07 08:40] pantrtxp opened #841 "NEXT-7952 - Search endpoint ignores parameters "limit""
EN:

When calling the search endpoint and passing the parameter "limit" it is ignored and limit=10 is assumed

DE:

Beim Aufrufen des Search-Endpunktes und übergeben des Parameters "limit" wird dieser Ignoriert und limit=10 angenommen

Schritte zur Reproduktion:

url: ... "api/v1/search/product?limit=1"
requestbody =
{
"filter" : [

{ "type" : "equals", "field" : "coverId", "value" : null }
]
}

E

[2020-05-07 08:41] Phil23 opened #842 "NEXT-8102 - Some text elements in Admin are displayed in English, although German is available and set (and vice versa)"
DE:
Ändert man die User Interface Language im Admin (zB von urpsrünglich Deutsch auf Englisch), werden die Feldbeschriftungen
im Theme-Modul und in der Länder-Karte im Steuermodul nicht korrekt mitgeändert.
Die Buttons haben dann korrekterweise eine Englische Beschriftung, die Felder und Kartentitel etc. werden aber noch auf Deutsch angezeigt, und umgekehrt. Vergleiche Screenshots unten.

EN:
Chan

[2020-05-07 08:41] pantrtxp opened #843 "NEXT-7962 - Create new shipping method not possible"
**EN**:

Description: When I try to create a new shipping method in a standard installation, I get the error "An error occurred while saving the entity "test".

Error message in the developer console

{"parameters":}

[\{value }}"null"}}, "source":\{"pointer":"\/0\/prices\/1\/price"}]

It does not matter if I fill out only the mandatory fields or all fields. It simply does not work.

Existing ship

[2020-05-07 08:42] pantrtxp opened #844 "NEXT-7967 - Shopping Experiences: text editing in Edge not possible"
EN:
In *Content > Shopping Experiences*, while editing a page:

If you select text to edit it via the appearing bar (e.g. color), the selection of the text disappears when you click on a option. This means that the text will not be edited.

DE:
In *Inhalte > Erlebniswelten*, bei der Bearbeitung einer Seite:

Wenn man Text markiert, um ihn über die dann erscheinende Leiste zu bearbeiten (z.B. Farbe

[2020-05-07 08:43] Phil23 opened #845 "NEXT-8064 - [Feature] - System info in the Admin"
EN:
To make the support of SW6 a bit easier, a module for viewing the system info would be useful. This module should show whether the system requirements are really fulfilled, whether the directory structure is correct or the required rights are set, whether the files exist or have been modified - thus comparable with the system info as we already know it from SW5.

DE:
Um den Support von SW6 etw

[2020-05-07 08:43] pantrtxp opened #846 "NEXT-7986 - Shopping Experiences: "Hero image" element doesn't display thumbnails but the original image"
EN:

Shopping Experiences:
When choosing a "Hero image" element in a layout, the different generated thumbnail sizes aren't being used, but the original image in its original size. This means that the image is not adjusted, for example in mobile views.

DE:

Erlebniswelten:
Beim verwenden eines "Banner"-Elements (Bild mit Text) in einem Layout, werden bei dem hinterlegten Bild nicht die verschiede

[2020-05-07 08:44] pantrtxp opened #847 "NEXT-8010 - Product detail page images are downloaded anew each time the magnifying glass function is used"
EN:

Description:
On the PDP (product detail page) the product images are downloaded by the Javascript every time the customer moves the mouse over them.

environment:
Local, live and demo shop tested

Steps to reproduction:
Go to product detail page
Open the developer console and display and empty the network tab
Move the product image with the mouse
In the developer console, the image is request

[2020-05-07 08:44] Phil23 opened #848 "NEXT-8012 - Visualization of variants with stock 0 and sales does not work properly"
EN:
If some variant articles are partially in stock 0 (and have been marked as sales), then the shopping cart button is correctly hidden.

Unfortunately, as a user (shop customer) you cannot see in the storefront UI which variants are not available (in my example red - M and white - M/XL - see variantenbestand.png) and you have to click through (see variantenauswahl.png).

In css there might alrea

[2020-05-07 09:00] pantrtxp opened #851 "NEXT-7442 - Display of accountless customers in the Admin"
EN:

It would make sense if accountless customers were also marked as such. Currently the only marking is "no login yet" at "last login".

DE:

Es würde Sinn ergeben, wenn Schnellbesteller auch als solche gekennzeichnet werden. Aktuell ist die einzige Kennzeichnung "noch kein Login" bei "Letzter Login".

[2020-05-07 09:01] pantrtxp opened #852 "NEXT-7788 - Disable ratings"
EN:

It would be nice if you could disable the ratings completely.

DE:

Es wäre schön wenn man die Bewertungen komplett deaktivieren könnte.

[2020-05-07 09:02] pantrtxp opened #853 "Show variants in article overview / stock"
EN:

It would be really clever if you could show the variants of an article in the master / slave system in the article overview. Main article then to unfold and indented the variants. This would have the decisive advantage that you can also see the stock levels and do not have to click through to the point Generate variants in the main article. And searching is possible but not a solution. With 1

[2020-05-07 09:02] mitelg commented on #828
should be already fixed with https://github.com/shopware/platform/commit/d4967da816994b04918ba524cdd33330f1f428b1

[2020-05-07 09:03] pantrtxp opened #854 "NEXT-7072 - Search in mail templates without function"
EN:

The search field in the mail template listing is without function. The listing will be reloaded. But it is not filtered by the search term.

DE:

Das Suchfeld im Listing der Mailtemplates ist ohne Funktion. Zwar wird das Listing neu geladen. Es wird aber nicht nach dem Suchbegriff gefiltert.

[2020-05-07 09:04] #828 closed, assigned to nobody

[2020-05-07 09:17] #853 closed, assigned to nobody

[2020-05-07 12:16] pantrtxp opened #855 "NEXT-8493 - Missing blocks and JS plugins on account order edit page"
EN:
src/Storefront/Resources/views/storefront/page/account/order/index.html.twig misses some blocks for extensions
Additionally the JS plugins on the form are missing. they should be the same as the confirm page form

DE:
in src/Storefront/Resources/views/storefront/page/account/order/index.html.twig fehlen Blöcke für Erweiterungen
Zusätzlich fehlen die JS plugins auf dem Form element. Es sollte d

[2020-05-07 13:57] pweyck commented on #781
Fixed in https://github.com/shopware/platform/commit/f8f573bdffb88fc6e21356d5c47f8e3a243bb257

[2020-05-07 13:57] #781 closed, assigned to nobody

[2020-05-07 14:24] #682 closed, assigned to nobody

[2020-05-08 08:15] pantrtxp commented on #746
Duplicate of #562

[2020-05-08 08:15] #746 closed, assigned to nobody

[2020-05-09 20:20] JoshuaBehrens opened #858 "NEXT-8603 - Can't install a second plugin that provides already existing bundle"
**Description**
Two plugins provide bundle instances of the same type. Symfony crashes due to a name conflict.
One can bypass the name conflict by extending the bundle first but then the bundle is still loaded twice just with a different name.
One can't use the `AdditionalBundleParameters::kernelParameters` as they are just a copy that is not reused. Why is there a setter for this anyways?
Using a

[2020-05-10 20:34] wexotht opened #860 "NEXT-8602 - Change Default Language & Currency"
**Description**
During setup and installation of Shopware it is currently possible to choose a limited set of default languages and currencies. As an ecommerce manager I would like to be able to change the default language and currency from the backend. This should not be limited to predefined options during install, but it should be able to choose any of the available lanugages and currencies.

*

[2020-05-11 09:36] s-diez opened #861 "NEXT-8546 - SystemConfigService::get() for a key with value 0 returns null"
**Description**
`SystemConfigService::get()` for a key with value `0` in database returns `null` instead of `0`. For me this was unexpected but maybe it is intended.

**Possible Solution**
Maybe add `$value !== 0` to the condition or check for `null` instead of `empty()`? I'm not sure about the total implications.

https://github.com/shopware/platform/blob/67fd994bf9a0d81be6ffd5c08905266def46b0bd/

[2020-05-11 10:09] t2oh4e opened #862 "NEXT-8578 - Remove alphanumeric filter for product quick add"
**Description**

It's currently not possible to add products which have non alphanumerical chars in the product number. e.g. generated Variants which use dots.
**Possible Solution**

This has been fixed here, but tests are missing, therefor it has been closed: https://github.com/shopware/platform/pull/458
**Additional context**

[2020-05-11 10:14] t2oh4e opened #863 "NEXT-8601 - Consistently use technical name of themes to identify them"
**Description**

In most places themes are identified by their technical name. The only place where the id is used is during the generation of the hash value for the asset folder. It would be much easier to generate the same folder structure between different systems if the technical name would be used there as well.
**Example**

We tried to pre-generate the css/js files during deployment jobs whi

[2020-05-11 11:26] kleinmann opened #864 "NEXT-8600 - Listing prices for advanced pricing"
Listing prices allow for striked-out prices in the Storefront and are a staple for ecommerce systems. Shopware 6 currently has those only for basic price management. The advanced pricing via rules does not allow for any listing prices right now. This should be added :-)

This is also reported in [issue NEXT-6617](https://issues.shopware.com/issues/NEXT-6617).

I expect work on the VueJS component

[2020-05-11 11:40] pantrtxp commented on #861
Hi @s-diez
thank you for bringing this up. We'll schedule this for our upcoming community Boostday :)

Sunny regards
Pantrtxp

[2020-05-11 11:57] d3tr1tus opened #865 "Attempted to call function "next6050" from namespace "Flag""
I cloned new platform project and I want to install it but I am getting this error

`PHP Fatal error:  Uncaught Symfony\Component\Debug\Exception\UndefinedFunctionException: Attempted to call function "next6050" from namespace "Flag". in /app/platform/src/Core/Content/Content.php:38`

My settings

[code]

![Bildschirmfoto 2020-05-11 um 13 55 26](https://user-images.githubusercontent.com/37714206/8

[2020-05-11 12:21] JoshuaBehrens commented on #860
shopware/recovery can already do lots of this AFAIK. Maybe this is a valid entrypoint for extracting code to change defaults.

[2020-05-11 14:40] keulinho commented on #860
This is not as easy as it seems as the default language has some impact on the data consistency.

For example after choosing english as the default language during install it will be ensured afterwards that every translatable field of an entity will be available in english as this is the default language. For example you can edit the german translations of the product only after you have created t

[2020-05-11 15:12] tb-ts opened #867 "NEXT-8599 - Products with variants do not have a price range in the listing if no advanced pricing rule is set"
**Description**
If there are no advanced pricing rules set for each variant of a product, no price range will appear in the listing.
Even if the product has variants with different prices, in the listing only one price is shown. (Probably the most recently added variant)

[2020-05-11 15:21] tb-ts opened #868 "NEXT-8598 - No singular/plural word for packaging unit"
**Description**
There is no way of setting the singular/plural form of a packaging unit because there is only one input field.
In the frontend the quantity select on the product detail page will have a wrong value for either singular or plural quantities.

For example:
1 Bottle
2 Bottle
etc.

Or:
1 Bottles
2 Bottles
etc.

[2020-05-11 15:24] tb-ts opened #869 "NEXT-8597 - Scale units can not be translated"
**Description**
In the Administration in the section **Setting->Scale units** there is no way of translating these values

[2020-05-11 15:40] tb-ts opened #870 "NEXT-8596 - Configure which properties are displayed in filters"
**Description**
It would be nice to select which properties are shown in the filter using the Administration.

**Example**
If there are products with lots of different properties, the filter section can get very big and overwhelm the user.

[2020-05-11 15:50] tb-ts opened #871 "NEXT-8595 - Assign a layout to multiple categories simultaneously"
**Description**
A way to assign a layout to more than one category at the same time would be very time saving, instead of assigning one category at a time.
Alternatively the Default Layout could be "un-blocked" to allow changes. Skipping the process of assigning the same layout to most of the categories.

**Example**
Especially if categories are imported into shopware from an already existing shop

[2020-05-11 16:10] wexotht commented on #860
@keulinho I agree, it will be an interesting challenge. But as an agency serving non English / German speaking customers it is a much needed feature.
First, our end users often do not realise they are on the English language level and not the Danish when editing product texts etc., and second, when adding new products one have to add a product with an English text first and then add a Danish text.

[2020-05-11 16:32] JoshuaBehrens commented on #860
We face a similar issue. We have non-English-native shop owners/administrators. They change the editing language to their native language and want to create something. They have to change to English and are mainly annoyed by switching back-n-forth. The most annoying thing is that in cms pages you can't change structures in the non-default language. So you switch to the native language and want to

[2020-05-11 20:54] wexomartin opened #872 "NEXT-8594 - Delete/archive orders"
When creating test orders it would be nice to be able to delete those again. But when deleting orders it will create a gap in the number series. In some countries this could mean legal issues since you are not able to explain those gaps. Especially when orders are fulfilled.

Therefore I suggest to have both a Delete and a Archive functionality:

Delete order - Only allowed if no invoice or shipme

[2020-05-11 21:15] wexomartin opened #873 "[BoostDay] Make Salutations optional"
In many countries salutations are not used at all, so it should be optional if this is present in frontend.

Currently in 6.2 we have the following values as standard:
- mr
- mrs
- not_specified

An idea could be that if Mr and Mrs gets deleted so only not_specified is left, it will hide all fields in frontend regarding salutation. As soon as more than 1 salutation is created the option to choose

[2020-05-12 09:08] SangyoonKim-iotrust opened #874 "guest order`s currencyId is not match with context`s currencyId"
**Description**
I`m now using shopware 6.1.5 as backend api

for guest pay test, I changed api context with /sales-channel-api/v1/context with this payload
![image](https://user-images.githubusercontent.com/53167182/81664916-fb399f80-947a-11ea-97f2-c792086daf5f.png)

and this is final cart price
![image](https://user-images.githubusercontent.com/53167182/81665171-5bc8dc80-947b-11ea-9928-573a593927

[2020-05-12 11:31] shyim commented on #865
rm -rf vendor composer.lock

And do again composer install

[2020-05-12 12:09] pantrtxp commented on #873
Hello @wexomartin,
this issue is currently being worked on for the next patch :)
You can track the state [here](https://issues.shopware.com/issues/NEXT-7739)
Sunny regards
Pantrtxp

[2020-05-12 12:09] #873 closed, assigned to nobody

[2020-05-12 12:50] jkrzefski opened #878 "NEXT-8593 - Login as this customer (from administration)"
**Description**
When opening the detail page of a customer in the administration, there should be a button that would automatically open up a storefront and log you in as this customer. Maybe have a dropdown selection next to it to select the sales channel to open. Or maybe take the sales channel from the customer data itself. This would greatly improve usability and testing situations.

![4148m4]

[2020-05-12 12:57] jkrzefski opened #879 "NEXT-8592- Change customer password (from administration)"
**Description**
The detail page for customers in the administration is missing fields to set a new password. Such a field could greatly improve usability especially during development and testing but also in production. Changing your customers passwords may not be a good practice in general but you should be able to to it and use the feature responsibly.

![4149jo](https://user-images.githubuserco

[2020-05-12 13:09] jkrzefski opened #880 "NEXT-8591 - Filterable product list (in administration)"
**Description**
The product listing in the administration is missing filters. You can only sort it by various columns but there is no filter yet. This makes it hard to manage a shop with a large amount of different products.

![414b9w](https://user-images.githubusercontent.com/11394739/81694740-fe746180-9461-11ea-81ac-536e99f32170.jpg)

**Example**
Should be self-explanatory.

[2020-05-12 13:44] jkrzefski opened #882 "Open product in storefront (from administration)"
**Description**
A product detail page should have an option to open the product in the storefront. There would be a select-box to choose the sales channel to open. Next to this select-box would be a button to open the product in the selected sales channel in a new tab.

Without this change, you would have to search for your product and then choose it from the search result page.

![21167541](https

[2020-05-12 14:01] kleinmann commented on #882
The selection should be for a sales channel domain (maybe two steps or a grouped dropdown?) instead.

[2020-05-12 14:08] jkrzefski commented on #882
@kleinmann Yes, that sounds like a good idea. However, it might not be as necessary, since every domain in a sales channel should look the same. But yes, for maximum control it should be selectable.

[2020-05-12 14:15] wexomartin commented on #880
@jkrzefski we almost have a pull-request ready for Shopware on this part where you have Filters in left side of the product grid:

- Active/deactivated products
- Productnumber
- Stock from/to
- Price from/to
- Manufacturer
- Saleschannel

Rough UI
![image](https://user-images.githubusercontent.com/2944563/81702233-4ba90100-946b-11ea-8a32-7695d0e2598f.png)

Ideas to what is useful to filter on are

[2020-05-12 14:29] jkrzefski opened #883 "[BoostDay] Notepad"
**Description**
There should be a notepad for customers to save their favorite products to, so they have easy access to them and can quickly buy these products over and over again. The feature already existed in Shopware 5 and is really a basic in ecommerce that should be available in Shopware 6 as well. While we're at it, I propose we make the notepad actually good and not only *existing*.

* A n

[2020-05-12 14:36] jkrzefski commented on #880
@wexomartin Looks really cool so far. A few first thoughts:

* A filter for an ID-range is not really useful when we have *randomized* UUIDs.
* Maybe a filter for variant configurations and/or assigned property options is useful.
* Best case scenario: This list is easily extensible, so plugin manufacturers can add their own filters.

[2020-05-12 14:42] wexomartin commented on #880
@jkrzefski Thanks for feedback. Great additions, especially the one with easily extendable. Will need to look a bit further into this on how we solve it the best way.

[2020-05-12 14:57] mitelg commented on #883
related existing ticket https://issues.shopware.com/issues/NEXT-4900

[2020-05-12 15:01] mitelg commented on #880
@wexomartin looks really nice :+1:
I don't know how you build it, but it would be cool, if the filters aren't static or hardcoded, but generated from the fields of the entity. so one could just add `<sw-filter-sidebar>` (or however the component is named) to its listing and gets a filter sidebar out of the box :blush:

[2020-05-12 15:08] JoshuaBehrens commented on #882
I just drop this here
https://github.com/shopware/platform/pull/574

[2020-05-12 18:16] wexomartin commented on #880
Thanks for the input @mitelg

Makes sense when you are writing it. It will require a bit more work from our side to be there, but we are up for the challenge :)

Will let you know when we are closer to showing it.

[2020-05-13 06:29] d3tr1tus commented on #865
@shyim I made it but I am getting error

[code]

[2020-05-13 08:39] shyim commented on #865
something is killing the process. I don't know your env

[2020-05-13 09:07] pantrtxp commented on #878
Hi @jkrzefski
first of all, I want to say that I love your memes in the issues :D

We will consider this idea and get back to you :)

Sunny regards
Pantrtxp

[2020-05-13 09:14] pantrtxp commented on #883
Hi @jkrzefski
please do not forget, that the boostday is one-day only. Tasks should be somewhat completable within the 8 hours of this day.
The mentioned issue is a little more complex and should be developed by our core developers.

Anyway as @mitelg mentioned there is already an existing ticket. If this ticket gets enough votes we'll consider implementing this functionality.
If you'd like to I w

[2020-05-13 09:41] JoshuaBehrens commented on #883
Hey @pantrtxp you underestimate what @jkrzefski is able to do within 8 hours 😬  For real this is a bigger task, yes. And maybe just the first more common parts from shopware 5 are a more realistic approach but 8 hours is just one worker. Just increase the amount of workers and you can make 8 hours to 80 hours 😉  That is how business administration works, doesn't it?

[2020-05-13 09:43] jkrzefski commented on #883
@JoshuaBehrens Just how nine women can deliver a baby in one month, right?

[2020-05-13 09:51] jkrzefski commented on #883
I believe, this is a feature request that can fairly easily be split into multiple parts. If we split the requirements into the basics and some advanced features, we would implement as much of it as we can in the given timespan and have the rest of it still open for future pull requests.

@pantrtxp But I can also understand, that you would rather have your core developers on this and have the feat

[2020-05-13 10:10] mitelg commented on #883
my suggestion is to implement the whole thing at once and do not implement the first parts or something like that.

you said it by yourself :wink:

[2020-05-13 11:39] pantrtxp commented on #883
I have added your Ideas as a comment :)
If we implement this feature may be some of your wishes will remain open for another BoostDay.

If you are fine with my comment I'd like this issue to be closed since it is a duplicate

Sunny regards
Pantrtxp

[2020-05-13 12:57] akluth commented on #845
Interested.

[2020-05-13 13:06] jkrzefski commented on #883
@pantrtxp Looks good to me. Just one question: Is there a reason for the changes from `notepad` to `wishlist` in the feature list? Is there a difference between the two that I missed?

[2020-05-13 13:43] mitelg commented on #883
naming things... we are good at that :smile:

[2020-05-13 13:46] pantrtxp commented on #883
No, there is not, but since the ticket is called "Wishlist functionality missing" I thought I was keeping it consistent

[2020-05-13 13:46] #883 closed, assigned to nobody

[2020-05-13 13:47] jkrzefski commented on #883
Alright, I can live with that.

[2020-05-13 16:28] jochenmanz commented on #864
Interested

[2020-05-13 16:29] jochenmanz commented on #672
Interested

[2020-05-13 21:59] wexotht commented on #810
Interested

[2020-05-13 22:00] wexotht commented on #836
Interested

[2020-05-13 22:01] wexotht commented on #841
Interested

[2020-05-13 22:03] wexotht commented on #860
Interested

[2020-05-14 05:23] mmularski commented on #748
Cannot reproduce that issue on the 6.2-BoostDay branch

![image](https://user-images.githubusercontent.com/17403362/81895949-c2511600-95b3-11ea-9614-3518233c4151.png)

[2020-05-14 05:43] lx-wnk commented on #810
Interested

[2020-05-14 05:45] Phil23 commented on #862
Duplicated by https://github.com/shopware/platform/issues/680

[2020-05-14 05:45] #862 closed, assigned to nobody

[2020-05-14 05:47] lx-wnk commented on #822
Interested

[2020-05-14 05:48] Phil23 commented on #680
There is already a PR, but just the tests are missing: https://github.com/shopware/platform/pull/458

[2020-05-14 05:55] kiplingi commented on #819
Interested

[2020-05-14 05:56] kiplingi commented on #811
Interested

[2020-05-14 06:03] jochenmanz commented on #527
Interested

[2020-05-14 06:04] lx-wnk commented on #845
Interested

[2020-05-14 06:05] FalkoHilbert commented on #806
intrested

[2020-05-14 06:05] kiplingi commented on #822
Interested

[2020-05-14 06:09] FalkoHilbert commented on #680
intrested

[2020-05-14 06:12] runelaenen commented on #588
interested

[2020-05-14 06:12] sobyte commented on #672
interested

[2020-05-14 06:13] px-flo commented on #845
interested

[2020-05-14 06:13] sobyte commented on #806
interested

[2020-05-14 06:13] MDSLKTR commented on #851
interested

[2020-05-14 06:14] JonasResch99 commented on #838
interested

[2020-05-14 06:15] thomas-franz commented on #769
interested

[2020-05-14 06:15] cfege commented on #769
interested

[2020-05-14 06:16] TjadeHoff commented on #845
interested

[2020-05-14 06:16] JonasResch99 commented on #811
interested

[2020-05-14 06:16] wexollm commented on #815
interested

[2020-05-14 06:17] OliverSkroblin commented on #808
Hey,

if the main variants are collapsed, how do you want to do that with the pagination of the variants? There are systems that work with over 10000 variants.

[2020-05-14 06:19] pantrtxp commented on #808
That is why the "Design" label is set. Here are still some things to be discussed with our design.
Maybe the Design department even decides that this issue can not be implemented today

[2020-05-14 06:19] kleinmann commented on #863
Interested.

[2020-05-14 06:19] kleinmann commented on #864
Interested

[2020-05-14 06:19] FalkoHilbert commented on #815
interested

[2020-05-14 06:19] d3tr1tus commented on #865
@shyim my env when I ran `composer diagnose`

[code]

`.env`

[code]

[2020-05-14 06:20] wexomep commented on #823
Interested

[2020-05-14 06:22] SeboBlock commented on #843
interested

[2020-05-14 06:22] vanWittlaer commented on #854
interested

[2020-05-14 06:23] pantrtxp commented on #816
EN:
Please implement this validation only on the admin site. If a project wants another behavior, it would be difficult to disable the PHP validation for this

DE:
Bitte die Validierung nur auf Admin Seite implementieren. Wenn ein Projekt ein anderes Verhalten möchte ist es schwer die PHP Validierung zu deaktivieren

[2020-05-14 06:23] wexollm commented on #848
interested

[2020-05-14 06:24] htuscher commented on #486
Interested

[2020-05-14 06:26] alexbaat commented on #836
Interested

[2020-05-14 06:26] MDSLKTR commented on #843
interested

[2020-05-14 06:27] alexbaat commented on #843
interested

[2020-05-14 06:27] NTWEXO commented on #880
Interested - DIPS!

[2020-05-14 06:27] sebi007 commented on #852
Interested

[2020-05-14 06:28] aragon999 commented on #804
Interested

[2020-05-14 06:28] sobyte commented on #851
interested

[2020-05-14 06:29] JoshuaBehrens commented on #858
Interested

[2020-05-14 06:29] kavindu-dev commented on #527
Interested

[2020-05-14 06:30] SRaromicon commented on #811
Interested

[2020-05-14 06:30] shyim commented on #836
This is fixed with this commit. But the commit is not released from the package
https://github.com/padaliyajay/php-autoprefixer/commit/475d41b7ee4213de6ce869fb8b58f384ebdd3186

[2020-05-14 06:30] SeboBlock commented on #851
interested

[2020-05-14 06:31] bpicho commented on #802
interested

[2020-05-14 06:31] mmularski commented on #802
interested

[2020-05-14 06:31] SRaromicon commented on #680
Interested

[2020-05-14 06:31] aragon999 commented on #805
Interested

[2020-05-14 06:32] htuscher commented on #466
Interested

[2020-05-14 06:32] alexbaat commented on #821
interested

[2020-05-14 06:32] lx-wnk commented on #821
Interested

[2020-05-14 06:33] t2oh4e commented on #680
FYI: There has already been a fix for this which just lacked some tests :) https://github.com/shopware/platform/pull/458

Edit: I'm blind as Phil already posted that :D
Also interested but I don't think we'll need 3 people working on this.

[2020-05-14 06:33] JensBrunken commented on #845
Interested

[2020-05-14 06:33] tbkruse commented on #837
interested

[2020-05-14 06:33] t2oh4e commented on #863
Interested as well

[2020-05-14 06:35] BrentRobert commented on #861
interested

[2020-05-14 06:36] alexbaat commented on #839
interested

[2020-05-14 06:36] wannevancamp commented on #830
interested

[2020-05-14 06:37] niclashc commented on #833
Interested

[2020-05-14 06:37] vanWittlaer commented on #466
interested

[2020-05-14 06:37] taltholtmann commented on #588
This can be a bit tricky. Actually it is rendered with an entity single selection component. I think this has to change and you need to fetch the entities on your own and add the "All sales channel" option then.
If you need help, write me on slack ;-)

[2020-05-14 06:39] alexbaat commented on #869
interested

[2020-05-14 06:39] tbkruse commented on #827
interested

[2020-05-14 06:40] alexbaat commented on #810
interested

[2020-05-14 06:40] StephanAltmann85 commented on #872
Interested

[2020-05-14 06:41] JonasResch99 commented on #878
interested

[2020-05-14 06:41] Sune-dev commented on #872
Interested

[2020-05-14 06:42] kavindu-dev commented on #843
interested

[2020-05-14 06:42] jkrzefski commented on #861
interested

[2020-05-14 06:44] janbuecker commented on #466
As @hhoechtl said, it's a little bit mixed up. Assets and media files are the same in general, but they are handled in different ways.

The assets, like compiled javascript and CSS, are handled by the Symfony asset system and needs to be configured accordingly. So in addition to the filesystem and CDN configuration, you need to update the Symfony asset configuration too:

**config/packages/symfony

[2020-05-14 06:44] shyim commented on #804
@pantrtxp This ticket is currently not possible to implement. PHP does not support this without additional extensions

[2020-05-14 06:44] jkrzefski commented on #867
Interested

[2020-05-14 06:45] tinect commented on #669
interested, will check and extend existing PR #686

[2020-05-14 06:45] RicoMahr commented on #819
Interested

[2020-05-14 06:45] patpilus commented on #776
Problem was related with media files that were uploaded with the same name as theme plugin assets, but with no relation to theme plugin.

Here's the answer from Shopware support:

I'm closing the ticket. Thanks!

[2020-05-14 06:45] #776 closed, assigned to nobody

[2020-05-14 06:46] Sune-dev commented on #827
interested

[2020-05-14 06:46] BrentRobert commented on #830
interested

[2020-05-14 06:46] SRaromicon commented on #870
Interested

[2020-05-14 06:47] kiplingi commented on #880
Interested

[2020-05-14 06:48] BrentRobert commented on #817
interested

[2020-05-14 06:48] t2oh4e commented on #802
interested

[2020-05-14 06:48] tbkruse commented on #809
interested

-- Edit --
@pantrtxp I just checked this behavior in a freshly set up shopware 6.2 Boost Day system and the pagination is working fine. Is this behavior restricted to a specific browser?
https://send.firefox.com/download/349c9abd9e682c53/#0cP9KNYToAvlRJVYKUtUOw

[2020-05-14 06:48] kavindu-dev commented on #802
interested

[2020-05-14 06:48] shyim commented on #819
This limitation should be only on Template. From PHP Side is only the email address required

[2020-05-14 06:48] vanWittlaer commented on #841
interested

[2020-05-14 06:49] shyim commented on #841
Hint: Should be in the RequestCriteriaBuilder

[2020-05-14 06:50] NTWEXO commented on #880
@mitelg Hi, currently looking at creating the component for it so it can be used in any list with ease.

But not quite sure where to place the folder.
i have a couple places i feel could make sense
under platform/src/Administration/Resources/app/administration/src/app/component/sidebar
or
under platform/src/Administration/Resources/app/administration/src/module

both as sw-filter-sidebar-item or s

[2020-05-14 06:50] lx-wnk commented on #818
Interested

[2020-05-14 06:53] htuscher commented on #466
The main problem is, that `\Shopware\Core\Framework\Adapter\Asset\AssetPackageService` is only creating `PathPackage` instances and registers them as asset packages.

If you compare this with the asset configuration from the symfony framework `\Symfony\Bundle\FrameworkBundle\DependencyInjection\FrameworkExtension::registerAssetsConfiguration` that needs to be taken into account and create either a

[2020-05-14 06:54] wexollm commented on #838
interested

[2020-05-14 06:57] ngoedde commented on #803
Interested

[2020-05-14 06:59] wexotk commented on #879
interested

[2020-05-14 06:59] wexoaer commented on #814
Interested

[2020-05-14 07:05] niclashc commented on #833
@Phil23 @pantrtxp

If I understand correctly this is already a feature?
![image](https://user-images.githubusercontent.com/65213674/81903353-f5020b00-95c1-11ea-9928-410500650612.png)

[2020-05-14 07:07] niclashc commented on #882
Interested

[2020-05-14 07:07] wexoada commented on #795
interested

[2020-05-14 07:07] jkrzefski commented on #806
interested

[2020-05-14 07:08] Devcommerce commented on #829
Interested

[2020-05-14 07:10] pantrtxp commented on #809
@tbkruse it seems like this was implemented by one of our developers. Maybe this ticket is da duplicate.
I'll close it then :)

[2020-05-14 07:10] #809 closed, assigned to nobody

[2020-05-14 07:10] tobiasberge commented on #543
Hi, I could help with this one.

[2020-05-14 07:13] ca-tb commented on #868
Interested

[2020-05-14 07:15] AryaSvitkona commented on #860
interested

[2020-05-14 07:15] wexoaer commented on #814
@Phil23 Not directly sure, what the issue are? since the address is shown both in customer and order search?

![Screenshot from 2020-05-14 09-14-00](https://user-images.githubusercontent.com/65212848/81904252-51b1f580-95c3-11ea-8f8f-8692ae6a9003.png)
![Screenshot from 2020-05-14 09-13-37](https://user-images.githubusercontent.com/65212848/81904257-524a8c00-95c3-11ea-98c5-df8babed9a85.png)

[2020-05-14 07:15] tb-ts commented on #868
Interested

[2020-05-14 07:16] JoshuaBehrens commented on #860
Interested

[2020-05-14 07:16] wexomep commented on #816
Interested

[2020-05-14 07:17] vanWittlaer commented on #870
interested

[2020-05-14 07:17] lx-wnk commented on #834
Interested

[2020-05-14 07:18] benjamin-ott opened #885 "NEXT-8616 - Storefront zoom modal images are loaded although modal is never opened"
**Description**
At the moment the zoom modal images are loaded on page load although the modal is never opened.
For example on the product detail page all the gallery images are loaded in full size in the background for the hidden zoom modal. This is a lot of data which needs to be loaded on page load and the user might never open the zoom modal.

Good example from demo shop:
https://www.shopwared

[2020-05-14 07:18] lx-wnk commented on #812
Interested

[2020-05-14 07:18] tobiasberge commented on #836
I could help with this one if you want. You can ping me in slack

[2020-05-14 07:19] wexollm commented on #852
interested

[2020-05-14 07:19] kmendzie commented on #808
interested

[2020-05-14 07:20] tbkruse commented on #847
interested

[2020-05-14 07:25] alexbaat commented on #821
@jinnoflife Do you want to work on this together?

[2020-05-14 07:25] alexbaat commented on #810
@jinnoflife @wexotht Do you want to work on this together?

[2020-05-14 07:28] pantrtxp commented on #748
Okay, guess someone has fixed that already :man_shrugging:
Can not reproduce it too.

[2020-05-14 07:28] #748 closed, assigned to nobody

[2020-05-14 07:29] moritzreichelt commented on #842
interested

[2020-05-14 07:30] leichteckig commented on #826
I'm familiar with this topic. However, it should be fixed in `6.2`, so maybe we can close it already.

[2020-05-14 07:30] SRaromicon commented on #680
@pantrtxp Could you please unassign me from this task. I'm working on another task.

[2020-05-14 07:38] stephan4p commented on #852
interested

[2020-05-14 07:48] pantrtxp commented on #885
Maybe you want to take a look at this as well: https://github.com/shopware/platform/issues/847

[2020-05-14 07:51] benjamin-ott opened #886 "NEXT-8617 - Body behind storefront overlays is scrollable on ios devices"
**Description**
If an offcanvas or modal element is openend, you can scroll the body behind the element.
This behaviour occurs on Safari IOS and makes the mobile navigation rather hard sometimes.

**Possible Solution**
This can be fixed by preventing the body scroll event as soon as an offcanvas/modal element is openend.

**Additional context**

[2020-05-14 07:53] yesitsfebreeze commented on #886
interested 👋

[2020-05-14 08:00] mitelg commented on #814
@wexoaer if you are in the specific module, that is correct.

but if your are on the dashboard, you will only see the name

[2020-05-14 08:02] wexoaer commented on #814
@mitelg  - Ahh okay :) thanks for pointing me the right direction there :)

[2020-05-14 08:08] FalkoHilbert commented on #806
in what context should PDF documents be allowed

[2020-05-14 08:14] ngoedde commented on #803
@Phil23 In the same step I'd suggest to add a new label "GTIN" to the product detail page in the storefront. What do you think?

[2020-05-14 08:19] mitelg commented on #833
yes your are right @niclashc :+1:

[2020-05-14 08:19] #833 closed, assigned to nobody

[2020-05-14 08:20] wexojch commented on #824
@Phil23
It looks like it's fixed in the current version
![image](https://user-images.githubusercontent.com/65078828/81910065-c7ba5a80-95cb-11ea-93f2-94fda35c889b.png)

[2020-05-14 08:27] wexollm commented on #815
@pantrtxp Should you be able to upload more than one media image, if no. Then we just need to add the open media button that opens the sidebar with media ?

[2020-05-14 08:29] pweyck commented on #861
I'm willing to help, if you have any questions :)

If we want to allow empty strings and empty arrays, we could just check for ` === null`.

[2020-05-14 08:36] mitelg commented on #824
@wexojch would you like to post this in the QA channel? so they can double check and close the issue :+1:

[2020-05-14 08:37] wexomartin commented on #816
Instead of removing them on the admin productpage, could we grey them out instead? We could end up loosing the hierarchy if hiding some categories completely.

[2020-05-14 08:48] mitelg commented on #816
@wexomartin sounds like a question for the design channel :wink:

[2020-05-14 08:53] kabengwa opened #888 "All imports with csv files is failing."
**Description**

i want to import my products from one installation to another. however every attempt i make fails. and nothing is logged both in the container and app file.

**Additional context**
i am using shopware 6.1.5 in a docker container. and am also exporting the products from a server in the same environment and version. When i download and open the failed records this is all i see `SQLS

[2020-05-14 08:59] OliverSkroblin commented on #864
I am familiar with this topic

[2020-05-14 08:59] OliverSkroblin commented on #867
I am familiar with this topic

[2020-05-14 09:02] leichteckig commented on #824
I double checked and can't reproduce it either. Only thing I saw is that the last entry is cut by the footer of the modal view, maybe it would be a quick pick to fix:
![grafik](https://user-images.githubusercontent.com/29896429/81914936-38647580-95d2-11ea-9439-e2a285f92d8d.png)

[2020-05-14 09:03] pantrtxp commented on #815
Just one will suffice :)
Exactly. this is what is missing :+1:

[2020-05-14 09:04] wexollm commented on #815
@pantrtxp nice, then I just need to commit :)

[2020-05-14 09:08] runelaenen commented on #757
interested

[2020-05-14 09:18] runelaenen commented on #757
This issue seems to have been fixed in an earlier release as I am not able to reproduce it anymore.

[2020-05-14 09:18] #757 closed, assigned to nobody

[2020-05-14 09:23] runelaenen commented on #820
interested

[2020-05-14 09:27] wexotht commented on #810
@alexbaat I'm currently working on this, so you guys go ahead :)
https://github.com/shopware/platform/issues/860

[2020-05-14 09:42] ca-tb commented on #846
interested

[2020-05-14 10:18] runelaenen commented on #832
interested

[2020-05-14 11:02] akm-manjurul-alam commented on #852
interested

[2020-05-14 11:20] leichteckig commented on #486
QA approved :heavy_check_mark:

[2020-05-14 11:42] BrentRobert commented on #855
interested

[2020-05-14 12:06] #672 closed, assigned to jochenmanz, sobyte

[2020-05-14 12:06] #823 closed, assigned to wexomep

[2020-05-14 12:13] #486 closed, assigned to htuscher

[2020-05-14 12:31] benjamin-ott opened #906 "NEXT-8627 - Storefront add to cart redirects to broken offcanvas"
**Description**
If you add a product to the cart (e.g. on product detail page) and the JS Plugin is not ready you are redirected to a offcanvas widget with no styling:
![Bildschirmfoto 2020-05-14 um 14 24 17](https://user-images.githubusercontent.com/8365682/81934263-f85fbb80-95ee-11ea-8f5f-0ee2d5ca992d.png)

It happens if you are very fast and click on the "add to cart" button before the page is

[2020-05-14 12:41] leichteckig commented on #855
QA approved :heavy_check_mark:

[2020-05-14 12:47] sobyte commented on #813
@Phil23 That's the current state in `6.2-BoostDay` branch
<img width="242" alt="Bildschirmfoto 2020-05-14 um 14 45 57" src="https://user-images.githubusercontent.com/1705079/81935925-aa988280-95f1-11ea-9d1a-6743ed37768f.png">
Isn't this already correct?

[2020-05-14 12:52] runelaenen commented on #844
@pantrtxp In which version of Edge did this happen? The old version, or the new chromium-based version?

[2020-05-14 13:13] sobyte commented on #543
interested

[2020-05-14 14:02] #832 closed, assigned to runelaenen

[2020-05-14 14:06] #872 closed, assigned to StephanAltmann85, Sune-dev

[2020-05-14 14:10] pantrtxp commented on #844
@runelaenen
Sadly I can not tell you this. This is all the information we got.
This ticket was created over issues.shopware.com

Maybe you could try both?

[2020-05-14 14:13] runelaenen commented on #844
I'm on Mac so can only try the newest version. It doesn't seem to be happening on here.

[2020-05-14 14:24] #817 closed, assigned to BrentRobert

[2020-05-14 14:51] benjamin-ott opened #924 "Storefront slider items are popping up underneath each over on page load"
**Description**
On page load all the slider items (e.g. image slider on a cms page) are popping up underneath each over until the slider js is fully initialized.

**Example**
Hide all slider items (except the first one) via scss until the slider is fully initialized.

[2020-05-14 15:08] ca-tb commented on #846
The description of this issue is incorrect, or at least i dont understand, because the image from this block is used as a background image, also, it loads obviously only one image...

[2020-05-14 16:44] brtsos opened #933 "Miss 'description' section in 'extra' section (composer.json)"
**Description**
Miss 'description' section in 'extra' section (composer.json)
https://docs.shopware.com/en/shopware-platform-dev-en/how-to/indepth-guide-bundle/setup

**Possible Solution**
Add in example composer.json:
`
"extra": {
        "shopware-plugin-class": "Swag\\BundleExample\\BundleExample",
        "copyright": "(c) by shopware AG",
        "description": {
            "de-DE": "Beispie

[2020-05-14 16:47] kleinmann commented on #864
I have done a first spike in https://github.com/kleinmann/platform/tree/feature/NEXT-8600. List prices can be modified in advanced pricing and are then shown in the Storefront.

Further points:
* Should links between currencies be auto-removed/-added when changing the link for listing prices? Currently they are automatically added, but not yet removed.
* Should listing prices be automatically conv

[2020-05-14 16:55] #861 closed, assigned to jkrzefski

[2020-05-15 05:48] #810 closed, assigned to alexbaat, lx-wnk

[2020-05-15 05:49] #851 closed, assigned to sobyte, SeboBlock, MDSLKTR

[2020-05-15 05:51] #680 closed, assigned to FalkoHilbert

[2020-05-15 05:54] #769 closed, assigned to cfege, thomas-franz

[2020-05-15 05:56] mitelg commented on #933
sounds like a good issue for a PR to the docs :blush:

[2020-05-15 08:42] #819 closed, assigned to kiplingi, RicoMahr

[2020-05-15 08:58] leichteckig commented on #879
One little thing, a password has a minimum length of 8 characters (when set in Storefront), your fix allows passwords below that limit. Please consider this limit in your implementation :+1:

[2020-05-15 09:26] jkrzefski commented on #879
@leichteckig This minimum length is actually configurable from the administration. So the implementation should consider the setting for this limit instead of a fixed length.

![Bildschirmfoto 2020-05-15 um 11 24 55](https://user-images.githubusercontent.com/11394739/82034752-e3dafc00-969e-11ea-9b18-b4d5cf8037bc.png)

[2020-05-15 10:13] sobyte commented on #543
Had a look into this with @tobiasberge but we ran into following problems when trying to add `sw-popover` as a wrapper around the popup-overlay:
* Overlay closes when clicking in it probably due to a custom handler from the parent toolbar.
* Overlay will not be positioned correctly. The additional classes from `popover.directive` will not be added probably due to the absolute positioning of the pa

[2020-05-15 10:41] pawonpawon commented on #274
At least this should be updated in the DOCS here: https://docs.shopware.com/en/shopware-platform-dev-en/admin-api-guide/writing-entities?category=shopware-platform-dev-en/admin-api-guide

Since the UUIDv4 specs are specifically using hyphens, and all UUIDv4 generators and libraries only generate UUIDs with hyphens we can not expect new users to just know this - cost me 2 hours of my life.

[2020-05-15 10:51] FalkoHilbert opened #938 "Manage private media"
**Description**
Currently it is not really possible to upload or manage private media using the standard components.
Specifically, I would like to add private media via a plugin and also see and delete them in the media management. However, this is only partially possible through difficult detours and overloading of many locations.

**Possible Solution**
- remove Scope filter at
  * https://github

[2020-05-15 11:49] #669 closed, assigned to tinect

[2020-05-15 11:50] #869 closed, assigned to alexbaat

[2020-05-15 12:33] #852 closed, assigned to sebi007, akm-manjurul-alam, stephan4p, wexollm

[2020-05-15 12:36] #868 closed, assigned to tb-ts, ca-tb

[2020-05-15 13:44] #885 closed, assigned to benjamin-ott

[2020-05-18 06:14] pweyck commented on #858
Fixed in 6.2-BoostDay

[2020-05-18 06:14] #858 closed, assigned to JoshuaBehrens

[2020-05-18 06:27] AndreasA opened #941 "Import CLI Command - Calls export"
**Description**
Here:
https://github.com/shopware/platform/blob/6.2/src/Core/Content/ImportExport/Command/ImportEntityCommand.php#L92

the command calls export instead of import.

Furthermore, it is not possible to choose the profile through CLI, e.g. by providing a profile ID or profile name.

[2020-05-18 08:03] lx-wnk commented on #821
@pantrtxp Either I misunderstand the error or the problem no longer exists.

If I understand everything correctly, is the target of the topic to order that options?
![image](https://user-images.githubusercontent.com/20777072/82188715-9523a100-98ee-11ea-804f-1b6697ca827a.png)

[2020-05-18 08:39] pantrtxp commented on #821
Hi @jinnoflife
It seems like this issue is already fixed. Sorry for your time.
We could not reproduce it either.

Sunny Regards
Pantrtxp

[2020-05-18 08:40] #821 closed, assigned to lx-wnk

[2020-05-18 08:57] JoshuaBehrens commented on #858
Nice :shipit:

[2020-05-18 09:17] lx-wnk commented on #821
No problem :)
Thanks for the response!

[2020-05-18 11:58] #870 closed, assigned to SRaromicon, vanWittlaer

[2020-05-18 11:59] #827 closed, assigned to tbkruse, Sune-dev

[2020-05-18 14:31] Lavean commented on #614
Is there any update on this?
We're not sure if we are doing something wrong but this issue is giving us quite the headache ..

[2020-05-18 21:06] alexbaat opened #945 "NEXT-6803 - Error in calculation of the price matrix by property weight"
**Description**
In case shippingcosts are calculated based on weight, it should take into account the quantity of the lineitem. So in case the weight of 1 item of a product is 2Kg and the quantity of the orderline is 3, it should calculate shippingcosts with 2 * 3 = 6Kg. Currently it uses 2Kg.

**Possible Solution**
Multiply the weight of the product with the quantity in the lineitem.

[2020-05-19 06:04] FiveDigital commented on #808
Maybe it's not a good idea to have a collapse/expand mechanism but it might be possible to have an icon at the articles with variants that links to a product list specific for the article. In the list you see only the variants of that article with an own pagination. So it's more like a filter for a parent ID.

[2020-05-19 07:05] mitelg commented on #945
hey @alexbaat
thanks for the issue :blush: :+1: I will close this here, as you already created a PR for that :+1:
we will handle the issue there :wink:

https://github.com/shopware/platform/pull/946
https://issues.shopware.com/issues/NEXT-6803

[2020-05-19 07:05] #945 closed, assigned to nobody

[2020-05-19 07:15] d3tr1tus commented on #865
I just rebuild complete Docker and now it's working.

[2020-05-19 07:15] #865 closed, assigned to nobody

[2020-05-19 09:59] ChristopherDosin opened #950 "error handling within the administration custom entities"
If you have a custom entity extension with a required flag for a field and a custom input with a required field for example, the error handling within the administration does not work properly.

You're getting only the notification `An error occurred while saving the entity ..`.

But you don't get the specific error which should be something like `Input field bar is required`. In the end the user

[2020-05-19 11:36] #815 closed, assigned to FalkoHilbert, wexollm

[2020-05-19 12:41] MelvinAchterhuis commented on #880
@NTWEXO  Is it build so that I can implement it in the order overview? When having multiple sales channels it should be possible to filter in the orders so it would be awesome if the new sidebar filter can be easily implemented! (Because in 6.2 the filter option in the order overview is completely removed)

[2020-05-19 12:54] MDSLKTR opened #953 "GET /store-api/v1/context Route not working with empty request body in 6.2"
**Description**
The Route GET /store-api/v1/context described here: https://docs.shopware.com/en/shopware-platform-dev-en/store-api-guide/sales-channel?category=shopware-platform-dev-en/store-api-guide is throwing an internal server error when using with with a 6.2 demostore not supplying any payload. It should handle this error service a bad request or use any sensible default in my opinion.

**A

[2020-05-19 12:58] MDSLKTR commented on #953
Note that the request body is empty, so with
[code]
it works, but the case should be handled when **no payload is given**.

[2020-05-19 15:02] develth opened #955 "theme:compile creates wrong / mixed up scss"
**Description**
When make a ```theme:compile``` the scss is  mixed up at some nesting items. It seems it try to take all possible variants (see example) at a specific layer.

**Possible Solution**
None

**Additional context**

scss:

[code]

Result is (for the .arb part):

[code]

I didn´t defined this part anywhere else.
I have an similar example at another part.

It was all fine before updating

[2020-05-19 15:41] #955 closed, assigned to nobody

[2020-05-19 15:52] heydavee opened #956 "Template overwriting broken after updating from 6.1.5 to 6.2"
So my theme or "plugin" `base.html.twig` is located here:

`custom/plugins/CustomTheme/src/Resources/views/storefront`

When i use

`{% sw_extends '@Storefront/storefront/base.html.twig' %}`

and change the base_header module to

[code]

The changes are not visible. That goes with every overwriting process across the website

How do i fix this? Did i miss something?

[2020-05-19 16:27] dominikmank commented on #956
I've had the same problem. For me it was a problem that my theme.json File containing the field "name" didn't match up with the plugin name.
It could'nt extend because it's not found when the template should be resolved in https://github.com/shopware/core/blob/v6.2.0/Framework/Adapter/Twig/TemplateFinder.php#L110 .

Perhaps you've got the same problem?

[2020-05-19 22:02] Algorithman opened #957 "Swagger definition"
https://github.com/shopware/platform/blob/42c8e52ea24366f3f19da913356b3356fc9dac0a/src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiSchemaBuilder.php#L239-L260

Isn't here the definition anyOf without use? All 3 properties are required and meta isn't even defined.

[2020-05-20 05:31] heydavee commented on #956
In my composer.json i got

`"name": "swag/theme-skeleton",`

But in my theme.json i got

`"name": "customtheme",`

You think that is the root of the issue?

My css is loaded totally fine by the way.

Also when i double checked the documentation i found that they changed the folder structure or am i missing something here again 😄

`src/Resources/app/storefront/views/layout/header`

I'm using

`src/

[2020-05-20 06:12] mitelg commented on #938
afaik, it is not intended by design that private files are manageable via the admin media module. I think they are supposed to be managed by the plugin or module which created them and not by the shop manager. Imagine a plugin which creates labels for shipping and the shop manager can delete and change as he/she wants.
So basically the private file system should be handled by code and not a user.

[2020-05-20 06:16] mitelg commented on #956
@DaveWoody this is an issue of the docs. your path is correct. also have a look at this PR :wink:
https://github.com/shopware/platform/pull/857/files

[2020-05-20 06:42] dominikmank commented on #956
Sorry, my answer went in the wrong direction. The rebuilding of the views was also part of my problem. But not exclusively. My problem was also that my theme was not found in the InheritanceBuild Process which happened because of the changes from https://github.com/shopware/storefront/commit/7c7f7e4546b5aba1cc118f679f3f830b24980c49.
Maybe it was just too many problems to solve at once ;-)

[2020-05-20 06:57] FalkoHilbert commented on #938
The files should be in a private directory so that they cannot be accessed from outside, but the shop manager should be able to manage them.

[2020-05-20 07:09] MDSLKTR opened #959 "Implement an API Endpoint to fetch snippet sets"
**Description**
In order to build full fletched headless applications and use the administration to add and translate snippets there is a need for an API endpoint to fetch translations from. If it already exists it should be documented.

**Example**
I wrote one quick and dirty myself for the sales channel API, but it would be much better fitting the new store API imo:

[code]

[2020-05-20 08:13] heydavee commented on #956
Fixed. Thanks @dominikmank ! It really was a case-sensitive issue with the name.
I changed it, compiled, cleared cache and everything works again.

[2020-05-20 08:13] #956 closed, assigned to nobody

[2020-05-20 10:21] develth commented on #955
I digged more into debugging, its a bug in scssphp:

https://github.com/scssphp/scssphp/issues/111

Closed.

[2020-05-21 15:30] KobusPost opened #961 "Migration1584953715UpdateMailTemplatesAfterOrderLink.php fails when no German language"
**Description**
Migration1584953715UpdateMailTemplatesAfterOrderLink.php fails when there is no german language configured. The german languageid is an expected argument in the migration. If fails because a string is expected and null is given

**Possible Solution**
Add german language in admin interface and execute migration.

[2020-05-22 08:48] AlexBachmann opened #964 "[SEARCH PERFORMANCE] Only Store UNIQUE keywords in product_keyword_dictionary"
**Description**
I encountered this problem in Shopware 6.1.5 in the **Shopware\Core\Content\Product\SearchKeyword\ProductSearchKeywordIndexer** but I just took a quick look at the **Shopware\Core\Content\Product\DataAbstractionLayer\SearchKeywordUpdater** and the problem seems to be exactly the same.

You are storing the same keyword into this table over and over again, without checking if it's al

[2020-05-22 13:27] elkmod opened #965 "Payment finalize-transaction inaccessible in headless environment"
**Description**
The [PaymentTransactionChainProcessor](https://github.com/shopware/platform/blob/6.2/src/Core/Checkout/Payment/Cart/PaymentTransactionChainProcessor.php#L156) hard-codes the return URL to `payment.finalize.transaction` ([PaymentController](https://github.com/shopware/platform/blob/6.2/src/Core/Checkout/Payment/Controller/PaymentController.php#L33)), which is `storefront`-scoped.

I

[2020-05-22 14:40] AndreasA opened #966 "SQL_CALC_FOUND_ROWS is deprecated since MySQL 8.0.17"
**Description**
SQL_CALC_FOUND_ROWS and FOUND_ROWS has been deprecated since 8.0.17
Please check

See MySQL documentation: https://dev.mysql.com/doc/refman/8.0/en/information-functions.html#function_found-rows

**Possible Solution**
As described use two queries. One with limit and one without limit that just does a count.
It is also supposed to be faster as `count(*)` is using optimizations, where

[2020-05-23 06:25] mitelg commented on #965
is it possible to call a store-api route without any authentication? I think that was the reason, why we used the storefront route, (before we had the store API) because the Saleschannel API was not callable without access key.

[2020-05-25 08:40] shyim commented on #964
This should be fixed in 6.2.0. Can you test it there again?

[2020-05-25 11:26] d3tr1tus opened #968 "User is logged in -> blank page on route /account/login"
If user is logged in it shows just blank page. If I go to route `/account/login`

[2020-05-25 15:00] #906 closed, assigned to benjamin-ott

[2020-05-25 15:29] shyim commented on #953
I cannot reproduce that.
![image](https://user-images.githubusercontent.com/6224096/82826381-4efdad00-9ead-11ea-9418-c890ef514953.png)

Can you give a curl example?

[2020-05-25 18:15] ChristopherDosin commented on #950
Another example:
You have a `VARCHAR(255)` field within your table.
Within the administration you have a `<sw-textarea-field type="textarea" ...`.

Now if you type in more than 255 characters you only get an error message "Could not be saved`. Only within the network tab you'll the exact error message e.g `This value is too long. It should have 255 characters or less.`.

<img width="1437" alt="Bil

[2020-05-25 18:32] ChristopherDosin commented on #950
And another error handling related issue: If you upload a file that is too big because of the server settings restrictions there should be also a feedback for the user e.g error message based on the 413 response.

Otherwise the user would never know why the picture isn't uploaded. Currently nothing happens. No feedback, nothing. You only see the issue within the network tab.

<img width="1072" alt

[2020-05-26 10:27] MDSLKTR commented on #953
Hey @shyim this should do it: `curl -i -H "sw-access-key: SWSCBHFSNTVMAWNZDNFKSHLAYW" https://wwweewew.shopwaredemo.store/store-api/v1/context`

resulting in:

[code]

This demo instance is running 6.2.0

[2020-05-27 06:30] #806 closed, assigned to jkrzefski, FalkoHilbert

[2020-05-27 06:30] #820 closed, assigned to runelaenen

[2020-05-27 06:30] #855 closed, assigned to nobody

[2020-05-27 06:30] #802 closed, assigned to t2oh4e, bpicho, mmularski, kavindu-dev

[2020-05-27 07:54] PhenomEY opened #971 "Article Property search pagination broken"
The pagination for the article properties doesnt work. it only shows 1 page even if there is more.
So you cant choose your properties if you have too many because you can only see the first page.

[2020-05-27 14:00] oriske opened #974 "window.apiAccessUrl = "{{ url('frontend.api-access') }}"; missing in base.html.twig"
Please add

window.apiAccessUrl = "{{ url('frontend.api-access') }}";

to base.html.twig

to the block

  {% block base_script_token %}

as in the production template

[2020-05-27 15:40] AndreasA opened #975 "ProductCrossSellingDefinition: TranslatedField name has required flag - which should only be set on the translation"
**Description**
The ProductCrossSellingDefinition has the required flag set on the TranslatedField name.

This result in an issue when using upsert in combination with translations that the name for a translation is missing although it was provided.

**Possible Solution**
Remove the flag from the ProductCrossSellingDefinition and only add it to ProductCrossSellingTranslationDefinition.

[2020-05-27 17:08] JoshuaBehrens commented on #542
For shopware 6.2 I had to change my solution to this:
[code]

[2020-05-28 06:09] mitelg commented on #974
hey @oriske
it is in the code? https://github.com/shopware/platform/blob/6.2/src/Storefront/Resources/views/storefront/base.html.twig#L116 and also in the Storefront many repo: https://github.com/shopware/storefront/blob/v6.2.0/Resources/views/storefront/base.html.twig#L116
are you on the right platform branch?

[2020-05-28 06:27] mitelg commented on #975
hey @AndreasA
thanks for the report. you are absolutely right.

Also sounds like an easy pick for a PR contribution :blush: :+1:

[2020-05-28 06:32] oriske commented on #974
OK it is in there now.
Maybe my mistake but i have been on "shopware/platform": "6.2.x@dev"

Herzliche Grüsse

Oliver Riske

[2020-05-28 06:37] #974 closed, assigned to nobody

[2020-05-28 06:47] mitelg commented on #975
@ssltg there are several translatedFields marked as required. this should be fixed and a test for preventing this, would be nice :+1:

[2020-05-28 08:31] AndreasA opened #976 "Symfony Mailer instead of Swiftmailer"
**Description**
Symfony has its own mailer bundle now which would be nice if it were used by default.

It is also going to replace swiftmailer in the long term, so it would be nice if Shopware were to use it too.

It also has some nice options to test mail sending.

[2020-05-28 10:17] JoshuaBehrens opened #978 "Empty snippets so that they don't get overridden by inheritance"
**Description**
I want to remove the content of a snippet as it should not be displayed at all. When I have it empty the placeholder is shown. I assume it will fallback to the value from the file. So put in there a space to make it sort-of empty. But the administration does not allow me to save it.

**Possible Solution**
Allow saving empty snippets and differ between empty and null snippets.

[2020-05-28 11:04] joanna-gil opened #979 "Mobile navigation has min-height after returning from the subcategory"
**Description**

When the user goes to mobile navigation, clicks on a category, and then returns to the view with all categories, the window height is too large, gets the height from opened subcategories

**Additional context**
![Screenshot from 2020-05-28 13-02-32](https://user-images.githubusercontent.com/57439261/83133701-8b1a5300-a0e3-11ea-8362-c0abea3b5eb8.png)

[2020-05-28 12:05] NicoWenig27 opened #980 "Offcanvas submenu to small"
**Description**
Prerequisites:
- Enough root-level categories that you can scroll in mobile offcanvas navigation
- One category with only one subcategory at the end of the root-level

If you open the category with only one subcategory while scrolled to the bottom of the offcanvas, the submenu will be smaller than the root menu and you will still see the root menu below it. Furthermore if you have

[2020-05-29 08:30] AndreasA opened #982 "Product Cross Selling does not support custom fields"
**Description**
Add support for custom fields in cross selling. At least the entity itself should have the option to add custom fields (even if the admin does not yet display them).

[2020-05-29 11:05] AndreasA commented on #975
@mitelg
Just wondering for which branch should the PR be created? 6.2 or master?

Regarding. check. What about adding it to the `dal:validate` command.
This command could be executed before starting with the tests that would also verify that everything is fine regarding the database (e.g. no migration is missing)

[2020-05-29 12:53] mitelg commented on #975
I'm not sure, but I think this could be considered as bug, so a PR against 6.2 should be ok.

yes, adding this check to the validate command sounds like a good idea :+1:

[2020-05-29 14:15] jeroenbalk-adwise opened #985 "Extending administration components not working"
Hello,

I tried to extend a component in the administration, like explained on this page: https://docs.shopware.com/en/shopware-platform-dev-en/developer-guide/administration/inheritance

I want to add an extra menu option in the sidebar list on the Content -> Shopping Experiences page. So I created a plugin with the cli. In /src/Resources/app/administration/src/main I created the following code:

[2020-05-29 16:03] almare commented on #985
Do you want to override or extend? Like the name said extend and override. It's not the same. Try to override and make a   `const sortPageTypes = this.$super('sortPageTypes').` call in your function and add your sort type then.

[2020-05-31 16:55] aagd opened #987 "German Shortcut for Clear Cache wrong"
**Description**

In `platform/src/Administration/Resources/app/administration/src/app/snippet/de-DE.json` line 882 reads:
`    "keyboardShortcutSpecialShortcutClearCacheMac": "control s",`

**Possible Solution**
Line 882 should read:
`    "keyboardShortcutSpecialShortcutClearCacheMac": "control c",`

**Additional context**
English version is OK

[2020-05-31 19:24] mitelg commented on #987
hey @aagd
thanks for the hint.
sounds like an easy pick for a PR 😉

[2020-06-01 09:04] MajorKuprich opened #988 "[PHPStorm] Can't connect to database"
**Description**
I try to configure database connection in PHPStorm.
From adminer I can connect to db.
Credentials are the same like in adminer.
But it still throws exception:
`[08001] Could not create connection to database server. Attempted reconnect 3 times. Giving up.
java.net.ConnectException: (Connection refused).`
The problem is only with this project.

**Possible Solution**
I think the issu

[2020-06-02 06:56] ireznik commented on #988
Do you use docker as development environment? If so, check the port of the database if it is exposed to access from outside of the docker network. Docker does not expose all services as default.

[2020-06-02 11:01] lutek commented on #521
@mnaczenski I spent a few days analyzing your platform (v6). It looks great, unfortunately I stopped at the same as @Zyles, taxes for shipping. The invoice calculates wrong tax summary for products with different tax rates.
Not complying with EU countries disqualifies it.
Display (tax inc. etc) can be changed by "encoding in template" but this should be built in.

Currently my shop has been runnin

[2020-06-02 14:03] mnaczenski commented on #521
@lutek It's already on our public roadmap and planned in the next months.

[2020-06-02 14:13] lutek commented on #521
oh I'd like to hear next month, not months ;) I really like your platform.

[2020-06-02 16:40] MajorKuprich commented on #988
Thank You,
I checked the db container port and it shows different than default: 4406. :)
It works now.

[2020-06-03 05:35] Braintelligence commented on #971
I also have this issue which is a huge problem.

[2020-06-03 06:11] #988 closed, assigned to nobody

[2020-06-03 10:45] Braintelligence commented on #809
Was this issue related to this one? https://github.com/shopware/platform/issues/971

It's on different parts of the UI but maybe the same mistake was made for the pagination?

[2020-06-03 11:24] pantrtxp commented on #971
We are currently fixing this for the 6.2.1. This should be fixed in the next couple of days.
https://issues.shopware.com/issues/NEXT-8764 here is the ticket for this (only german though)

We have experienced this behavior in some modules and will try to fix it globally.

Sunny regards
Pantrtxp

[2020-06-03 13:15] ThomasChr commented on #987
Yes, that was an easy one :-)
Thanks @aagd !
Hope you didn't want to make the PR yourself!

[2020-06-03 13:16] Braintelligence commented on #971
Awesome, thank you @pantrtxp 👍

[2020-06-03 13:23] aagd commented on #987
@ThomasChr  No, thank you for helping out. Would have taken me too long. Next time, I'll try it myself.

[2020-06-03 13:23] #987 closed, assigned to nobody

[2020-06-04 06:43] #971 closed, assigned to nobody

[2020-06-04 08:59] juliankoehn opened #994 "store-api/v1/customer wrong method"
**Description**
According to the [docs](https://docs.shopware.com/en/shopware-platform-dev-en/store-api-guide/account?category=shopware-platform-dev-en/store-api-guide) the endpoint has a POST method:
[code]

API Response:

[code]

**Additional context**
Shopware Version: 6.2.0 Stable

[2020-06-04 09:07] mitelg commented on #994
hey @juliankoehn
this is probably a copy paste error in the docs :see_no_evil: :wink:

looking at the source https://github.com/shopware/platform/blob/6.2/src/Core/Checkout/Customer/SalesChannel/CustomerRoute.php#L65
it must be `GET`

would be an easy pick for an PR to fix the docs accordingly :blush:

[2020-06-04 09:22] juliankoehn commented on #994
This would mean we should use the "Sales-channel-api" endpoint [here](https://docs.shopware.com/en/shopware-platform-dev-en/sales-channel-api/sales-channel-customer-api?category=shopware-platform-dev-en/sales-channel-api#get-detailed-customer-information)

I would rather guess, that it should be Post, so we can use "includes" on the new store-api endpoint. Would at least make sense in point of "co

[2020-06-04 09:33] juliankoehn commented on #994
As reference the Product API endpoint [ProductListingRoute.php](https://github.com/shopware/platform/blob/6.2/src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php#L75) accepts POST with Criteria

[2020-06-04 10:22] mitelg commented on #994
ok, that would also makes sense :blush:
I was not involved in the development of the store-api, so that was a quick guess of mine. My colleagues (@shyim ) may say more about that issue

[2020-06-04 10:54] MrMDeluxe opened #996 "Missing NotBlank Constraint in DateFieldSerialzer"
In my entity definition file i have a date field with added required flag.
This is ignored due to the getContraints function of the DateFieldSerializer, where only a type constraint will be returned.

Possible Solution:
Also add the NotBlank Constraint to the DateFieldSerializer getConstraints function.

Then also mapApiErrors/mapPropertyErrors will work for dateFields in the administration...

[2020-06-04 11:10] juliankoehn commented on #959
on the most api endpoints you can use `includes` to fetch the translations. e.g `'product_translations': { id, name, blabla }`

[2020-06-04 11:30] shyim commented on #994
Feel free to make an PR to allow also POST :)
You can also send that parameter using GET Parameter, it looks ugly, but should work :)
Btw you can also look into https://api-doc.friendsofshopware.com/?urls.primaryName=Store%20API%20(6.2.0)#/
It should be more compatible

[2020-06-05 08:08] juliankoehn commented on #994
@shyim sadly, i have no php dev environment, swapped years ago to golang. I ported a lot of the shopware api to an golang-sdk. Anyway thanks for sharing your swagger! :-)

[2020-06-05 16:44] MDSLKTR commented on #959
But what about ui translations? Button snippets for pages that are not shopping experiences for instance.

[2020-06-06 08:00] OliverSkroblin commented on #966
Hi @AndreasA ,
Thanks for the info. We are already working on a solution here. Unfortunately it is not as easy as you think. For example, SELECT COUNT(*) does not work if it is a query with GROUP BY. There are other Edge Cases where a simple exchange is not possible

But we will provide a solution here soon.

[2020-06-06 08:01] OliverSkroblin commented on #975
The fix can easily be made in a patch release. The existing behavior is only corrected and not changed much.

[2020-06-08 07:18] jeroenbalk-adwise commented on #985
@almare I want to override just the computed method. Like in this example:
https://docs.shopware.com/en/shopware-platform-dev-en/developer-guide/administration/inheritance#extending-methods-and-computed-properties

It says I need to extend, not override. I also want to leave the other methods untouched.

[2020-06-08 13:32] sawden opened #1006 "Add to the docs how to extend a core entety with a many to one association"
*Explain in the docs how to extend a core entity*
The Docs explain how to add a "ManyToManyAssociation" to the "ProductDefinition": https://docs.shopware.com/en/shopware-platform-dev-en/how-to/indepth-guide-bundle/entity-association?category=shopware-platform-dev-en/how-to/indepth-guide-bundle

But i can't find an explanation that shows how to add a "ManyToOneAssociation" to a core entity.
After s

[2020-06-09 06:19] djedrzejewski opened #1008 "Doubling the cart when old order is added again"
**Description**
Hello. I met the problem with doubling the cart items, when trying to re-order previously accepted order. The problem happens only if there was/there's a promotion item in the cart. So to recreate this, you must go like this:
1. Create an promotion which is added as item to the cart
2. Make an successful order
3. Go to user orders summary page
4. Try to order again same set of item

[2020-06-09 10:18] patpilus opened #1009 "[6.2.0] Unable to change shipping address during checkout"
**Description**
After update to Shopware 6.2.0 it's impossible to change shipping address on `checkout/confirm` page. Clicking `Change shipping address` button shows billing address change modal instead of shipping one.

Also confirmed that on 6.2 DemoStore (without any modifications):
![image](https://user-images.githubusercontent.com/13252273/84136212-45e31300-aa4b-11ea-980f-208c135c1f55.png)

[2020-06-09 10:52] mitelg commented on #1009
hey @patpilus
seems to be that problem https://github.com/shopware/platform/pull/973
will be fixed with 6.2.1

[2020-06-09 10:52] #1009 closed, assigned to nobody

[2020-06-09 14:02] almare commented on #985
Than you have implement your new component on your own in a template. This means you have to add somewhere `<sw-cms-list-custom><sw-cms-list-custom>`
Until you don't add your new component nothing will happen, because yo created a new component! But this new component is not used anywhere, right?
With extend you create new components you have implement yourself in a template. With override you ext

[2020-06-09 16:33] jochenmanz opened #1010 "Account order edit enables to pay for a order multiple times"
**Description**

If a PaymentProcessException is thrown, the corresponding edit order page does not check if the order is actually paid. As the edit page can be accessed multiple times, i could pay for the order also multiple times.

**Possible Solution**

Check if the sum of all transactions (filtered by state is not equals to cancelled) equals the order amount.

**Additional context**

[2020-06-10 11:26] PhenomEY opened #1011 "Administration: Productlist only shows Prices for Page 1"
In the administration section product the productlist only contains prices on page 1.
All other pages show "-" in the price column

[2020-06-10 13:11] jeroenbalk-adwise commented on #985
Okay, so if I want to add one menu-option to the existing administration component I need to override instead of extend, in which I only re-define the methods I want to change? Like this:

[code]

Like this? Or did I miss something?

[2020-06-10 13:15] almare commented on #985
Try this one
[code]

[2020-06-10 13:18] jeroenbalk-adwise commented on #985
Thanks! I'll try soon and let you know! :)

This in my administration main.js file of my custom plugin will be enough? :)

[2020-06-10 13:20] almare commented on #985
nope... :-) add this file to your main.js. Otherwise the system doesn't know that the file exists. Bu I guess that's close

[2020-06-10 13:48] jeroenbalk-adwise commented on #985
Yeah, added this code to this file: development/custom/plugins/CustomForms/src/Resources/app/administration/src/main.js

build administration, cleared cache, refreshed browser with clearing browsercache and it works! :) Thanks so much.

[2020-06-10 14:40] Sheek44 opened #1012 "Newsletter Recipient saving dont work as intended"
**Description**
When you are editing/updating an Newsletter-Recipient via the Newsletter-Recipient-Detail page its not possible to save a value twice. E.g.: My recipients language is set to english. When you hit save after switching it to german the update is successful (network-tab also shows the request). When you now switch the language back to english and hit save your changed value wont get s

[2020-06-10 16:03] edvinbrobeck commented on #491
Not sure if it is the same problem but it sure sounds a lot like the one i'm having.
@uehler Did you manage to solve it?

Right now i'm changing the inheritance order and placing my custom plugin after the theme in the theme.json file.

[code]
But this is fundamentally flawed as i want plugins to be overriding the template. Or am i missing something else?

[2020-06-11 04:21] daibbcvl opened #1014 "Dynamic product doesn't work correctly on shopware 6.2"
**Description**

I create a Resolver then get product list from a product stream like that

[code]

- Sometimes I get an error like that

[code]

- But I change the config to another product stream, then it works. Please help me take a look at **ProductStreamBuilder**

[2020-06-11 14:43] MajorKuprich opened #1016 "Custom domain local"
**Description**
Custom domain in local environment not working with shopware.
1) I want to assign shopware.test to 127.0.0.1 in /etc/hosts but it's not working.
2) I can change only ports for docker services (docker-compose.ovveride.yml), but where I can change default ip address?

**Possible Solution**
What should I do to change default local shopware ip address?
Is there any description for this

[2020-06-11 16:35] nergerf opened #1018 "Own theme, JS files and CSS files from plugins are no longer included"
**Description**

Use the developer version from Git as of June 11th, 2020.
I created a theme plugin via the console and assigned it to the storefront. Now the JS files and the SCSS files are no longer included. Emptying the cache doesn't help. Even if I ran storefront: build from the console, it doesn't work. Errors are not output.
It works with the productive shop.

[2020-06-12 07:42] almare commented on #1018
I have the same problem. All of my plugins are broken with current dev.

[2020-06-14 16:26] sawden opened #1021 "Product stock inheritance issue"
**Description**
Cant save product variation if you restore inheritance on the stock field.

1. Create a Product variation
2. Click on "Edit"
3. Scroll to "Deliverability" and click on the inheritance icon
4. Click on "Save"

![produkt_lagerbestand](https://user-images.githubusercontent.com/36924392/84598617-63114a80-ae6c-11ea-8327-ce947913855c.png)

[2020-06-15 06:29] AndreasA commented on #975
Not sure when I will have time to create a PR - even though it is a simple one. Have to do other stuff currently, so it would be nice if someone else could fix this

[2020-06-15 06:29] AndreasA commented on #966
True but it should still be possible.
However, if you are already working on it, it is fine.

[2020-06-15 06:45] uehler commented on #491
I didn't look further into it.
Shopware did some patches which I have backported, which helped a bit, and I loaded the base.html.twig directly with my controller and only showed a flash message.

[2020-06-15 14:03] nicoanders commented on #1018
[cc0c2fc](https://github.com/shopware/platform/commit/cc0c2fcac3a187e4a559de4fe5dac0965018b2b5#diff-fd22aad7c042a776062404ee088a631cR108) in #486 is the source of the problem. The condition for the recursion level breaks the functionality.

[2020-06-15 14:36] vdloo opened #1030 "Shopware 6.2.1 breaks recovery/install/index.php installation"
We've noticed that with the new [v6.2.1](https://github.com/shopware/platform/releases/tag/v6.2.1) the `php recovery/install/index.php` installation throws an error. My guess is that this is related to "[NEXT-6735](https://issues.shopware.com/issues/NEXT-6735) - It is now possible to set the default country during the installation" https://www.shopware.com/en/changelog/#6-2-1, but I haven't looked

[2020-06-15 16:28] nergerf commented on #1018
@nicoanders Danke für die Hilfe

[2020-06-16 06:27] mitelg commented on #1018
there is a PR with a ticket, which fixes the problem: https://github.com/shopware/platform/pull/1031

[2020-06-16 12:07] PhenomEY opened #1035 "Variant Prices in listing are displayed wrong"
If you have a article with variants which have different prices, the lowest price does not get displayed in the product listing.

example a T-Shirt: M costs 10$  L costs 15$ and XXL costs 20$
If you chose L as default the price in the listing will be **15$**

It should be **starting at 10$**

[2020-06-16 13:15] bystro opened #1036 "Product thumbnail support in email templates"
**Description**
Possibility of having thumbnails of products in emails are being sent by a platform.

**Example**
Table with ordered products in order confirmation email could looked like below
<img width="843" alt="obraz" src="https://user-images.githubusercontent.com/14996446/84779269-7a734380-afe4-11ea-93a7-2d2298bb084c.png">

[2020-06-16 13:28] htuscher opened #1037 "Order of cms slots is inconsistent in 2col element"
**Description**

When using the two column cms element, the order of the slots in the designer view is correct, like in the 3 column element:

![image](https://user-images.githubusercontent.com/5076356/84780237-a4793580-afe5-11ea-97b2-8885c01039fc.png)

But if you open the view content of the category this layout is assigned to, you'll see that the order of the slots of the 3col element is correct

[2020-06-16 15:34] Inovanet opened #1039 "Detail Button for Product List not working"
Deactivating "Add to Cart" option for product list to show detail button displays no button.

See code below for fix.
[code]

[2020-06-16 15:59] Sheek44 opened #1040 "rulebuilder not equals condition doesnt work for Entitys"
**Description**
When selecting the not equals filter in the rulebuilder you wont get any results for the search.

[2020-06-17 13:46] mitelg commented on #1018
should be fixed now in 6.2.2

[2020-06-17 13:46] #1018 closed, assigned to nobody

[2020-06-17 14:25] nergerf commented on #1018
Danke Michael

[2020-06-18 22:57] moorl commented on #1035
Additional the list prices are not displayed in the storefront (dev v6.2.2)

[2020-06-19 07:09] Carrvin commented on #614
*push*

[2020-06-19 11:26] psychorex opened #1051 "Translation for tabs, blocks, sections and fields not working (theme.json)"
**Description**
Tab, block, section and field labels from theme.json are not translated.

**Additional context**
When implementing a theme plugin (using shopware/development v6.2.2) and I add custom tabs, blocks, sections and fields, they are always English, even if the admin user changes the language to e.g. German.
All the lables have a "en-GB" and a "de-DE" value.

![image](https://user-images.

[2020-06-19 23:43] wilfriedwolf opened #1055 "MySQL 8 setup error"
**Description**
When running `bin/console system:install --basic-setup`  or the web-based-installer on a MySQL 8 server (actually tested with Percona 8.0.19) there is an error.
In the console it says that it is while creating a trigger. In the web-based-installer the reason can not be seen.

**Possible Solution**
According to the error message it can be solved by setting `log_bin_trust_function_cr

[2020-06-20 10:01] shyim commented on #1055
Give your user rights to create triggers

[2020-06-22 07:15] wilfriedwolf commented on #1055
Good morning @shyim,

The user I used had all privileges, I did a :

[code]

beforehand. So I guess he had the privilege to create a trigger, But I think you are completely right, that the problem is none of shopwares business, but of my database setup, which enables binary login, which as i understand it now after some sleep.

[2020-06-22 07:15] #1055 closed, assigned to nobody

[2020-06-22 07:30] henrikvolmer opened #1057 "Elasticsearch aggregation does not work in 6.2.2"
**Description**
The aggregation of filters on a product list no longer works with Elasticsearch in version 6.2.2. The problem here is the feature that properties can be excluded in the product list filters.

Following error message returns the Elasticsearch:

`{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"[composite] aggregation cannot be used with a parent aggregation of

[2020-06-22 07:52] shyim commented on #1057
It would be awesome when we have a guide how to reproduce that

[2020-06-22 09:01] henrikvolmer commented on #1057
**steps to reproduce:**

- Enable elasticsearch

.env
[code]
- Start dal index refresh
`bin/console dal:refresh:index && es:create:alias && es:index:cleanup`

- Go to a productlist page
- Look at the dev.log file in dev mode

**Excepted result:**
- There is no critical error in the dev.log file

**Current result:**
- The is an elasticsearch error in the dev.log file

`app.CRITICAL: {"error":{"root

[2020-06-22 13:18] jacekwilczynski opened #1062 "Missing thumbnails"
**Description**
Sometimes the thumbnail generation seems not to work, resulting in 404 errors when an <img> tag points to non-existing files. The error is hard to replicate now because if I upload a new image, it's ok, so I'm attaching a video of what things look like with an existing image.

It seems related to https://issues.shopware.com/issues/NEXT-7754 but that issue does not mention the probl

[2020-06-22 13:32] tobiasberge commented on #824
The missing scrollbar was already fixed and the issue with the cut off grid was resolved through this PR: https://github.com/shopware/platform/pull/923

[2020-06-22 13:32] #824 closed, assigned to nobody

[2020-06-23 08:04] ouven commented on #466
This - of cause - breaks the admin area :(

[2020-06-23 17:51] patpilus opened #1066 "[Message Queue] Unable to route message to single transport (always fallbacks to default)"
**Description**

I want to configure my custom message to single Symfony Messenger's transport (other than `default`), eg.:
[code]

In [Message Queue documentation](https://docs.shopware.com/en/shopware-platform-dev-en/references-internals/core/module/queue#routing) there's such statement:

Unfortunately it doesn't work this way. Wildcard `'*'` set in Shopware config causes each message to be send

[2020-06-24 06:20] OliverSkroblin commented on #1035
Hi @PhenomEY,

thanks for the hint, we fixed this bug with the following commit: https://github.com/shopware/platform/commit/298a9a02b4f4af670c0db504bfe48ceb436728b0

[2020-06-24 06:20] #1035 closed, assigned to nobody

[2020-06-25 05:53] #588 closed, assigned to runelaenen, taltholtmann

[2020-06-25 06:40] runelaenen opened #1071 "Add storefront icons"
**Description**
At the moment, it's not possible to easily add storefront icons.
The icon.html.twig file only imports icon sets from the @Storefront namespace so an override of icon.html.twig in our own theme was necessary to use the sw_icon command with our own icons.

**Example**
Or look in all namespaces for the existance of the icon pack.
Or pass an alternative namespace to the sw_icon command

[2020-06-25 09:02] runelaenen opened #1072 "Toggle maintenance mode via CLI"
**Description**
Add a CLI command to toggle the maintenance mode so this can be automated in build scripts.

**Example**
bin/console maintenance:enable [--all|-a] <sales channel ids>
bin/console maintenance:disable [--all|-a] <sales channel ids>

[2020-06-25 16:30] bug-or-feature opened #1074 "Product export does not honour 'include variants' config setting"
## Description
Product export from Admin screens does not include variants, even when "Export product variants" is toggled on

## Steps to reproduce

### Setup
- Delete all products
- Create one new product
- Add a few simple variants to the product

### Test 1
- Export the Products to CSV. Admin Dashboard > Settings > Import/Export > Export > Choose 'Default product' profile > Leave 'Export produ

[2020-06-26 13:49] BrentRobert opened #1079 "Add a new CLI command to change the admin user password"
**Description**

We can create an admin user via CLI, but it would be awesome to be able to change the password of a user as well.
This could be used if an admin user is locked out.

**Example**
[code]

[2020-06-29 05:48] ChristopherDosin opened #1082 "Inherited / getParent() bug within the DAL"
If you try to get the **parent** product it's currently not possible due to a bug in DAL which causes an SQL error.

`getParent()` is giving `null` even though `getParentId()` is within the product.

I also tried to add the  `$criteria->addAssociation('parent');`  which results then in an SQL error
[code]
`product.bar` & `product.foo` are two entity extensions.

As @shyim mentioned within [this sl

[2020-06-29 06:23] #1072 closed, assigned to nobody

[2020-06-29 11:27] htuscher opened #1083 "Elasticsearch customFields"
**Description**

At the moment it's not possible to search for customFields in Elasticsearch. They are missing in the ElasticsearchProductDefinition.

[2020-06-30 08:00] PhenomEY opened #1086 "Variant URLs are broken"
Only the Main variant gets the generated url which includes the article name for example. Every other variant gets an URL that includes the product UUid which doesnt look good (/detail/id) .

All variants should get the generated product URL + an parameter for the variant like SW5 please 😊

[2020-06-30 09:31] TaiKamilla commented on #466
Any update on this?

[2020-06-30 14:46] pawonpawon opened #1088 "Custom field - editing results in wrong config"
**Description**

Editing a custom field results in wrong field config in database.

1. Make a new custom field set - if needed
2 Click button 'New custom field'
3 Select checkbox (or any other type)
4 Click 'add' - the popup closes
5 Change your mind and click 'edit' on the new field.
6. Change type to something else.
7. Click 'add' again.
8. Save the custom field set.

Result: We now have a custo

[2020-07-01 09:14] wolv-dev opened #1089 "Hierarchy/order of theme inheritance in theme.json"
**Description**
Theme inheritance is not working as intended. The given order in theme.json will be ignored when `$source` is given in `Shopware\Core\Framework\Adapter\Twig\TemplateFinder::find()`.

**Additional context**
Screenshot of our theme.json hierarchy:
![screenshot_2020-07-01_02](https://user-images.githubusercontent.com/4964718/86226108-7837ea00-bb8b-11ea-9020-dab3f03c3524.jpg)

Screensh

[2020-07-02 07:44] PhenomEY opened #1091 "Product Attributes inheritance (e.g. Packaging unit, weight, height, width) doesnt work"
Product attribute inheritance doesnt work. In my case (SW 6.2.2) the packaging unit was defined in the main article and inheritance was enabled in the variant. The value was there but not visible in the variant. When i disabled inheritance, the value was visible

[2020-07-02 11:07] bystro opened #1093 "Country `Shipping available` option isn't handled on storefront"
**Description**
There is a very useful `Shipping available` option for a country in admin panel.
However a SW storefront doesn't handle it at all - all active countries shows up in every address form.

**Possible Solution**
1. Delivery address in customer registration form
Only `Shipping available` countries should show up for a country field.

2. Delivery address in create/update form - modal tri

[2020-07-02 13:27] #1079 closed, assigned to nobody

[2020-07-03 08:46] Sheek44 opened #1094 "ManyToMany updating dont work"
**Description**
When you are in the newsletter-recipient-detail and assign a tag to a recipient and save it it works perfectly fine. When you now try to delete tags it wont work untill you reload the page. After reloading the page the deletion works, but if you now want to assign a new tag for your recipient again you have to reaload the page again.

[2020-07-03 09:06] runelaenen opened #1095 "Custom fields on category not editable for external link"
**Description**
When selecting _Customizable link_ as Category Type, the Custom Fields block dissapears.

**Possible Solution**
Show the custom fields block for all typs

**Additional context**
![Screenshot 2020-07-03 at 11 06 00](https://user-images.githubusercontent.com/3930922/86452851-350d8080-bd1d-11ea-83f1-fe7866968970.png)

[2020-07-03 10:20] bystro commented on #1093
This is very important having EOG countries for a billing address and a Germany only for shipping address - for legal reasons.

[2020-07-03 13:11] ckk90 opened #1096 "theme:create skeleton twig issue"
**Description**
When using a derived theme created with the console, twig files are not parsed. It seems there is a case sensitive problem in theme.json of the plugin. This problem emerged when upgrading from 6.1.x to 6.2.x. with a derived theme created with 6.1.x. However, this problem seems to keep existing when deriving new themes in 6.2.2. as well.

Possibly related issue: https://github.com/s

[2020-07-03 16:10] runelaenen commented on #1095
Is already fixed in the 6.2 branch 👍

[2020-07-03 16:10] #1095 closed, assigned to nobody

[2020-07-03 19:44] cuonghuynh opened #1097 "theme:compile failed for Google Storage adapter"
**Description**
I changed public filesystem to Google Cloud Storage adapter, then theme:compile command failed with error:

[code]

**Possible Solution**
For Google Cloud Storage filesystem closes the stream after upload finished so we have to check resource is valid before putting the stream.
The function `handle` in src/Core/Framework/Adapter/Filesystem/Plugin/CopyBatch.php should be:
[code]

[2020-07-05 18:47] macster84 commented on #1030
Unfortunately still broken in 6.2.2. This "just" requires to add another parameter to the CLI.
Are there any plans on fixing this in one of the next minor releases?

[2020-07-06 10:52] shyim commented on #1097
Is fixed with https://github.com/shopware/platform/commit/5e5ead7e84be7857a0f22a6d534eff696fe603c2

[2020-07-06 10:52] #1097 closed, assigned to nobody

[2020-07-06 16:25] hurkandogan commented on #1096
I saw this issue with 6.2.2 version today. I started to write my template name with a small letter. But the system creates name of the template folder with a capitalized letter.

My Input: myTheme
Theme folder name: MyTheme

And in theme.json file, it uses my input as "name" and in "views":

"name": "myTheme",
  "author": "Shopware AG",
  "views": [
     "@Storefront",
     "@Plugins",
     "@myTh

[2020-07-07 07:10] S-M-O opened #1104 "Obtain mandatory entity properties"
Hello,

Can someone tell me how it is possible in shopware 6.2.2 to find out the mandatory entity properties? In earlier version the console framework:schema also printed the required fields but now there are only the properties without a flag that they are mandatory. Especially for not so commonly used entities it would be nice to have an overview.

Thank you very much and best regards,
Stefan

[2020-07-07 08:32] htuscher opened #1105 "Not all customfields are loaded"
**Description**
If you are on the detail page of a customfieldset you only get 10 customfields displayed, because there's a parameter `limit: 10` when calling the API.

As there's no pagination, that makes it impossible to get the other custom fields.

**Possible Solution**
Introduce pagination OR remove limit

[2020-07-07 08:34] htuscher opened #1106 "Sorting of custom fields is not numeric"
**Description**
When having more than 9 custom fields in a set, the sorting is incorrect.

![image](https://user-images.githubusercontent.com/5076356/86749225-5cc25880-c03d-11ea-8e5c-1994c3f86b53.png)

It seems that the sorting is in lexicographic order but should be in numerical order.

[2020-07-07 08:52] JoshuaBehrens commented on #1106
I already looked into it once. AFAIK the problem is the administration and not the DAL. The DAL is querying and returning the sorting correctly but merging it into a EntityCollection in admin js makes it sorting like this. These are my last debugging notes on this.

I still have this SQL snippet saved but I am not sure why 🙈
[code]

[2020-07-07 12:10] MajorKuprich opened #1108 "Persisting data in context"
**Description**
How can we share additional data on checkout pages.
I want to save data in context on _/checkout/cart_ page and display it on _/checkout/confirm_ page.
I've tried with custom collector class which implements **CartProcessorInterface** and override **process** method.
I've tried save data (into Cart or SalesChannelContext), but it doesn't work.

**Possible Solution**
Creating someth

[2020-07-07 16:05] MDSLKTR opened #1109 "Admin request check?domain is not called in plugins list for pages 2 and above"
**Description**
`https://[server]/api/v1/_action/system-config/check?domain=[plugin].config` is not called for plugins on page 2 or higher with in Plugins list. This results in the plugin config not being accessible.

See this video for details.

https://[server]/admin#/sw/plugin/index/list?
[Bildschirmvideo aufnehmen 2020-07-07 um 18.02.24.zip](https://github.com/shopware/platform/files/4885897/B

[2020-07-07 23:47] pallemach2 opened #1110 "Empty request in custom store-api route"
**Description**
I registered a custom route for the store-api (like mentioned here in the documentation: https://docs.shopware.com/en/shopware-platform-dev-en/developer-guide/controller), but sadly the request object keeps empty.

![image](https://user-images.githubusercontent.com/56473073/86855928-a05ba780-c0bb-11ea-9ad8-8ade6e4413d3.png)

Thats the generated request-object, even if i set a json

[2020-07-08 11:05] rommelfreddy opened #1113 "Recalculation of order with "free shipping"-product"
**Description**
After adding a product to an existing order (with a free shipping product) the shipping costs will be added.
The admin user do not have the opportunity to removes the shipping costs again.

**Steps to reproduce:**
- create a order with an product which is marked as `free shipping`
- open the order in the admin and edit it
- add a new product which is NOT marked as `free shipping` /

[2020-07-08 11:18] JoshuaBehrens commented on #1113
Isn't it quite a feature that the administration recalculate the real case again? Your case is still a valid use case.
How would you distinguish your case from an order from the sales channel where the same would happen?

[2020-07-08 11:23] rommelfreddy commented on #1113
if the shop admin wants to give a credit, why the shipping cost should be added?
it does not make any sense.

If you need to add a debit for the customer or added an item to the order which is not in the shop system, just in a catalog, which is also "free shipping", the shipping costs will be added.
it does not make any sense.

if the shop admin wants to add the shipping cost he can add it with a

[2020-07-08 15:20] PhenomEY opened #1114 "Listing Sidebar doesnt work properly after level 3"
Hello,

if you are using the sidebar in categories, the sidebar doesnt work properly at level 3.

Category case:
Bekleidung
    -> Damen
       --> Schuhe
        --> Oberteile

If you got into category Damen (Level 2), the sidebar shows every subcategory of Damen:

Bekleidung
  -> **Damen**
 --> Schuhe
     --> Oberteile

If you got one category deeper, example Oberteile, the sidebar will look li

[2020-07-09 06:24] MajorKuprich commented on #1110
Did You used JSON.parse on response object?

[2020-07-09 08:21] pallemach2 commented on #1110
why json.parse? The snippets above are written in PHP. And the request-object is generated by shopware, so i think i dont need to parse anythink, or do i?

[2020-07-09 10:01] #1110 closed, assigned to nobody

[2020-07-09 11:20] runelaenen opened #1120 "Search on Manufacturer name not working"
**Description**
The fields manufacturer name is never indexed by the ProductSearchKeywordAnalyzer because the association is not loaded.

**Possible Solution**
Add the required associations to the search criteria in \Shopware\Core\Content\Product\DataAbstractionLayer\SearchKeywordUpdater::updateLanguage

**Additional context**

[2020-07-09 11:44] #1071 closed, assigned to nobody

[2020-07-09 13:58] MDSLKTR commented on #1109
If it helps: `plugins` is a computed property which doesn't update when the pagination fetches a new result with the search criteria settings. The Store is completely disconnected here so only the first load will properly trigger a all functionality.

[2020-07-09 15:27] shyim commented on #1110
You need to pass as header Content-Type application/json otherwise shopware does not parse it

[2020-07-09 17:41] runelaenen opened #1122 "Property configurable on product detail page"
**Description**
Add checkboxe to the property set configuration to choose wether to show a property on the PDP. If the checkbox is not checked, the property should not be shown on the frontend.

[2020-07-09 17:43] runelaenen opened #1123 "CustomFields on Media entity"
**Description**
Adds customFields to Media entity so plugins can save extra data on these entities.

[2020-07-09 18:28] mitelg commented on #1123
but there are custom fields? 🤔 https://github.com/shopware/platform/blob/6.2/src/Core/Content/Media/MediaDefinition.php#L96

[2020-07-09 18:41] runelaenen commented on #1123
Ah whoah, totally missed that. Thanks!

[2020-07-09 18:41] #1123 closed, assigned to nobody

[2020-07-10 08:20] htuscher opened #1125 "CustomFieldSet sortable"
**Description**
Please make the customfieldsets also sortable with a position field.

[2020-07-14 08:14] tyurderi opened #1135 "The "sw-colorpicker" component is not working at all"
**Description**

When using the Colorpicker component in the administration it is not displayed and throws an error in the javascript console.

Component: https://component-library.shopware.com/components/sw-colorpicker

I have used the exact example code from the component website:

[code]

**Possible Solution**

**Additional context**

The error message
[code]

![image](https://user-images.githu

[2020-07-14 10:47] patpilus opened #1136 "Replace private functions/properties with protected ones"
**Description**
Due to the business requirements sometimes we need to modify Shopware default logic. The most friendly way is to decorate existing Shopware services and override part of the code that need to be customized. Unfortunately most of them has a lot of logic inside private functions.

Is there any particular reason of private functions/properties usage in such cases? Why not use `protect

[2020-07-14 10:55] JoshuaBehrens commented on #1136
Protected methods are not decoratable in a pattern where your decorator shares the same base class/interface and just forwards calls to the decorated service as the method is called with `$this` or `parent`. Using protected doesnt support decoration between anonymous decorators that are not aware of each other. As this just allows overriding only one can be selected as the replacement.

I guess wh

[2020-07-14 11:20] patpilus commented on #1136
@JoshuaBehrens yeah, but if I extend and decorate the base class (eg. https://github.com/shopware/platform/blob/6.2/src/Storefront/Page/Account/Order/AccountOrderPageLoader.php#L24) in my service then I'm able to add custom logic to functions with protected visibility (like in example 2). Is it right?

[2020-07-14 12:16] uehler commented on #1136
Shopware prefers private over protected methods because they can change and remove private methods without breaking your code.
The extraction of the private methods as services, as @JoshuaBehrens said, would introduce the same problem for shopware. If they want to change something they have to keep it backwards compatible.

But maybe adding some events inside the private methods would help you @pa

[2020-07-14 14:07] patpilus commented on #1136
@uehler events are more than welcome ;)

[2020-07-14 15:11] JoshuaBehrens commented on #1136
@patpilus yes you are able to do that. But everyone else is also able to do that. But only one of those who try.

I like the possible solution from @uehler. Event dispatching can be moved more easily.

[2020-07-14 15:24] mitelg commented on #1136
Hey @patpilus, @JoshuaBehrens @uehler

PRs which add an event are always appreciated :blush: :+1:

As @uehler already stated, we try to keep the public API, (and once methods are protected, they are "public" API) as small as possible.
This is not, because we want to make life harder for you, but to keep it easier for us to make changes without tons of deprecations or breaks.
Shopware should of cou

[2020-07-15 11:17] AndreasA commented on #975
I will probably find the time for the PR this weekend.

[2020-07-15 13:23] mitelg commented on #504
fixed with https://github.com/shopware/platform/pull/657

will be available in Shopware 6.3

[2020-07-15 13:23] #504 closed, assigned to OliverSkroblin

[2020-07-15 14:50] tinect commented on #1135
I just used it with no problem 🤔

[2020-07-16 06:31] mitelg commented on #1010
thanks for the report @jochenmanz :+1:
we will take your ticket https://issues.shopware.com/issues/NEXT-9735 to take care of the problem

[2020-07-16 06:31] #1010 closed, assigned to nobody

[2020-07-16 07:19] tyurderi commented on #1135
@tinect how did you used that element? Which options etc.?

[2020-07-16 09:19] tinect commented on #1135
Hey @tyurderi
tested it in administration with your/docs code in an admin component.

[2020-07-16 13:28] zavodyanka opened #1156 "Swagger shows incorrect request body"
**Description**
Swagger shows incorrect request body

**Additional context**
![postman](https://user-images.githubusercontent.com/8125287/87676504-fba32f00-c778-11ea-92b1-cd28eee875fd.png)
![swagger](https://user-images.githubusercontent.com/8125287/87676516-ff36b600-c778-11ea-9075-8451aad666f3.png)

[2020-07-21 15:52] jd297 opened #1172 "Promotion/Cms parentId of undefined"
**Description**
Select your second language (e.g. English if you are German). Then reload the page via F5. Click on the Add button next to the language switch. This bug appears in the promotion list and cms list. Look at the attached image there is the failure...

**Possible Solution**
I think the placeholder JS Mixin has a bug with the language state. I debugged the code and it fails right there.

[2020-07-21 16:32] AlexBa opened #1173 "Child theme inheritance is very slow"
**Description**
Today I have discovered a potential issue. After 15-20 hours research (no joke) in the previous months, I have finally found a way to create a child theme from a premium theme (Orion Theme in my case). This discussion helped me a lot and shows how to do this (language is german): https://forum.shopware.com/discussion/68431/child-theme-vererbung-tut-nicht

However, if I install my c

[2020-07-22 06:18] henrikvolmer opened #1174 "Refresh index fails with a high number of variants and properties with Elasticsearch enabled"
**Description**
If a high number of variants per master product (<600), together with a high number of property options (~400) are exported to Elasticsearch, `dal:refresh:index` will fail.

The following error message appears:

`ERROR     [app] The number of nested documents has exceeded the allowed limit of [10000]. This limit can be set by changing the [index.mapping.nested_objects.limit] index

[2020-07-22 06:45] almare commented on #1173
Why do you use this part
[code]

[2020-07-22 08:28] runelaenen opened #1176 "Search for property group only searches for option values"
**Description**
It is not possible to search for property names themselves, only for their options.

For example:
![Screenshot 2020-07-22 at 10 28 07](https://user-images.githubusercontent.com/3930922/88153711-0ee54d00-cc06-11ea-8b7c-54aee15ea9fd.png)

searching "afwerking" would not give any results, but searching for "gegoten" will return this line.

The same faulty search is active on searching

[2020-07-22 08:45] AlexBa commented on #1173
I thought it is required. I have never thought about it really oder read something else in the docs. Most of the plugins are still using these line of codes. It could be of course that I don't have to use this method. ;)

[2020-07-22 08:54] almare commented on #1173
* We removed the corresponding public functions in the `Bundle.php`:
        * `getClassName`
        * `getViewPaths`
        * `getAdministrationEntryPath`
        * `getStorefrontEntryPath`
        * `getConfigPath`
        * `getStorefrontScriptPath`
...

Anyway I don't think this is part of your problem. I am wondering about this part.
[code]

This is how my theme looks like.
[code]
I guess t

[2020-07-22 08:56] almare commented on #1173
[code]
Why do you redeclare the parent child scss files here? Should it @CrehlerOrionChild

[2020-07-22 09:03] AlexBa commented on #1173
@almare My main goal with the "style" section is to add the "overrides.scss" to override some Bootstrap 4 variables.

This is the example from the docs:
[code]

[2020-07-22 09:18] AlexBa commented on #1173
@almare I have added your suggestions with the view part of theme.json:
[code]

Unfortunately, I'm getting this error:
[code]

[2020-07-22 10:07] almare commented on #1173
Does this part still looks like that?
[code]
or like this
[code]

[2020-07-22 11:15] granitibrahimi opened #1178 "TypeError: Cannot read property 'removable' of undefined"
**Description**

An issue with VueJS for a component.

`TypeError: Cannot read property 'removable' of undefined at s.blockIsRemovable`

**Possible Solution**

What I did to make it work is I searched for that function blockIsRemovable and I found it on `sw-cms-sidebar.html.twig`
under `shopware/administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar` and removed :re

[2020-07-22 15:40] AlexBa commented on #1173
@almare This is my current config after your suggestions:
[code]

[2020-07-22 15:45] almare commented on #1173
No error message or compile time changes after that?

[2020-07-22 15:53] AlexBa commented on #1173
Only the "Maximum function nesting level" error.

There are no error messages or logs visible. Neither on a normal page reload, nor during theme compilation or cache clearing. It seems like there is no regular error which can be caught with Symfony or Shopware.

My feeling says that the template inheritance system loops too often throught the hierarchy and causing the performance problems. The "Ma

[2020-07-22 15:56] AlexBa commented on #1173
Do you (or somebody else) have a smoothly running "child child theme"?

[2020-07-22 16:00] almare commented on #1173
No, just a child theme for the moment. Couldn't you set breakpoints to get a deeper view what's exactly causing this error?

[2020-07-22 16:04] almare commented on #1173
This looks also suspicious for me
[code]

Even in my child theme i didn't do that.
My child theme:
[code]
and not
[code]
So why should you do that in a child child theme?

[2020-07-22 16:29] AlexBa commented on #1173
OK, thank you for new code. I will run some tests later. If I get more info, I will post it here again.

[2020-07-24 09:24] joanna-gil opened #1181 "Update from admin panel from 6.2.0 to 6.2.3. not working"
**Description**
When I try to update Shopware 6 with 6.2.0 stable version to 6.2.3 from the admin panel I get an error (screen).
Running the composer install command doesn't help
![Screenshot from 2020-07-24 11-16-32](https://user-images.githubusercontent.com/57439261/88377361-52bf8a00-cd9f-11ea-89be-6597c207d5fb.png).

[2020-07-24 09:27] shyim commented on #1181
Hey,

that is known. The  Auto Updater had an issue which is fixed since 6.2.1. For the updates before, it can happen that not all files are unpacked.

Use an update zip when its failed. See update notification here: https://www.shopware.com/en/changelog/#6-2-0

[2020-07-24 09:27] #1181 closed, assigned to nobody

[2020-07-24 09:28] shyim commented on #1156
It is not wrong. Change the Request body to `application/json` at the select on right side

[2020-07-24 09:28] #1156 closed, assigned to nobody

[2020-07-24 09:29] shyim commented on #1083
They are already indexed using an dynamic field. Look into the mapper
https://github.com/shopware/platform/blob/master/src/Elasticsearch/Framework/Indexing/EntityMapper.php#L124-L125

[2020-07-24 09:29] #1083 closed, assigned to nobody

[2020-07-24 09:33] shyim commented on #1030
Has been fixed on master https://github.com/shopware/platform/commit/0c9959e9600a57c91bb4c28788295498ad199aea

[2020-07-24 09:33] #1030 closed, assigned to nobody

[2020-07-24 09:35] shyim commented on #1016
Just add to the port the ip address like
[code]

[2020-07-24 09:35] #1016 closed, assigned to nobody

[2020-07-24 09:39] zaifastafa opened #1182 "Product Comparison sales channel cannot find the products to export and gives error"
There seems to be an issue in the ProductComparison saleschannel using the below configuration.

[![Example Configuration][1]][1]

When using custom template or even the default one provided, it does not generate the preview or test. Always gives no products for export found error (on the production template) and in the development template it gives the invalid argument supplied for foreach error.

[2020-07-24 09:39] shyim commented on #344
Its fixed in the meanwhile. Tested working on master

[2020-07-24 09:39] #344 closed, assigned to SebastianFranze

[2020-07-24 09:45] shyim commented on #360
Hey,
has been fixed in the meanwhile. Update to the newest version :)

[2020-07-24 09:45] #360 closed, assigned to raknison

[2020-07-24 09:46] shyim commented on #410
Hey,
will be included with the release of 6.3.0.0

[2020-07-24 09:46] #410 closed, assigned to OliverSkroblin

[2020-07-24 09:47] #411 closed, assigned to tobiasberge

[2020-07-24 09:48] shyim commented on #466
Hey,

we have refactored the entire Filesystem with 6.3.0.0. Will working then :)

[2020-07-24 09:48] #466 closed, assigned to htuscher

[2020-07-24 09:48] shyim commented on #446
Has been implemented in the meanwhile

[2020-07-24 09:48] #446 closed, assigned to tobiasberge

[2020-07-24 09:53] shyim commented on #493
Still an issue?

[2020-07-24 09:58] shyim commented on #710
Can't reproduce it on master

[2020-07-24 09:58] #710 closed, assigned to nobody

[2020-07-24 09:59] shyim commented on #736
Since 6.2.0 you can see the indexing status in the administration notification.

[2020-07-24 09:59] shyim commented on #738
Hey,
is this still valid?

[2020-07-24 10:00] shyim commented on #751
You need to be in docker container. Outside is the database not accessible

[2020-07-24 10:00] #751 closed, assigned to nobody

[2020-07-24 10:01] shyim commented on #771
Fixed with
https://github.com/shopware/platform/commit/dda51100399dff704021700b1ce039b029cab968 and
https://github.com/shopware/platform/commit/04c93396a1fc49716fe024f033fbe0ced2296a47

[2020-07-24 10:01] #771 closed, assigned to nobody

[2020-07-24 10:02] shyim commented on #784
Works on master. Update to the latest release :)

[2020-07-24 10:03] shyim commented on #804
Is not supported with PHP

[2020-07-24 10:03] #804 closed, assigned to nobody

[2020-07-24 10:03] shyim commented on #888
Can you provide the profile and csv?

[2020-07-24 10:04] shyim commented on #959
Hey,

its not intented to have some feature. Own headless sales channels should carry the snippets by own.
Does this solve your problem?

[2020-07-24 10:04] #964 closed, assigned to nobody

[2020-07-24 10:05] shyim commented on #968
We can't help you with the provided information. Please create an new issue if you still have problems with

* Logs
* Screenshot when APP_ENV=dev

[2020-07-24 10:05] #968 closed, assigned to nobody

[2020-07-24 10:19] #601 closed, assigned to ssltg

[2020-07-24 10:55] vdloo commented on #1030
thanks!

[2020-07-24 11:53] AndreasA commented on #784
@shyim
I am currently using 6.2.3 which is the latest official release and the issue still exists.

Try the following command:
`bin/console debug:config --env=prod --no-debug shopware`

[2020-07-24 13:12] shyim commented on #784
Seems not to work on prod but this works
[code]

[2020-07-24 14:14] AndreasA commented on #784
To be more precise it is the `no-debug` that is the issue. With
`APP_DEBUG=1 bin/console debug:config --env=prod shopware`
the issue also does not occur. If I remember correctly dhere is no `--debug` equivalent to `--no-debug` but with APP_DEBUG=1 this can be overridden.

Not 100% sure if it is a bug here or in Symfony.
It is definitely related to how you set the parameter though (not in an extens

[2020-07-24 15:31] AndreasA opened #1184 "Admin: Category Tree does not update all after category IDs correctly (v6.2.3)"
I have done some tests when moving categories in the admin interface and apparently the after category IDs are not always updated corretly. At least not all of them.

The one that is moved gets the correct new after ID.

However, the category that was following that category prior to moving the category might not be updated correctly.
This means the after category order is broken and might not be

[2020-07-24 15:33] AndreasA opened #1185 "Symfony still at 4.4.4? 4.4.8 had a minor security fix."
Symfony 4.4.11 of the LTS is now available and 4.4.8 had a minor security fix, so the dependencies should be updated accordingly

[2020-07-27 08:30] patpilus commented on #1185
To even tell more, I don't get why Symfony packages versions in composer are locked at patch one. Symfony follows semver, so there can't be breaking changes...

[2020-07-27 08:48] patpilus opened #1189 "Trying to clone unclonable object error when adding item to cart"
**Description**
We're getting 500 error when trying to add item to the cart (default delivery method must be set to the address that  has `Shipping available` set to `false`):
[code]

**Steps to reproduce**
1. Log in to your account
2. Go to `Addresses`
3. Create a new address with country that does not have `Shipping available` (can be set in admin panel: `settings/country/detail`)
4. Click "Set

[2020-07-27 08:57] patpilus commented on #1189
I'm closing this issue as I've just realized it's caused by old version of 3rd party plugin: https://store.shopware.com/en/wbm1713539203085f/google-tag-manager-google-analytics-enhanced-e-commerce-tracking-for-shopware-6.html

It looks good without this plugin:
![image](https://user-images.githubusercontent.com/13252273/88523145-bf34c600-cff7-11ea-8a83-0040542c5dda.png)

However, it would be nice

[2020-07-27 08:57] #1189 closed, assigned to nobody

[2020-07-27 11:40] shyim commented on #1185
The current version is not vulnerable check your composer.lock using https://security.symfony.com/

[2020-07-27 13:56] AndreasA commented on #1185
@shyim It isn't a huge vulnerability but according to https://symfony.com/blog/symfony-4-4-7-released

However, there is a minor vulnerability. And even if not, 4.4.4 is quite old now. It would be nice to get the latest bugfixes etc. in.

[2020-07-27 14:05] shyim commented on #1185
We have created an internal Issue :)

[2020-07-27 17:04] MDSLKTR commented on #959
I suppose so, this way i know what is to be expected 👍

[2020-07-27 17:04] #959 closed, assigned to nobody

[2020-07-27 18:49] jd297 commented on #360
Ok thank you.

Greetings
Jan

Shyim <notifications@github.com> schrieb am Fr., 24. Juli 2020, 11:45:

[2020-07-27 19:58] bnussbau commented on #767
i don't get why this isn't getting more attention. See https://github.com/shopware/platform/issues/304#issuecomment-557523170 for a "developer"-friendly solution. But for content managers this is really a problem.

[2020-07-28 07:14] NeoBlack commented on #86
pinning the version in the composer.json file is a pain in the ass for the other developers, who code plugins or try to manage bigger installations. It is stupid to pin package versions in a composer product.
Other systems also have zip releases and don't pin packages to a specific version. I guess you don't understand how package management works. Really sad.

[2020-07-28 07:17] NeoBlack commented on #1185
Another reason to re-open and fix: https://github.com/shopware/platform/issues/86 ...

[2020-07-28 08:28] shyim commented on #1185
We don't really work with Github Issues https://issues.shopware.com/issues/NEXT-9961

[2020-07-28 08:33] shyim commented on #86
@NeoBlack
The current pinning helps us to have a reproduceable build. We have already a ticket open to reconsider it https://issues.shopware.com/issues/NEXT-9961

[2020-07-28 08:42] szepeviktor commented on #86
@shyim Yes! That is fine. I encourage you to do that, just by the means of the `composer.lock` file.

- you could do build/test with locked versions
- with downgraded versions
- with latest versions

![kép](https://user-images.githubusercontent.com/952007/88641074-ff12b080-d0be-11ea-8430-23bd1d72b6ca.png)

https://getcomposer.org/doc/01-basic-usage.md#installing-with-composer-lock

[2020-07-28 08:45] shyim commented on #86
That does not help us. This repository is an library and not an root composer project

[2020-07-28 08:49] szepeviktor commented on #86
Okay.
Please randomly pick a handful of Composer packages https://packagist.org/explore/popular
and it will be very-very difficult to find one with locked versions in the JSON file.
How could it be? (_theoretical question_)

[2020-07-28 08:53] shyim commented on #86
I just explained our current point why we do it and didn't said we are against that :blush: .
We will look into that linked issue and come back with feedback :blush:

[2020-07-28 10:04] AlexBa opened #1194 "PluginManager.override does not work when overriding multiple times"
Hey,
it seems like the PluginManager.override does not work for storefront JS plugins when overriding multiple times.

### Current situation
I'm developing a Shopware community plugin called "Pixel Your Shop" (https://store.shopware.com/en/shops88897352858/pixel-your-shop.html), where I want to add Facebook "add-to-cart" events for the off canvas checkout. Thus, I just want to override the "OffCan

[2020-07-28 11:41] LinoJo opened #1195 "ERROR: Can't run export when profile is created by Not-Default-Language | Profile->Label will be null"
**Description**
You create a store with an default language (e.g. English).
After that you go to Settings->Import/Export and create a custom profile with a new Label everythings works fine, **WHEN you not change the language!** Otherwise, If you choose another language (e.g. German) before saving your custom profile the name/lable will be NULL in the default language. And than you can't create a e

[2020-07-28 12:58] AndreasA opened #1197 "ScheduledTask: Adjust interval etc. after it is registered and unregister option"
**Description**
It would be nice to have an option to adjust task interval after it was registered without needing to edit the database directly.
Furthermore, how do I easily remove them, if they are not available anymore.

It would also be nice to disable etc. the task.

And an option to add a cronjob string would also be nice to handle some special cases, e.g. execute a task after typical shoppi

[2020-07-29 12:00] TaiKamilla opened #1199 "Delete category set as entry point"
When you try to delete a category or subcategory that is selected as an "Entry point main navigation" on a Sales Channel
You can't but it does not tell you why, you only get a message on the browser console

![image](https://user-images.githubusercontent.com/15035750/88797331-7752a200-d1a3-11ea-9168-c76d9515d2ec.png)
![image](https://user-images.githubusercontent.com/15035750/88796692-5ccbf900-d1a

[2020-07-30 07:36] macster84 opened #1205 "Exceptions during import are not part of the command output"
**Description**
If the _import:entity_ command of a media csv fails, e.g. due to an invalid URL, or an incorrect media folder id, this information is not part of a command output.
That severely impacts troubleshooting of import issues.

E.g. try to import this _media.csv_ file as is:
[code]
The import command outputs that 0 records were imported but does not print any indication why.

**Possible S

[2020-07-30 07:43] macster84 opened #1206 "Cannot import/export files with media with special characters"
**Description**
The import of media files that contain special characters like spaces, german umlauts or polish carons is not possible. While the export is indeed possible, it unfortunately generates a media url with exactly those characters. This prevents any follow-up import.
Even a subsequent manual post-processing of the URLs by url-encoding the special characters failed, as the import command

[2020-07-30 07:47] macster84 opened #1207 "Allow media import from localhost or file URL"
**Description**
Using a media URL that points to localhost (or any private IP) is forbidden during import:entity command. That hardens setup for local test environments that do not have a public IP.
The only workaround I found was to override the FileUrlValidator and commenting out the _filter_var_ part that was using _FILTER_VALIDATE_IP_ with _FILTER_FLAG_NO_PRIV_RANGE | FILTER_FLAG_NO_RES_RANGE_

[2020-07-30 07:52] macster84 opened #1208 "Import Profiles should be settable via parameter"
**Description**
Automating import is not easy as the _import:entity_ command is interactive. It interactively asks the user to choose the profile for import.
I worked around that by using the '_yes_' command and the Symfony _SHELL_INTERACTIVE_ variable. Unfortunately the profile number varies from deployment to deployment.
For example, the "Default media" profile is once _2_ and another time it is

[2020-07-31 09:37] ghost opened #1211 "Customer - Search for a specific customer is leading to hundreds of results"
**Description**
If I serach for a customer, for example with an email address or a name then I get hundreds of result instead of only one. Second problem if I then sort the results for example by name, then this sorting is vanished when I click on the second page.

**Possible Solution**
Make it possible to get one result and keep the sorting also when you get to the next page.

[2020-07-31 09:43] creifferscheid opened #1212 "Use npm_modules for storefront Plugins: Compiled JS Plugin with node_modules intefering with shopware storefront JS"
**Description**
We developed a frontend configurator using Vue and Vuex in our plugin. In development everything works fine.
When we build our JS for production, webpack bundles everything correctly in one js file.
If we want to install it on a fresh new shopware in production, our JS get's concatetenated correctly to the all.js, but the referencing variables overlap so that we get the following e

[2020-07-31 09:50] tyurderi commented on #1212
@creifferscheid I had this issue too in one of our plugins. I have solved this problem by bundling the dist files ourselves using `webpack`.

 Hopefully Shopware will find a fix for this soon.

[2020-08-03 12:03] tinect opened #1219 "inactive products should be displayed"
**Description**
There is a filter onto `product.active = true` in https://github.com/shopware/platform/blob/master/src/Core/Content/Product/SalesChannel/ProductAvailableFilter.php#L19
This results in 404 error-Page visiting known product.

But some things are handled in storefront which doesn't have any effect at the moment:
1. https://github.com/shopware/platform/blob/master/src/Storefront/Resour

[2020-08-05 06:35] #863 closed, assigned to kleinmann, t2oh4e

[2020-08-05 06:36] #803 closed, assigned to ngoedde

[2020-08-05 06:38] #830 closed, assigned to wannevancamp

[2020-08-05 06:39] #812 closed, assigned to lx-wnk

[2020-08-05 06:40] #805 closed, assigned to aragon999

[2020-08-05 06:40] #837 closed, assigned to tbkruse

[2020-08-05 06:41] #838 closed, assigned to JonasResch99, wexollm

[2020-08-05 06:42] #847 closed, assigned to tbkruse

[2020-08-05 06:43] #880 closed, assigned to NTWEXO

[2020-08-05 14:29] lscarpi opened #1223 "assets:install error using google-storage provider"
**Description**
When storing assets and media via `google-storage`  provider an error is thrown whenever running the command `bin/console assets:install`.

This seems to be because `google-storage` closes the stream (As mentioned in here: https://github.com/shopware/platform/pull/15) after uploading the file.

On line 99 of the file AssetService.php, there is a call to `fclose` without checking if

[2020-08-05 15:37] vdloo commented on #1030
![shop_002](https://user-images.githubusercontent.com/1437341/89433046-1f3b1300-d742-11ea-92a4-2ec8fff7c734.png)

@shyim I've noticed this is still [not fixed in 6.3.0.1](https://github.com/shopware/platform/tree/v6.3.0.1/src/Recovery/Install). Do you know when this fix will be in an official release?

[2020-08-05 15:39] shyim commented on #1030
In the next regular update. 6.3.0.1 was an hot fix for 6.3.0.0

[2020-08-05 15:41] vdloo commented on #1030
alright, thanks for the quick reply!

[2020-08-05 19:21] zaifastafa commented on #1082
I think there should be a section in docs which gives a list of all associations for each individual entities.

[2020-08-07 11:30] #1223 closed, assigned to nobody

[2020-08-07 14:17] peterjaap commented on #1173
This is the `theme.json` we use for a child's child theme;

[code]

Seems to work fine, except for database config inheritance.

[2020-08-07 14:26] peterjaap opened #1227 "Child theme doesn't inherit parent's theme database config"
We created our own theme based on a 3rd party theme, like so;

[code]

This seems to work just fine after doing these steps;
- `bin/console theme:create OurTheme`
- update `theme.json` to match above
- `bin/console plugin:install OurTheme --refresh --activate`
- `./psh.phar storefront:build`
- `./psh.phar cache`

However, we noticed the theme settings we did in `3rdPartyTheme` settings in the admi

[2020-08-08 13:03] AlexBa commented on #1227
Yes, this is a known issue. Other developers including me are already struggeling with this issue. I think, you have to copy the whole config from the parent's theme.json file.

[2020-08-08 17:23] AlexBa commented on #1173
@peterjaap How fast are your loading times on the local machine. Which setup do you use?

[2020-08-08 17:25] AlexBa commented on #1173
I have switched from Mamp Pro to Valet and the loading times are much faster now .... except for the child child theme. I still have the same problem :)

It seems like some kind of recursion is working against me. It's hard to debug and I have some upcoming project deadlines, but I try to.

[2020-08-08 17:26] AlexBa commented on #1194
This problem is now marked as "Scheduled patch": https://issues.shopware.com/issues/NEXT-10099

[2020-08-09 16:45] UlrichThomasGabor opened #1228 "API search-endpoint for `currency` is not able to filter for `iso_code`"
Using the search endpoint of the API for the `currency` entity (`/api/v2/search/currency`) and filtering for `iso_code` returns the error `FRAMEWORK__UNMAPPED_FIELD`, although this is only a `char` type in the database.

[2020-08-09 16:49] shyim commented on #1228
The field is isoCode

[2020-08-09 16:52] UlrichThomasGabor commented on #1228
Thanks, working.

Maybe document somewhere more clearly that identifiers are expected in camelCase?

[2020-08-09 17:06] shyim commented on #1228
Just look into swagger documentation how the fields are named
https://api-doc.friendsofshopware.com/?urls.primaryName=Management%20API%20(6.2.0)#/Currency/getCurrencyList

[2020-08-09 17:06] #1228 closed, assigned to nobody

[2020-08-10 06:53] #790 closed, assigned to nobody

[2020-08-10 06:53] #792 closed, assigned to nobody

[2020-08-10 07:33] UlrichThomasGabor commented on #1228
I do not think this is a replacement for proper official documentation.

[2020-08-11 08:04] peterjaap commented on #1227
@AlexBa I'm talking about the config settings in the database, not in the `theme.json` file.

[2020-08-11 09:21] peterjaap commented on #1227
On second look, it does look like the fallback for the config settings in `theme.json` doesn't work either.

[2020-08-11 10:31] peterjaap commented on #1173
@AlexBa we're using https://github.com/JeroenBoersma/docker-compose-development for local development.

![image](https://user-images.githubusercontent.com/431360/89887405-7ae81f00-dbce-11ea-9fc7-b45e013e4d80.png)

![image](https://user-images.githubusercontent.com/431360/89887426-8d625880-dbce-11ea-8266-58356dc6bb7e.png)

![image](https://user-images.githubusercontent.com/431360/89887448-95ba9380-

[2020-08-11 11:16] almare commented on #1173
@AlexBa One question. I don't see the entry @Plugins. Will this handled by the parent theme?

[2020-08-11 12:59] peterjaap commented on #507
@NicoWenig27 AFAIK, view inheritance now does work, except the config settings don't (as you mentioned here as well). I've opened another issue about it here; https://github.com/shopware/platform/issues/1227

[2020-08-12 00:41] juanitolaguna opened #1235 "Vagrant administration:watch"
**Description**
In the vagrant workflow the /admin login does not work for administration:watch

**Possible Solution**
Change the cookieStorageFactory method as described here: https://forum.shopware.com/discussion/68312/admin-watch-login-geht-nicht-unter-version-6-2-0-rc1.

Albeit it screws up the administration:build, so when developing you have to switch between the old method implementation an

[2020-08-12 13:32] juliankoehn opened #1241 "NEXT-10109 - Remove hover from non links"
https://github.com/shopware/platform/commit/616588256743b22e27879a94042d01293e3599a4

L38 should be `a:hover` not `a&:hover`

results in compiler issues `Invalid CSS after "a": expected "{", was "&"`

@tinect @bneumann97

[2020-08-12 13:46] tinect commented on #1241
Hey @juliankoehn Don't know what's wrong on your side, but it works as it's posted.
Please note: your change will not have any result.

[2020-08-12 13:53] tinect commented on #1241
Let me explain:
`a&:hover` results in `a.cart-item-label:hover` which is correct
`a:hover` results in `.cart-item-label a:hover` which is wrong

[2020-08-12 14:08] juliankoehn commented on #1241
If this is the expected output:
[code]

Should this be
[code]

https://sass-lang.com/documentation/at-rules/at-root

[2020-08-12 15:01] tinect commented on #1241
However, I would like to know why it fails on your side 🤔

[2020-08-12 15:46] juliankoehn commented on #1241
https://www.sassmeister.com/gist/d92871887c82c2258450a689fb0c25b2

![Screen Shot 2020-08-12 at 17 52 02](https://user-images.githubusercontent.com/3044061/90037507-933a6580-dcc4-11ea-9e80-a45eb9fcc51e.png)

[2020-08-12 16:10] tinect commented on #1241
Thank you. But this doesn't help.
Let me ask exactly: How did you verify it doesn't woek within your shopwsre?

Just to be sure: thank you for your help. And, I'll adjust the code.

[2020-08-12 16:45] juliankoehn commented on #1241
[code]
docker (mutagen)

[code]

or without docker
[code]

explain me please, why this should work with **any** source.

as postcss just uses autoprefixer & postcss-pxtorem [`postcss.config.js`](https://github.com/shopware/platform/blob/master/src/Storefront/Resources/app/storefront/postcss.config.js)

[`package.json`](https://github.com/shopware/platform/blob/master/src/Storefront/Resources/app/s

[2020-08-12 16:59] tinect commented on #1241
Good question. I'm working with shopware-docker 🤔 Maybe anyone has an idea? @bneumann97?
And, if it's wrong, the tests would fail while building storefront.

[2020-08-12 18:24] juliankoehn commented on #1241
glad i could help you to point that out!

[2020-08-12 19:02] tinect commented on #1241
Unfortunately, I was wrong. :-( With node-sass I can compile it, too.

[2020-08-13 11:09] gearsdigital opened #1245 "Context::createDefaultContext() is marked as @internal"
Hi everyone,

I wonder why `Context::createDefaultContext()` was marked as `@internal` with this [Commit](https://github.com/shopware/platform/commit/d9014f1fb8295d70fe8e4dd26f93d16bb37fbdce) by @keulinho.

This is still used in the [offical documentation](https://docs.shopware.com/en/shopware-platform-dev-en/how-to/creating-entities-dal) and imho necessary if you want (for example) to import prod

[2020-08-13 15:13] keulinho commented on #1245
Hey @gearsdigital,

the reason behind marking this method as internal is that it should not be necessary to use this method under normal circumstances.
Generally it should be possible to obtain a fully configured `Context` in the extension point of your plugin (most of the time, this will be own controllers, event subscriber or decorated services).

The issue regarding `Context::createDefaultConte

[2020-08-13 20:11] gearsdigital commented on #1245
Thank you very much @keulinho! That's a great answer... I owe you a 🍺 or two 🍺🍺!

Following your explantion it makes totally sense now. Glad you pointed out the riskyness of using `Context::createDefaultContext()` which I wasn't aware of...

It's probably a good Idea to write it down somewhere in the docs. I'ld say the whole `Context` thingy needs some documentation love, don't you think so?

[2020-08-14 12:02] htuscher opened #1246 "ThemeCompiler should use webpack if callable"
**Description**
Compiling the scss via PHP and autoprefixing it consumes a serious amount of computational power.

The ThemeCompiler could test if NodeJS is installed and callable and use webpack instead of php scss if possible to speed up the theme compilation. This is done by every bigger Symfony project like e.g. Akeneo. Most of them even require NodeJS for compiling the assets. But it's perfec

[2020-08-15 22:35] brtsos opened #1249 "Can't extend block sw_number_field"
**Description**
Can't extend block sw_number_field. sw_number_field extend component sw-text-field.

**Possible Solution**
In file:
src/Administration/Resources/app/administration/src/app/component/form/sw-number-field/sw-number-field.html.twig

should be :
`{% block sw_number_field %}
    {% block sw_text_field %} <---- THIS SHOULD BE ADD
        <sw-contextual-field class="sw-field--number"`

[2020-08-16 11:07] shyim commented on #1249
Can you try the master branch?

[2020-08-16 11:10] shyim commented on #1207
Hey,

You can disable it in the shopware.yaml https://github.com/shopware/platform/blob/master/src/Core/Framework/Resources/config/packages/shopware.yaml#L53.

We won't disable it by default. For more information why please read: https://owasp.org/www-community/attacks/Server_Side_Request_Forgery

[2020-08-16 11:10] #1207 closed, assigned to nobody

[2020-08-16 11:53] brtsos commented on #1249
It's same. "sw-password-field/sw-password-field.html.twig" look good. I extended sw-text-field so its not big problem, but i thing its should look like in "sw-password-field.html".

[2020-08-17 13:36] dreadog opened #1250 "ProductNotFoundException in Storefront - Products only visible in Administration and DB [SW 6.2.3]"
I'm currently running SW 6.2.3 on docker setup with install via:

[code]

to avoid the irremovable demo-products.

**I am able to create products in the backend and use them in Shopping Experiences or associate them with a category.**

Opening the Storefront representation of the category (listing page) returns a 'No products found.' info.

Using products in Commerce-Blocks, results in the id bein

[2020-08-17 15:29] kleinmann opened #2801 "Theme compilation fails for custom themes during system:update:finish"
In a shop using a custom duplicated theme via a plugin, `system:update:finish` throws an error "Unable to find theme XXXX" (with XXXX being the name of the custom theme).

After further checking, this occurs because `system:update:finish` tries a theme compilation, but uses a Kernel without any plugins. Without the plugins, no configuration of the custom theme can be loaded and the compilation fai

[2020-08-17 18:32] aragon999 commented on #2801
Probably related: https://github.com/shopware/production/issues/49

[2020-08-18 04:17] acydburn commented on #2801
This happens propably because in system:update:xxx the Kernel is rebooted without any plugins (and a theme is a plugin), This also has other side effects (plugins not able to utilize common symfony methods, for example own configs). But IMO fixing this correctly needs a re-evaluation of the complete update code (or "re-booting without plugins" step).

Just saying... maybe it is something different

[2020-08-18 10:34] riddla commented on #1241
@tinect, I'm also not able to compile it.

[code]

... ends in the error described by @juliankoehn.

[2020-08-18 12:23] rvzug commented on #1082
Facing the same problem. Is there a internal ticket we can follow on this issue?

[2020-08-18 13:38] shopworksnl opened #1251 "Set order in which discounts are applied"
see support ticket https://account.shopware.com/partner/support/143138

If you apply for example two discounts in SW6 you want to set the order in which discounts are applied to because mixing fixed amount and percentage gives different results depending on which rule is handled first.

Example, first the customer wants the to be able to get a fixed discount, example 10 euro. After that another 25

[2020-08-18 14:18] #1245 closed, assigned to nobody

[2020-08-19 09:40] #1250 closed, assigned to nobody

[2020-08-19 12:52] zaifastafa opened #1254 "sw-url-field removes query parameters from the URL"
**Description**
As the title says, when using a url with query parameters, it removes the query parameters

**Possible Solution**

**Additional context**
For e.g this link
http://sw6.dev.localhost/rma/ticket/view?id=10046-13081374&hash=ad6cce345cb24137a63549caa3508973
when added to the sw-url-field, only shows
![image](https://user-images.githubusercontent.com/24492269/90636754-84176280-e244-11ea-

[2020-08-19 18:10] AndreasA commented on #1185
@shyim If you don't work with github issues wouldn't it make more sense to disable github issues and at a link to the README to the correct issue tracker instead?

[2020-08-20 11:25] htuscher opened #1257 "Deleting a big category tree blocks database"
**Description**
If you delete a category that has e.g. 1000 sub-categories. The generated IndexingMessages which update the tree block the database table `category` for several minutes (we have 10 workers!) making it very hard for editors to work as the PATCH operations in the backend run into timeouts.

**Possible Solution**
Atm I have no good idea how to solve this, but this issue is to collect

[2020-08-20 12:27] dominikkremer commented on #1241
I can confirm this error in a brand new docker setup on my mac.

Commit 6165882 leads to this compilation error when executing `./psh.phar storefront:hot-proxy` locally.
[code]

I can confirm that, if this is the desired output `a.cart-item-label:hover`, @juliankoehn provided a working solution here: https://github.com/shopware/platform/issues/1241#issuecomment-672893677

The error does not occur

[2020-08-20 13:45] dominikkremer commented on #1178
Hi @granitibrahimi 👋

I would like to look into this issue.
Could you provide some details on how to reproduce the error?

[2020-08-20 13:47] saschen commented on #1241
![image](https://user-images.githubusercontent.com/24916020/90778025-6b6a8380-e2fc-11ea-8aa2-6c8884ea7144.png)
have the same Error ehen executing ./psh.phar storefront:hot-proxy

[2020-08-20 14:20] dominikkremer commented on #1011
Could you provide a link and screenshot to the problem?

In the administration on the products page (http://localhost:8080/#/sw/product/index) I can see prices on page two.

![products](https://user-images.githubusercontent.com/4737861/90783984-0c5b3d80-e301-11ea-9552-de5be5ba5675.jpg)

[2020-08-20 19:14] dominikkremer commented on #1254
I checked the `sw-url-field` component and it seems to be working as intended.
The input field value is set like this `url.hostname + path`, the query parameters are simply ignored.

Path = `/rma/ticket/view`
Hostname = `sw6.dev.localhost`

I could imagine a solution which adds a prop as option to enable / disable parameters.
Now a developer would be able to explicitly allow query parameters if re

[2020-08-21 09:16] s-diez opened #1258 "Wrong ChangeSet Data when updating multiple entities"
**Description**

The wrong change set data is assigned to a command, when the entity primary key consists of a version_id and id and multiple entities with the same version_id are updated at the same time.
In the following lines it is only checked if any part of the primary key matches not all of it.
 https://github.com/shopware/platform/blob/97d3677d214ab9fd3a8d0b1f93f57a55e5fd3a31/src/Core/Frame

[2020-08-22 06:58] runelaenen opened #1261 ""Please fill in all required fields" on too long meta description"
**Description**
When the meta description of a category is too long (over 255 chars) the backend will say "Please fill in all required fields" instead of actually pointing out the problem.

**Possible Solution**
Add client-side validation for field length on meta description field.

**Additional context**
<img width="919" alt="Screenshot 2020-08-22 at 08 57 59" src="https://user-images.githubuserc

[2020-08-23 08:57] runelaenen opened #1263 "NEXT-10845 Thumbnails in administration"
**Description**
The administration uses full product photos instead of thumbnails. When working with high quality and/or a lot of pictures, this slows down the browser to an unusable speed.

**Example**
![Screenshot 2020-08-23 at 10 57 26](https://user-images.githubusercontent.com/3930922/90974856-73f6d000-e52f-11ea-92cc-540f66094e82.png)

[2020-08-23 12:15] lw1994 opened #1264 "Different implementations of MaxResults for TOTAL_COUNT_MODE_NEXT_PAGES"
**Description**
It looks like that the calculation of MaxResults when using TOTAL_COUNT_MODE_NEXT_PAGES differs between classes "JsonFactoryBase.php:72" (* 5 +1) and "EntitySearcher.php:177" (* 6 + 1).

JsonFactoryBase.php:
![image](https://user-images.githubusercontent.com/11135480/90978060-fb057180-e54a-11ea-98cb-c15111ff11b4.png)

EntitySearcher.php:
![image](https://user-images.githubuserconte

[2020-08-23 21:46] tinect opened #1265 "Sort manufacturers"
**Description**
Manufacturers in filter are sorted as they become used in listing by products. But they should be sorted alphanumeric.
Doing this in template feels dirty.

Position in template:
https://github.com/shopware/platform/blob/c5b78af033b1438e497e28ec7b10ab25cedb8a0d/src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig#L23

Can we add here some sorting? Is it

[2020-08-24 10:01] shyim commented on #1082
Imported as Issue in Jira: https://issues.shopware.com/issues/NEXT-10437

[2020-08-24 11:47] rvzug commented on #1082
Is this also related? #1091

[2020-08-24 11:57] shyim commented on #1082
Its not related

[2020-08-24 12:26] amenk opened #1268 "Save and Generate Codes for Promo does not have an effect (when promo not saved?)"
**Description**

Steps to reproduce:

1. Add new promo on  /admin#/sw/promotion/create/base
2. Write name: test
3. Sales channel: Store front
4. Promotion code required: tick
5. Use individual promotion codes: tick
6. Manage individual codes
7. In the popup:
8. Pattern: `%s`
9. Click "save and generate" -> nothing happens
10. Expected: It generates the codes

![image](https://user-images.githubuse

[2020-08-24 12:48] amenk opened #1269 "Variants are shown as empty lines in rule builder"
**Description**

On a fresh installation with demo data I noticed empty lines in the rule builder.

![image](https://user-images.githubusercontent.com/1087128/91046281-6c5f2600-e618-11ea-9166-6415edd8f0a6.png)

Having a look at the network tab /products API request I found, that those products seem to be variants, for example
SKU SWDEMO10007.4

**Possible Solution**

Show the SKU in addition to th

[2020-08-24 13:37] tinect opened #1270 "Rule Condition for flattened line items"
**Description**
We need possibility do make promotions compatible to collections. Read more about it here.
https://github.com/shopware/platform/pull/1203
It would be great to have similiar in core.

**Example**
https://github.com/shopware/platform/pull/1203

[2020-08-24 15:52] brtsos commented on #1249
@shyim We can add this issue to Boots Day.

[2020-08-24 16:26] shyim commented on #1249
@pantrtxp :)

[2020-08-25 09:05] shinuskn commented on #51
First run **./psh.phar docker:stop**
Then run the following commands
**./psh.phar docker:start
./psh.phar docker:ssh
./psh.phar install**

[2020-08-25 12:05] htuscher opened #1271 "PHP Autoprefixer generates unwanted styles"
**Description**
We just discovered, that the PHP autoprefixer that is used by the ThemeCompiler generates unwanted styles like e.g. `.table th { background-color: #fff !important`.
This style was not present after being compiled by the `scssCompiler`.

**Possible Solution**
As stated in https://github.com/shopware/platform/issues/1246 switch to webpack if possible to avoid such pitfalls.

[2020-08-25 13:11] runelaenen opened #1272 "Multiple spaces in header triggers error"
**Description**
When typing multiple spaces the ajax search gives errors because PHP does a trim on the input.

**Possible Solution**
Trim in javascript before calculating search length.

**Additional context**
![Screenshot 2020-08-25 at 15 16 14](https://user-images.githubusercontent.com/3930922/91178787-f3c69b00-e6e5-11ea-8e2f-ccf0a912b2d4.png)

[Screen Recording 2020-08-25 at 15.09.53.mov.zip](

[2020-08-25 13:49] JoshuaBehrens commented on #1272
You can convert screen recordings into gif for easier viewing experience :) watch-out 10mb limit

[2020-08-25 13:53] runelaenen commented on #1272
I've added it, but the quality loss is extreme 😅

[2020-08-25 13:58] JoshuaBehrens commented on #1272
Enough to get a gist of the actions happening. But I get you. It is not always very pleasant but I had good experiences in the past

[2020-08-25 14:03] runelaenen commented on #1272
Fixed in https://github.com/shopware/platform/pull/1226

[2020-08-25 14:03] #1272 closed, assigned to nobody

[2020-08-25 14:09] ireznik commented on #1258
@s-diez possibly related Issue https://issues.shopware.com/issues/NEXT-10379 ?

[2020-08-26 06:14] TanveerBalti123 opened #1274 "any one guide what the right event for checkout page... in shopware 6 Shopware\Core\Checkout\Cart\Event\CheckoutOrderPlacedEvent; CheckoutOrderPlacedEvent::class=>'onCheckoutOrderPlacedEvent', this event is not working on checkout page .."
**Description**

**Example**

[2020-08-26 06:22] mitelg commented on #1274
Please use our Slack Channel, if you are looking for support :blush:  https://slack.shopware.com/

You could create an issue, if you have found an error on Shopware, or for suggesting new features

[2020-08-26 06:22] #1274 closed, assigned to nobody

[2020-08-26 07:14] s-diez commented on #1258
Could be, could be something totally different. I did not use or look at the admin at all.

[2020-08-26 08:59] geertijewski opened #1275 "IP Whitelist in maintenance mode should check case insensitive"
**Description**
The IP whitelist in maintenance mode is checked case sensitive -- but for IPv6 addresses the hex characters are valid in lower or uppercase.

**Additional context**
The IP whitelist is checked in https://github.com/shopware/platform/blob/c5b78af033b1438e497e28ec7b10ab25cedb8a0d/src/Storefront/Framework/Routing/MaintenanceModeResolver.php#L76 with a simple `in_array()`.

[code]

[2020-08-26 09:03] geertijewski commented on #1275
I couldn't figure out if symfonys `Request::getClientIp()` (which internally uses `$_REQUEST['REMOTE_ADDR']`) has a specified format in which it returns IPv6 addresses. I think the easiest solution is to convert all both needle and haystack to lowercase

[2020-08-26 19:15] tinect opened #1278 "NEXT-11958 - Mark navigationPath as active"
**Description**
Currently, just the active category is marked as active in storefront. But the complete path should be marked, too.

**Possible Solution**

**Additional context**

[2020-08-27 09:21] #1125 closed, assigned to nobody

[2020-08-27 12:42] rammi22 opened #1282 "Error by sw-colorpicker in administration:watch Modus because of wrong example"
**Description**

Using the example in the comment above the class definition in the `administration:watch` modus throws an error: `TypeError: invalid 'instanceof' operand type`. This occurred because of the [`zIndex` attribute definition](https://github.com/shopware/platform/blob/6728bf2bafd1dca9042888948003da308ff2e296/src/Administration/Resources/app/administration/src/app/component/form/sw-colo

[2020-08-27 14:33] tinect opened #1284 "[6.3.1] Snippet missing"
**Description**
sw-media.general.notification.urlCopied.title

**Possible Solution**

**Additional context**

[2020-08-28 15:37] Weltraumakustik commented on #808
Quick update: We've looked into this idea and decided on this draft: https://share.goabstract.com/71b9510b-5e50-4370-acea-43e4b76f2f34

[2020-08-29 22:03] amenk opened #1291 "Allow open basedir restrictions in installers op cache check"
https://github.com/shopware/platform/blob/a7f1cbb7a46fde993e97bfcd5c5a4cb19e29e026/src/Recovery/Install/src/Requirements.php#L244

We should catch an exception and still add the check

See

https://github.com/shopware/shopware/pull/2052#issuecomment-501271424

In contrast to Shopware 5, Shopware 6 installation crashes here.

As reported here https://issues.shopware.com/issues/NEXT-10564

[2020-08-30 06:42] barbanet opened #1293 "l10n - Regions and currencies"
**Description**
I'm using Shopware for countries that doesn't contains Regions or the right currency to use as base currency.

I can collaborate with the data but I'm not sure which approach should I use to solve the problem. Can I create a migration for my project to add my currency and regions before the store setup? If not, can you point me in the right direction to push a commit with those cha

[2020-08-30 08:45] amenk commented on #1291
There was a fix added in shopware 5 which tries to catche an exception if open_basedir is set.
I believe catching the ErrorException does not really work - it would still throw a warning.

	$ php7.4 -dopen_basedir=/home/ -a
	Interactive mode enabled

	php > try { echo fileinode('/'); } catch ( \ErrorException $e ) { echo 'does not work'; }
	PHP Warning:  fileinode(): open_basedir restriction in ef

[2020-08-30 18:02] tinect opened #1294 "German "valide""
**Description**
The german "Valide" is educational language.
We should move to "gültig".

Additionally, these two variants are mixed in use.

**Possible Solution**
Adjust them all to one variant. Give me a info how you would like to have it, so I can create a PR.

**Additional context**

[2020-08-31 14:36] GitEvil commented on #1294
"Gültig" sounds like the correct term. Go for it! :)

[2020-09-01 06:52] MelvinAchterhuis commented on #1250
@dreadog How did you resolve this issue?

[2020-09-01 08:22] leptoquark1 commented on #980
This Problem still present in Shopware 6.3.x.x. Is this scheduled?

[2020-09-01 17:53] dreadog commented on #1250
In this specific case the issue was not a bug but a misconfiguration in the backend.

As products are created the default for assignment to sales channels is empty. Therefore one has to specify a sales channel for every product.

**Assigning a sales channel to the product resolved this issue.**

[2020-09-01 19:08] seriewe opened #1299 "Account Registration: Alternative shipping address allways shows "company, department and VAT ID" Fields"
**Description**

Alternative shipping address Form always shows company, department and VAT fields even if it is a private customer

**Possible Solution**

platform\src\Storefront\Resources\views\storefront\component\address\address-form.html.twig

Check `prefix == "shippingAddress"` should be changed to `prefix == "billingAddress"` so the fields are just shown for the billing address or an additi

[2020-09-02 12:20] ognjen-it opened #1323 "SSL/TLS mariadb"
Hello everyone,

Does shopware can work with a database which enforces **SSL connections**?
For example, if we have shopware on Amazon cloud and MariaDB on Google Cloud, important is to use an SSL connection.