[2019-12-03 08:49] keulinho commented on #334
The `npm clean-install` comand is available since NPM 6.5, try upgrading your NPM version.

Kind regards
Jonas

[2019-12-03 08:51] keulinho commented on #332
Thanks for the information, we'll update the package.

[2019-12-03 09:04] joanna-gil opened #335 "The language switch on the frontend doesn't work"
**Description**
When I try to add the ability to change the language to the page, after saving the changes, the following error appears on the store.
![Screenshot from 2019-12-03 10-01-42](https://user-images.githubusercontent.com/57439261/70035980-2b1f7580-15b4-11ea-963f-a03c39071a61.png)

 I change the language in the admin panel using the tutorial available on youtube: https://www.youtube.com/w

[2019-12-03 09:23] binaermanufaktur commented on #289
@klarstil
Sorry for the delay on getting back on this.
It works with your input...
It was calling the PluginManager in a global scope...
Thanks!

[2019-12-03 09:54] keulinho commented on #335
Hey @joanna-gil,

could you try to save the domain for the language with a trailing slash probably `http://localhost:8000/de/`.

Does that solve the problem for you?

However we are looking into this.

[2019-12-03 09:54] keulinho commented on #289
Glad that you figured it out ;)

[2019-12-03 09:54] #289 closed, assigned to klarstil

[2019-12-03 11:10] joanna-gil commented on #335
Sorry for the problem, I found a mistake in my side - I didn't change the security level from https to http, therefore it couldn't find the right location

[2019-12-03 11:10] #335 closed, assigned to OliverSkroblin, keulinho, pantrtxp

[2019-12-03 11:11] SannePetersNL commented on #334
@keulinho  Ah thanks that was the problem indeed.

I got the install script working now and I can view the front-end in the browser. But when i go to the back-end I get a white page. See: https://imgur.com/a/QR9im4J

In the console I get the following error:

`admin:57 Uncaught ReferenceError: Shopware is not defined
    at admin:57`

Which gives the following error in the file: https://imgur.com/

[2019-12-03 11:31] SannePetersNL commented on #334
Ah I needed to copy paste the administration map from the setup. Now I got a fav icon but still an error.

`Uncaught TypeError: Cannot convert undefined or null to object
    at Function.entries (<anonymous>)
    at Function.value (commons.js:1)
    at e.value (commons.js:1)
    at e.value (commons.js:1)
    at admin:57`

https://imgur.com/a/QR9im4J

[2019-12-03 12:26] keulinho commented on #334
Could you try running `./psh.phar administration:build`?
Does this return any errors?

[2019-12-03 13:08] SannePetersNL commented on #334
Yes, they start under 2/3

'Building project for production...'

`(node:43671) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56
	parseQuery() will be replaced with getOptions() in the next major version of loader-utils.
	[ './src/module/sw-cms/blocks/image/image-three-cover/component/sw-cms-bloc

[2019-12-03 13:13] SannePetersNL commented on #334
@keulinho keulinho

When I check the dir in the error message then i indeed do not have that dir. (	Error: ENOENT: no such file or directory, scandir '/Users/sannepeters/shopware/development/platform/src/Administration/Resources/app/administration/node_modules/node-sass/vendor')

I tried running the whole installer again to fix it but no change.

[2019-12-03 13:24] #332 closed, assigned to keulinho

[2019-12-03 13:32] tobiasberge commented on #295
That's great to hear. 👍

Ticket NEXT-4965 is resolved and the issue should now be fixed on the latest `master`.

Kind regards
Tobias

[2019-12-03 13:32] SannePetersNL commented on #334
When I run the normal install script the first error appairs on 28/40 After:

`	# Webpack Plugin Injector: Plugin "Storefront" injected as a new entry point
	Building project for production...
	(node:45279) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56
	parseQuery() will be replaced with getO

[2019-12-03 14:19] keulinho commented on #332
@patpilus we've changed the password hashing handling and it should solve your problem.
We've also updated the zircote/swagger-php package.

Thanks again for raising this issues. Don't hesitate to reopen this or open a new issue if you are still experiencing any problems.

[2019-12-03 14:20] #295 closed, assigned to tobiasberge

[2019-12-03 14:27] SannePetersNL commented on #334
I removed everything and dropped the database and then followed all the steps again and now it works :D Thanks for the help @keulinho  😄

[2019-12-03 14:27] #334 closed, assigned to keulinho

[2019-12-03 14:40] patpilus opened #337 "ProductExportController uses Storefront dependencies"
**Description**
ProductExport controller uses Storefront dependencies, what makes `shopware/core` impossible to use without storefront being installed.

It was introduced here:
https://github.com/shopware/core/commit/db7b70a3579f9b68582a9dd3d4d08fc9199ab17d#diff-db5b2b0ac4427ddbc8eaaa0bf8b88687R21

**Possible Solution**
Remove Storefront dependencies from `shopware/core`

[2019-12-03 14:47] mschradi opened #338 "media api getMediaList"
**Description**
same issue like #228 but this time in media api.

attributes and links have to be objects!
https://jsonapi.org/format/#document-links

![image](https://user-images.githubusercontent.com/7922343/70060775-713ffd80-15e3-11ea-847f-b05570770161.png)

[2019-12-03 15:19] Sheek44 opened #339 "Newsletter Controller Overwrites status of existing entitys"
**Description**
When registering to the newsletter via the sales-channel-api newsletter controller the entered email wont get checked if it already exists in the database.
The old entity just gets overwriten and its status gets set to notSet even if it was optIn before.

**Possible Solution**
Check if the email is already optIn and return the for that case created constant CUSTOMER_EMAIL_NOT_UNIQU

[2019-12-03 16:40] hlohaus commented on #304
Additionally a media selection would be nice. :D
Like i did it in
https://github.com/hlohaus/SheTinyMce

[2019-12-04 07:17] patpilus commented on #330
I understand this point of view, however if you're utilising Symfony Translator classes you should probably introduce some kind of transformer (in Shopware Translator) between locales with dashes and underscores, to make it work properly.

Could you please verify whether the Symfony `MessageCatalogue` with locale `en-GB` contains any translations or looks rather like empty object below?:
[code]

[2019-12-04 07:27] OliverSkroblin commented on #337
Hi @patpilus,

Thank you for pointing that out. I adjusted the things. There was also a dependency in Core\Content\Seo which I fixed. The Administration, Core and Elasticsearch bundles no longer have a dependency on the Storefront Bundle.

[2019-12-04 07:27] #337 closed, assigned to OliverSkroblin

[2019-12-04 08:08] keulinho commented on #330
I was finally able understand the underlying problem fully and a fix is underway.

If you then request an catalogue with locale `en-GB` the catalogues with locales `en` and `en_GB` would be added as fallback locales, so IMHO it's not necessary to transform the locales in the shopware translator itself.

[2019-12-04 08:22] patpilus commented on #330
Thank you @keulinho

[2019-12-04 09:21] PheysX commented on #304
@hlohaus This feature is in another castle :D

[2019-12-04 11:08] #330 closed, assigned to keulinho

[2019-12-04 11:11] yopiwko opened #341 "Add posibility to add layout type options in administration templates instead of overwriting all existing options"
**Description**
ATM it's not possible to add custom options to the layout type select in administration templates without overwriting the whole sw-select-field block.

I'm talking about those template files:
[sw-cms-el-config-product-box.html.twig](https://github.com/shopware/platform/blob/master/src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-box/config/sw-cms-e

[2019-12-04 11:21] keulinho commented on #330
Thanks @patpilus for raising this and especially for putting so much effort into reporting so much additional context, e.g. the symfony changes, etc.
That really helped sorting this out and fixing the underlying problem. :+1: :blue_heart:

[2019-12-04 13:12] OliverSkroblin commented on #337
Here is the fix: https://github.com/shopware/platform/commit/5d896acfbf18ab175406283428d3a31dce204dd0

[2019-12-04 13:48] tyurderi opened #343 "storefront:hot-proxy spawn xdg-open ENOENT"
**Description**

When using `storefront:hot-proxy` inside the docker container it results in the following error:
[code]

**Possible Solution**

Make https://github.com/shopware/platform/blob/master/src/Storefront/Resources/app/storefront/build/proxy-server-hot/index.js#L69 optional somewhere.

**Additional context**

[2019-12-04 13:54] htuscher opened #344 "ESLINT_DISABLED breaks webpack"
**Description**
If you disable eslint using the `ESLINT_DISABLED` ENV variable, webpack breaks with `No Loader specified`.

Because the resulting rule is:
[code]

An empty object is not allowed here.

**Possible Solution**
Refactoring necessary.

**Additional context**

[2019-12-05 07:08] ssltg commented on #326
Hi Max,

which endpoint and which Content-Type do you use?

I think with the following Call it should work:

PATCH /api/v1/tax/68d46d674bc0411ebb97d03dad270135

{
         "taxRate":7.0
}

[2019-12-05 12:15] joanna-gil opened #348 "Removing products from the cart doesn't work."
**Description**
To trigger an error:
- Add product to the basket
- Go to another page that doesn't have products, e.g. Home page then this error appears in the sidebar
![Screenshot from 2019-12-05 13-12-38](https://user-images.githubusercontent.com/57439261/70234519-1af8c900-1761-11ea-91af-c8194a86fee5.png)

- Try to remove the product from the basket using the sidebar
![Screenshot from 2019-12-05

[2019-12-05 12:20] joanna-gil opened #349 "Can't add a new custom field"
**Description**
When I try to add a new custom field, I get the following error that prevents me from saving.
![Screenshot from 2019-12-05 13-18-01](https://user-images.githubusercontent.com/57439261/70234858-dde10680-1761-11ea-988b-221a5ccaecc5.png)

[2019-12-05 13:14] keulinho commented on #348
Hey @joanna-gil
this is a known error and should already be fixed.
The fix was merged yesterday, could you please update to the lastet master it try if the fix solves your bug?

Kind regards
Jonas

[2019-12-05 13:24] joanna-gil commented on #348
Thanks, it actually works. I downloaded Shopware yesterday afternoon and didn't check if something new came out, thank you for fixing the bug!

[2019-12-05 13:24] #348 closed, assigned to nobody

[2019-12-05 13:33] mschradi commented on #326
it was a mistake on my site! the id and type placeholders were not replaced by values in my code.
sorry for the wrong issue!

thanks to @ssltg for helping me!

[2019-12-05 13:33] #326 closed, assigned to ssltg

[2019-12-05 14:21] joanna-gil opened #350 "Can't add new rating"
**Description**
When I try to send a rating on the product page, I get such an error in the network
![Screenshot from 2019-12-05 15-20-55](https://user-images.githubusercontent.com/57439261/70243447-dd04a080-1772-11ea-8250-dad9adab4e9f.png)

![Screenshot from 2019-12-05 15-19-35](https://user-images.githubusercontent.com/57439261/70243371-bcd4e180-1772-11ea-8487-579f14998355.png)

[2019-12-06 09:01] keulinho commented on #350
Hey @joanna-gil,

thanks for reporting this issue. I can confirm it at will work on a fix.

Kind regards
Jonas Elfering

[2019-12-06 10:00] hlohaus opened #352 "Can't order / register without state selection"
**Description**

It isn't possible to register without country state.

**Possible Solution**

The error message says:

Value is not a valid UUID:

Because state are empty.

It should be catched.

**Additional context**

[2019-12-06 11:26] tekbird opened #353 "Shopware 5 Rest API Filter Orders"
**Description**
How to filter orders based on complex conditions

I need to filter orders from Shopware 5 by applying complex conditions. For example: I want to filter orders whose create time is greater than x date and have status either 1 or 250. I tried using the filter based on query params (?filter[0][property]=xx&....) but seems do not work. Is there any way to get this working?

[2019-12-06 12:16] OliverSkroblin commented on #353
Hi @tekbird,

this is the shopware 6 repository. You can find the shopware 5 sources here:
https://github.com/shopware/shopware

[2019-12-06 12:16] #353 closed, assigned to nobody

[2019-12-06 12:18] tekbird commented on #353
HI @OliverSkroblin
I could not find a place to create issue in Shopware5 repository. Can I do it here: https://github.com/shopware/development/issues ?

[2019-12-06 12:26] keulinho commented on #353
development is also for shopware 6.
Please use the issue tracker for shopware 5 issues: https://issues.shopware.com/

[2019-12-09 07:38] keulinho commented on #350
Hey @joanna-gil,

with commit https://github.com/shopware/platform/commit/ecd8a9735e45318d4c5882f957e484714db2bb20
on the 6.1 branch this issue was fixed.

[2019-12-09 07:38] #350 closed, assigned to keulinho

[2019-12-09 07:39] keulinho commented on #352
Hey @hlohaus,

with commit https://github.com/shopware/platform/commit/04d1d72aa3c5d2e40354c8da791f3f260ea70707
on the 6.1 branch this issue was fixed.

Kind regards
Jonas

[2019-12-09 07:39] #352 closed, assigned to SebastianFranze

[2019-12-09 09:48] joanna-gil opened #357 "Can't add static assets in custom theme"
**Description**
When I try to add a static image as an asset I get an error in a network from devtools
![Screenshot from 2019-12-09 10-43-03](https://user-images.githubusercontent.com/57439261/70425043-b72c1400-1a70-11ea-8e71-d318d5ba9023.png)

In the theme.json I add registration for asset as path
''' "assets": [
"app/storefront/src/assets"
],
'''
and trying to get this image from scss file in pa

[2019-12-09 13:54] jd297 opened #360 "Javascript files with numbers doesn't load in Administration"
**Description:**
I created a Plugin with the namespace "Spno6\PrivateShop" and the plugin base class name "Spno6PrivateShop". If I build the administration with: "php psh.phar administration:build" the javascript file will be build in [plugin root]/src/Ressources/public/administration/js/spno6private-shop.js

But now comes the issue, if I open the administration the javascript file will not be loa

[2019-12-09 14:05] keulinho commented on #360
Hey @JD297,

thanks for raising this issue.
Could you try to rename the generated js file to `spno6-private-shop.js` and check if it works.

Kind regards
Jonas Elfering

[2019-12-09 15:28] jd297 commented on #360
Hey @keulinho,
thanks for your quick response.

I have renamed the file and it works!

But if I rebuild the administration again the new file will still be generated wrong this is quite annoying.

Can you tell me how long it takes to fix the bug so that the fix will be released in a new DEV-Version, please?

[2019-12-10 11:00] kryst3q opened #361 "Logged in customer can delete another customer address"
**Description**
Assume we have two customers registered: A and B. Customer A has address with id 1 and customer B has address with id 2. When I log in as customer A and send request to delete address with id 2 (that belongs to customer B) I succeed.
The problem lies in [validateAddressId method](https://github.com/shopware/core/blob/master/Checkout/Customer/SalesChannel/AddressService.php#L191). E

[2019-12-10 13:04] keulinho commented on #338
Thanks for raising this issue @mschradi, a fix is underway ;)

[2019-12-11 07:07] OliverSkroblin commented on #361
Hi @kryst3q,

thanks for the report. We fixed the issue in the following commit:
https://github.com/shopware/platform/commit/70a2d24ccf9c0d3e09a757d638bf5a80a25e5535

[2019-12-11 07:07] #361 closed, assigned to OliverSkroblin

[2019-12-11 11:03] almare commented on #360
I ran into the same problem. Best way ignore numbers inside namespaces or plugin names. You will get a lot of surprises...

[2019-12-11 14:00] htuscher opened #363 "Demodata generation is broken"
**Description**
Running `bin/console framework:demodata` results in:

[code]

**Possible Solution**

**Additional context**

In `\Shopware\Core\Framework\Demodata\Generator\CustomerGenerator::createCustomers`

[code]

fixes that temporarily, but I can't find the root cause.

[2019-12-11 15:56] ssltg commented on #339
Hi Mortis,

thank you for bringing this up. We have an Issue for this Topic and will fix it.
You can follow the Status here: https://issues.shopware.com/issues/NEXT-3713

Greets,
Stefan

[2019-12-11 15:56] #339 closed, assigned to ssltg

[2019-12-11 16:41] htuscher opened #1321 "Webpack SCSS compiling differs from `theme:compile`"
![image](https://user-images.githubusercontent.com/5076356/70640985-38380680-1c3d-11ea-91a5-0bb69d43cbfd.png)

Same SCSS, left side is hot-reloading, right side is `theme:compile`.

I suspect that webpack has inheritance issues with Bootstrap variables. In this particular case:

`Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss`

[code]

It seems that webpack can'

[2019-12-11 22:31] daMupfel opened #367 "Can't see bought plugins in admin ui"
**Description**
Since version 6.1 rc 1/2 it seems that i can't see bought plugins anymore (Einkäufe).
I get a javascript error when i go onto this item:

[code]

**Additional context**
Happens with fresh installations of 6.1 rc0 and r1. eap 2 was working fine

![image](https://user-images.githubusercontent.com/3017709/70666427-e27c5200-1c6e-11ea-8889-0739abae04e4.png)

[2019-12-12 12:17] keulinho commented on #367
Hey @daMupfel,

thanks for reporting this issue.
Theres already an issue tracker ticket, regarding this bug.

We've also fixed this problem internally, so it just be fixed in the next version.

Closing this for now in favor of teh issue tracker ticket.

Kind regards
Jonas

[2019-12-12 12:17] #367 closed, assigned to keulinho

[2019-12-12 13:28] bystro opened #368 "Customer getAdresses() redundant nullable"
**Description**
We have to check if `getAddresses()` output is not null.

*Possible solution*
I think it should return empty collection rather then returning null.

*Additional context*
https://github.com/shopware/platform/blob/master/src/Core/Checkout/Customer/CustomerEntity.php#L705

[2019-12-12 13:50] keulinho commented on #368
Hey @bystro,

thanks for raising this issue.

The `Customer::getAddresses()` has to return null because a null value indicates that the `addresses` association on the `customer` entity was not loaded.
If this happens you have to include the associaton in the criteria that is used to fetch the customers, like `$criteria->addAssociation('addresses');`.
An empty collection indicates that the addresse

[2019-12-12 14:19] htuscher commented on #1321
Ah, you have hardcoded the StoreFront scss in the webpack config. That's always loaded before our theme, even if we don't depend on it.

[2019-12-12 14:22] hendrik244 opened #369 "API Routes not found"
**Description**
I have created myself a test shopware system, to test some things.
The Shop is reachable under https://hendrik_tso.shopwaredemo.store.
I created a new Integration for this shop. So now I have API keys for authentication.
But everytime I'm trying to reach any api route I get the following error message:

{
    "errors": [
        {
            "code": "0",
            "status": "404

[2019-12-12 15:00] bystro commented on #368
Thank you @keulinho
I'm not sure if we should allow a situation that customer doesn't have at least one address.

[2019-12-12 15:56] #338 closed, assigned to keulinho

[2019-12-12 15:59] ic-hv opened #370 "Custom Plugins do not load anymore"
Starting with commit revision b81d52b8 the plugin directory layout structure was changed heavily. Instead of the previous dynamic resolution mechanism, which utilized `Bundle::getStorefrontStylePath` and `Bundle::getStorefrontScriptPath()` to get the correct paths for js / (s)css files, the mentioned commit introduced a static path setup.
Because of this all the plugins we have developed for Shopw

[2019-12-13 06:54] keulinho commented on #369
Hey @hendrik244,

keep in mind that the api routes use snake-case and we don't have trailing `s` anymore to indicate plural, so the route you want to request should be: `/api/v1/payment-method/`.

You can see which routes are available by checking out the swagger docs vie the url: `api/v1/_info/swagger.html`.

Kind regards
Jonas

[2019-12-13 07:09] keulinho commented on #368
The validation of the `AccountRegistrationService` checks that if a new customer is registered it has at least a valid billing address.

Nevertheless the business rule if the customer has to have at least one address does not affect the data model as it is still possible that the addresses of the customer are not loaded the null value is still valid from a technical perspective.

[2019-12-13 07:11] keulinho commented on #338
Hey @mschradi,

we've fixed this issue on the 6.1 branch. Thanks again for raising this issue.

Kind regards
Jonas

[2019-12-13 09:52] jd297 opened #371 "Dublicate mails (404 no route found)"
**Description**
Dublicate mails doesn't work because of 404 API route. So the administration loads forever.

**Possible Solution**
Change API route in the administration.

**Additional context**
![console](https://user-images.githubusercontent.com/56673596/70791010-76950900-1d96-11ea-91b2-0a172e3fec96.PNG)
![loading](https://user-images.githubusercontent.com/56673596/70791070-9fb59980-1d96-11ea-9d

[2019-12-13 14:35] pfeiferbit opened #373 "Documentation for theme plugins doesn't match code"
In the commit for [NEXT-4148](https://github.com/shopware/platform/commit/b81d52b89fb2b83609bf55cbb2e7ee76636a369e) the line [218](https://github.com/shopware/platform/blob/e6ae02b1180afe97160a4893c964e55773cb6a33/src/Storefront/Theme/StorefrontPluginConfiguration/StorefrontPluginConfiguration.php#L218) (before) or [215](https://github.com/shopware/platform/blob/b81d52b89fb2b83609bf55cbb2e7ee76636

[2019-12-16 07:03] pweyck commented on #363
Hello @hhoechtl,

thanks for reporting this. Did you delete english or german with raw sql commands without clearing the cache? https://github.com/shopware/platform/blob/0bc13633201a2bebe6de91cbffb5e4937417dc48/src/Core/Framework/DataAbstractionLayer/FieldSerializer/TranslationsAssociationFieldSerializer.php#L68-L70 should throw an exception if a language was not found.

[2019-12-16 07:04] ic-hv commented on #370
Well ok, the following link described what I have to change to make my plugins work again: https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/recent-updates (2019-11-14: Refactored resources directories) ... but unfortunately the link is dead now :(

Could you please again provide a reference how the plugin directory / path structure should look like ... Thank you!

[2019-12-16 07:14] keulinho commented on #370
hey @ic-hv,

you can take a look at the changelog, there are these changes documented.
https://github.com/shopware/platform/blob/master/CHANGELOG-6.0.md#L253

Kind regards
Jonas

[2019-12-16 07:16] ic-hv commented on #370
Thanks! So, the plugin directory structure should (now) look like below:
![grafik](https://user-images.githubusercontent.com/26538616/70886669-4dfe5080-1fdc-11ea-9af9-1b83cfb72a74.png)

[2019-12-16 07:18] keulinho commented on #370
exactly :+1:

[2019-12-16 08:09] htuscher commented on #363
No I just did a fresh checkout and setup.

[2019-12-16 08:53] pavog opened #375 "[Question] How to update an entity (as object) in repository?"
Hello there,

I just want to know how I can update an entity (which is an object) and save the updated object to a repository? I found [this page](https://docs.shopware.com/en/shopware-platform-dev-en/how-to/updating-entities-dal) in the docs which explains how I can update my entity by using an array with its data, but I have an object (Entity)...

---

My use case is the following:
I work on a p

[2019-12-16 12:57] keulinho commented on #371
Hey @JD297,

thanks for raising this issue. A fix is underway.

Kind regards
Jonas

[2019-12-16 13:13] keulinho commented on #375
Hey @pavog,

it is intended that you can't use the entity object to write back data.
We deliberatly decided to not include a magic change set generation mechanism in our entities.
Instead please write your changeset directly as an array with the upsert method of the repository.

If you need an updated object representation read the entity again with the repo.

we don't implement a fully fledged OR

[2019-12-16 13:13] #375 closed, assigned to keulinho

[2019-12-16 15:20] almare opened #377 "Multiple primary keys results in Internal Server Error"
**Description**
I created a many-to-many entity and added an additional price column. The many-to-many relationship is managed by the sw-entity-many-to-many-select component. If I have only 2 primary columns everything works fine.

Than I added a data grid which loads the data from the many-to-many table with the additional price field.
If I try to load the data I receive the following error:
`Arg

[2019-12-16 15:47] keulinho commented on #377
Hey @almare,

the way to go here would be to split up your many-to-many to a many-to-one to the former MappingDefinition. The mapping definitions are just an shortcut and could not be expanded with arbitrary fields. You therefore have to promote your MappingDefinition to a normal definition that handles the associations.

An example of this would be the `ProductMediaDefinition` that is basically j

[2019-12-16 15:53] almare commented on #377
Thank you for your fast response. I didn't mention that I already made from the association mapping entity a full qualified entity (extends EntityDefinition not MappingEntityDefinition).

It looks like that I have to switch from the sw-entity-many-to-many-select to the sw-entity-multi-select and remove the primary flags inside the definition to get this working, I am right?

[2019-12-16 16:03] htuscher opened #378 "Template extension doesn't work as expected"
**Description**
I tried the following:

![image](https://user-images.githubusercontent.com/5076356/70922093-cc331500-2025-11ea-8d49-05d20e7706cb.png)

`FOO` is only displayed if you either:

delete the ` base.html.twig`

OR

add the `base_footer_inner` block to the extended `base.html.twig` that contains the `sw_include`.

[2019-12-17 06:45] keulinho commented on #377
Yes you're right use the `sw-entity-multi-select` and give your association mapping an own id than it should work.

[2019-12-17 08:10] OliverSkroblin commented on #357
Hi,

Currently we still have a problem with the compatibility between SCSS and templates. In the templates you can use the `asset` function which resolves the corresponding path to an url. In SCSS we have not implemented this yet. Currently you have to specify the path relative to your compiled CSS file:

I have the following folder structure here:
[code]
In twig:
[code]

In SCSS:

[code]

[2019-12-17 08:10] #357 closed, assigned to OliverSkroblin

[2019-12-17 08:20] OliverSkroblin commented on #373
Hi @pfeiferbit,

Thanks for the hint. We have updated the documentation accordingly. The current version will be deployed soon.

[2019-12-17 08:20] #373 closed, assigned to OliverSkroblin

[2019-12-17 08:22] OliverSkroblin commented on #370
Thank you for answering @keulinho . Since here all the questions were answered, i will close the ticket. If something is still open please just open a new ticket ;)

[2019-12-17 08:22] #370 closed, assigned to OliverSkroblin

[2019-12-17 09:03] almare commented on #377
This issue could be closed. Works as designed. Thank you @keulinho

[2019-12-17 09:04] #377 closed, assigned to keulinho

[2019-12-17 10:04] SebastianFranze commented on #344
Hi Hans and thank you for reporting this issue.

You are right this looks really misconfigured. Not just because it breaks the config but because it can disable lint for non development environments, too.

We already scheduled the issue. You can track the progress at:
https://issues.shopware.com/issues/NEXT-5970

[2019-12-17 12:14] jurriaanr opened #379 "Long pathnames prevent windows install"
**Description**
While installing on windows, both using the zip file or composer checkout I get errors on too long pathnames. This is because the - presumably - generated file names are long and they are store in very long folder names.

**Possible Solution**
Shorter file names :)

**Additional context**
`error: unable to create file src/Administration/Resources/app/administration/src/module/sw-or

[2019-12-17 12:23] keulinho commented on #379
Hi @jurriaanr,

thanks for reporting this issue. However shopware 6 is not compatible with windows.
As described in the [docs](https://docs.shopware.com/en/shopware-6-en/first-steps/system-requirements) shopware 6 works only on Unix based operating systems.

Kind regards
Jonas

[2019-12-17 12:23] #379 closed, assigned to nobody

[2019-12-17 13:41] OliverSkroblin commented on #378
Hi @hhoechtl,

i tested your structure but can not reproduce the wrong behavior. I have the following source structure:

[code]

My `base.html.twig` looks as follows:

[code]

My `footer.html.twig` looks as follows:

[code]

As a result I get in the storefront the `console.log` output and my new headline `Foo`

[2019-12-17 13:45] htuscher commented on #378
You accidentally copied the `base.html.twig` twice.

[2019-12-17 14:28] htuscher commented on #363
Is fixed in RC3

[2019-12-17 14:28] #363 closed, assigned to pweyck

[2019-12-17 14:32] OliverSkroblin commented on #378
Sorry, updated ;)

[2019-12-17 14:59] htuscher commented on #378
I just tried it again and this time with RC3 it worked after manually clearing the cache (just after creating the template it didn't).

I'm closing this for now and would come back if it occurs again.

[2019-12-17 14:59] #378 closed, assigned to OliverSkroblin

[2019-12-19 14:10] joanna-gil opened #381 "After clicking "Go to checkout" an error appears"
**Description**
When I add some product to cart and want to go to checkout I got error page
![Screenshot from 2019-12-19 15-07-08](https://user-images.githubusercontent.com/57439261/71180000-95513f00-2271-11ea-9985-968f461842cc.png)

[2019-12-19 14:44] mitelg commented on #381
hey @joanna-gil
did you try the current 6.1 branch? this should already be fixed

[2019-12-19 15:14] rikterbeek commented on #381
Hi @mitelg,

The 6.1 branch does not work at all see attached screenshot.
![Screen Shot 2019-12-19 at 16 13 40](https://user-images.githubusercontent.com/5948499/71184802-9470db00-227a-11ea-9f0b-d68033bde061.png)

Regards,
Rik

[2019-12-19 16:26] mitelg commented on #381
I have no problem on current 6.1 development and current 6.1 platform. Do you use something else?

[2019-12-20 07:03] joanna-gil commented on #381
I only work on the master branch, but on 6.1 it looks like it works, thanks :)

[2019-12-20 07:16] rikterbeek commented on #381
was updating the wrong repo. I updated the development repo to 6.1 instead of the platform repo. Updating platform repo solved the issue.

[2019-12-20 07:20] #381 closed, assigned to nobody

[2019-12-20 10:01] #371 closed, assigned to keulinho

[2019-12-20 13:55] cfreak opened #382 "Variant-Switch Frontend broken on IE/Edge"
**Description**
Variant-Switch Frontend broken on IE/Edge, the Options-Parameter is empty and the redirect to the Selected-Option URL is not working.

**Version**
RC2 / RC3

**Testlink**
https://www.sognidoro.de/Ring-mit-Multi-Brillant-Sternenhimmel/35021a1.1

or

https://sognidoro.shopwaredemo.store/test123/SW20001.1

**Additional context**

<img width="1111" alt="Bildschirmfoto 2019-12-20 um 14

[2019-12-20 16:14] almare opened #383 "Thumbnails generate command fail"
**Description**
If I run this command
`bin/console media:generate-thumbnails `
all thumbnails gets deleted, but not newly created.

**Possible Solution**
I could fix this behaviour if change the following code inside ThumbnailService.php

        foreach ($tobBeCreatedSizes as $thumbnailSize) {
            foreach ($toBeDeletedThumbnails as $thumbnail) {
                if ($thumbnail->getWidth()

[2019-12-23 10:11] pweyck commented on #261
We've published the production template a few days ago, that fixes this problem.

https://github.com/shopware/production/

[2019-12-23 10:11] #261 closed, assigned to pweyck

[2019-12-23 10:11] #311 closed, assigned to pweyck

[2019-12-30 15:35] tobiasberge commented on #382
Hi cfreak,

thanks for reporting this issue.

A fix for this problem is currently in code review. You can track the ticket status here: https://issues.shopware.com/issues/NEXT-6151. The fix should be shipped with the next shopware 6.1 release.

The edge browser was not getting the radio buttons (those are hidden in the document to determine which label belongs to which product variant) in a correc

[2019-12-31 11:58] Zyles opened #385 "Lowercase SEO urls"
**Description**

Ability to have lowercase SEO urls.

**Possible Solution**

Option in admin, or default.

[2019-12-31 12:01] Zyles opened #386 "Rule builder dropdown goes outside viewport"
**Description**

When you edit rules in the rules builder the dropdown goes outside the viewport of the browser, making it impossible to scroll through all the options.

This problem is also visible in the permissions dropdown for users.

**Possible Solution**

The dropdown should open up where there is space, for example upwards.

**Additional context**

![image](https://user-images.githubusercon

[2019-12-31 12:58] mitelg commented on #385
hey @Zyles
did you try to use the [twig filter `lower`](https://twig.symfony.com/doc/3.x/filters/lower.html) in your SEO URL template?

[2019-12-31 17:46] Zyles commented on #385
I have not.

Will that work with headless too?

[2020-01-01 14:46] bzannah opened #387 "Sub-categories not working on mobile OffcanvasMenu"
**Description**
I registered for a new shopware 6 demo shop. However, on mobile, if I click on the menu, it shows an empty screen not displaying the sub-categories. Is this the expected behavior?

**Additional context**
![alt text](https://i.ibb.co/CBJ4sgX/mobile-menu.jpg "Mobile Menu")

[2020-01-02 10:46] #385 closed, assigned to nobody

[2020-01-03 09:59] keulinho commented on #369
Closing this due to inactivity.
If you still have trouble don't hesitate to reopen this issue or create a new one.

Kind regards
Jonas

[2020-01-03 09:59] #369 closed, assigned to keulinho

[2020-01-03 10:01] keulinho commented on #368
Closing this due to inactivity.
If you still have trouble or something is not clear don't hesitate to reopen this issue or create a new one.

Kind regards
Jonas

[2020-01-03 10:01] #368 closed, assigned to keulinho

[2020-01-04 15:03] simkli opened #393 "Administration and Storefront build scripts are broken when using node 13"
Node-sass 4.12 is not compatible with nodejs 13. Inside the storefront's and administration's package.json file, node-sass should be updated to v4.13.0.

https://github.com/sass/node-sass/releases/tag/v4.13.0

Everything worked for me after changing this.

[2020-01-04 21:26] mitelg commented on #393
hey @simkli
would be nice, if you could create a PR for that :wink:

[2020-01-05 18:34] simkli commented on #393
Done https://github.com/shopware/platform/pull/394

[2020-01-06 08:15] OliverSkroblin commented on #387
Hi @bzannah,

this should be fixed by this commit: https://github.com/shopware/platform/commit/1290a76abdc8b748c443d3c982a1fa4f7c0189f7

Could you please verify if you have the latest 6.1 version?

[2020-01-07 08:56] mibuntu opened #398 "external file storage"
**Description**
external file storage for media files

**Example**
consider https://docs.shopware.com/en/shopware-platform-dev-en/how-to/use-s3-datastorage :
which setup is needed for remote sftp like it is possible with this: https://github.com/shopwareLabs/SwagMediaSFTP ?

[2020-01-07 22:13] tiwac100 opened #401 "Error loading parent association in product listing"
**Description**
When adding the `parent` association to the product listing criteria the following error is thrown:
[code]

**Additional context**
Subscriber to reproduce:
[code]

[2020-01-08 08:10] hendrikleyendeckers opened #402 "sw-entity-many-to-many-select removing options duplicate request"
**Description**
If the product module is extended with a new `<sw-entity-many-to-many-select>` field, an error occurs when an option gets removed from the select and the you want to save the product.

There seems to be an extra delete request, when an option is deselected. If the products gets saved now, an error occurs that the deselcted resource is not found.
[code]

The problem also occurs in t

[2020-01-08 10:02] OliverSkroblin commented on #401
Hey @timwachsener,

the DAL not allows to load the parent association. This is a restriction which prevents an endless loop internally. If you want to load the parents of the products, please execute a second `search` call to the repository with the corresponding parent ids

[2020-01-08 10:02] #401 closed, assigned to OliverSkroblin

[2020-01-08 10:07] OliverSkroblin commented on #402
Hi @hendrikleyendeckers,

the `many-to-many-selection` has a property named `localMode`. This property handles the behaviour which depends how the data of the association was loaded.

First possible usage:
The data is loaded within the parent resource (in this case the product). In this case the association is handled by the parent resource and the `localMode` should be set to `true`.

Second poss

[2020-01-08 10:09] #349 closed, assigned to raknison

[2020-01-08 10:58] hendrikleyendeckers commented on #402
Thanks very much for the explanation @OliverSkroblin !
I've had adapted the localMode of the example-bundle (:localMode="product.isNew()"), but setting it to true fixes the error. :-)

[2020-01-08 10:58] #402 closed, assigned to OliverSkroblin

[2020-01-08 12:26] pantrtxp commented on #398
Hi @mibuntu,

please consider our [Forum](forum.shopware.com) for help or, if you have a support subscription, create a support Ticket.

Sunny regards
Pantrtxp

[2020-01-08 12:26] #398 closed, assigned to pantrtxp

[2020-01-09 08:21] bzannah commented on #387
Hi, this is fixed in 6.1. Thanks.

[2020-01-09 08:21] #387 closed, assigned to OliverSkroblin

[2020-01-09 09:05] AlexBachmann opened #406 "Improvements to the usability of the Migrations Command database:migrate"
**Description**
I'd like to suggest two improvements.

1. **Be more verbose about the Migration identifier argument:** If you run the database:migrate command ONLY the Shopware\Core\Migration Migrations are being run by default. For all other Migrations, you need to specify the identifier. This is especially troublesome, since the Shopware\Storefront\Migration Migrations are excluded as well. So p

[2020-01-09 09:26] approached opened #407 "CORE: Swagger code generation not work"
**Description**
I'm trying to create a API SDK for shopware 6. With follow command:
[code]

But it creates a unsupported php code with two same methods:
https://github.com/industryarena/shopware6-sdk/blob/master/lib/Api/ProductApi.php#L101
https://github.com/industryarena/shopware6-sdk/blob/master/lib/Api/ProductApi.php#L361

The Docs has also two methods: https://github.com/industryarena/shopware

[2020-01-09 11:35] cfreak opened #410 "Invoice Variant Informations"
**Description**
On the Invoice / Document PDF's the Informations of the Variant get not printed.

**Possible Solution**
Show the Variant Informations for example the size or color on the invoice

[2020-01-09 11:36] cfreak opened #411 "Password Recover - No Success Message"
**Description**
No success message is shown when you request a new password over /account/recover

**Possible Solution**
show a success message

[2020-01-09 13:44] pweyck commented on #407
Hello @approached,

thanks for reporting this. We found more issues with our openapi3 schema while trying to reproduce this issue.

I've created an issue in our issue tracker:

https://issues.shopware.com/issues/NEXT-6314

[2020-01-09 14:18] vttn opened #413 "Service has a dependency on a non-existent service"
**Description**
In side the docker machine when I run ` ./psh.phar install`. I get the error below:
[code]
**Additional context**
This is on a mac.

[2020-01-09 18:22] cfreak opened #414 "Paypal Checkout - Error payWithDebitOrCreditCard"
**Description**
TypeError: Cannot read property 'payWithDebitOrCreditCard' of undefined

This happens when changing the Payment to Paypal in RC-4 it was working in RC-2

**Additional context**
<img width="1595" alt="Bildschirmfoto 2020-01-09 um 19 20 16" src="https://user-images.githubusercontent.com/202342/72093692-31bcad80-3315-11ea-8354-24624344ed67.png">
The selected Payment is not showing and

[2020-01-09 20:04] patchee500 commented on #110
I just came across this issue. The issue is not limited to Firefox.
For me it happened in Chrome.

A solution is described here: https://forum.shopware.com/discussion/comment/255437/#Comment_255437

Simply adding another language in the admin panel (doesn't matter which one, it can be deleted afterwards again) restores the backend.

Maybe somehow through upgrading (at least that's what I did) or s

[2020-01-09 21:16] mitelg commented on #414
hey @cfreak
could you please create a ticket here? https://issues.shopware.com/?projects=PT&plugin=PayPal

this is only for the Shopware core 😉

[2020-01-09 21:16] #414 closed, assigned to nobody

[2020-01-10 07:21] keulinho commented on #413
Hey @vttn,

thanks for raising this issue.

The `messenger.listener.stop_worker_on_restart_signal_listener` comes from symfony, so it should be there. Can you verify that composer installs symfony-messenger?

Could you inform us which version of shopware are you running? master or the 6.1? And if symfony-messenger is installed can you please check which version is installed?

Kind regards
Jonas

[2020-01-10 08:05] vttn commented on #413
Hello @keulinho,

I fixed the issue. I had last used Shopware 6 months ago, after pulling your repo, I still had the old composer.lock.

FYI in `app/dev-ops/common/actions/init-composer.sh` please consider either deleting composer.lock, or using `composer update`. Since `composer install` always fetches packages from composer.lock.

All the best,

Victor

[2020-01-10 08:05] #413 closed, assigned to nobody

[2020-01-10 10:30] lietzi opened #416 "small typo in messages.de-DE.json"
in src/Core/Framework/Resources/snippet/de_DE/messages.de-DE.json:
"Name abesteigend" should be corrected to "Name absteigend".

[2020-01-11 10:40] PheysX commented on #416
Created Pull request for this issue: https://github.com/shopware/platform/pull/419

[2020-01-12 17:21] JoshuaBehrens opened #420 "Different flows for data loading in admin entity listing"
**Description**
Any entity listing in the admin like the customer listing or manufacturer listing has different ways to load data. This results in different problems. E.g. you have a customer listing that is empty. Using the demo-data command to fill up demo customers and then click on a column header to trigger a re-sorting. The sorting triggers a search. The search results in an now filled list

[2020-01-12 17:26] JoshuaBehrens commented on #420
Which way to go? Adding utility to make it easier to build the methods like `getList` or make `doSearch` less hiddenly used and give control over it in the listing-mixing? I know that this is a result of the mixture of different components in either class-hierarchical, DOM-hierarchical and mixin usage. But this results in a super strange way to handle listings.

[2020-01-13 09:53] hendrikwegner opened #422 "Not merged Order versions"
In relation to: https://forum.shopware.com/discussion/65239/order-versioning-bug
**Description**

When editing an order via the administration, saving this order, then going back to the order-overview and back to editing the order and saving again leaves a not merged version-entry behind.

![7DBnx7f](https://user-images.githubusercontent.com/22232369/72246351-cadc1480-35f2-11ea-9e1e-a1ccc33d2a74.p

[2020-01-13 10:35] Sheek44 opened #424 "Allow Cookies according to Regex"
**Description**
Its not possible to allow Cookies according to an Regex like it was possible in SW5, but for some Cookie names its impossible to allow every combination the Cookie name can have.

[2020-01-13 11:37] Sheek44 commented on #424
@MarcelSchmaeing Also, is it intended that Shopware does not delete any cookies by themself? Neither the cookies the user declines nor random Cookies?

[2020-01-13 12:09] thsekeer opened #425 "Hello guys...."
I am new in shopware 6 in don't have any knowledge about shopware query and from where i can learn about query in shopware 6 ....

[2020-01-13 12:15] #425 closed, assigned to nobody

[2020-01-13 12:17] thsekeer opened #426 "Hello Guys.."
I am new in shopware 6 in don't have any knowledge about shopware query and from where i can learn about query in shopware 6 ....

[2020-01-13 12:17] #426 closed, assigned to nobody

[2020-01-13 12:31] lxregistry opened #1330 "swag-docs-plugin-quick-start / remove unused code from services.xml"
please adjust your services.xml file like in your docs https://docs.shopware.com/en/shopware-platform-dev-en/internals/plugins/plugin-quick-start#the-services-xml

because is a confuse

[2020-01-13 12:36] thsekeer opened #427 "Hello Guys......."
i am new on shopware 6 please any one  tell me from where i can learn query of shopwere 6 and from where to get help about shopware 6 .....except documentation ....

[2020-01-13 13:14] mitelg commented on #427
hey @thsekeer
I assume you already know the documentation https://docs.shopware.com/en/shopware-platform-dev-en/api/admin-api :grin:

It is probably easier for us to help, if you ask a specific question. otherwise it is quite impossible to guess what exactly your problem is :wink:

Beside that, I recommend our [gitter channel](https://gitter.im/shopware/platform), where you can find many Shopware

[2020-01-13 13:18] tobiasberge commented on #393
Hi,

thanks for your PR @simkli. Because it has been merged I will close this issue.
https://github.com/shopware/platform/pull/394

Best regards
Tobias

[2020-01-13 13:18] #393 closed, assigned to tobiasberge

[2020-01-13 13:34] htuscher opened #428 "theme.json inheritance"
**Description**
If you want to modify a field in your `theme.json` which inherits from the `Storefront`, you must specify the entire field. Other properties aren't merged as you would expect.

[code]

Breaks your theme compilation.

**Possible Solution**
The `theme.json` should be deeply merged with the base `theme.json` of the storefront.

**Additional context**

[2020-01-13 15:51] schneehaze opened #431 ""document.lineItems.header.productNumber" instead of proper text shown in documents"
**Description**
The text "document.lineItems.header.productNumber" is shown in invoices and other documents.
This should be a proper Table Header Text.
https://issues.shopware.com/issues/NEXT-6184

`<th>{{ 'document.lineItems.header.productNumber'|trans|sw_sanitize  }}</th>`
in
platform/src/Core/Framework/Resources/views/documents/base.html.twig

**Possible Solution**
Add german text to the initia

[2020-01-13 16:13] schneehaze commented on #431
Solution: Add german text to the initial installation for document.lineItems.header.productNumber

<img width="889" alt="Screenshot 2020-01-13 at 17 11 55" src="https://user-images.githubusercontent.com/25282177/72271830-e7467400-3627-11ea-838f-e262a67f4af6.png">

[2020-01-13 21:00] FlushBG opened #433 "I am unable to call the API with a language as a parameter"
**Description**
 I am using a Headless channel with a custom multilingual frontend, written in Nuxt.js. I am not able to find any information on how to call the Shopware Admin API with a language parameter, so I get the content I need in the language that the user picks (products, categories, etc.).
 I was experimenting with Postman and found that the product has a translations property (an object

[2020-01-14 02:40] keulinho commented on #427
You can also find free training videos at our acadamy: https://academy.shopware.com/collections?category=english-trainings&page=2

[2020-01-14 05:24] mnaczenski commented on #424
The shopware 6 solution won't delete any cookies - this is the intended behaviour, since shopware 6 is completely new and new plugins in the store will be checked against the cookie bar, it is not necessary to remove them automatically. Every plugin should only set their cookies and local storage after the cookie is allowed. In shopware 5 we needed a much harder solution because there are already

[2020-01-14 07:01] keulinho commented on #427
@thsekeer,

i'm closing this for now as we hope that you will find some starting point for learning shopware 6 in the links we've provided here.

If you have some concrete issues don't hesitate to open another ticket.

Kind regards
Jonas

[2020-01-14 07:01] #427 closed, assigned to nobody

[2020-01-14 07:14] thsekeer opened #434 "Hello..."
how to get single product with image and its price and default quantity like details pages... how to use controller to get these data in shopware 6 please any one send source code.....?

[2020-01-14 07:26] tobiasberge commented on #386
Hi @Zyles,

thanks for reporting this issue.

This was a general problem which happened to every dropdown menu that was inside a container with limited space. It will be fixed by making the dropdown menus more dynamic, like you already suggested. When not enough space is there it will open up in the opposite direction.

The fix is in code review internally and will be in the next `6.1` patch relea

[2020-01-14 07:31] pantrtxp commented on #434
Hello @thsekeer,

please have a look at our [Doku](https://docs.shopware.com/en/shopware-platform-dev-en) or get involved in our [Forum](https://forum.shopware.com)

Sunny Regards
Pantrtxp

[2020-01-14 07:31] #434 closed, assigned to pantrtxp

[2020-01-14 08:04] mitelg commented on #433
hey @FlushBG
the Admin API is, as the name suggest, for creating, updating, deleting, etc the entities. you should not use it, to get the products for the storefront.
For this purpose we have the saleschannel API: https://docs.shopware.com/en/shopware-platform-dev-en/api/sales-channel-api?category=shopware-platform-dev-en/api
there are also more articles for further reading, e.g. changing the cont

[2020-01-14 08:16] jleifeld commented on #420
Hey Joshua,

thanks for your great ideas. We also think there is optimization potential in the admin entity listing.

We think it will be a good idea to implement the listing logic more inside the `entity-listing` component so that the initial `getList` call is not needed anymore. You control the listing from the outside with different properties and the listing updates reactively to the changes.

[2020-01-14 08:19] FlushBG commented on #433
hi @mitelg, thanks for the response!
The docs describe only GET methods, regarding the context endpoint. Now that you mentioned it, I assume you can somehow set the language with a POST request, but will that affect only the one user that initiates it? Does it work by sending a cookie or? Please add this to the docs.

[2020-01-14 09:00] mitelg commented on #433
use this route for an update https://github.com/shopware/platform/blob/6.1/src/Core/System/SalesChannel/SalesChannel/SalesChannelContextController.php#L31
this should be the key for changing the language https://github.com/shopware/platform/blob/6.1/src/Core/System/SalesChannel/Context/SalesChannelContextService.php#L13

[2020-01-14 09:02] mitelg commented on #433
I created a ticket for the missing docs https://issues.shopware.com/issues/NEXT-6408

[2020-01-14 09:04] FlushBG commented on #433
Thanks for your support! I will close the issue.

[2020-01-14 09:04] #433 closed, assigned to nobody

[2020-01-14 09:05] Sheek44 commented on #424
Okay, thank your for your quickresponse. And what about the regex for cookie naming e.g. for google analytics?

[2020-01-15 05:06] mnaczenski commented on #424
The regex was added because there were many requests from plugin manufacturers. Since shopware 5 and 6 are different projects, not everything will be automatically done in shopware 6 as well. I think this implementation in shopware 6 was done before the regex solution in shopware 5. So feel free to add it as PR or else you can open a ticket in our issuetracker: issues.shopware.com

[2020-01-15 06:59] deepakk-webkul opened #436 "If customer try to review on variant product then product name is not visible under the review grid in the admin end."
Preconditions (*)

Shopware 6.1.0 with demo data installed
PHP 7.2.22
Production Mode

**If customer try to review on variant product then product name is not visible under the review grid in the admin end.**

![Screenshot](https://user-images.githubusercontent.com/50043226/72412017-517b2800-3792-11ea-926f-d8625cf8beb6.png)

![Screenshot (1)](https://user-images.githubusercontent.com/50043226/7241

[2020-01-15 07:55] mitelg commented on #436
hey @deepakk-webkul

could you check if it works with the https://github.com/shopware/platform/commits/ntr/6.1.1-integration branch?
it seems to be fixed already with this commit: https://github.com/shopware/platform/commit/8544a592533b24b1e2bf146414e4d8a2f403fb0a

[2020-01-15 10:40] arkadiuszprzybylski92 opened #438 "extend package.json file"
Is it possible to add package.json to the custom plugin and install packages in this module using native storefront commands? I know i can extend webpack config, but i need new node packages.

[2020-01-15 12:06] klarstil commented on #438
Hey @arkadiuszprzybylski92,

thanks for opening this issue. I'll check if this is possible and give you a information about it. Please give me some time.

Best regards

[2020-01-15 14:05] deepakk-webkul opened #439 "After Order place ,Guest user unable to check own order details"
Preconditions (*)

Shopware 6.1.0 with demo data installed
PHP 7.2.22
Production Mode

After Order place ,Guest user unable to check own order details

[2020-01-16 13:27] cfreak opened #442 "Cache / Index Problem with Products"
**Description**
Backend: From time to time edits on products get saved, but are not shown after reload in the backend. Only when clearing cache and refreshing index on the cli, the updated values are shown.

Frontend: When changing for example the properties on a product, the product is not shown if you set the filter on the frontend listing. After doing dal:refresh:index the product gets visible.

[2020-01-16 15:37] ssltg commented on #428
Hi @hhoechtl ,

thank you for bringing this up. We found the problem and will fix it soon. This Issue will be closed when the fix is merged.

[2020-01-17 11:49] axzx opened #443 "sh: 1: [[: not found"
**Description**

run
` ./psh.phar docker:start`
then
[code]

[2020-01-17 12:25] axzx opened #444 "error in (25/40) Starting"
**Description**

run `./psh.phar install`
then
[code]

**Possible Solution**

**Additional context**

[2020-01-18 14:58] pantrtxp commented on #431
HI @schneehaze,

This issue will be fixed with the 6.1.1 patch release in the near future

Sunny regards
Pantrtxp

[2020-01-18 14:58] #431 closed, assigned to pantrtxp

[2020-01-18 15:00] pantrtxp commented on #444
Hi @axzx,

this is a issue regarding your npm installation, not a shopware one.
The error message even provides you a global fix.
`To permanently fix this problem, please run:  sudo chown -R 1000:1000 "/.npm"`
Have you tried this?

Sunny regards
Pantrtxp

[2020-01-18 15:02] pantrtxp commented on #439
Hi @deepakk-webkul

What exactly do you expect in this case?
You do not have an account, thus you can not see your orders.
But the guest should get an email with all Informations.

Sunny regards
Pantrtxp

[2020-01-19 09:59] axzx commented on #444
@pantrtxp
I installed according to the instructions https://github.com/shopware/platform#quickstart--installation
There's a docker used, so I expect it all to work right away.

[2020-01-19 19:47] kreadiv opened #446 "Order is not deletable"
Its not possible to delete an order in the order list view. The link is disabled and nothing happens?

[2020-01-19 20:17] kreadiv opened #447 "Plugins in Backend not visible"
The plugins in the backend are not visible anymore.
See screenshot.

On the console everything works fine.

![Bildschirmfoto 2020-01-19 um 21 16 17](https://user-images.githubusercontent.com/705927/72687721-0306ba00-3b01-11ea-8c3e-c564d36f1535.png)

Ok, there was an issue with SwagPayPal: `The language "" was not found.`
Before that i have deleted the english language.
I uninstalled SwagPayPal and

[2020-01-19 21:38] #447 closed, assigned to nobody

[2020-01-20 07:05] JanPietrzyk commented on #406
Hi @AlexBachmann thanks for your interest. Yes the command is indeed a little troublesome. So let me respond to your concerns:

In the current master the migration command is already adjusted to use real identifiers instead of namespace constraints. Shopware core as well as Storefront migrations are no longer collected independently but use the identifier *core*, So executing "bin/console database

[2020-01-20 07:42] keulinho commented on #443
looks like the script get's executed with shell, but the shebang at the start of the file tells that it should be executed with bash.
Please make sure that you have bash installed and it's up to date.

Try to run following command: `/usr/bin/env bash -c "type [["`, it should print that `[[ is a reserved keyword`.

[2020-01-20 07:43] axzx commented on #443
@keulinho
I installed according to the instructions https://github.com/shopware/platform#quickstart--installation
There's a docker used, so I expect it all to work right away.

[2020-01-20 07:49] keulinho commented on #443
@axzx,
this script runs on your host machine to start the docker container, so you need bash installed on your local machine.

It is stated in the [installation requirements](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/requirements#docker) for the docker set up.

Kind regards
Jonas

[2020-01-20 07:50] axzx commented on #443
I work on linux, bash is installed

[2020-01-20 07:54] keulinho commented on #443
What's the result of running `/usr/bin/env bash -c "type [["` on your local machine?

[2020-01-20 07:55] axzx commented on #443
`[[ jest słowem kluczowym powłoki`
in en
`[[ is the keyword of the shell`

[2020-01-20 07:59] keulinho commented on #443
That's really weird as the docker start script first runs the check permission script that also uses the `[[` syntax and there it seems to work.
And both scripts have the same shebang.

[2020-01-20 08:13] axzx commented on #444
@pantrtxp
Should I run `sudo chown -R 1000:1000 "/.npm"` in my system or in docker ssh?

That's how it looks:
![Zrzut ekranu z 2020-01-20 09-12-29](https://user-images.githubusercontent.com/1436016/72709346-0fbcf980-3b65-11ea-8cc7-09d3af6dc293.png)

[2020-01-20 08:18] keulinho commented on #444
@axzx the npm folder is mounted from your host system, so you have to run `sudo chown -R {{yourLinuxUser}} "~/.npm"`

[2020-01-20 10:09] jd297 opened #448 "JSON file response on IE11 form submit"
**Description**
If you submit a formular with IE11 you will receive a json file to download instead of the rendered JSON response.

**Additional context**
![jsonfile](https://user-images.githubusercontent.com/56673596/72717611-a6dd7d80-3b74-11ea-87bb-5f42ef4ed4d0.PNG)

Shopware 6.1 with IE11 on Win10

[2020-01-20 10:59] jd297 opened #449 "Contact form error"
**Description**
When you submit a contact formular with all required data, you still get some alert messages with "This value should not be blank." four times.

**Additional context**
![not be blank](https://user-images.githubusercontent.com/56673596/72721272-f2475a00-3b7b-11ea-9f85-8478d8f9f566.PNG)

Tested in Shopware 6.1 with different browsers on Win10

[2020-01-20 12:16] taltholtmann commented on #443
We fixed this behaviour for the 6.1 Branch in the development template. Psh seems to ignore the shebang. It will soon be merged to master branch.

[2020-01-20 12:16] #443 closed, assigned to taltholtmann

[2020-01-20 17:10] #424 closed, assigned to mnaczenski

[2020-01-21 08:44] muegu opened #453 "Internal Server Error on product creation containing media information"
**Description**
I try to create new products (at the moment over the ADMIN API).

When I send a POST request to api/v1/product with the Accept and Content-Type application/json  and the body:

[code]

I get an HTTP 500 response with the body:

[code]

However, if I remove the media part of the request body everything works just fine.
Is there something wrong with my request body (although I compar

[2020-01-21 12:39] JoshuaBehrens opened #454 "Contract / interfaces separated from the implementation"
**Description**
Lots of other applications in various languages just share their interfaces for any implementation to add or change. This way a later implementation can change and the plugin depending an the interfaces does not need to care about it.

**Example**
Imagine having a plugin that requires `shopware/core` and an other library that also uses a shopware dependency like `guzzle`. Now as th

[2020-01-21 13:20] hendrikwegner commented on #422
problem fixed with pull request #445

[2020-01-21 13:20] #422 closed, assigned to OliverSkroblin

[2020-01-22 08:05] taltholtmann commented on #449
Hello @JD297,

i am not able to reproduce the issue in the 6.1 branch. Did you use the 6.1 release? If so, this issue should be fixes with the next patch release.

Sunny regards,
Timo

[2020-01-22 08:13] jleifeld commented on #420
https://issues.shopware.com/issues/NEXT-6406

This is the link to our Issuetracker. You can get the latest status about this issue in the link.

Thanks for your contribution! :)

[2020-01-22 08:13] #420 closed, assigned to jleifeld

[2020-01-22 08:24] JoshuaBehrens commented on #420
Thanks for listening 👍 Still waiting for the notification feature in your issue tracker :(

[2020-01-22 09:13] JoshuaBehrens opened #459 "Product rating summary is misleading due to language filter"
**Description**
Ratings that are language dependent suit usability as customers see readable comments in the first place. But this also currently hides the overall rating on first sight. This can be misleading as well.

![changing-review-summary](https://user-images.githubusercontent.com/1133593/72880711-aae9d680-3cff-11ea-9edc-d4f3b0bd1e8a.gif)

**Possible Solution**
Show the rating summary alway

[2020-01-22 11:44] axzx opened #461 "TypeError: "right-hand side of 'in' should be an object, got null""
**Description**

I edit the category and after saving, an error:
`TypeError: "right-hand side of 'in' should be an object, got null"`

The data are saved in the database, but are not visible in the form.

url: `/admin#/sw/category/index/2ee3ba3ef43b46caab363c7a49309c39/cms`

[2020-01-22 12:12] #407 closed, assigned to pweyck

[2020-01-22 12:19] mnaczenski commented on #448
We already have IE 11 compatibility as an epic in our issuetracker: https://issues.shopware.com/issues/NEXT-5992

But honestly it's mostly planned for the next quarter starting april.

[2020-01-23 09:58] #428 closed, assigned to ssltg

[2020-01-24 00:28] tiwac100 opened #464 "Support all S3Client options"
**Description**
Currently only the `'credentials', 'version', 'root', 'options'` options are supported when configuring S3 as media filesystem. Please support all available options in `AwsS3v3Factory` because it is currently impossible to use other S3 compatible services like [MinIO](https://github.com/minio/minio).

[2020-01-24 06:24] hlohaus commented on #464
try https://github.com/shopware/platform/pull/460

[2020-01-24 08:10] Gainto commented on #197
well, which solution has been implemented in the 6.1 to populate the custom-fields to the associated transformed items (customer, address, etc.) ?

[2020-01-25 16:52] tiwac100 opened #466 "NEXT-6651 - Using remote filesystem breaks frontend and backend"
**Description**
When using a remote filesystem (S3, Google Cloud, CDN) according to the [docs](https://docs.shopware.com/en/shopware-platform-dev-en/how-to/use-s3-datastorage) the frontend and backend (plugins) styles and javascript are broken.

This is because Shopware saves these files on the remote filesystem on theme compilation but the URLs still point to the relative `/themes` (frontend) and

[2020-01-26 07:08] JoshuaBehrens opened #467 "Navigating back with a modal does not close the modal"
**Description**
E.g. you press on a compact media upload in the context menu and open the "open from url" modal. Now you (accidently) invoke a browser back. The app navigates back but the modal is still open.
This will break a lot as the modal source is gone.

**Possible Solution**
1. Close modals when their parent is destroyed
2. Make modals part of the history
3. Close modals when the router nav

[2020-01-26 15:29] Zyles opened #468 "Categories not redirecting on missing slash"
**Description**

Slash and no slash at the end of an URL are two unique URLs according to Google.

[code]

Are not the same page: https://webmasters.googleblog.com/2010/04/to-slash-or-not-to-slash.html

This leads to duplicate content issues.

There is also not a proper canonical tag on the page:
`<link rel="canonical" href="https://www.shopwaredemo.co.uk/" />`

Is not correct. Should be:
`<link r

[2020-01-27 07:47] tyurderi commented on #343
Since the associated PR https://github.com/shopware/platform/pull/354 is merged, this issue is solved :)

[2020-01-27 07:47] #343 closed, assigned to jleifeld

[2020-01-27 07:49] hlohaus commented on #468
Yes, thats right. See my solution:
https://store.shopware.com/she8384344171469/ignoriere-trailing-slash-bei-seo-urls.html

[2020-01-27 09:25] #416 closed, assigned to nobody

[2020-01-27 09:51] htuscher opened #470 "Language integrity"
**Description**

**Case 1**
If you update Shopware and a migration is running, e.g. `Migration1575021466AddCurrencies` it's necessary that you have languages for the locales `de-DE` and `en-GB`.
Of course that's not necessarily the case, we have neither german nor english in the shop configured.

Not sure what would happen with other migrations if they try to add translations for unused languages,

[2020-01-27 10:08] lyssar opened #472 "Composer setup"
I would like a fully installation via composer, which should be kind of a standard in order to be able to automate rollouts like 90% of other projects.
Is this feature planned and if yes when will it be available?

Actually this is a showstopper for not just me to use Shopware for upcoming projects (to much devops pain)

Kind regards

[2020-01-27 10:34] bcremer commented on #472
The default installation method of Shopware 6 is via composer dependency.
There are two template-repositories that contain the glue code to get things started:
https://github.com/shopware/development
https://github.com/shopware/production

For the older Shopware 5 have a look into the following repo: https://github.com/shopware/composer-project

[2020-01-27 11:49] Zyles commented on #468
I have to pay to fix a bug?

[2020-01-27 11:51] Zyles commented on #468
If you have solved it. Wouldn't it be better if you contributed to the open source project?

[2020-01-27 16:44] tiwac100 commented on #466
Just an additional note: this also affects sitemaps and all other things Shopware places in the public directory.

[2020-01-27 19:59] lyssar commented on #472
Mhhh FYI the development github just links the official docs. I couldn't find the composer setup over there but the production github actually explains it.
I will try that :)

[2020-01-27 19:59] lyssar commented on #472
Oh and thanks for the info ;D

[2020-01-27 21:24] rammnco commented on #449
Error still occurs with 6.1.1, for me at least. Can anyone confirm?

[2020-01-27 21:45] jd297 commented on #449
@taltholtmann I tested it with 6.1.0 Stable Version. I have tried to find the bug. I can't tell you exactly where it is but I think it is a violation fail in the ContactFormService
Line 81: $this->validateContactForm($data, $context);

For some reason this returns the error but I don't know why.

[2020-01-28 07:01] jleifeld commented on #461
Hi @axzx ,

thanks for your contribution. I cant reproduce the bug, therefore I have a few questions:

- which version or branch are you using
- what did you change in the category

I would be good if you can provide more information so that I can reproduce the bug (and fix them) :)

[2020-01-28 07:21] deepakk-webkul commented on #439
Hi @pantrtxp
There should be another option in frontend for guest user or registered user. Without login they can checked their own order details through order Id & email Id. This will help a customer if he had lost email or cannot log in to email.

[2020-01-28 07:24] hlohaus commented on #468
i did it in sw5:
https://github.com/shopware/shopware/pull/2112

[2020-01-28 07:44] pweyck commented on #453
Hello @muegu,

thanks for reporting this.

The problem with your payload is, that `media` should be an array of objects, not an object.

We should report a sensible error message or allow this. I've created an issue for this:

https://issues.shopware.com/issues/NEXT-6666

Kind regards

Patrick

[2020-01-28 08:18] JoshuaBehrens commented on #467
@mitelg thinks about the missing notification feature on issues.shopware.com and reopens the ticket. 👍

[2020-01-28 08:33] axzx commented on #461
Catalogues -> Categories
Category edit
tab Content
You have to change language, for example Polish
write some text in the Text field
save

Do you see the changes after saving?

[2020-01-28 09:07] zolthan opened #475 "Overwrite database config with default config"
**Description**
It is not possible to overwrite the default config via database entries in `system_config`

**Possible Solution**
The array_merge in `\Shopware\Storefront\Framework\Twig\TemplateDataExtension::getGlobals` is the wrong way around.

[2020-01-28 09:10] zolthan commented on #475
[code]

[2020-01-28 10:11] jleifeld commented on #461
Which shopware version are you using?

I did alle the changes you did and can successfully save the category. All changes are also visible.

[2020-01-28 10:34] axzx commented on #461
Shopware ver 6.1.1

step 1.
![obraz](https://user-images.githubusercontent.com/1436016/73256307-fb5ea980-41c1-11ea-8cd8-e99c18776fdd.png)

step 2
![obraz](https://user-images.githubusercontent.com/1436016/73256330-09142f00-41c2-11ea-8672-661d10912ee9.png)
and click button Save

step 3
![obraz](https://user-images.githubusercontent.com/1436016/73256388-17624b00-41c2-11ea-8626-aff39194329f.png)

[2020-01-28 11:16] tinect opened #476 "German translation "Login""
**Description**
In den Übersetzungen wird aktuell auch von "Login" geschrieben. Ich fände den Kontext "Anmeldung" viel besser. Zumal beim Logout auch von "abgemeldet" geschrieben wird.

**Possible Solution**

**Additional context**

[2020-01-28 11:17] tinect opened #477 "German translation "Product""
**Description**
Als Übersetzung für "product" wird "Artikel", wie auch mal "Produkt" verwendet. Welches soll es denn sein?

https://crowdin.com/translate/shopware6/all/en-de#q=Artikel
https://crowdin.com/translate/shopware6/all/en-de#q=Produkt

**Possible Solution**

**Additional context**

[2020-01-28 11:19] tinect opened #478 "German translation "Durchsuche" or "Suche""
**Description**
"Search [thing]"
Ist mal mit "Suche nach [thing]" übersetzt, mal mit "Durchsuche [thing]".
Vielleicht könnte sich für eins entschieden werden.

**Possible Solution**

**Additional context**

[2020-01-28 15:30] jleifeld commented on #461
Thanks for commiting the bug :)

I can reproduce it now in the 6.1 branch. I will create a ticket for this issue.

[2020-01-29 05:49] deepakk-webkul commented on #208
Need to fix this issue in Shopware version 6.1.x

[2020-01-29 06:20] deepakk-webkul commented on #436
This issue has been fixed in shopware version 6.1.1

[2020-01-29 07:03] #436 closed, assigned to mitelg

[2020-01-29 07:57] tobiasberge commented on #382
Hi @cfreak,

the problem should be fixed in the current 6.1 version.
I will close this issue since the bug is fixed. If there are any problems feel free to open a new issue.

Best regards
Tobias

[2020-01-29 07:57] #382 closed, assigned to tobiasberge

[2020-01-29 08:16] GitEvil commented on #478
Hi, tinect!
Da bin ich völlig bei dir, Einheitlichkeit sollte ein primäres Ziel sein. Und das ist auch, was ich mir im Arbeitsalltag gerne auf die Fahnen schreibe. Allerdings ist es im iterativen Softwaredevelopment auch ein bisschen ein Kampf gegen Windmühlen, es sind halt viele Köche beteiligt und nicht alle sind so Grammar-Nazis wie ich. xD Deshalb finde ich es super, hier Unterstützung zu beko

[2020-01-29 11:08] mitelg commented on #477
"product" please!

[2020-01-29 11:53] #448 closed, assigned to tobiasberge

[2020-01-29 12:02] mnaczenski commented on #304
@PheysX
Can we close this issue for now or do you need some additional information?

[2020-01-29 13:29] pweyck commented on #475
Thanks for reporting and providing a patch :)
This should be a quick fix. I've created an issue anyway:

https://issues.shopware.com/issues/NEXT-6709

[2020-01-29 14:28] #475 closed, assigned to pweyck

[2020-01-29 18:25] htuscher commented on #466
Yes the public files (media) and assets are mixed up. But they are not similar => they should have used a different filesystem.
The Symfony asset component that is used is not using Flysystem internally. Therefore all asset links generated in the frontend will always assume local files.

A clean solution would be to introduce a new filesystem service for static resources and assets and completely

[2020-01-30 08:09] keulinho commented on #439
@deepakk-webkul IMHO that would be a huge security risks as both Ordernumber and Email-adresses can't be considered secret and can be guessed quite easily

[2020-01-30 10:06] krzysztof-m opened #484 "CookieStorage.setItem method sets wrong expiration date"
**Description**
I'm using CookieStorage object from src/Storefront/Resources/app/storefront/src/helper/storage/cookie-storage.helper.js and when I'm using it's setItem method, cookie expiration is set to session instead of date.

**Possible Solution**
I think that in line 28 there is an error
`document.cookie = ${key}=${value};expires)${date.toUTCString()};path=/;`
after expires there is ) instead

[2020-01-30 12:41] htuscher opened #486 "NEXT-8435 - theme:dump outputs duplicates"
**Description**
I have installed some plugins and the hot proxy is not working any more. I traced down the cause and found that the generated `var/theme-files.json` which contains the entrypoints for webpack contains the plugin entrypoints more than once:

[code]

This causes webpack to fail with:

[code]

The recursive call of `resolve` in the `ThemeFileResolver` is called with the following stac

[2020-01-30 13:09] htuscher commented on #486
Whoever has the same issue, here's the workaround:

[code]

[2020-01-30 13:38] windaishi opened #487 "Calculated price fields in table order_delivery_position have wrong type"
**Description**

The fields `total_price` and `unit_price` of the table `order_delivery_position` have the type `int(11)`. They have to be `float`, otherwise you will get only the rounded prices.

**Possible Solution**

Change the types to float

**Additional context**

![image](https://user-images.githubusercontent.com/6232639/73454285-0ce4b480-436e-11ea-8f47-96edbe6d27ab.png)

[2020-01-30 13:44] windaishi opened #488 "CustomerMetaFieldSubscriber crashes if the customer of an order does not exist"
**Description**

If an order is created without customer, you will get the error `Error: Call to a member function getCustomerId() on null`.

**Possible Solution**

Fix this line of code:
https://github.com/shopware/platform/blob/0394e280b26d9daee52206b8f99f2ba50407fb0b/src/Core/Checkout/Customer/Subscriber/CustomerMetaFieldSubscriber.php#L73-L77
e.g. by replacing it with this:
[code]

[2020-01-31 07:22] pantrtxp commented on #444
Closing this due to inactivity

[2020-01-31 07:22] #444 closed, assigned to pantrtxp

[2020-01-31 08:06] uehler opened #491 "inheritance of controller templates with custom theme not working properly"
I have a strange behavior when I load a custom template inside a controller which extends a custom theme:
Controller loads a template: `$this->renderStorefront('@Storefront/mycontroller/index.html.twig');`.
The template extends the `base.html.twig` of a custom theme: `{% sw_extends '@Storefront/storefront/base.html.twig' %}`. The file only contains the sw_extends, nothing else.
The template of the

[2020-01-31 15:00] ssltg commented on #470
Thank you for your contribution.
You are right, the Migration shouldn't force to update something with a language that maybe is not available. We will fix this and other Migrations which rely on the german and english locale to exist.

On the other Hand it is possible, but not recommended to delete the german and/or english languages from the System, because all our updates and most Plugins will r

[2020-01-31 15:03] ssltg commented on #470
We have created a Ticket for the igration Issue https://issues.shopware.com/issues/NEXT-6509

[2020-01-31 21:12] FrazeColder opened #493 "Script with name install not found - Following install instructions"
I want to install the developer version of Shopware 6 on my Mac using MAMP. I do follow the install instructions you can find in the offical Shopware 6 documentation - [here](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/mac-os-x?category=shopware-platform-dev-en/getting-started/system-installation-guides).

However, I get this error on the last s

[2020-02-03 10:44] thsekeer opened #496 "Hello i want to set contact form in detail page and want to send data with email how is it posible...."
**Description**

**Possible Solution**

**Additional context**

[2020-02-03 13:30] sbossert opened #497 "Invalid json in sw-plugin snippets"
**Description**
In the de-DE.json and en-GB.json in the master branch there is invalid JSON due to superfluous commas at the end of object / list, due to this plugin texts are not set within the administration interface.

[code]
**Possible Solution**
Remove comma, probably generated somewhere.

**Additional context**
Issue is only present in master branch.

[2020-02-03 14:07] mitelg commented on #497
hey @sbossert
thanks for bringing up this issue.

As this is already fixed in our current dev branch "6.1" this will be fixed as soon as the 6.1 branch is merged back into the master. which should happen on a regularly base.

[2020-02-03 14:07] #497 closed, assigned to nobody

[2020-02-03 14:22] Christian-Rades commented on #383
Hi @almare,

thank you for invenstigating this Issue. I have tried to replicate it, but in my tests the thumbnails always got generated. It looks like the` $toBeDeletedThumbnails` collection might contain a thumbnail size twice. Do you mind sharing the content of the two collections for one image?

Best regards

[2020-02-03 14:43] ssltg commented on #491
Hi Uli,
can you please try to delete the cache directory (delete whole /var/cache Dir) per console and tell me if the changes of the custom theme are displayed after a reload?

We are aware of a current bug in the cache:clear command, that can result in this behaviour.

Greets,
Stefan

[2020-02-03 14:59] uehler commented on #491
Hi @ssltg,

I tried both, `clear:cache` and `rm -rf /var/cache`, both didn't help

[2020-02-03 22:13] LutzRose opened #499 "The API CALL results in a 500 error */api/v1/property-group/{id}/translations"
When writing a Shopware 6 Rest Client, the API CALL
GET */api/v1/property-group/{id}/translations
to a 500 mistake.

[code]

The test environment is based on the bitnami stack.
Shopware 6.1.1 is used.
Plugins: Demo data and PayPal were installed.

[2020-02-04 05:20] deepakk-webkul opened #500 "If we try to login in product review section then customer unable to login after refresh the whole page then customer showing login stage."
Preconditions (*)

Shopware version 6.1.1 with demo data installed
PHP 7.2.22
Production Mode

If we try to login in product review section then customer unable to login after refresh the whole page then customer showing login stage.

![Screenshot](https://user-images.githubusercontent.com/50043226/73716039-ee9b0200-473b-11ea-8aa5-3ff9f5dec28a.png)

![Screenshot (1)](https://user-images.githubuser

[2020-02-04 13:55] s-oliver opened #502 "framework:demodata console command fails on media generation"
This happened with Shopware 6.1.1

**Description**
It is not possible to generate demo data with the according console command `framework:demodata` because of an invalid function call in a 3rd party lib

[code]

[code]

workaround for now:
`./bin/console framework:demodata --media=0`

[2020-02-04 14:45] Sheek44 opened #503 "sw-context-menu floats out of the window"
When having a large category tree and you want to add a subcategory the sw-context-menu opens directly unter the cursor, even though there isn't enough free space.

![sw-context-menu-flaot](https://user-images.githubusercontent.com/56643149/73754830-4d28a600-4765-11ea-904d-f4935d1ff7b4.jpg)

[2020-02-04 15:08] s-oliver opened #504 "Plugin configuration via console command"
**Description**
For automated integration tests it would be good to have a console command to set the plugin configuration. Shopware 5 used to have that (`sw:plugin:config:set`)

**Example**
could look like this:
[code]

[2020-02-04 20:35] merlin-it opened #505 "Problem rendering extended twig template in a controller"
**Description**

I have a problem extending the cart widget template, but it is very likely the same behaviour for other templates which are loaded the same way:

For customisazion of the cart widget I created the following file:
`/custom/plugins/MyPlugin/src/Resources/views/storefront/layout/header/actions/cart-widget.html.twig`

When the main template is rendered everything is working fine and m

[2020-02-05 06:48] mitelg commented on #502
hey @s-oliver
please install the PHP GD extension in your environment

[2020-02-05 07:08] mitelg commented on #505
seems to be a duplicate of https://github.com/shopware/platform/issues/491

[2020-02-05 07:17] raknison commented on #484
Fixed in https://github.com/shopware/platform/commit/b2911217baa5fcc32e998ff232cd828b064dade2

[2020-02-05 07:17] #484 closed, assigned to raknison

[2020-02-05 08:17] s-oliver commented on #502
Thanks, this fixed it; could have thought of that myself but I was confused by the namespace before the function :)

[2020-02-05 08:17] #502 closed, assigned to mitelg

[2020-02-05 12:20] Haberkamp commented on #503
Hey @MortisReturns,

could you please tell me wich version you're using. Because i cannot reproduce this problem.

Kind regards

Nils

[2020-02-05 12:39] ssltg commented on #491
Hi  @uehler ,
can you please provide some more details? Maybe the contents of the different twig-files?
Is the Theme associated with the saleschannel you are calling?
Are no changes from the theme-template displayed or just some?

[2020-02-05 13:43] OliverSkroblin commented on #496
Hi @thsekeer,

The github issues in this repository are intended for issues of technical problems within the shopware core. If you need help implementing your plugins or a customer project, please contact our support or write a thread in our forum:

https://forum.shopware.com/

Greetings Oliver

[2020-02-05 13:43] #496 closed, assigned to OliverSkroblin

[2020-02-05 13:56] ssltg commented on #505
Hi @merlin-it ,
can you please send me the content of your /custom/plugins/MyPlugin/src/Resources/views/storefront/layout/header/actions/cart-widget.html.twig File for further checks?

Greets,
Stefan

[2020-02-05 15:13] Sheek44 commented on #503
i'm using v6.1.0 Stable Version right now

[2020-02-05 15:31] merlin-it commented on #505
Hi @ssltg
thanks for your fast reply. My modified template is no big deal and for the moment just for testing.
It looks like this:

`{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
    included widget
    {{ parent() }}
{% endblock %}`

When I load the page the text "included widget" is shortly displayed in the he

[2020-02-05 16:06] NicoWenig27 opened #507 "Theme Config of a duplicated theme is not updated"
**Description**
When I update my theme plugin to a new version where the theme.json has new fields, only the original theme config gets those new fields. Duplicated themes of the original won't get the new fields.

**Additional context**
Steps to reproduce:

1. Create a new theme plugin with one custom field in the theme.json
2. Install and activate plugin
3. Duplicate the theme
4. Update the them

[2020-02-05 16:14] uehler commented on #491
Hi @ssltg,
the theme is the theme of the current saleschannel. I stripped the html of the theme file, the plugin file is only contains the `sw_extends`

Themefile:
`custom/plugins/CustomTheme/src/Resources/views/storefront/base.html.twig`
[code]

Pluginfile:
`custom/plugins/CustomPlugin/src/Resources/views/episerver/index.html.twig`
[code]

The theme file empties the navigation block and includes

[2020-02-05 19:22] zperee commented on #236
Is this feature implemented now? I have a problem regarding Net and Gross prices. Gross prices are only shown in Germany when the country is changed e.g to Switzerland I get the Net price.

[2020-02-06 07:09] keulinho commented on #236
Hey @zperee,

what you experience is that you can define countries that are "tax free", this means just the net prices get displayed. In the default setup this is just the case for Switzerland.

You can activate or deactivate the "tax free" setting for each country under "Settings->Countries".

Kind regards
Jonas

[2020-02-06 13:37] tekbird opened #508 "Shopware 6 product variant update issue"
I am testing the shopware 6 admin API using the latest version of Shopware (6.1.1) and found this strange behaviour.

I am invoking the PATCH method of product API to update the variant option value. However, the option value gets added to the existing option instead of replacing it.

Can you suggest a way to replace an existing option value with a new one for a product?

Following is a Fiddler sc

[2020-02-06 15:37] Haberkamp commented on #503
Sorry, I could not reproduce this problem. And it seems that this is already fixed on the `6.1` branch.

Thank you for creating this issue. If this behaviour is still present in a future version feel free to create another issue.

[2020-02-06 15:37] #503 closed, assigned to Haberkamp

[2020-02-06 16:14] gruhn opened #509 "Questions regarding custom CMS element implementation"
I'm currently deep diving into custom CMS element development in Shopware 6. I went through the [dedicated HowTo](https://docs.shopware.com/en/shopware-platform-dev-en/how-to/custom-cms-element?category=shopware-platform-dev-en/how-to) and I'm now dissecting the implementation of the [built-in CMS elements](https://github.com/shopware/platform/tree/6.1/src/Administration/Resources/app/administrati

[2020-02-06 17:24] schaltwerkdesign opened #511 "document.taxOffice not editable"
` {% block document_footer_tax_office %}<li>{{ 'document.taxOffice'|trans({'%taxOffice%': config.taxOffice})|sw_sanitize }}</li>{% endblock %}`

taxOffice is not editable in document settings in administration. block is defined in documents/base.html.twig

[2020-02-07 12:56] #453 closed, assigned to pweyck

[2020-02-07 12:59] pweyck commented on #472
Installing via composer should work. You can reopen this issue, if it didn't work out.

[2020-02-07 12:59] #472 closed, assigned to pweyck

[2020-02-07 15:26] pweyck commented on #468
Hello @Zyles,

Sorry for the late response. Sadly I cannot reproduce your issues with the v6.1.1. By default, seo urls for categories are generated with a slash at the end and cannot be resolved without a slash.

When I override it manually without a slash, both work and the response of the non-canonical contains the header:

`Link: <http://docker.vm:8000/Foo/Bar>; rel="canonical"`

which is equiv

[2020-02-07 15:45] Zyles commented on #468
So what version is www.shopwaredemo.co.uk using? I don't own it.

[2020-02-07 17:12] zperee opened #512 "Wrong price calculation with graduated pieces"
**Description**
I have a product e.g wine. Due to the fact that a wine carton contains 6 bottles the min. amount for a purchase is 6 bottles. So I entered the graduation for the product in steps of six. Everything works fine if I add the product to my shopping cart via the product side.
The problem is when I add the product directly from the search result page via the Button, the total price in th

[2020-02-08 12:16] hlohaus commented on #468
it was sw5. :)
But maybe the config was not on.

[2020-02-09 16:42] jkrzefski opened #514 "I deleted "Headless". Now my administration is broken."
**Description**
The title says a lot about my issue. I had a fresh install of shopware (using the production template). I opened the administration and deleted the sales channel "Headless". The next thing I saw was this lovely message, telling me to report this issue.

<img width="640" alt="Bildschirmfoto 2020-02-09 um 17 35 48" src="https://user-images.githubusercontent.com/11394739/74106001-2010

[2020-02-09 17:59] Zyles commented on #468
I just tested an official demo store and no trailing slash results in a 404 when it should be 301 redirected.

Is there a setting?

[2020-02-09 18:01] Zyles commented on #468
Furthermore using a URL parameter `shopwaredemo.store/summer-bbq/?foobar=foo`

There is no canonical link in the source. This will make that page unique in Googles eyes.

And is a huge problem when using tracking codes for Google Ads, analytics etc.

[2020-02-10 08:46] OliverSkroblin commented on #464
Hey @timwachsener,

i updated the adapter options in the master branch: https://github.com/shopware/platform/commit/6f10ea0d01650bf36299818d0b61c44cd17c86d8

[2020-02-10 08:46] #464 closed, assigned to OliverSkroblin

[2020-02-10 08:52] OliverSkroblin commented on #508
Hi @tekbird,

Patch requests against the API only add relations or update the entities behind them. Overwriting a relation is not possible this way.

To delete the existing linked options you have to send a DELETE request with the id's.

In your case this would be the following

[code]

[2020-02-10 08:52] #508 closed, assigned to OliverSkroblin

[2020-02-10 12:10] pantrtxp commented on #509
Hi @gruhn,

for discussions please head over to our [forum](https://forum.shopware.com/categories/shopware-6)
If you want to suggest changes please create Tickets for your Ideas [here](issues.shopware.com). In our IssueTracker people will be able to vote for issues which makes identifying what the community wants easier.

Sunny Regards
Pantrtxp

[2020-02-10 12:10] #509 closed, assigned to jleifeld

[2020-02-10 12:50] tekbird commented on #508
Hi @OliverSkroblin, thanks for clarification. But the route you mentioned '/product_option' returns 404. can you please provide the correct one?

[2020-02-10 13:13] tekbird commented on #508
I found that the route /product-option seems to exist. But it neither supports DELETE or when I do a GET, I get the following:

{
    "errors": [
        {
            "code": "0",
            "status": "500",
            "title": "Internal Server Error",
            "detail": "Argument 1 passed to Shopware\\Core\\Framework\\DataAbstractionLayer\\Cache\\EntityCacheKeyGenerator::getEntityContextCac

[2020-02-10 15:52] tobiasberge commented on #446
Hi @kreadiv,

unfortunately it is not possible to delete an order in the administration interface at the moment and there should be no action button for this. We will remove this button because it leads to confusion.

The functionality to delete orders entirely from the administration is not on the roadmap right now. If you really need this feature please open a ticket at https://issues.shopware.c

[2020-02-10 16:03] kreadiv commented on #446
Hi @tobiasberge,

thanks for your reply.
Yes, that would be a good idea to remove the button temporarily, because it looks like an error.
For me its not a problem to delete the test orders directly in the database.

But i think for clientside its a really important feature.

Best regards
Florian

[2020-02-10 16:05] tobiasberge commented on #411
Hi @cfreak,

actually there should always be a success message: _"We sent you a confirmation email, if the provided email address is registered."_

![image](https://user-images.githubusercontent.com/8480203/74166350-b6595f00-4c26-11ea-92b7-270bfb2fbff1.png)

However the message is generic and does not differentiate if an account/email exists or not. We implemented this behavior due to security rea

[2020-02-11 08:08] tekbird opened #518 "Entity relation product-option does not support DELETE"
This is a re-post of the issue at https://issues.shopware.com/issues/NEXT-6948. I am re-posting this since we did not get response over that channel,

[2020-02-11 08:16] keulinho commented on #518
Hey @tekbird,

as it is a relation endpoint you can reach this option through the main product endpoint.

It should be possible to delete this option via: `DELETE api/v1/product/{productId}/options/{optionId}`.

This is currently a limitations that the endpoints of mapping entities can not be accessed directly.

Kind regards
Jonas

[2020-02-11 08:25] MDSLKTR opened #519 "npm install is broken for administration and its dependencies"
**Description**
https://raw.githubusercontent.com/shopware/platform/6.1/src/Administration/Resources/app/administration/package.json

When running npm install in `Administration/Resources/app/administration` the installation will fail because the shopware depedencies are not available on the registry:

"@shopware/eslint-config-base": "1.0.0",
"@shopware/webpack-copy-after-build": "1.0.0",
"@shopwa

[2020-02-11 08:32] klarstil commented on #519
Hey @MDSLKTR
thanks for opening this issue. A `npm install` isn't working cause we're using private packages which will be managed by [lerna](https://github.com/lerna/lerna).

We're in the middle of migrating from lerna to public packages, so we're able to use `npm install` normally again.

In the mean time you can install the dependencies using `npm run lerna -- bootstrap` in the `platform/src/Ad

[2020-02-11 08:32] #519 closed, assigned to nobody

[2020-02-11 08:33] tekbird commented on #518
It works!

[2020-02-11 08:33] #518 closed, assigned to nobody

[2020-02-11 08:37] tobiasberge commented on #386
Hi @Zyles,

the issue should be fixed in the current release. Dropdown menus now open up in the opposite direction when no space is available.

![image](https://user-images.githubusercontent.com/8480203/74221186-c9654100-4cb1-11ea-9ff1-1043c9cee99a.png)

Best regards
Tobias

[2020-02-11 08:37] #386 closed, assigned to tobiasberge

[2020-02-11 11:38] Zyles opened #521 "No way to configure shipping taxes"
**Description**

There is no way to set what tax a shipping method uses. I can't find anything in the docs either.

Either this is a very deeply hidden feature or it doesn't exist. Which it should since without it, we wouldn't be able to run a store.

[2020-02-11 11:43] Zyles opened #522 "Product with multiple options linking to weird URLs"
**Description**

A product with multiple options such as "BIKINI" in the official demo.

Is linking to `/detail/cfd673f71c294a9781f1fb7feab817c5` aka not a SEO processed URL.

Same issue with "Blue sapphire salt "Sel Bleu De Perse""

**Possible Solution**

Should SEO rewrite the URL even for variants.

[2020-02-11 11:51] uehler commented on #491
hey @ssltg,
do you have any updates on this?

[2020-02-11 13:38] PheysX commented on #304
Yeah, u can close this issue, sry for my late response.  @mnaczenski

[2020-02-11 13:44] #304 closed, assigned to mnaczenski

[2020-02-11 14:20] GerDner commented on #521
In Germany this is regulated by Law. You can't decide which Tax to use, the shipping tax is decided by the "mix" in your cart and depends on the articles in your cart.

[2020-02-11 14:23] Zyles commented on #521
So this platform can not be used outside Germany.

Gotcha.

[2020-02-11 14:48] elkmod commented on #521
@Zyles - thank your for raising the issue. If you allow me put this right - you CAN use it outside of Germany - in fact, the calculation mechanism referred to by @GerDner does apply to most of the tax systems. Designing the system with maximum flexibility in mind it would be a bummer to actually hard-set this to a fixed tax rate.

However, if this is a hard requirement for Shopware to work within

[2020-02-11 15:16] Zyles commented on #521
"can" sure if your tax system works like Germany.

But you also run into problems when you want to sell outside EU. For example Norway. Configuring 0% tax is not possible, because Shopware wants to tax the shipping anyway. And you can't display excl. tax prices on the website for customers outside EU either if the visitor selects Norway as destination.

A lot of EU countries have fixed tax rates d

[2020-02-11 15:20] Zyles commented on #521
Also here is a fun article for you if you want to even consider the US market: https://www.bigcommerce.com/blog/shipping-sales-tax/

Which is state level taxation. Afaik when I checked the demos I could only setup country level.

[2020-02-11 16:52] mnaczenski commented on #521
State-level taxes are already possible in the tax module.

Thank you for raising this issue, we are always open for recommendations on how to improve our software, especially when it comes to internationalization. We will have a look at the issue of missing tax rates for shipping costs in the future and will add it there. Something like a dropdown with available taxes and an auto mode (current cal

[2020-02-11 18:54] mnaczenski commented on #522
There are already SEO urls for variants: https://www.shopwaredemo.store/ADELAIDE-3/SW10154.1
Perhaps the index wasn't created properly in your demo instance. You can trigger this via console:

`php bin/console dal:refresh:index`

But it should be done in the admin too after creating the variants. With 6.2 there will be an admin module for re-indexing the products via admin.

[2020-02-12 12:05] thsekeer opened #524 "from where to find event of checkout page in shopware 6?any one can give the checkout page events.?"
**Description**

**Possible Solution**

**Additional context**

[2020-02-12 12:42] keulinho commented on #524
Hey @thsekeer,

as all storefront page events these events can be found under `platform/src/Storefront/Page`. For checkout specific pages check out  `platform/src/Storefront/Page/Checkout`.

For Problems like this the [gitter channel](https://gitter.im/shopware/platform?utm_source=share-link&utm_medium=link&utm_campaign=share-link) or the [Forum](https://forum.shopware.com/categories/shopware-6-en

[2020-02-12 12:42] #524 closed, assigned to nobody

[2020-02-12 12:53] Zwergal opened #525 "Payment not working with /pay Route when state is not "open""
**Description**
When you call the /pay Route so a customer can pay his order, it only works if the payment state of the order is "Open". Is it in any other state, the /pay Route will not work and respond with a 204 HTTP-Code with no content.
In the Backend one can set the payment state to something like "reminded" which sends an email to the customer, if he has forgotten to pay. But this will not

[2020-02-13 09:30] Sheek44 opened #527 "NEXT-7083 - Custom-field saving dont work for Media"
**Description**
I have created a custom-field in the media section to add some information for my images. When i try to save my settings the backend does no server-request to try to save my setting (Network-tab shows no traffic).
Is this a known problem?

[2020-02-13 10:20] htuscher opened #528 "Elasticsearch index lifecycle"
**Description**

After `bin/console es:index` has been called, it doesn't automatically create the aliases needed for the integration to work. You have to call `es:create:alias` manually. This command is flagged as "Dev only" and should therefore not be necessary to use in a production environment.

Also after you reindex, the old indizes are never deleted. Therefore there's no cleanup implemented

[2020-02-13 10:29] OliverSkroblin commented on #528
Hey @hhoechtl,

the alias will be generated automatically over the scheduled task. We can not create the index immediately after indexing because the indexing is done over multiple queue worker.

The create alias task is configured to run each 5 minutes. In a production system with elastic search, you should have a cronjob which runs the scheduled tasks.
This cron job will add the `https://github.

[2020-02-13 10:36] htuscher commented on #528
Hi @OliverSkroblin thanks for clarifying, but the cleanup is missing, right?

[2020-02-13 10:45] htuscher opened #529 "Cannot delete category"
**Description**
When trying to delete a category in production mode, I get the following error:

[code]

Already tried `dal:refresh:index`, clear cache etc. Locally in dev environment it works.

[2020-02-13 12:44] OliverSkroblin commented on #528
Thats right @hhoechtl. I will create a ticket that we will implement a command for it

[2020-02-13 12:46] OliverSkroblin commented on #528
Here the ticket: https://issues.shopware.com/issues/NEXT-7034

[2020-02-13 12:46] #528 closed, assigned to OliverSkroblin

[2020-02-13 13:07] mitelg commented on #528
@hhoechtl you probably want to use this command :wink: https://github.com/shopware/platform/blob/6.1/src/Elasticsearch/Framework/Command/ElasticsearchCleanIndicesCommand.php

@OliverSkroblin I will close the ticket, as there is already a command

[2020-02-13 14:02] ssltg commented on #511
Thank you for mention this. We fixed it and it will soon be merged for the next release.

[2020-02-13 14:14] colinmurphy commented on #528
Just for reference this should be setup as a CRON. We have set this on a CRON every 15 minutes to clear the old indices :)

Also to say if you ever need to create an alias on your dev (when your not running scheduled tasks via a CRON) if you have a look in the `elasticsearch_index_task` and copy the values for the `index` and `alias` table (after running es:create:alias) you can map them by runnin

[2020-02-13 15:00] Sheek44 opened #530 "Unable to access thumbnail elements which arent at first or last place"
**Description**
"element.data.media.thumbnails" gives back an array which contains all rendered thumbnails for an image. How do i address elements in the middle of the array? Since "|sort" sorts the array in order of the thumbnails width, its only possible to address the first ("|first") or last ("|last") element, but none of the middle elements. "element.data.media.thumbnails[1]" e.g. returns "nu

[2020-02-14 08:57] #511 closed, assigned to ssltg

[2020-02-14 10:27] TaiKamilla opened #532 "framework:demodata console command options"
Would be nice to have options on the `framework:demodata` command

Like the number of products, main-categories, sub-categories, etc...
Also, add an option for extra demo Sales Channels

For performance tests, this will be great to be able to simulate big stores and adjust server requirements...

Note: changing the hardcoded values from `/vendor/shopware/core/Framework/Demodata/Command/DemodataCom

[2020-02-14 12:39] keulinho commented on #532
Hello @TaiKamilla,

this options are already built in, e.g. you can use the `-p` option to define the number of products that should be generated, or `-c` for the number of categories.

For reference you can use `bin/console framework:demodata --help` to get a full list of supported options.

Kind regards
Jonas

[2020-02-14 12:39] #532 closed, assigned to nobody

[2020-02-14 15:03] joberthel opened #533 "Usage of {% extends %} in storefront"
Should be `{% sw_extends '@Storefront/storefront/component/account/login.html.twig' %}`, so that the theme inheritance works correctly and we can extend the file in our plugins.

storefront/page/product-detail/review/review-login.html.twig

[2020-02-15 11:38] govinda-webkul opened #535 "Cart products are not showing if a customer logs in on other device"
**Description**
Add products to cart if you are logged in and check by logging in on other device or on the other browser on the same device, the cart products will not be shown although the cart products are available in the database for the current customer.

**Possible Solution**
*CartPersister->load* is fetching the cart data using **token**, here if a customer is logged in so the cart product

[2020-02-15 12:44] mmoollllee opened #536 "Admin Settings > System Back Button"
**Description**
Navigating to `Settings > System > _Something_` and hitting the Back Button in the UI or the browser bring's you back to `Settings > Shop` instead of `Settings > System`.

It would be nice to add this feature to get back to the tab you came from.

[2020-02-15 17:11] mmoollllee opened #537 "Make Stock inheritable for variants"
**Description**
Product variants already have the "inherit" Icon for inheriting the stock-value. But saving the variant won't work. I guess this is not yet implemented.

For some cases the variants depend on one base product (e.g. a table with different table legs), so this would be a nice feature: No matter which variant get's bought, the base-products stock decreases.

<img width="790" alt="Bild

[2020-02-16 14:13] patchee500 opened #538 "TypeError: Cannot read property '_tc' of null"
I tried to reuse the [Media Media Item Component](https://component-library.shopware.com/components/sw-media-media-item) in the review detail view of the admin section. The items passed to this component were joined (`criteria.addAssociation`) to the repository criteria of the review entity.

I then found out that these items don't come with some legacy `delete` (`src/Administration/Resources/app/

[2020-02-16 20:03] djedrzejewski opened #539 "Import/export possibilities"
**Description**
For Shopware 5.x there was a import/export plugin available
https://store.shopware.com/en/swagef36a3f0ee25f/shopware-import/export.html
In it's description there's info, that this plugin would be built-in in the Shopware 6 version. It's also mentioned in Roadmap:
https://www.shopware.com/en/roadmap/
What's the progress there? It would be quite handy, because now there is no conveni

[2020-02-17 14:16] Sheek44 opened #541 "add a search for experience worlds in experience world section"
**Description**
Since when you asign an experince world to a category you've got a search bar to search your experience world. Add the same search bar to the shopping experience section so that you can find your world faster.

[2020-02-17 14:26] JoshuaBehrens opened #542 "Seeding migrations"
**Description**
The feature of having a DAL is super nice but it is ugly to seed data like custom field sets as you have to provide them on activation and update. A migration would suit the needs better in case of a changing structure. The migrations seem not to have access to the container to get a repository to work with data. That would be really helpful as migrations already keep track of bein

[2020-02-17 14:30] mitelg commented on #542
hey @JoshuaBehrens
the migration system should be as independent as possible from all the other parts of the Shopware core. So it could be run without a running shopware (in theory).

[2020-02-17 14:36] Sheek44 opened #543 "NEXT-7120 - text-editor popup floats out of window"
**Description**
When editing text with the help of the popup-overlay the options are floating out of sight and are unable to be clicked
![errrorr](https://user-images.githubusercontent.com/56643149/74662915-258d0100-519b-11ea-8d53-fecfbedd6e85.png)

[2020-02-17 14:38] JoshuaBehrens commented on #542
That is... ok. It is understandable. So I just use inserts instead? I can't depend on meta-configuration this way. How do I ensure properly the existance or migration of custom field data? Do I really have to do that like in the 5-days by comparing the updating version and change the custom field sets?

[2020-02-18 08:16] hlohaus commented on #468
There is header with the canonical  url.

[2020-02-18 12:09] pantrtxp commented on #439
Closing this due to inactivity
If there is still anything wrong, please file a new Issue

[2020-02-18 12:09] #439 closed, assigned to pantrtxp

[2020-02-18 12:15] pantrtxp commented on #536
Hey @mmoollllee

since this is a feature request I have imported this into a ticket where other community members can vote for this.

If you don't have anything to discuss here I'd like to close this issue since this is not an "Issue" :)

Sunny Regards
Pantrtxp

[2020-02-18 12:19] TaiKamilla opened #545 "Signup form email"
Hi
Sign up form does weird stuff
If you make up a very fake email throws an error
Expected response code 354 but got code "554", with message "554 5.5.1 Error: no valid recipients
"
Test email used
(asdfasdfasdfkljkldsauhiuweqn@iasdfklnhjkaeiuqwoerqcwnqerw.com)
But if you fill the right email (a real existing domain), it works
Solution for this?

![image](https://user-images.githubusercontent.com/

[2020-02-18 12:23] pantrtxp commented on #541
Hi @MortisReturns

since this is a feature request I have imported this into a ticket where other community members can vote for it.

If you don't have anything to discuss here I'd like to close this issue since this is not an "Issue" :)

Sunny Regards
Pantrtxp

[2020-02-18 12:26] pantrtxp commented on #539
Hi @djedrzejewski

The Import/Export feature is planned for the 6.2 release, which will be released around the end of april.
RC will be available some time earlier

Sunny regards
Pantrtxp

[2020-02-18 12:26] #333 closed, assigned to raknison

[2020-02-18 12:32] JoshuaBehrens commented on #542
The more annoying part is that these fields get translations in a manner that is unusual in the thoughts on this framework. They are not served as translatation but inside a json field. I know that admin translations are only served as registered key in the Locale object and by translated content. That custom fields are handled like content that is ok... somehow... when you compare them to shopwar

[2020-02-18 12:38] jleifeld commented on #538
1: The `sucessOverall` get wrapped later in an translation function:
[code]

2. In regular components we dont need `this.$root.$tc()`. I don´t know the exact reason why it was used at this place. Normally `this.$tc` should work fine. That there is no access to `this.$tc` is strange because we added the i18n plugin directly to the vue instance. I think it will be a timing problem and `this.$root.$t

[2020-02-18 12:40] jleifeld commented on #537
The server implementation for the stock inheritance is not implemented yet. I will create an Issue for this.

Thanks for your report :)

[2020-02-18 12:43] TaiKamilla commented on #532
Hi @keulinho,
Thanks for your reply!
What about the amount of memory?
When creating 300K products with 2 images per product (600K images), it takes more than 60GB of RAM
I know this will take a couple of days but still, to test a production env would nice

[2020-02-18 12:56] mmoollllee commented on #536
Great!

[2020-02-18 12:56] #536 closed, assigned to pantrtxp

[2020-02-18 13:31] keulinho commented on #532
Hey @TaiKamilla,

you could try to create a `/build/media` folder in your project root directory and provide some proper demo images there that should be used (.jpg and .png is currently supported).

That way the demodata generetor will use those images, instead of generating 2 new images per product.

This assumes that image generation and not the image saving inside the Core is the major bottlen

[2020-02-18 14:57] Zyles commented on #468
Not correct.

https://mydemoshopp.shopwaredemo.store/summer-bbq/grills/
https://mydemoshopp.shopwaredemo.store/summer-bbq/grills

https://mydemoshopp.shopwaredemo.store/cooking-pleasure-provence/?no-aggregations=1&p=1&properties=3a1cc241cab9426ba119d1bfdad9698c&slots=6d9539f3d81b48aaa4a2455a9f70ea4c&sort=name-asc
https://mydemoshopp.shopwaredemo.store/cooking-pleasure-provence?no-aggregations=1&p=

[2020-02-18 14:57] rohithmeethal opened #546 "Customer cannot checkout as guest when password confirmation is required"
**Description**
Customer cannot checkout as guest when the password confirmation is required.

**Possible Solution**
Check if the customer is checking out as guest before adding validation constrain for password confirmation

**Additional context**
Password confirmation needs to be enabled to generate this error

[2020-02-18 15:38] htuscher opened #548 "CSS HMR in administration not working"
**Description**
When using `psh administration:watch` and you modify CSS, the HMR should only replace the CSS, not reload the page.

**Possible Solution**
I already tried setting `{hmr: true}` in the options of the `MiniCssExtractPlugin` but that didn't help either.

[2020-02-18 16:11] JoshuaBehrens opened #549 "OAuth client credential not supported"
**Description**
I am following along this docs page: https://docs.shopware.com/en/shopware-platform-dev-en/api/admin-authentication?category=shopware-platform-dev-en/api
I execute:
`curl https://foobar.test/api/oauth/token -X POST -H 'Content-Type: application:json' --data '{"client_id":"SWABCDEFGHIJKLMNOPQRSTUVWX","client_secret":"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX","grant_type":"client_credentials"}

[2020-02-18 16:43] JoshuaBehrens commented on #549
Nvm wrong content-type

[2020-02-18 16:43] #549 closed, assigned to nobody

[2020-02-19 08:04] runelaenen opened #552 "Property sorting not working on Listing page"
**Description**
When assigning the 'position' parameter to the properties in a property group, this is not accounted for in the listing page.
The only place this position parameter is sorted on, is on the product detail page.

**Possible Solution**
It can be fixed by creating a plugin with a listener on ProductListingResultEvent and sorting the results, but a fix in the core would be better.

[cod

[2020-02-19 08:38] runelaenen opened #553 "Destructive migration on plugin uninstall"
**Description**
When uninstalling and removing a plugin, the database tables stay. The plugin rows in the migration-table are removed, but the destructive migration is not actually executed.
This makes it impossible to re-install the plugin without manual intervention in the database.

[2020-02-19 08:40] #553 closed, assigned to nobody

[2020-02-19 09:40] NiklasTeich opened #555 "Extend entity (relation) without custom fields"
**Description**
I need to alter the product_category relation table with custom columns. I only see documantions on how to extend entities via "extensions" (which is not the way if i'm getting it right) or with custom fields (In my case, the product_category relation does not have the possibility to add custom field data).

- how can i add fields to entity relations (like product_category)
- how c

[2020-02-19 14:44] pantrtxp commented on #545
Hi @TaiKamilla

Thank you for bringing this up
as you already created a ticket for this, all I can tell you is that we will fix this issue with the created ticket
https://issues.shopware.com/issues/NEXT-7121

Sunny regard
Pantrtxp

[2020-02-19 14:45] pantrtxp commented on #555
Hi @NiklasTeich

sadly, there is no way to extend mapping tables in Shopware6.
Maybe you can explain what you want to achive here :)

Sunny Regards
Pantrtxp

[2020-02-19 20:00] ssltg commented on #491
Hey @uehler ,
at first, sorry for the Delay.
I tried to setup a similar system, but I cannot reproduce the behaviour you mentioned.
I will contact you on Thursday morning. I guess I need to take a look at your actual setup.

[2020-02-20 08:21] #541 closed, assigned to pantrtxp

[2020-02-20 09:16] ssltg commented on #293
Closed due to inactivity

[2020-02-20 09:16] #293 closed, assigned to ssltg

[2020-02-20 09:22] zaifastafa opened #559 "Inherited properties does not show up in product association"
**Description**
When fetching a variant product from the repository which does not have its own property assigned such as for e.g `unit`, then even if we add the `unit` in the criteria as an association, the unit shows up as `NULL` whereas it should show the inherited property in the resulting entity.

This makes it an additional overhead to check if the unit does not exist then we have to fetch t

[2020-02-20 09:35] ssltg commented on #488
The Order Customer should instead be a required field We pened a Ticket for this Issue.
https://issues.shopware.com/issues/NEXT-7190

[2020-02-20 09:35] #488 closed, assigned to ssltg

[2020-02-20 09:45] keulinho commented on #559
Hey @zaifastafa,

the repositories do not consider inherited fields by default. If you want to read the inherited values too you have to set the `considerInheritance` flag on the Context to true by `$context->setConsiderInheritance(true)`.

Kind regards
Jonas

[2020-02-20 10:02] #559 closed, assigned to nobody

[2020-02-20 12:06] htuscher opened #560 "Get rid of cacheHash"
**Description**
Symfony usually uses the `APP_ENV` to construct the cache path like e.g. `var/cache/dev/`. Shopware added a cacheId, which results in paths like `var/cache/dev_h52f02c65f249e550e4ba5c77eb3625ab`.
This path is unpredictable, because it's randomly generated.

For most users this may not be a problem, but you can't use e.g.  opcache preload (PHP 7.4) easily with this approach.
https:/

[2020-02-20 12:41] rohithmeethal opened #562 "Issue with listing, minimum quantity and quantity pricing"
**Description**

There is no relation between pricing, minimum quantity, and price shown in the listing.

##### You can define a product as follows :

Minimum quantity : **5**
##### Pricing
| Minimum qty       | Maximum  qty     | Price  |
| ----------------- |:----------------:| ------:|
| 10                | 20               | $10    |
| 20                | 50               | $9     |
| 50

[2020-02-20 12:44] ssltg commented on #505
Hi André,

i tried your setup and could not reproduce your issue. Could you please try to update to shopware 6.1.3 and check if the issue still apears?

Greets,
Stefan

[2020-02-20 12:54] ssltg commented on #507
Hi @NicoWenig27 ,
your described behaviour works as intended. https://docs.shopware.com/en/shopware-platform-dev-en/internals/plugins/plugin-themes#inheritance-of-theme-config
A Duplicated Theme is actually a copy, not an inheritance when it comes to configuration. If you Update your ThemePlugin you have to create a new Duplication and then assign this to your Saleschannel.
This is done this way t

[2020-02-20 13:13] ssltg commented on #525
Hi @Zwergal ,

thank you for your contribution.
We have created an Issue for this in our Issue Tracker: https://issues.shopware.com/issues/NEXT-7196
Until it is fixed in a future Version, you can comment the line 99 in The PaymentTransactionChainProcess if you can be sure, there is only one Transaction per Order in your System.

Greets,
Stefan

[2020-02-20 13:20] Zwergal commented on #525
Yes, thats our work-around right now. But a core hack is never good. Hope this will be fixed in the next version. Thanks for your update on this.

[2020-02-20 13:51] mitelg commented on #560
hey @hhoechtl
we are aware of that. There is also a ticket for that issue: https://issues.shopware.com/issues/NEXT-6104
The reason for the "random" string is that the DI container must be build new, once a plugin is activated/deactivated

[2020-02-20 14:36] NiklasTeich commented on #555
Hi @pantrtxp

Thanks for your response!

My current use case is to code a custom listing sort.
This sort needs product data depending on the category.
My idea was to alter the relation table to save exactly this.
Other ideads to achieve something like that are more than welcome!

Greetings,
Niklas

[2020-02-21 09:35] pweyck commented on #542
I think a decent solution would be, if could provide a snippet in the config and use it as a default. The users could still overwrite it, but the snippet would be the default.

Example Config:
[code]
You would only need to insert this config once, and you could just update the snippet file. Would that solve your problem?

[2020-02-21 10:03] vttn opened #565 "Create an order via API : AsynchronousPaymentHandlerInterface::pay to allow JsonResponse or RedirectResponse."
**Description**
We are creating a Shopware payment plugin. The current payment handler interfaces are a bit limited. You are forced to return a redirect response using AsynchronousPaymentHandlerInterface. This is not practical for a lot of payment methods.

**Example**
1. Customer is at /checkout/confirm page with a number of line items
2. Customer selects Payment Method A.
    * Payment Method A

[2020-02-21 10:14] keulinho commented on #565
Hey @vttn,

from the gitter chat:

coudn't that make problems with cross-origin resource sharing (CORS) if js redirects to a different resource?

[2020-02-21 10:16] pweyck commented on #468
Thanks for providing us with additional information @Zyles :+1:

As far as I know, you cannot simply strip all parameters and let them point to the first/root page. At least each page of the listing should be indexed separately. But we should normalize the urls with decent defaults and make the relevant parameters configurable.

[2020-02-21 10:23] mitelg commented on #565
hey @vttn
in our PayPal integration we do something like this: https://github.com/shopwareLabs/SwagPayPal/blob/master/src/Resources/app/storefront/src/plus/payment-wall.js#L257
which is indeed only a workaround. your suggestion sounds good at first glance.

[2020-02-21 10:27] vttn commented on #565
@keulinho @mitelg

We are using the same checkout flow for Salesforce, Wordpress/WooCommerce and other integrations.

For example, if I create an order and get a JSON response. I could do something like this.

[code]

The larger point is that we would like not to "hack" Shopware, if a simple solution is available.

[2020-02-21 13:24] JoshuaBehrens commented on #542
I solved it currently that way:

[code]

I provide snippets in addition to that change. And my migration to add this field looks like this
[code]
That is pretty similar to your suggestion. Pull request like this?

[2020-02-21 13:30] hlohaus commented on #560
In between you can override the getCacheHash method:
https://github.com/shopware/core/blob/master/Kernel.php#L274

[2020-02-21 15:32] NicoWenig27 commented on #507
Hi @ssltg,

thanks for the answer! My problem with this is, that when you have a duplicated theme for a sales channel with its own theme config and update the main theme, you have to duplicate it again and copy all config to the new duplicated theme. So yes, I think there should be a way to update duplicates, without creating a complete new one.

I think the ticket you linked describes another pro

[2020-02-21 15:41] NicoWenig27 opened #567 "NEXT-7285 - Multiple Offcanvas Cart Buttons leads to multiple calls of addLineItems Route"
**Description**
The problem is in the addToCart Javascript Plugin (platform/src/Storefront/Resources/app/storefront/src/plugin/add-to-cart/add-to-cart.plugin.js:55):
[code]

Is there a reason, why you iterate over all offCanvasCart instances? This leads to a problem when there are multiple show-cart-buttons on the product detail page. It will call the add line item route (frontend.checkout.line-it

[2020-02-21 20:33] almare commented on #383
Thank you for your response.
The problem is mainly for cms images and the really small product images.
I didn't create any thumbnail size on my own. How can I check for sharing an collection on a image? I think I need further assistance.

[2020-02-21 21:24] Zyles commented on #468
it is actually best practice to strip the filtering and point to the root category. You should NOT index them separately.

Why?

Because it would create duplicate content to index the filters individually.

A category usually have text descriptions in it. If you filter it will have a mutation of the same content on another URL and create duplicated content.

It should work like this:
[code]

The o

[2020-02-23 13:02] almare commented on #383
@Christian-Rades I tried it again and the collection isn't shared.

[code]

At this step the execution ends. $thumbnailSizes->count() is always 0.
Here is a screenshot which maybe provide additional infos
![thumbnail-problem](https://user-images.githubusercontent.com/12784601/75112531-0bdd3500-5645-11ea-91bb-48e32a6b5e4c.jpg)

[2020-02-24 08:05] OliverSkroblin commented on #530
Hey @MortisReturns,
`element.data.media.thumbnails` is an EntityCollection where you can simply loop the items.

If you need to access an exact index, you can simple call the next() function of the collection to get the next item.

[2020-02-24 08:05] #530 closed, assigned to OliverSkroblin

[2020-02-24 08:09] Sheek44 opened #578 "SEO field in category does not show saved values"
**Description**
When you set any SEO-information like meta-description for your categorys it wont be shown in the backend. The saves do take action in the frontend but wont show up saved in the backend

[2020-02-24 09:07] JoshuaBehrens commented on #553
Related https://github.com/shopware/platform/pull/456

[2020-02-24 13:58] #533 closed, assigned to OliverSkroblin

[2020-02-24 15:10] #578 closed, assigned to taltholtmann

[2020-02-25 03:40] TormentedSoul666 commented on #146
Any news on this? I'm developing a theme, while other people are filling the shop with content.
I need the dev tools in the dev template and can therefore not change to the production template.

[2020-02-25 07:15] keulinho commented on #146
Hey @TormentedSoul666,

`./psh.phar update` should help you there, so the workflow would be:

1. check out new version of shopware
1. `composer update`
1. `./psh.phar update`

Kind regards
Jonas

[2020-02-25 07:25] deepakk-webkul opened #581 "First plugin's active status is being changed on changing another's active status in the plugin list."
Preconditions (*)
Shopware version 6.1.3 with demo data installed
PHP 7.2.22
Production Mode

In Plugin Page, If we try to click on the label (activated /deactivated) then another plugin's status has been changed automatically.

![Screenshot](https://user-images.githubusercontent.com/50043226/75223688-04e12e80-57cd-11ea-8393-506424f09be9.png)

[Screencast 2020-02-25 12:38:58.webm.zip](https://gith

[2020-02-25 07:50] GitEvil commented on #581
Hi, Deepak, I too have encountered this behaviour before. However I wasn't able to reproduce it reliably. Do you mind to elaborate on that a little further, if the problem persists? Does it happen only for the first time you click the switch or is this repeatable?

[2020-02-25 08:17] deepakk-webkul commented on #581
Hi @GitEvil, I checked for the same, this happens always when I click on the `Active Label` not on the `Active Switch`, clicking on the switch is working fine. Please watch the video provided in the link - `Screencast 2020-02-25 12:38:58.webm.zip`, you will get it.

[2020-02-25 09:15] GitEvil commented on #581
Thank you, I have created a ticket for the issue.
https://issues.shopware.com/issues/NEXT-7278

[2020-02-25 11:37] TormentedSoul666 commented on #146
Thank you @keulinho, shouldn't this be added to doc?

[2020-02-25 12:33] rawdha-93 commented on #466
@hhoechtl Do you mean that we have to create a new filesystem in /config/packages? or just replace the content of shopware.yml?

[2020-02-25 12:36] htuscher commented on #466
@rawdha-93 the snippet does create a new local filesystem service called `filesystem.local.public`. That's the way you define a Flysystem based filesystem.

This new forced local filesystem is then forcefully injected as argument for the theme compiler so the theme compiler doesn't use the public filesystem and loads the generated CSS files to the S3 bucket used for the public filesystem, from whe

[2020-02-25 18:43] patchee500 commented on #538
:man_facepalming: Ah, that makes sense, thanks for pointing out.

Thanks for the clarification. It helps to know using this.$tc should be sufficient. Maybe if I find the time, I'll investigate on this further.

[2020-02-26 09:27] jleifeld commented on #538
I will close this issue then. When you have further problems you can reopen it.

Thanks for your contribution 👍

[2020-02-26 09:27] #538 closed, assigned to jleifeld

[2020-02-26 10:22] taltholtmann commented on #449
Hey guys,
is this still an issue, or can I close this case?

[2020-02-26 10:23] mitelg commented on #546
hey,
we are going to fix this issue with your PR. so closing this in favor for https://issues.shopware.com/issues/NEXT-7316

[2020-02-26 10:23] #546 closed, assigned to klarstil

[2020-02-26 13:52] TaiKamilla opened #582 "cache:clear not working for base.html.twig"
Hi!

I created a new theme through the CLI

And I created "custom/plugins/MY_Theme/src/Resources/views/storefront/base.html.twig" to try to overwrite base.html.twig, and try to "bin/console theme:compile && bin/console cache:clear"

is not enough for some reason, but if you delete "var/cache" it works

Why is "cache:clear" not working?

[2020-02-27 07:09] deepakk-webkul opened #584 "Vulnerability Issue: No limit at password field"
Preconditions (*)
Shopware version 6.1.3 with demo data installed
PHP 7.2.22
Production Mode
Severity: low

In my case i have tried password with 5000+ characters.

### Steps to reproduce:
 **Step :** Create a new user with a long password (more than 128
characters are accepted)

**Impact & Recommendation:** You need to decrease password length : There are two
reasons for limiting the password siz

[2020-02-27 09:29] JoshuaBehrens opened #585 "EntityRepositoryInterface::searchIds is undecoratable"
**Description**
It is not possible to properly decorate `::searchIds` as `EntityRepository::search` is using `$this->searchIds`. This makes it likely to behave like undefined behaviour as one has to apply the same changes made in `::searchIds` in the decorator for `::search` as well but at a different time of state.

**Possible Solution**
Extract logic in sub services that are used within the `Ent

[2020-02-27 11:21] runelaenen opened #588 "NEXT-7413 - Configuration select 'all sales channels'"
**Description**
When using plugin configuration, you get the option to set different options for your different sales channels, with a fallback to 'all sales channels'. However, after choosing a sales channel, the only way to go back to 'all sales channels' is to remove the text in the select-box with your keyboard, and clicking outside of the inputfield. Hitting enter will just select one of the

[2020-02-27 17:53] rohithmeethal opened #590 "Allow custom fields to have a default value"
**Description**
Currently there is no way to have a default value, either through admin UI or through code.
There should be a way to define default value for custom fields.
This will be required in many situations for setting up sane defaults when installing plugins etc.

[2020-02-27 19:54] rammnco commented on #449
Just did the update to v6.1.3 and the issue is gone.

[2020-02-27 20:44] jd297 commented on #449
Hey, I will check it tomorrow.

Nico Ramm <notifications@github.com> schrieb am Do., 27. Feb. 2020, 20:54:

[2020-02-27 21:56] MarcianoH opened #592 "Fresh install gives you the option to select default language, but gives an error when not selecting English or German"
**Description**
When doing a fresh install, you have the option to select the default language. When selecting for example "Dutch", you get an application error vendor/shopware/recovery/Install/src/Service/ShopService.php at line 161, because the only records in the table "language" are English and Deutsch

**Possible Solution**
1. Show only languages available in the table "language"
2. Fill the

[2020-02-28 06:47] mitelg commented on #592
seems to be the same problem as https://issues.shopware.com/issues/NEXT-6920

this ticket is already in progress, so it should be fixed soon

[2020-02-28 08:17] mitrovicsinisaa opened #593 "Fresh install composer CA certificate file issue"
**Description**
After fresh install of **development** (v6.1) and **platform** (v6.1) on Mac OS with enabled docker-sync error is raised inside docker container (./psh.phar docker:ssh) after running command:

[code]

**Additional context**
`composer diagnose`  return the same error.
Only composer command with more descriptive error is `composer -v` and error is:
[code]

[2020-02-28 10:28] MDSLKTR opened #594 "Aggregate Category filters via the salesChannel API"
**Description**
Since gitter has been no help and this problem a bit too extensive, i'll try to explain what my current problem with the salesChannel API regarding aggregations is. Currently entity aggregations work like this, for instance as in the docs for manufacturer:

[code]
This returns the manufacturers for given product request properly.

The first question here would be how to i aggregate

[2020-02-28 11:18] ascheider opened #595 "Syncapi fatal error if visibilities already present"
**Shopware Version: v6.1.3 Stable Version**
**Description:**
If i try to sync a shopware product with the sync api, i get the 500 error if visibilities are already present in the database. So the second upsert of the product always fail because shopware is trying to insert the item instead of ignore it.
![image](https://user-images.githubusercontent.com/6016485/75544205-c8f3d680-5a23-11ea-87c6-3b1

[2020-02-28 11:49] uehler commented on #491
We updated to shopware 6.1.3, but this is still not working. Looks like plugins and themes can only extend from templates with the same path. For example page/content/index.html.twig of a custom theme may only extend page/content/index.html.twig from the shopware theme but not from storefront/base.html.twig. In this case, any change a custom theme made to a custom storefront/base.html.twig is igno

[2020-02-28 13:28] ascheider opened #597 "Syncapi variant configuration duplicates in product_configurator_setting table"
**Shopware Version: v6.1.3 Stable Version**
**Description:**
Every time we sync product variant to shopware via sync api, shopware creates new entries in product_configurator_setting_table
![image](https://user-images.githubusercontent.com/6016485/75551965-95ba4300-5a35-11ea-9a02-ede4fdc420b0.png)

![image](https://user-images.githubusercontent.com/6016485/75552148-f47fbc80-5a35-11ea-8458-b576093d

[2020-02-28 17:28] Gainto opened #601 "MailService Event or Interface missing"
**Description**
The MailService actually fires an event after the mail has been sent.
The service should also fire an event, after all data has been gathered but before the mail has been sent.
That gives you the possibility to manipulate the data just before the mail has been sent.

If that's not possible, it would be nice if the MailService(s) would implement some kind of MailServiceInterface to

[2020-02-28 18:57] hlohaus commented on #601
Heey. Please check the Master and my pull requests. :)

[2020-03-02 09:57] pantrtxp commented on #1321
Hi @hhoechtl
this should get fixed with [this](https://issues.shopware.com/issues/NEXT-7027)

[2020-03-02 10:58] GerDner commented on #594
I don't know if this is exactly what you are looking for but i'm aggregating the Filter Options for filter form elements in the storefront like so:

[code]
You should be able to directly aggregate property_name ans skip the group name if you don't need it.

[2020-03-03 09:44] OliverSkroblin commented on #594
Hey @MDSLKTR,

try this aggregation:

[code]

[2020-03-03 13:31] govinda-webkul opened #610 "Error 500 on calling entity translation API"
**Description**

Getting Error 500 when calling `api/v1/entity-name/{_id}/translations` -
`
"code": "0",
            "status": "500",
            "title": "Internal Server Error",
            "detail": "Argument 1 passed to Shopware\\Core\\Framework\\DataAbstractionLayer\\Cache\\EntityCacheKeyGenerator::getEntityContextCacheKey() must be of the type string, array given, called in /app/vendor/shopw

[2020-03-03 14:05] TormentedSoul666 opened #611 "Bugs, Bugs, Bugs"
Im Ernst Leute,
ich versuche mit 6.1 produktiv zu arbeiten und seit heute morgen gibt es nur Bugs bei Exceptions, Controller Routing, usw,

Wer pusht so was auf stable?!

[2020-03-03 14:07] TormentedSoul666 commented on #611
Post Deployment ist auch wegen falschen Dependencies im Eimer:

[code]

[2020-03-03 14:20] TormentedSoul666 commented on #611
[code]
WTAF?

[2020-03-03 14:26] keulinho commented on #611
Hey @TormentedSoul666,

a more detailed issue description would help us a lot in trying to reproduce/understand your issues.

Regarding your specific problem with the dependencies:
It seems  like the cache is stale, a simple `./psh.phar cache` should solve that specific issue.

If you have any further issues, please provide some more context, like how you did the update and from what version you u

[2020-03-03 14:29] pweyck commented on #597
Hi @ascheider,

there should be a unique constraint on `product_id + property_group_option_id`. But even then your payload could not be posted multiple times because the DAL does not support identifying entities by unqiue keys. So you always need to provide an id for each configurator setting, if you want to update it.

See this issue: https://issues.shopware.com/issues/NEXT-5497

Please upvote it

[2020-03-03 14:37] TormentedSoul666 commented on #611
Hey @keulinho, thank you for fast answering.
I'm working on a plugin with an own Controller and I'm using `Shopware\Core\Framework\DataAbstractionLayer\Dbal\EntityDefinitionQueryHelper` for some database stuff.

Anyways, I've cleared the Cache with .`/psh.par cache` a thousand times and also deleted the folders manually but surprise, they immediately show up again. bin/console immediately throws t

[2020-03-03 14:49] keulinho commented on #611
Can you try to deactivate your plugin?
Does the error still persist?

Also did you run `./psh.phar init` or `./psh.phar update` after you updated platform via git?
(Note that `./psh.phar init` will reset your DB, if you don't want that use `./psh.phar update`)

[2020-03-03 15:08] TormentedSoul666 commented on #611
I can't run `init`, because the Docker Stack is deployed on a staging system with other people working on the content.
I pulled Development and Platform, did `composer update` and then tried `./psh.par update` with the following Exception:

[code]

I can't deactivate my Plugins, because I can't neither run bin/console (it throws the same exception as the post deployment update) nor deactivate them

[2020-03-03 15:12] TormentedSoul666 commented on #611
I didn't check the commit in depth because of other stuff I have to do but I'm pretty sure that https://github.com/shopware/platform/commit/7768470fd3ee853f0f1459bcf72ec40512afa4aa is causing the issues.

[2020-03-03 15:20] keulinho commented on #611
IMHO the commit looks unrelated and i'm not able to reprodruce the issue in a clean chackout on 6.1 branch.

Can you mark your plugin as deactivated ober the DB by setting the `active` flag to `0` in the `plugin` table and try to run the update command again?

Do you create a own instance of the `EntityDefinitionQueryHelper` in your plugin or do you use the service from the DI container?
How do yo

[2020-03-03 15:28] TormentedSoul666 commented on #611
Well, at least the undeletable Twig Cache has little to do with your approaches to solve the problem.
The idea with the database is good, I wasn't thinking about that, thanks.

I use Dependency Injection over the Container, making instances of all used classes would create quite a mess :)

I instantiate it as an object and then use it mainly in method chains on several Field related stuff.

[2020-03-03 18:10] ascheider commented on #597
Hi @pweyck,

thanks for your reply.
I will give upvote to the ticket.
Currently i do not store uuid for configuration setting.
The idea of sync api is to collect and sync data in the fast way. Otherwise I need to do lookup on shopware to decide if entity needs to be created or updated to create correct configuration for the variant.

[2020-03-03 22:28] TormentedSoul666 commented on #611
@keulinho you were right, it was indeed the plugin, thanks.

Keep up the good work, Shopware 6 is an impressive product and the definitive E-Commerce future.

[2020-03-03 22:28] #611 closed, assigned to nobody

[2020-03-04 05:32] mitelg commented on #611
nice to see, that you got your issue solved 👍
I'm currently working on the stability of Shopware if erroneous plugins are installed or activated. so it would be nice, if you could tell me a way to reproduce this error. maybe there is a way to prevent Shopware doing nothing at all

[2020-03-04 07:06] heydavee opened #613 "Properly extend CmsSectionEntity and CmsSectionDefinition"
Going deeper into the SW6 rabbit hole i am kinda confused at extending a core entity and hope to get some help understanding what to do.

So i extended sw-cms-section-config and created a dropdown - let's call it customDropdown.
Now of course the value selected in customDropdown won't be saved to the database without a function.

I found out that i have to add a function to class **CmsSectionEntit

[2020-03-04 09:55] TaiKamilla opened #614 "sw_extends wierd behavior"
I am trying to create my own template
I created `MyTheme/src/Resources/views/storefront/base.html.twig` (It works...)

Then I try to overwrite the product page
`MyTheme/src/Resources/views/storefront/page/product-detail/index.html.twig`

But with `{% sw_extends '@MyTheme/storefront/base.html.twig' %}` in `MyTheme/src/Resources/views/storefront/page/product-detail/index.html.twig` file

I get `{% s

[2020-03-04 10:00] mitrovicsinisaa commented on #593
I have found the same error in one of tickets, but without solution:
https://github.com/shopware/platform/issues/51#issuecomment-496827815

[2020-03-04 12:13] MDSLKTR commented on #594
@GerDner Thanks for your reply, this works in terms of "terms" aggregations but what the above described endpoint does, is return nested entity aggregations.

@OliverSkroblin Thanks for your reply, This works directly for property_group_options, but. what it need is the options nested in aggregated property_groups.

So this is what i need basicly except that the `propertyGroups` aggregation does n

[2020-03-04 12:15] MDSLKTR commented on #594
So "propertiesGroupOptions" or the subaggregation here doesn't do anything. How would i be able to include the options inside such an aggregation?

[2020-03-04 12:29] MDSLKTR commented on #594
So this works too:

[code]

So terms with entity subaggregations are also ok, yet i would like an entity aggregation with entity option subaggregation.

[2020-03-05 07:31] d3tr1tus opened #616 "Developer project is too slow"
Hi i cloned and installed everything what is in readme written and it works. My problem is that admin and frontend is ultra slow. It seems that API working bad and every request wait to previous request. So i think i have not allowed sync. I have actual version of Docker and also NPM. Can someone help me please? Developing with this speed takes a lot of time and unfortunately i don't have it.

![B

[2020-03-05 08:16] d3tr1tus opened #617 "Can't login into Docker MySQL database"
Hi i installed this project and frontend and backend works fine but i can't login into database. I am getting error if i tried ./psh.phar administration:watch or ./psh.phar administration:build ->

[code]

I tried also login in adminer with credentials what are in docker-compose.yml and i am getting same error. Do you have any ideas? 😇

[2020-03-05 12:28] pantrtxp commented on #593
Hi @mitrovicsinisaa

as stated in the Ticket you mentioned, we sadly still have no solution for this Issue.
I have imported this as in internal issue and we'll look into this in the future.
Sadly I can not tell you when this will be since this seem to be an edge case.

Sunny Regards
Pantrtxp

[2020-03-05 13:26] tobiasberge commented on #1321
Hi @hhoechtl,

could you name us the SCSS file from your theme where you try to override the color? Or did you just change it in the theme configuration to blue?

[2020-03-05 13:30] d3tr1tus commented on #617
It seems that `bin/console bundle:dump` has server config for mysql set to localhost instead of `app_mysql` where can i find setting for this command? @tobiasberge 😌

[2020-03-05 14:03] htuscher commented on #1321
@tobiasberge already mentioned that on the initial post

[2020-03-05 14:13] tobiasberge commented on #1321
@hhoechtl I have seen the `$component-active-bg: $sw-color-brand-secondary;` but where did you implement this change?

In the core file `Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss`, in your themes `base.scss` or `overrides.scss`?

[2020-03-05 14:15] htuscher commented on #1321
Now we did something completely different as it didn't work. We copied the entire bootstrap and the storefront scss to our plugin and modified it.

[2020-03-05 16:15] merlin-it commented on #505
Hi @ssltg
in the meantime I had to take another approach also for other reasons, which worked as a workaround for this problem. I will try to reproduce it in a clean setup when I find a free moment :)

Cheers, André

[2020-03-05 18:34] tinect opened #621 "ProductProperty search and create missing"
**Description**
I tried to use Repositories to create and search for propertyGroups and PropertyGroupOptions.
While using productProperty-Repo there is no possibility to add a propertyGroupOption with its existing to a product.
I am not entirely involved in this technology, but it looks like Collection and Entity is missing?

**Example**
Example with search:

[2020-03-06 09:10] OliverSkroblin commented on #594
Hi @MDSLKTR,

this isn't possible. An Entity Aggregation is an metric aggregation and can not have additional buckets.
I would suggest you just use the aggregation I sent you and then make a call to /property-group and load the appropriate groups and options. The storefront does this in the same way.

If you then load the groups you can also define a filter on the id in the `options` association.

[2020-03-06 09:10] #594 closed, assigned to OliverSkroblin

[2020-03-06 09:52] MDSLKTR commented on #594
@OliverSkroblin As long as the storefront does the same thing, this is fine :). Would it be possible to expand the docs a little with examples concerning this?

[2020-03-06 12:30] OliverSkroblin commented on #621
Hi @tinect,

As the error indicates, the `product_property` entity is a mapping definition. This means that it is a definition for a Many To Many mapping table. Such definitions do not have their own repository.

If you want to create and search property groups and options you can use `property_group.repository` and `property_group_option.repository`

If you would like to have all options of a pro

[2020-03-06 12:30] #621 closed, assigned to nobody

[2020-03-06 12:37] OliverSkroblin commented on #614
Hi @TaiKamilla,

thanks for reporting the bug. Currently the sw_extends looks for the next inheritance chain entry which is queued after your "MyTheme". However, this algorithm does not seem to consider if the extends is not the same template as the loaded file.

So at the moment it is right that you have to work with extends. I have imported the ticket and we will take a closer look at the error.

[2020-03-06 12:38] tinect commented on #621
Thank you @OliverSkroblin

[2020-03-06 12:43] shyim commented on #617
You have to do
./psh.phar docker:ssh
and then your Command

[2020-03-06 12:44] shyim commented on #616
How does your setup look like?

[2020-03-06 13:20] tinect commented on #621
`optionRepository` is `property_group_option.repository`? Didn't get that running in any way :-(

[2020-03-09 07:54] tinect opened #627 "productRepository assign property by id"
**Description**
I tried to assign property to product by id, but name of option is required which results in a new option with same name in propertyGroup. I don't get how to assign a new property by groupId AND existing optionId. Related to #621

**Example**
[code]
While optionId isn't caught, this will result new entry `swag blue` in propertyGroupOptions.

[code]
Which is not valid because name i

[2020-03-09 09:08] d3tr1tus commented on #617
@shyim you are right thank you! 😇 👍

[2020-03-09 09:08] #617 closed, assigned to nobody

[2020-03-09 10:18] TaiKamilla commented on #614
Thank you @OliverSkroblin,
Yeah, is a bit weird also since I also tried to delete the `@Storefront` from `theme.json` -> `views` and I get the same result
Would be great to break the chain from the default theme by removing default "Storefront" from `theme.json` -> `views`

[2020-03-09 10:25] d3tr1tus commented on #616
@shyim

[code]

I made it with [this](https://github.com/shopware/platform#quickstart--installation) setup.

[2020-03-09 10:26] shyim commented on #616
and OS?

[2020-03-09 10:33] d3tr1tus commented on #616
@shyim
![Bildschirmfoto 2020-03-09 um 11 33 22](https://user-images.githubusercontent.com/37714206/76205044-c9495a00-61f9-11ea-8132-f07644c86d82.png)

[2020-03-09 10:35] keulinho commented on #616
hey @d3tr1tus,

the performance of docker on mac is a known issue, therefore we recommend using docker-sync for FS syncing.
Please follow [this guide](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/docker-sync), on how to enable docker-sync on mac.

[2020-03-09 11:15] d3tr1tus commented on #616
Great!! Thank you @keulinho a lot! That's much better 🔝 😄

[2020-03-09 11:15] #616 closed, assigned to tobiasberge

[2020-03-10 07:10] tobiasberge commented on #627
Hi @tinect,

product.properties is a many to many association. If you want to link an existing entity, you only need to send the ID:
[code]

Best regards
Tobias

[2020-03-10 07:36] tinect commented on #627
Hi @tobiasberge,

Best thanks! Thought I've to create a new id for entry. This would as expected!
Thank you for this course :-)

[2020-03-10 07:36] #627 closed, assigned to tobiasberge

[2020-03-10 08:53] d3tr1tus opened #630 "Custom CMS Block repeater slot"
Hi is possible add in custom CMS block repeater slot like for example [here](https://www.advancedcustomfields.com/resources/repeater/)  in ACF for Wordpress?

I didn't find some solutions 🤔

Thank you.

[2020-03-10 10:37] mgwestwerk opened #631 "CartService deletes wrong cart"
Hello,

we are currently working on a plugin that requires every customer to have a second cart. So far everything seems to be working fine until the cart is saved as an order.
After the order is created using `CartService->order` the wrong (default) cart is cleared. I tracked the problem down to this [line in the CarService](https://github.com/shopware/platform/blob/6.1/src/Core/Checkout/Cart/Sal

[2020-03-10 11:38] SangyoonKim-iotrust opened #632 "shipping cost are not reflecting currency factors."
**Description**
I'm using api to developing frontend.
and I patched currency and country with post context request, and cart get request shows I`m using USD on product price.
but shipping cost is not converted to usd.
it only shows euro value.

**Possible Solution**
I think shipping method entity doesnt have any currency convert calculate functions.

[2020-03-10 15:52] tobiasberge commented on #548
Hi @hhoechtl,

there is a hook in the `dev-server.js` which causes a reload even when it is not a "html" change.

[code]
You could remove this hook for testing and try to add the loader option for the `MiniCssExtractPlugin` loader:

[code]
It seems to work besides a JavaScript error. I will create an Issue and we will investigate further on that. I also think that SCSS changes would be nice withou

[2020-03-11 12:24] runelaenen opened #634 "Multiple discounts can't be removed"
**Description**
When adding multiple discounts in one promotion, you cannot remove this from the cart. When only 1 discount is added in a promotion, removing works correctly.

**Additional context**

![Screenshot 2020-03-11 at 13 22 40](https://user-images.githubusercontent.com/3930922/76416445-67285a80-639b-11ea-9553-6d2ee2a2bd46.png)

Before click 'delete':
![Screenshot 2020-03-11 at 13 22 57](h

[2020-03-11 14:14] d3tr1tus opened #635 "Updated plugin don't show new custom CMS blocks"
Hi i updated my plugin into new version. I added some SCSS styles and new CMS block. The SCSS changes i see but the blocks i can't. In development mode is everythink ok but in production mode don't work it.

I followed these steps:

On development

`./psh.phar administration:build`
`./psh.phar storefront:build`
`./psh.phar cache`

On production

`bin/console plugin:refresh`
`bin/console plugin:upd

[2020-03-11 14:31] #635 closed, assigned to nobody

[2020-03-11 15:44] SkaveRat opened #637 "OpenAPI code generation broken: "Attribute missing" & Broken PHP"
**Description**
When trying the generate a php client, I get following error:

[code]

**Additional context**
Codegen command:
[code]

I can deactivate the validation with `--skip-validate-spec`, but that throws several hundreds of lines of warnings, as well as generating broken PHP code.

Example using `getProduct`:

[code]

Throws following exception:
[code]

I can fix that error by changeing th

[2020-03-11 20:46] themazim opened #641 "Not compatible with composer 1.10: package install and theme.json load not working"
**Description**
Requiring plugins/extension and loading themes via composer 1.10 misbehaves heavily.

Seems the theme.json is not correctly loaded and trying to install a custom plugin/theme via composer results in error

[code]

**Possible Solution**
I assume the internal logic for loading themes/theme.json in composer 1.10 is no longer compatible and needs to be adjusted.
Also removing repositor

[2020-03-11 21:41] mitelg commented on #641
hey @themazim
FYI composer has already fixed the repository issue https://github.com/composer/composer/issues/8679
we made a fix for the development template and also checked the production template. but I will re-check your issue tomorrow

[2020-03-11 22:23] themazim commented on #641
seems this is not yet shipped with the latest brew (even though it should just download from the source).

However, themes are not loaded correctly. The theme.json is not interpreted as expected.
Both times just installed with `composer install`

Here is a little example:
theme.json views part:
[code]

trying to extend `base.html.twig` like this:

[code]

with composer 1.9:
As expected, whole body

[2020-03-12 07:33] mitelg commented on #641
your plugin/theme is present in the `custom/static-plugins` directory?

[2020-03-12 08:07] themazim commented on #641
no, since it is a normal package. it's present in vendor/distributor/theme-name

[2020-03-12 08:40] ghost opened #642 "Multiple deliveries for one order Rest API"
Hello,

We use the REST-api to process orders and send them to the customer.
But we have a question about setting a delivery to the state shipped when we sent the order.

I've made this work by using an internal request: ("/api/v{version}/_action/order_delivery/{orderDeliveryId}/state/{transition}", name="api.action.order.state_machine.order_delivery.transition_state", methods={"POST"})
Because I

[2020-03-12 09:57] gotu opened #644 "database:create-migration -p Somename should not stopping with: More than one pluginname starting with "%s" was found: %s'"
**Description**
When having two plugins called: "Somename" and "SomenameTheme" then you can't generate migrations for the first of this plugins.

**Example**
When having two plugins called: "Somename" and "SomenameTheme" then trying to:
[code]
results in:
[code]
Changing the comparision to strings to be equal instead of comparing the string "prefix" here:
[https://github.com/shopware/platform/blob

[2020-03-13 10:34] tinect opened #647 "[admin] total-counts in media-folder"
**Description**
We are missing total-count of elements in media folder at headline, like at products, categories...

[2020-03-13 12:39] tinect opened #648 "[admin] overview of translations for specific field"
**Description**
It'll be great, if there could be a possibility to get a list of translations of specific field.
Currently, you have to change the language, to see, if there is any deviant text.

This would make the work easier while managing translations of categories (f.e.) in administration.

[2020-03-13 13:41] zaifastafa opened #649 "Ability to recursively use translation snippet function in twig"
**Description**
A feature to be able to use translation snippet inside a translation variable. Currently the below given example is not supported.

**Example**
[code]

[2020-03-14 06:49] mitelg commented on #641
composer released a bugfix version. does the problem still exist?

[2020-03-14 16:26] saschaarthur opened #651 "Shopfront Guest Checkout broken"
Hello,

Currently shopfront has a bug preventing you to register, when you tick "dont create an account".

Heres a patch solving this issue.

Index: Controller/RegisterController.php

[code]
Cant create a PR, because i dont have permission / its not wanted for this repo(?).

[2020-03-14 16:32] saschaarthur opened #652 "Shopware 6 APP_DEBUG"
After installing shopware 6 i realized that APP_DEBUG is not set in the .env.

And it seems that in this case Symphony is showing bugs including stacktrace to the customer.
This is really bad and should be disabled on production environments.

I set it on my prod environment to 0, so theres at least nothing showing to the customer...

[2020-03-14 16:53] mitelg commented on #651
creating a PR should be no problem 🤔 https://github.com/shopware/platform/pulls
never heard about a permission problem 🤔
the fact that there are more than 50 open PRs should show, that we very well want PRs 😉✌️

[2020-03-14 17:07] saschaarthur commented on #651
but the URL is https://github.com/shopware/storefront not this one here.
Edit: But i see also the see the source here, so why is it duplicated/where should the PR be against?
Thought here its a git submodule, but seems just a hard copy?

[2020-03-14 20:28] mitelg commented on #651
platform is our mono repository, which contains the source of all modules of the Shopware e-commerce platform. this is split up into several many repositories, like the Storefront. so you have the possibility to only require the components you need. similar to the Symfony framework, which has the same structure.
so if you like to contribute, the platform repo is the right place 🙂👍

[2020-03-15 16:37] shyim commented on #652
This is normally not needed when you set APP_ENV to prod.

[2020-03-16 13:34] AlexBachmann opened #653 "Allow Order / Payment / Delivery State to be changed WITHOUT sending an email"
**Description**
The fact, that in Shopware 6 it's required for an order / delivery / payment state to be connected to an email template is quite annoying. Right now you cannot change the state of an order without sending an email. I can not imagine that this is the desired behaviour of all shop admins that use shopware. Please allow us to change a state without sending an email to the customer.

[2020-03-17 09:00] JoshuaBehrens commented on #514
This might be related to the default that refers to the initial sales channel

[2020-03-17 10:10] AlexBachmann opened #654 "Order State Transition Emails DO NOT include Email Template Header / Footer of the SalesChannel"
**Description**
If the order / payment / delivery state of an order changes, an email is triggered and send to the customer. Even though the order is related to a specific sales channel, the mail template header / footer of that sales channel is not being rendered for this email.

**Possible Solution**
The main (but not the only) issue is this block of code in Shopware\Core\Content\MailTemplate\Se

[2020-03-17 10:24] AlexBachmann opened #655 "Allow us to extend the template data of Order State Transition Mails"
**Description**
Order State Transitions can have multiple effects that we need to communicate with the customer. Sometimes we just want to communicate the order details again, sometimes we want to add new information that have been unknown before to us and the customer.

To achieve this, we need to able to extend the template data passed on to the mailService in the Shopware\Core\Checkout\Order\Ap

[2020-03-17 10:33] AlexBachmann opened #656 "Allow us to extend the Order Criteria in Order State Transition Emails"
**Description**
The order data passed to order state transition emails resolves only the bare minimum of data that is required for the standard emails (that ship with shopware) to be rendered.

More advanced shops might want to provide their customers with order information, that are not being provided by the current implementation. For example, currently, it is impossible to render the order deta

[2020-03-17 17:01] moorl commented on #630
Would be enough to set multiple slots to a block. Actually the amount of the slots are strictly defined - so i need to set a 5-slots block to create a 5-slides slider.

[2020-03-18 09:45] runelaenen opened #660 "EntityStore returns empty names for variant products"
**Description**
In the administration, when using the product-store, it will return empty names for variants that have a linked name. (a.k.a. not overridden by the variant, same name as the parent)

**Possible Solution**
Add a explicit EntityRepository for product entities which loads the necessary data.

**Additional context**
Empty option in rule-builder because product store returns emtpy names

[2020-03-18 12:18] saschaarthur commented on #651
Push failed: remote: Permission to shopware/platform.git denied to saschaarthur. unable to access 'https://github.com/shopware/platform.git/': The requested URL returned error: 403

I dont care, i close it, done have time for stuff like this.

![grafik](https://user-images.githubusercontent.com/4057921/76960172-34421180-691b-11ea-9dba-e1e589d8fde0.png)

[2020-03-18 12:18] #651 closed, assigned to nobody

[2020-03-18 12:37] mitelg commented on #651
hey @saschaarthur

of course you are not allowed to push directly to our repository :wink: this is because you are not part of our organisation.
but that is no problem: all you need is a fork of the repository you want to contribute to.
Please have a look [here for a detailed guide](https://docs.shopware.com/en/shopware-platform-dev-en/community/contributing-code) on how to contribute code.

we wo

[2020-03-18 12:39] #652 closed, assigned to nobody

[2020-03-19 08:17] themazim commented on #641
Seems this is no longer happening for me.

[2020-03-19 08:17] #641 closed, assigned to mitelg, pweyck

[2020-03-19 09:11] pantrtxp commented on #642
Hi @rickvdb,

An order can have multiple shipments due to various reasons.
E.g. when a shop has more than one warehouse.

Sunny regards
pantrtxp

[2020-03-19 09:12] pantrtxp commented on #630
Hi @d3tr1tus
this is not supported by shopware yet.
if you wish to make a feature request please consider doing this [here](https://issues.shopware.com)

Sunny regards
pantrtxp

[2020-03-19 09:15] pantrtxp commented on #514
@JoshuaBehrens  yes it does
We have an internal Ticket titled "Defaults.php - Inconsistent" to look at this kind of behavior

[2020-03-19 09:18] tiggerduck opened #665 "filename too long on Windows checkouts"
**Description**
On Windows there is always a limitation on the length of the file name.
It would be nice if you could reduce the file names and paths here a little.
Otherwise, no developer is able to use your product under Windows.

`
Cloning into 'C:\workspace\shopware_platform_614'...
POST git-upload-pack (gzip 1025 to 583 bytes)
remote: Enumerating objects: 414, done.
remote: Counting objects:

[2020-03-19 10:02] ghost commented on #642
Hi @pantrtxp,

If it is possible for an order to have multiple order deliveries handled from different locations and at different times, that raises a question with me: how can we (officially) update the state of an individual order delivery if we only handled one of multiple deliveries (i.e. a partial shipment)? As I said, I found the undocumented '_action/order_delivery/{orderDeliveryId}/state/{

[2020-03-19 11:08] JoshuaBehrens opened #666 "Making new inputs to register form less pain"
**Description**
Client requests a certain field in the register form. Twiggedy twig 🍃 and its there. But how can one easily read and apply it server side? There is the AccountRegistrationService that has a method that has everything one need for it `register(DataBag $data, bool $isGuest, SalesChannelContext $context, ?DataValidationDefinition $additionalValidationDefinitions = null): string` but i

[2020-03-19 11:09] weiliddat opened #667 "Creating migration profiles will inevitably result in snippet overlaps, and snippet overlaps return array of strings, which isn't handled."
**Description**
Hi Shopware!

1. Creating migration profiles will inevitably result in snippet overlaps, because of the following:
    1. All profiles and snippets are extended from SwagMigrationAssistant, and relies on having specific paths, for e.g. showing data selection helpers at `swag-migration.index.selectDataCard.entities`, from `SwagMigrationAssistant/Resources/app/administration/src/modu

[2020-03-19 13:03] mitelg commented on #667
hey @weiliddat
thanks for reporting this issue. I imported it to our internal Jira ticket system. please use the link above to keep you up-to-date with the status of the ticket. I will close this here for now.

thanks again :+1:

[2020-03-19 13:03] #667 closed, assigned to nobody

[2020-03-19 13:31] vttn opened #668 "Custom Admin page tutorial/documentation"
**Description**
We would like to port our shopware 5 app to shopware 6. The challenge we are facing is customizing the admin setting area for our plugins. We would like to register webhooks

**Example**
A good example is the SwagPayPal bundle that has a custom admin settings page. Can we have a generic tutorial/documentation that explains what is going on?

[2020-03-20 07:32] tinect opened #669 "NEXT-7780 - titles on sw-text-editor-toolbar-button"
**Description**
For better user experience there should be a function related title on the buttons. sw-text-editor-toolbar-button

**Example**
![image](https://user-images.githubusercontent.com/135993/77144061-332cf380-6a85-11ea-89b6-d2c4dfa5db85.png)

[2020-03-20 08:35] tinect commented on #665
Hey @tiggerdruck.
Additionally, there isn't any part of support for windows, iirc :-)
Suggest using virtual machine with Linux which works great.

[2020-03-20 10:07] tiggerduck commented on #665
Hi @tinect
and you have your IDE (e.g. PHPStorm) inside the virtual machine?
At least I have the IDE under Windows and I can no longer work with the Shopware 6.1.4 sources.

IST:
src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-configurator/sw-product-variants-configurator-selection/sw-product-variants-configurator-selection.ht

[2020-03-20 10:12] tinect commented on #665
Yes, I'm working inside the vm.
Didn't try that, but maybe it works for you: https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/

[2020-03-20 11:39] s-diez opened #671 "theme:create Command writes removed function getThemeConfigPath"
**Description**
The command `theme:create` creates a base plugin class with the function `getThemeConfigPath`. The call to this function was removed, when the path to `theme.json` was hardcoded in https://github.com/shopware/platform/commit/a19789ce6add5a285e30db1555cda3835a34b8fd.

**Possible Solution**
Remove the following lines https://github.com/shopware/platform/blob/aeda071c35c334a2b3a6db5dc

[2020-03-20 12:43] pantrtxp commented on #671
Hi @s-diez
I have imported this issue to our internal ticket system.
If you don't want to wait for us to fix this an pull request is very welcome :)

If this is okay for you I'd like to close this issue here.

Sunny Reagrds
Pantrtxp

[2020-03-20 12:47] pantrtxp commented on #669
Hi @tinect
I have imported this issue to our internal ticket system.
If you don't want to wait for us to fix this, a pull request is very welcome :)

If this is okay for you I'd like to close this issue here.

Sunny regards
Pantrtxp

[2020-03-20 13:00] s-diez commented on #671
Okay thanks

[2020-03-20 13:00] #671 closed, assigned to pantrtxp

[2020-03-20 13:06] pantrtxp commented on #660
Hi @runelaenen,

This kind of behavior is known to us and will be fixed with the 6.2 release
https://issues.shopware.com/issues/NEXT-7610

Sunny regards
Pantrtxp

[2020-03-20 13:09] pantrtxp commented on #656
Hi @AlexBachmann

I have imported this issue to our internal ticket system.
If you don't want to wait for us to fix this, a  pull request is very welcome :)

If this is okay for you I'd like to close this issue here. You can keep track of your Issue with the link provided above

Sunny regards
Pantrtxp

[2020-03-20 13:09] pantrtxp commented on #655
Hi @AlexBachmann

I have imported this issue to our internal ticket system.
If you don't want to wait for us to fix this, a pull request is very welcome :)

If this is okay for you I'd like to close this issue here. You can keep track of your Issue with the link provided above

Sunny regards
Pantrtxp

[2020-03-20 13:15] runelaenen commented on #660
Okay thank you. I had looked through the issue tracker but couldn't find the issue yet. Thanks!

[2020-03-20 13:15] #660 closed, assigned to pantrtxp

[2020-03-20 13:18] pantrtxp commented on #654
HI @AlexBachmann,

this issue is known to us and will probably be fixed with version 6.2.1
you can keep track of the status of this issue [here](https://issues.shopware.com/issues/NEXT-6430)

Sunny regards
Pantrtxp

[2020-03-20 13:21] pantrtxp commented on #648
Hello @tinect,

I have imported this issue to our internal ticket system.

If this is okay for you I'd like to close this issue here. You can keep track of your Issue with the link provided above.

Please vote for Ticket in the provided link. The more Votes a ticket has the faster it'll get implemented

Sunny regards
Pantrtxp

[2020-03-20 13:24] pantrtxp commented on #647
Hi @tinect

I have imported this issue to our internal ticket system.
If you don't want to wait for us to fix this, a pull request is very welcome :)

If this is okay for you I'd like to close this issue here.

Sunny regards
Pantrtxp

[2020-03-20 14:01] mjossdev opened #672 "NEXT-8437 - Demo data generator generates invalid ProductStreamFilters."
**Description**
Sometimes the demo data generator generates empty ProductStreamFilters. Which can cause errors when using ProductStreamBuilder to create search filters.

**Additional context**
![Freshly generated ProductStream in the administration](https://user-images.githubusercontent.com/18013884/77170093-d64c3000-6aba-11ea-86b3-447d42ee613f.png)
![Empty ProductStreamFilters in the database](ht

[2020-03-21 10:47] AlexBachmann opened #675 "Allow us to login a specific CustomerEntity"
**Description**
Right now the Shopware\Core\Checkout\Customer\SalesChannel\AccountService gives us two options to login customers.

[code]
and
[code]
It would be very beneficial to add a new, third option, that allows us, to login a specific CustomerEntity:
[code]
**Benefits**
There are two main reasons, that come to my mind:

1.  Remove code duplication. The first two options pretty much do the s

[2020-03-21 12:13] AlexBachmann opened #676 "Resolve differences between login() and loginWithPassword() methods of AccountService"
**Description**
There are differences between the login() method and the loginWithPassword() method, that are either erroneous or at least not obviously explained.

For example, it's not obvious, why within the login() method, there is no check, whether the retrieved customer is active or not (actually whether or not to only include active customers should probably be a parameter). This actually p

[2020-03-21 23:35] nhaga opened #678 "customFields are null for Variantes"
When adding a media custom field, the value will now show up for the variantes in:

`page.product.translated.customFields`

although it seems linked in the admin backend

A workaround is to redefine it in the individual variant screens.

[2020-03-22 12:08] almare commented on #383
@Christian-Rades I must revert my statement. In deed the thumbnail sizes are two times available.

After a fresh install this behavior is gone back to one thumbnail size. No duplicates anymore, but same result no thumbnails.

Maybe the problem is that i used the same image for the German and English translation, but I can only guess.

[2020-03-23 07:34] AlexBachmann opened #679 "You need to be more careful with Migrations"
**Description**

Please take a look at the following migration: Shopware\Core\Migration\Migration1583142266FixDefaultOrderConfirmationMailTemplateVATDisplay

https://github.com/shopware/platform/blob/master/src/Core/Migration/Migration1583142266FixDefaultOrderConfirmationMailTemplateVATDisplay.php

The migration fetches the system default mail template of a given type (in this case the order confi

[2020-03-23 07:48] pantrtxp commented on #665
Hi @tiggerduck,

as @tinect already stated, we do not support windows at this moment.
I cant tell you if or when we will. We suggest using a virtual machine.
We have a Doc for this [here](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/vagrant)

Sunny regards
Pantrtxp

[2020-03-23 07:48] #665 closed, assigned to nobody

[2020-03-23 08:41] pantrtxp commented on #679
Hi @AlexBachmann,

we are aware of this. We are discussing methods to test our migrations better and are setting up migration rules as we speak. We are very sorry for any inconvenience we caused.

If you have some suggestions, I'm all ears :)

Sunny regards
Pantrtxp

[2020-03-23 08:49] AlexBachmann commented on #679
I love the migration system you have. So I guess, the only clean solution is to make system default email templates not edible. A user who wants to change it's templates then needs to copy the default template, change it, and assign it to it's sales-channel.

If you're really good, you create some kind of "wizzard" arround it, to help with the workflow.

[2020-03-23 09:03] patpilus opened #680 "NEXT-8436 - [storefront] Whitespaces are incorrectly trimmed out from Product Number in cart's add-by-number form"
**Description**
When trying to add product to the checkout cart by its number (which has a whitespace in its value), all whitespaces are trimmed from input (`/checkout/product/add-by-number` action). This results in an error message that product number could not be found:
![image](https://user-images.githubusercontent.com/13252273/77295634-9cf80800-6ce6-11ea-8f27-989539c0a1f8.png)

**Possible Solu

[2020-03-23 09:53] JoshuaBehrens commented on #666
It gets even worse. I have an additional field for the addresses. It has to be validated in context of an other field. As in your validation builders don't have the context I can't put a constraint on a field and compare it against an other. So I have to put the constraint on the outer collection (the address). Now I have the whole data and can compare different fields but every violation I build

[2020-03-23 11:32] JoshuaBehrens opened #681 "It is not possible to unselect lots of items in a entity multi selection"
**Description**
In a common development environment every country is added as country in a sales channel. But you can't remove all of them.

**Possible Solution**
Show all the items in drop down selection.

**Additional context**
![it-is-not-possible-to-unselect-all-the-countries](https://user-images.githubusercontent.com/1133593/77312417-400a4b00-6d02-11ea-821b-5ad027344855.gif)

[2020-03-23 13:03] pantrtxp commented on #679
The Wizard would be lovely but sadly there are more important issues right now.

We are going to disable the ability to edit system default
You can track the state of this [here](https://issues.shopware.com/issues/NEXT-7807)

Sunny regards
Pantrtxp

[2020-03-23 13:07] pantrtxp commented on #681
Hi @JoshuaBehrens
you can delete countries out of this select by hitting backspace instead of clicking them.
To delete countries which are not listed simply type the name in the field again and unselect them

e.g. "cana" will show "Canada" which can be unselect

Sunny regards
Pantrtxp

[2020-03-23 13:21] tinect opened #682 "missing QuantityFrom and QuantityTo in CalculatedPrice"
**Description**
We cannot see a logical behaviour in CalculatedPrice. There is just `quantity` which stays for QuantityFrom or QuantityTo. You only can know which one it is, if the last one in the list.

**Possible Solution**
Add equivalent QuantityFrom AND QuantityTo to storefront.

**Additional context**
So, everyone can change in storefront the `From, From, From, From, To` to something consiste

[2020-03-23 13:42] JoshuaBehrens commented on #681
As you can see in the last click after spamming the items I tried to click into the empty space to delete via backspace. It didn't focus the text area. So I expected it to not work.

The last one is more of a work around instead of good UX solution but it will definitely help me out so far 👍

[2020-03-23 14:03] pantrtxp commented on #681
ok, it worked for me :thinking:

I guess you have to klick in the empty row below where no selections are. (here is the real html input field).

Please try this :slightly_smiling_face:

[2020-03-23 14:05] pantrtxp commented on #681
But usualy the hovered country should show an X the remove it as well :thinking:

![image](https://user-images.githubusercontent.com/44392193/77324917-bf564980-6d17-11ea-82ad-9ae11c18c48a.png)

[2020-03-23 14:18] JoshuaBehrens opened #683 "Can't send example email in administration"
**Description**
I open up an email template to send an example email. On sending a message pops up that I have to select a sales channel. I do and retry. Still not working.

**Possible Solution**
I think there is wrong parameter passed into the email sending method that should be the sales channel but it is not.

**Additional context**
![cannot-send-demo-email](https://user-images.githubuserconten

[2020-03-23 17:55] tiggerduck commented on #665
The recommend solution is to sync my code inside the VM-Box as described in the documentaiton: https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/system-installation-guides/vagrant?category=shopware-platform-dev-en/getting-started/system-installation-guides

I follow these instructions to use version 6.1.0 in projects and with 6.1.4 that shouldn't work anymore, really?

[2020-03-24 07:42] pantrtxp commented on #665
@tiggerduck can you tell me where it is stated, that it won't work with 6.1.4 anymore?
I am not aware of this being done. Have you maybe configured something wrong?

Sunny regards
Pantrtxp

[2020-03-24 08:32] pantrtxp commented on #683
Hi @JoshuaBehrens
This is a little confusing, but you have to hit "save" before you are able to test this.
There is no live-saving in our modules.
Select Sales Channel -> Click save -> send test mail -> works

[2020-03-24 08:54] htuscher opened #687 "Elasticsearch deep paging"
**Description**
When building remote system integrations, it's often necessary to compare the entire product data. What you do, you iterate over all articles of Shopware via API, compare them locally and then issue create/update/delete accordingly.
If you have many articles (> 10k), you're gonna run into an issue with elasticsearch. The default limit for the result window is 10000. It's not possib

[2020-03-24 08:56] htuscher commented on #687
https://issues.shopware.com/issues/NEXT-7819

[2020-03-24 09:24] mitelg commented on #687
hey @hhoechtl
thanks for raising this up. as you already opened a ticket on our issue tracker, I will close this here, to avoid duplication

[2020-03-24 09:24] #687 closed, assigned to nobody

[2020-03-24 09:32] JoshuaBehrens commented on #683
Thanks for clearing up 👍

Do I get it right, that there are no mails automatically added to a sales channel? I have to enable them for every sales channel first? But mails are working without assignment 💭

[2020-03-24 13:11] d3tr1tus commented on #630
@pantrtxp thank you for your response. I hope that in future will somethink like that possible 😊

[2020-03-24 13:11] #630 closed, assigned to pantrtxp

[2020-03-24 13:15] d3tr1tus opened #688 "Can't update to new version"
Hi i want update my Shopware to 6.1.4 but all the time i get just this error

![Bildschirmfoto 2020-03-24 um 14 03 15](https://user-images.githubusercontent.com/37714206/77429219-98f8e280-6dd9-11ea-9f6f-72bf68b8ba76.png)

and after that my whole site not working

![Bildschirmfoto 2020-03-24 um 14 08 07](https://user-images.githubusercontent.com/37714206/77429349-d2c9e900-6dd9-11ea-901b-ffc09292054

[2020-03-24 14:37] pantrtxp commented on #688
Hi @d3tr1tus ,
Maybe you can get some help [here](https://docs.shopware.com/de/shopware-6-de/update-guides/shopware-aktualisieren-updaten).
If this does not help try to update manually.

Sunny regards
Pantrtxp

[2020-03-24 15:00] TheKeymaster opened #689 "Product getName and other translatable entities do not default to default sales channel language"
**Description**
1. Create a new sales channel with only one language that none of the products have a translation yet.
1. Set the sales channel to one of these products.
1. Query the product entity with DAL.

[code]

Now assign the default sales channel language to the sales channel you have created and somehow it can find the correct translation:

[code]

I have had a discussion on gitter with @m

[2020-03-24 15:32] d3tr1tus commented on #688
Hi @pantrtxp
yes that was useful thank you! I am using .htaccess for rewrite `public` directory but in this situation i had to use complete path with public. 😊

[2020-03-24 15:32] #688 closed, assigned to nobody

[2020-03-24 17:45] htuscher opened #691 "ProductListingPriceIndexer causes n+1 db requests"
**Description**
We're trying to do heavy price updates using the API. For example we want to update the prices of 1000 products at once.  To simplify things, we built our own API endpoint, but that doesn't matter much.

Basically this is executed:
[code]

`$this->upserts` contain 1000 operations in this form:
[code]

The API request is damn slow (35s) on a heavy machine.

Therefore I profiled the

[2020-03-25 08:00] mitelg commented on #691
hey @hhoechtl
we have refactored the indexer in the current master branch, which will be the 6.2 release in the near future. could you please check, if you have your problems there, too?

[2020-03-25 10:50] JoshuaBehrens commented on #666
This customer validator is not working for saving address when a logged in customer changes their address as the customer is not validated. A bad workaround so far :/

[2020-03-25 12:39] patpilus opened #692 "[administration] Unable to change Customer address"
**Description**
Shopware version: 6.1.4

When trying to `Apply` changes in Customer's address...:
![image](https://user-images.githubusercontent.com/13252273/77536910-74fed500-6e9d-11ea-8ed9-b0dcedd9dd11.png)
 ... I'm getting such error in browser's console:
[code]

As a result modified address is not updated.

[2020-03-25 15:20] pantrtxp commented on #692
Hi @patpilus

This issue is fixed on the master already and will be shipped with the upcoming 6.2 release

Sunny regards
Pantrtxp

[2020-03-26 11:27] AlexBachmann commented on #653
I'd like to add one more thing. The fact that each order state change triggers an email is highly confusing for the customer. Especially when an order / payment / delivery state is being reopened.

Image, that the state of an order / payment/ delivery needs to be reopened. In many cases, this state is only an intermediate state, to be able to reach a new state, that was previously unreachable.

It

[2020-03-26 14:54] jalieb commented on #407
Hi @pweyck ,

I still receive an error when validating the schema:

`openapi-generator validate -i openapi3.json`

leads to

`-attribute components.schemas.relationshipLinks.items is missing`

[2020-03-27 10:52] htuscher commented on #691
@mitelg I just checked on `master` and it got a lot better. But you're still recalculating the prices for all rules, even though I'm just modifying the price for 1 rule. Is this really necessary? Wouldn't it be faster to load the `listing_prices` field from the `product` table, decode the content and replace only the structs and `formatted` prices by key?

Also would it be possible to move the ent

[2020-03-27 11:13] JoshuaBehrens opened #698 "Theme.json asset property seems not work"
**Description**
I set the asset property in the theme.json to something else than public. Still only Resources/public is copied to public/bundles. Is this intended?

Code from https://github.com/shopware/platform/issues/357 suggests it would be working.

**Possible Solution**
Do not depend on symfony assets, maybe? Not a good way but maybe a way

[2020-03-27 17:53] themazim opened #699 "getMailTemplate() method returns Systems default translation template instead of orders language translation"
**Description**
Users receive english email instead of german email when you change order status in admin panel.

This happens when german is a second language and the default language of the shop is english.

Users Order is also marked as a german order (see attached screen)

**Possible Solution**
use orders language ID to determine mail template translation instead of context language ID.

**Add

[2020-03-28 11:02] AlexBa commented on #466
I got the same problem! But the quick fix of @hhoechtl  is working.

[2020-03-29 22:25] JoshuaBehrens commented on #681
I can confirm the x and its functionality but when the list is expanded the x does not appear (neither chrome nor firefox on mac).

[2020-03-30 08:08] pantrtxp commented on #679
I am closing this Issue due to inactivity.

You can track the state of our progress with the given link at any time.
@AlexBachmann, thank you for your concern :blue_heart:

Sunny regards
Pantrtxp

[2020-03-30 08:08] #679 closed, assigned to pantrtxp

[2020-03-30 08:09] pantrtxp commented on #654
I am closing this Issue due to inactivity and being duplicate.

You can track the state of our progress with the given link at any time
@AlexBachmann, thank you for your concern :blue_heart:

Sunny regards
Pantrtxp

[2020-03-30 08:09] #654 closed, assigned to pantrtxp

[2020-03-30 08:10] pantrtxp commented on #655
I am closing this Issue due to inactivity.

You can track the state of our progress with the given link at any time
@AlexBachmann, thank you for your concern :blue_heart:

Sunny regards
Pantrtxp

[2020-03-30 08:10] #655 closed, assigned to pantrtxp

[2020-03-30 08:18] pantrtxp commented on #692
@patpilus is it okay to close the issue? What do you think?

Sunny regards
Pantrtxp

[2020-03-30 08:33] Bogdan-Cristian opened #703 "E-mail sent as Plain/text (Header and footer included in sales-channel)"
When i change the payment status from the product, the email is sent as a Plain/text, but when I send it from Email-templates it is sent like a HTML (Header and footer is included in sales-channel)

[2020-03-30 09:19] patpilus commented on #692
If it will be fixed in 6.2 release then it's fine for me :)

[2020-03-30 09:34] #692 closed, assigned to nobody

[2020-03-30 12:09] bystro opened #704 "Email templates default date format customization"
**Description**
As a StringTemplateRenderer creates a new private `Twig\Environment` default instance https://github.com/shopware/platform/blob/master/src/Core/Framework/Adapter/Twig/StringTemplateRenderer.php#L21 the CoreExtension configuration seems to be impossible.

So we can not set default date format in email templates so that we could for example send tags like {{ order.orderDateTime|date

[2020-03-30 15:02] TaiKamilla opened #707 "Overwriting theme wierd behaviour"
There is some weird behavior when overwriting theme files...

Example:
`platform/src/Storefront/Resources/views/storefront/page/content/index.html.twig`
 by this one
`custom/plugins/MyTheme/src/Resources/views/storefront/page/content/index.html.twig`
The Symfony Profiler will return `@Storefront` first, instead of `@MyTheme`

![image](https://user-images.githubusercontent.com/15035750/77927891-09a

[2020-03-30 21:52] marcbln commented on #407
the problem with duplicate generated methods still exists with shopware 6.1.4. and swagger-codegen 3.0.18.  The ticket NEXT-6314 did NOT resolve the issue.

to reproduce:

`./run-in-docker.sh generate -l php -i /gen/openapi3.json -o /gen/sw6api`

creates the classes .. example for duplicate method in class CategoryApi:

[code]

and

[code]

[2020-03-31 07:12] tinect opened #708 "Snippets in TemplateMail"
**Description**
There would be a big advantage, if we could use snippets within MailTemplate (https://github.com/shopware/platform/blob/master/src/Core/Content/MailTemplate/Service/MailService.php#L100). Currently, their names will be printed.

**Example**
`{{ "account.loginMailLabel"|trans|sw_sanitize }}: {{ customer.email }}` prints:
`account.loginMailLabel: secred@somehost.com`

[2020-03-31 14:11] themazim opened #709 "Translation issues for german status changed emails"
**Description**
German default email templates for status changed (open / canceled) contain english translations.

**Possible Solution**
translate to german

**Additional context**

[code]

instead of

[code]

[2020-03-31 14:30] themazim opened #710 "Translated category text is not saved"
**Description**
changing translated category text is not saved.

Unfortunately no error logs and no issues within request response.

**Possible Solution**
might be a logic flaw, no idea unfortunately.

[2020-04-01 07:36] pantrtxp commented on #710
Hi @themazim

please update to the latest version since the error can not be reproduced here.
We can not reproduce this issue in the 6.1.4 or the current master branch.

Sunny regards
Pantrtxp

[2020-04-01 07:38] pantrtxp commented on #703
Hi @Bogdan-Cristian,

please provide some more information. We lack the environment and steps to reproduce

Sunny regards
Pantrtxp

[2020-04-01 07:41] pantrtxp commented on #681
@JoshuaBehrens  I have created a Ticket for this kind of behavior.
We'll look into this in the future but since this is no major issue it will take some time

since your initial issue is no issue I'd like this issue to be closed

Sunny regards
Pantrtxp

[2020-04-01 08:18] JoshuaBehrens commented on #681
Fine to me.

[2020-04-01 08:35] themazim commented on #710
Sorry, did not open the side menu, where it would have stated: 6.1.4

![image](https://user-images.githubusercontent.com/2002126/78116350-6f0c7500-7404-11ea-9e13-8a5c255287c5.png)

(desperately waiting for 6.1.5 though, since the constant logouts are really annoying.)

[2020-04-01 08:44] #681 closed, assigned to pantrtxp

[2020-04-01 09:21] #708 closed, assigned to nobody

[2020-04-01 18:37] JoshuaBehrens opened #715 "STORAGE_DATE_TIME_FORMAT can not be used to parse a datetime in PHP 7.2"
**Description**
Every date that is stored in the database is formated using `Defaults::STORAGE_DATE_TIME_FORMAT`. This is super nice to have a constant for this. It is also cool to be able to parse dates from it. Unfortunately php 7.2 can't do that:

[code]

Output on php 7.2:
[code]

Output on php 7.3:
[code]

But why is this not an exception yet? Because `Shopware\Core\Framework\DataAbstractionL

[2020-04-01 19:45] mitelg commented on #715
does this problem also occur if you are using the date object? recently we replaced all occurrences of the date functions in the migrations with date objects, because the functions do not use milliseconds. so my point is, if there is no problem with the date objects, we should encourage people to use them instead 🙂

[2020-04-02 06:45] JoshuaBehrens commented on #715
Wait. You wan't to tell me the objects behave differently than the old school functions 😲
I just tested with sandbox.onlinephpfunctions.com seems not to be the case 😕  (I just replaced `date_create` with `DateTime::__construct` and `date_create_from_format` with `DateTime::createFromFormat`)

[2020-04-02 07:38] mitelg commented on #715
have a look here https://3v4l.org/406RR

note that the milliseconds for the functions are **_always_** `000`
this is not the case for the date objects :wink:

[2020-04-02 09:17] runelaenen opened #718 "Shipping & Payment method translation have no default in emails"
**Description**
When sending (for example) an order confirmation e-mail, the Shipping and Payment methods are not shown if they don't have language-specific translations.
For example, shipping method name:
Dutch (Default Language): Verzendmethode X
French (Second Language): Not filled in, thus fall back on Dutch

The French e-mail will actually show an empty string, instead of falling back to the

[2020-04-02 09:31] OliverSkroblin commented on #707
Does inheritance work for you? So the changes in your index.html.twig are working?

If so, it might be because of our implementation of sw_extend and sw_include which the profiler can't handle.

[2020-04-02 09:33] OliverSkroblin commented on #691
hey @hhoechtl,

you can use the sync api to update the prices. If you provide the header `message-queue-indexing` the indexing will be done over message queue.

[2020-04-02 09:38] htuscher commented on #691
Thx @OliverSkroblin for the tip with the header, I'll take a look. That will at least make the client terminate the connection faster.

**Nevertheless the calculation overhead for untouched prices remains the same.**

We have built our own API because of https://issues.shopware.com/issues/NEXT-5432. We update Prices by productNumber and customerNumber (which automatically generates a customer spec

[2020-04-02 10:08] TaiKamilla commented on #707
No, inheritance does not work

I already guessed that was because of sw_extend and sw_include
On the meantime until this is solved (https://github.com/shopware/platform/issues/614 I open that issue)
I did modified `platform/src/Storefront/Resources/views/storefront/page/content/index.html.twig`
with `{% sw_extends '@MyTheme/storefront/page/content/index.html.twig' %}`
I know that is not the way to

[2020-04-02 11:02] JoshuaBehrens commented on #715
In your 3v4l you are comparing `date` against `DateTime::format`. I instead compare `date_create`/`DateTime::__construct` to `date_create_from_format`/`DateTime::createFromFormat`.

But your hint that `date` is behaving differently is quite a catch. I will take that down into my virtual notes.
![grafik](https://user-images.githubusercontent.com/1133593/78242254-f5e34f80-74e1-11ea-802f-f7b6cb9e331f

[2020-04-03 08:17] rasgor opened #721 "Admin - Customer-Detail - Addresses can't be changed"
The Adresses can't be saved due to:

src\Administration\Resources\app\administration\src\module\sw-customer\view\sw-customer-detail-addresses\index.js - Line 215

Problem is, that the required properties aren't availabe within the entity 'customer_address'. Therefore folling error occurs within the getRequiredProperties function.

[code]

[code]

[2020-04-04 18:00] kurtwithslc opened #723 "order.transactions.first.paymentMethod is NULL in mail Enter payment state: Reminded"
**Description**
i like to use the actual payment Method in the reminder mail, but variable order.transactions.first.paymentMethod is NULL in this template

Error is like this: Impossible to access an attribute ("name") on a null variable in "735a738a0d0bd23c3f8477aae93e2129" at line 4

line4: {% if order.transactions.first.paymentMethod.name == "Vorauszahlung" %}

[2020-04-04 22:02] go2muneeb commented on #51
from the last 6 hours its installing .psh.phar  what should I do now plz help.

TASK [shopware-dev : disable 000-default.conf] *********************************
changed: [default]
TASK [shopware-dev : execute psh.phar install] *********************************
![psh](https://user-images.githubusercontent.com/60916158/78462259-c737c580-76e9-11ea-8b5c-6ef91d1a5fba.PNG)

[2020-04-05 08:18] DanielRuf commented on #51
Please open a new issue @go2muneeb.

[2020-04-06 09:34] hucario opened #724 "When installing, "Critical environment variable DATABASE_URL missing" thrown"
**Description**

When freshly installing Shopware 6, during database import at step 154/436, it pops an error about a missing environment variable.
This is odd, as I've tried several solutions to this problem:
I went into vendor/shopware/core/Kernel.php and added both
[code]
and
[code]
, as well as changing
[code]
to read
[code]
.
In vendor/shopware/recovery/install/index.php I've also inserted on

[2020-04-06 12:13] pantrtxp commented on #593
I am closing this Issue due to inactivity.

You can track the state of our progress with the given link at any time
@mitrovicsinisaa , thank you for your concern :blue_heart:

Sunny regards
Pantrtxp

[2020-04-06 12:13] #593 closed, assigned to pantrtxp

[2020-04-06 12:13] pantrtxp commented on #631
I am closing this Issue due to inactivity.

You can track the state of our progress with the given link at any time
@mgwestwerk , thank you for your concern :blue_heart:

Sunny regards
Pantrtxp

[2020-04-06 12:13] #631 closed, assigned to pantrtxp

[2020-04-06 12:14] pantrtxp commented on #647
I am closing this Issue due to inactivity.

You can track the state of our progress with the given link at any time
@tinect , thank you for your concern :blue_heart:

Sunny regards
Pantrtxp

[2020-04-06 12:14] #647 closed, assigned to pantrtxp

[2020-04-06 12:14] pantrtxp commented on #648
I am closing this Issue due to inactivity.

You can track the state of our progress with the given link at any time
@tinect , thank you for your concern :blue_heart:

Sunny regards
Pantrtxp

[2020-04-06 12:14] OliverSkroblin commented on #682
Hi @tinect,

a `CalculatedPrice` has nothing to do with the scaled prices of products. The `CalculatedPrice` has a quantity, i.e. it is a price that was calculated on the basis of a quantity.

[2020-04-06 12:23] OliverSkroblin commented on #689
Hi @TheKeymaster,

this was a long discussed topic internally.
We decided to use this solution because we want to use the API to output the fields in a way that you can send them back with the same value. If we would always consider inheritance under getName, this would not be the case. Therefore we have agreed on the getTranslation() solution.

Via API the data is then available under product.tra

[2020-04-06 12:23] #689 closed, assigned to nobody

[2020-04-06 12:24] htuscher opened #728 "Products can't be deleted once ordered"
**Description**
If a product gets ordered, it's referenced in `order_line_item` via its id. If you try to delete the product in the backend, it doesn't work and you see no error.

What you can see in the XHR is `CONTENT__PRODUCT_LINE_ITEM_INCONSISTENT`.

**Possible Solution**
Have a field `productNumber` in the `order_line_item` table and set the `product_id` column to `NULL` if the product gets d

[2020-04-07 10:18] Kovah opened #1324 "Uncaught Error: Argument 2 passed to SalesChannelContextService::get() must be of the type string, null given"
Unfortunately I was not able to set up Shopware 6 with this template after following the exact steps described in the readme and documentation.

### Error

[code]

### Steps to reproduce
- Setup a blank Ubuntu 18.04 server
  - install PHP 7.4 with all [required extensions](https://docs.shopware.com/en/shopware-platform-dev-en/getting-started/requirements)
  - install MariaDB 10.4 and setup a datab